{% load class_tags %}

<p/>
<div id="PowerMeter">
   <div id="title" style="font-weight: bold; text-align: center;">Power Meters</div>
</div>

<p/>

<table> <tr>
{%  for floor in dorm_lounges %}
    <td>
        <div id="loading_{{ forloop.counter }}"><img src="{{STATIC_URL}}/images/spinner.gif" /></div>

        <div id="visualization_{{ forloop.counter }}"></div>
        <div>
           <select id='lounge_{{ forloop.counter }}' onchange="updateLounge('{{ forloop.counter }}');">
               {% for lounge in all_lounges %}
                  <option {%if floor == lounge or floor == lounge.floor_identifier %} selected {% endif %}
                          value='{{ lounge.floor_identifier}}'>{{ lounge.floor_identifier}}
                  </option>
                {% endfor %}
           </select>
        </div>
    </td>
{%  endfor %}
</tr>
</table>

<div id="description" style="margin-left: 210px; text-align: left; width: 510px;">

     <p>
    This visualization shows the real time power meters of 5 lounges. Note that the middle of each gauge represents the typical
power for this lounge at this time of day.
    <p/>
    You can use this visualization to look at the real time power consumption of any lounge and compare the usages of 5 lounges at a time.

 </div>

<script type="text/javascript" src="{{STATIC_URL}}/js/org.wattdepot.gdata.makahiki.PowerMeter.js"></script>

<script type="text/javascript">
// Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
(function() {
   spreadsheetUrl = '{{SPREADSHEETS.POWER}}';
   refreshInterval = 15;
   energyChart = new org.wattdepot.gdata.makahiki.PowerMeter();

   drawAll();
}) ();

function drawAll()
{
  var loader = new org.wattdepot.gdata.GDataLoader(displayAll, spreadsheetUrl, refreshInterval);

  function displayAll(datatable) {

    for (i=1; i<=5; i++)
      displayEnergy(datatable, i);
  }
}

function drawOne(id)
{
  var loader = new org.wattdepot.gdata.GDataLoader(displayOne, spreadsheetUrl, refreshInterval);

  function displayOne(datatable) {
    displayEnergy(datatable, id);
  }
}

function displayEnergy(datatable, id) {
        var source = document.getElementById("lounge_"+id).value;
        var options = {width : 180,
                         title : source,
                         captionStyle : {fontSize : '0.70em'},
                         titleStyle : {fontWeight : 'bold'},
                         globalStyle : {fontFamily : 'sans-serif'},
                         backgroundColor : "EBE7BC",
                         powerRange : 2000};

        energyChart.draw('visualization_'+id, source, datatable, options);
        document.getElementById('loading_'+id).style.display = 'none';
}
function updateLounge(id) {
  document.getElementById("visualization_"+id).innerHTML = "";
  document.getElementById("loading_"+id).style.display = '';
  drawOne();
}

</script>
