{% extends "mobile/scoreboard/base.html" %} 
{% block child %} 
<div data-role="page" >
  <div data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard  'form' %}"  data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </div>

  <div data-role="content">
    <h2>{{current_round}} kWh Usage</h2>
      <table id="overall-energy-scoreboard" style="display:none;"> 
      </table> 
    <table id="{{current_round|slugify}}-energy-scoreboard">
    </table>

  </div>
</div>
 
{% endblock %}
