{% extends "mobile/scoreboard/base.html" %} 
{% block child %}
<div data-role="page" id="filter" data-url="filter">
  <div data-role="header">
    <h1>Options</h1>
  </div>

  <div data-role="content" role="main">
    <h2>Point Scores</h2>
    <a href="{% url mobile_scoreboard  'individual_overall' %}" rel="external" data-role="button">Individual Overall</a>
    <a href="{% url mobile_scoreboard 'individual_lounge' %} " rel="external" data-role="button">Individual Lounge</a>
    <a href="{% url mobile_scoreboard 'overall_lounge' %}" rel="external" data-role="button">Overall Lounge</a>

    <h2>kWh Scores</h2>
    <a href="{% url mobile_scoreboard 'current_round_kwh' %} " rel="external" data-role="button">{{current_round}} kWh Usage</a>
    <a href="{% url mobile_scoreboard 'overall_kwh' %} " rel="external" data-role="button">Overall kWh Usage: {{floor}}</a>
    <br/>
    <br/>
    <a href="{% url mobile_scoreboard 'index'%}" rel="external" data-role="button" data-rel="back">Cancel</a>
  </div>

</div>
{% endblock %}
