{% extends "mobile/base.html" %}

{% block body %}

{% load class_tags %}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/ajile/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/gdataloader/org.wattdepot.gdata.GDataLoader.js"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/energyrank/org.wattdepot.gdata.makahiki.EnergyRank.js"></script>

<div data-role="page" id="over-lounge" data-url="over-lounge">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} Points</h2>
    <table {# get_id_and_classes "activities-scoreboard-table-floor" #}>
      <thead><tr>
        <th>Rank</th>
        <th>Lounge</th>
        <th>Overall</th></tr>
      </thead>
      <tbody>
        {% for f in floor_standings %}
          <tr><td>{{forloop.counter}}</td>
          <td style="{% if f == floor %}font-weight: bold{% endif %}">
            {{f}}
          </td>
          <td style="text-align:right;{% if f == floor %}font-weight: bold{% endif %}">
            {{f.points}}
          </td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<div data-role="page" id="ind-overall" data-url="ind-overall">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} Points</h2>
    <table {# get_id_and_classes "activities-scoreboard-table-profile" #}>
      <thead><tr>
        <th>Rank</th>
          <th>Individual</th>
          <th>Overall</th></tr>
        </thead>
      <tbody>
        {% for p in profile_standings %}
          <tr><td>{{forloop.counter}}</td>
            <td style="{% if p == profile %}font-weight: bold{% endif %}">
              {{p.name}}
            </td>
            <td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
              {{p.current_round_points}}
            </td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<div data-role="page" id="ind-lounge" data-url="ind-lounge">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} Points</h2>
    <table {# get_id_and_classes "activities-scoreboard-table-floor-profile" #}>
      <thead><tr>
        <th>Rank</th>
          <th>Individual</th>
          <th>{{ floor }}</th></tr>
        </thead>
        <tbody>
          {% for p in user_floor_standings %}
            <tr><td>{{forloop.counter}}</td>
            <td style="{% if p == profile %}font-weight: bold{% endif %}">
              {{p.name}}
            </td>
            <td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
              {{p.current_round_points}}
            </td>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>

<div data-role="page" id="rnd-lounge" data-url="rnd-kwh">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} kWh Usage</h2>
    <table id="{{current_round|slugify}}-energy-scoreboard"></table>
  </div>
</div>

<div data-role="page" id="over-lounge" data-url="over-kwh">
  <div data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </div>

  <div data-role="content">
    <h2>Overall kWh Usage</h2>   
      <table id="overall-energy-scoreboard"> 
      </table>  
  </div>  
</div> 


<div data-role="page" id="filter" data-url="filter">
  <div data-role="header">
    <h1>Options</h1>
  </div>

  <div data-role="content" role="main">
    <h2>Point Scores</h2>
    <a href="{% url mobile_scoreboard %}/#ind-overall" data-role="button">Individual Overall</a>
    <a href="{% url mobile_scoreboard %}/#ind-lounge" data-role="button">Individual Lounge</a>
    <a href="{% url mobile_scoreboard %}/#over-lounge" data-role="button">Overall Lounge</a>

    <h2>kWh Scores</h2>
    <a href="{% url mobile_scoreboard %}/#rnd-kwh" data-role="button">{{current_round}} kWh Usage</a>
    <a href="{% url mobile_scoreboard %}/#over-kwh" data-role="button">Overall kWh Usage: {{floor}}</a>
    <br/>
    <br/>
    <a href="{% url mobile_scoreboard %}" data-role="button" data-rel="back">Cancel</a>
  </div>

</div>


<script type="text/javascript">
// Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
(function() {
  // Get the spreadsheet we need.
  var energyLastThirtyDays = "{{SPREADSHEETS.THIRTY_DAYS}}";
  var refreshInterval = 0; // don't refresh this spreadsheet.

  // Load the visualization API and the spreadsheet, then call displayRank.
  var loader = new org.wattdepot.gdata.GDataLoader(displayRank, energyLastThirtyDays, refreshInterval);   

  function displayRank(energyDataTable) {
    // The source for which we want to find the rank must be specified by Makahiki.
    var source = "{{user.get_profile.floor.dorm.name}}-{{user.get_profile.floor.number}}";
    var energyRank = new org.wattdepot.gdata.makahiki.EnergyRank();

   //draw round specific standing table
//test
    {% for key, value in ROUNDS.items %}
      var usage = energyRank.processDataTable(energyDataTable, {{value.start}}, {{value.end}});
      var info = energyRank.calculateRankInfo(usage, source); 
       //if ($("#{{key|slugify}}-energy-scoreboard") != null) {
       energyRank.drawCompleteStandings("{{key|slugify}}-energy-scoreboard", "{{user.get_profile.floor.floor_identifier}}", usage);
       //}
    {% endfor %}
//test
  }
})();
</script>



{% endblock %}
