<head><base href="http://127.0.0.1:8000/m/scoreboard"> 
  <title>Scoreboard</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<script type="text/javascript" src="http://www.google.com/jsapi"></script>


<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/powermeter/org.wattdepot.gdata.makahiki.PowerMeter.js"></script>
<script type="text/javascript" src="/site_media/static//js/org.wattdepot.gdata.makahiki.EnergyGoalGame.js"></script>
<script type="text/javascript"> 
// Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
(function() {
  // Get the spreadsheet we need.
  var energyLastThirtyDays = "https://spreadsheets.google.com/tq?key=0An9ynmXUoikYdHhxeW1xRURQZUlGd1oxVERnQktsWXc";
  var refreshInterval = 0; // don't refresh this spreadsheet.
 
  // Load the visualization API and the spreadsheet, then call displayRank.
//  var loader = new org.wattdepot.gdata.GDataLoader(displayRank, energyLastThirtyDays, refreshInterval);  
 
  function displayRank(energyDataTable) {
    // The source for which we want to find the rank must be specified by Makahiki.
//    var source = "{{floor}}".replace(': Lounge ','-');
var source = "{{profile.floor.dorm.name}}-{{profile.floor.number}}";
    var energyRank = new org.wattdepot.gdata.makahiki.EnergyRank();
    var usage = energyRank.processDataTable(energyDataTable, 0, 0);
     console.log("Leader is " + energyRank.calculateLeader(usage).source);
    var info = energyRank.calculateRankInfo(usage, source);
     console.log(source + " is ranked " + info.rank + " with " + info.usage + " watts");
    
    energyRank.draw("rank", "energy", info);
    energyRank.insertLeader("leader", energyRank.calculateLeader(usage));
    energyRank.drawCompleteStandings("partial-standings-table", source, usage, true);
    energyRank.drawCompleteStandings("full-standings-table", source, usage);
  }
})();
</script>
</head>
<body>

<div data-role="page" id="over-lounge" data-url="over-lounge">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} Points</h2>
    <table {# get_id_and_classes "activities-scoreboard-table-floor" #}>
      <thead><tr>
        <th>Rank</th>
        <th>Lounge</th>
        <th>Overall</th></tr>
      </thead>
      <tbody>
        {% for f in floor_standings %}
          <tr><td>{{forloop.counter}}</td>
          <td style="{% if f == floor %}font-weight: bold{% endif %}">
            {{f}}
          </td>
          <td style="text-align:right;{% if f == floor %}font-weight: bold{% endif %}">
            {{f.points}}
          </td>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <footer>
  </footer>
</div>


<div data-role="page" id="ind-overall" data-url="ind-overall">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} Points</h2>
    <table {# get_id_and_classes "activities-scoreboard-table-profile" #}>
      <thead><tr>
        <th>Rank</th>
          <th>Individual</th>
          <th>Overall</th></tr>
        </thead>
      <tbody>
        {% for p in profile_standings %}
          <tr><td>{{forloop.counter}}</td>
            <td style="{% if p == profile %}font-weight: bold{% endif %}">
              {{p.name}}
            </td>
            <td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
              {{p.current_round_points}}
            </td>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <footer>
  </footer>
</div>


<div data-role="page" id="ind-lounge" data-url="ind-lounge">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} Points</h2>
    <table {# get_id_and_classes "activities-scoreboard-table-floor-profile" #}>
      <thead><tr>
        <th>Rank</th>
          <th>Individual</th>
          <th>{{ floor }}</th></tr>
        </thead>
        <tbody>
          {% for p in user_floor_standings %}
            <tr><td>{{forloop.counter}}</td>
            <td style="{% if p == profile %}font-weight: bold{% endif %}">
              {{p.name}}
            </td>
            <td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
              {{p.current_round_points}}
            </td>
          {% endfor %}
        </tbody>
    </table>
  </div>

  <footer>
  </footer>
</div>

<div data-role="page" id="rnd-lounge" data-url="rnd-kwh">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} kWh Usage</h2>

  </div>

  <footer>
  </footer>
</div>

<div data-role="page" id="over-lounge" data-url="over-kwh">
  <div data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </div>

  <div data-role="content">
    <h2>Overall kWh Usage</h2>

  <h2>Info for {{floor}}</h2> 
  <div id="header-rank"> 
    <h3 style="display:inline" id="rank"></h3> out of 15 lounges in all dorms.
  </div> 
  <div id="header-energy"> 
    <h3 style="display:inline" id="energy"></h3> kWh used today.
  </div> 
  
  <h2>Standings for today</h2> 
  <div id="current-leader"> 
    Current Leader: <span id="leader"></span> 
  </div> 
  
  <div id="complete-standings"> 
    <h3>This is for dorms with data</h3> 
    <table id="partial-standings-table"> 
    </table> 
    
    <h3>These are the complete standings</h3> 
    <table id="full-standings-table"> 
    </table> 
  </div> 

  </div>

  <footer>
  </footer>
</div>

<div data-role="page" id="filter" data-url="filter">
  <div data-role="header">
    <h1>Options</h1>
  </div>

  <div data-role="content" role="main">
    <h2>Point Scores</h2>
    <a href="{% url mobile_scoreboard %}/#ind-overall" data-role="button">Individual Overall</a>
    <a href="{% url mobile_scoreboard %}/#ind-lounge" data-role="button">Individual Lounge</a>
    <a href="{% url mobile_scoreboard %}/#over-lounge" data-role="button">Overall Lounge</a>

    <h2>kWh Scores</h2>
    <a href="{% url mobile_scoreboard %}/#rnd-kwh" data-role="button">{{current_round}} kWh Usage</a>
    <a href="{% url mobile_scoreboard %}/#over-kwh" data-role="button">Overall kWh Usage: {{floor}}</a>
    <br/>
    <br/>
    <a href="{% url mobile_scoreboard %}" data-role="button" data-rel="back">Cancel</a>
  </div>

  <div data-role="footer">
  </div>
</div>


</body>
</html>
