<!DOCTYPE html> 
<html>
<head> 
  <title>Scoreboard</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
</head>
<body>

<div data-role="page">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home">Home</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">

<table {# get_id_and_classes "activities-scoreboard-table-floor" #}>
	<thead><tr>
		<th>Rank</th>
		<th>Lounge</th>
		<th>Overall</th></tr>
	</thead>
	<tbody>
		{% for f in floor_standings %}
		<tr><td>{{forloop.counter}}</td>
		<td style="{% if f == floor %}font-weight: bold{% endif %}">
		  {{f}}
		</td>
		<td style="text-align:right;{% if f == floor %}font-weight: bold{% endif %}">
		  {{f.points}}
		</td>
		{% endfor %}
	</tbody>
</table>

<table {# get_id_and_classes "activities-scoreboard-table-profile" #}>
	<thead><tr>
		<th>Rank</th>
		<th>Individual</th>
		<th>Overall</th></tr>
	</thead>
	<tbody>
		{% for p in profile_standings %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.name}}
		</td>
		 <td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.current_round_points}}
		</td>
		{% endfor %}
	</tbody>
</table>

<table {# get_id_and_classes "activities-scoreboard-table-floor-profile" #}>
	<thead><tr>
		<th>Rank</th>
		<th>Individual</th>
		<th>{{ floor }}</th></tr>
	</thead>
	<tbody>
		{% for p in user_floor_standings %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.name}}
		</td>
		<td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
		 {{p.current_round_points}}
		</td>
		{% endfor %}
	</tbody>
</table>


  </div>
  <footer>
  </footer>
</div>

</body>

<html>
