{% extends "mobile/scoreboard/base.html" %} 
{% block child %}

<div data-role="page" id="ind-overall" data-url="ind-overall">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard  'form' %}"  data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <h2>{{current_round}} Points</h2>
    <table {# get_id_and_classes "activities-scoreboard-table-profile" #}>
      <thead><tr>
        <th>Rank</th>
          <th>Individual</th>
          <th>Overall</th></tr>
        </thead>
      <tbody>
        {% for p in profile_standings %}
          <tr><td>{{forloop.counter}}</td>
            <td style="{% if p == profile %}font-weight: bold{% endif %}">
              {{p.name}}
            </td>
            <td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
              {{p.current_round_points}}
            </td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
