<html>
<head>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<!--Load the AJAX API-->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/ajile/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/gdataloader/org.wattdepot.gdata.GDataLoader.js"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/energyrank/org.wattdepot.gdata.makahiki.EnergyRank.js"></script> 
</head>

<body>
<div data-role="page" id="over-lounge" data-url="over-kwh">
  <div data-role="header" data-theme="b">
    <a href="{% url mobile_scoreboard %}/#filter" data-rel="dialog" data-role="button" data-icon="grid">Filter</a>
    <h1>Scoreboard</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </div>

  <div data-role="content">
    <h2>Overall kWh Usage for {{user.get_profile.floor.dorm.name}}-{{user.get_profile.floor.number}}</h2> 
  <div id="header-rank"  style="display:none"> 
    <h3 id="rank"></h3> out of 15 lounges in all dorms.
  </div> 
  <div id="header-energy" style="display:none"> 
    <h3 id="energy"></h3> kWh used today.
  </div> 
   
  <div id="current-leader" style="display:none"> 
    Current Leader: <span id="leader"></span> 
  </div> 
  
  <div id="complete-standings" >  
    <table id="partial-standings-table" style="display:none"> 
    </table>  

    <table id="full-standings-table"> 
    </table> 
  </div> 

  </div>

  <footer>
  </footer>
</div>
</body>

 
<script type="text/javascript">
// Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
(function() {
  // Get the spreadsheet we need.
  var energyLastThirtyDays = "https://spreadsheets.google.com/tq?key=0An9ynmXUoikYdHhxeW1xRURQZUlGd1oxVERnQktsWXc";
  var refreshInterval = 0; // don't refresh this spreadsheet.

  // Load the visualization API and the spreadsheet, then call displayRank.
  var loader = new org.wattdepot.gdata.GDataLoader(displayRank, energyLastThirtyDays, refreshInterval);  

  function displayRank(energyDataTable) {
    // The source for which we want to find the rank must be specified by Makahiki.
    var source = '{{user.get_profile.floor.dorm.name}}-{{user.get_profile.floor.number}}';
    var energyRank = new org.wattdepot.gdata.makahiki.EnergyRank();
    var usage = energyRank.processDataTable(energyDataTable, 0, 0);
    // console.log("Leader is " + energyRank.calculateLeader(usage).source);
    var info = energyRank.calculateRankInfo(usage, source);
    // console.log(source + " is ranked " + info.rank + " with " + info.usage + " watts");
    
    energyRank.draw("rank", "energy", info);
    energyRank.insertLeader("leader", energyRank.calculateLeader(usage));
    energyRank.drawCompleteStandings("partial-standings-table", source, usage, true);
    energyRank.drawCompleteStandings("full-standings-table", source, usage);
  }
})();
</script>

</html>







