{% if available_commitments %}
  <h3>Available commitments:</h3>
  <ul>
  {% for item in available_commitments %}
    {% include "activities/profile/activity.html" %}
  {% endfor %}
  </ul>
{% else %}
  {% if is_me %}
    <h4>No new commitments.</h4>
  {% endif %}
{% endif %}

{% if user_commitments %}
  {% if is_me %}
    <h3>My commitments:</h3>
  {% else %}
    <h3>{{ other_user.get_profile.name }}'s commitments.</h3>
  {% endif %}
  <ul>
  {% for item in user_commitments %}
    {% include "activities/profile/activity.html" %}
  {% endfor %}
  </ul>
{% else %}
  {% if is_me %}
    <h4>You are not participating in any commitments.</h4>
  {% else %}
    <h4>{{ other_user.get_profile.name }} is not participating in any commitments.<h4>
  {% endif %}
{% endif %}
