{% load i18n %}

{% if all_commitments %}
  <p>Listing new commitments:</p>
  <ul>
  {% for commitment in all_commitments %}
    <li>
      {{ commitment.pk}} - {{ commitment.title }}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No new commitments.</p>
{% endif %}

{% if user_commitments %}
  {% if is_me %}
    <p>My commitments:</p>
  {% else %}
    <p>{{ other_user.get_profile.name }}'s commitments.</p>
  {% endif %}
  <ul>
  {% for commitment in user_commitments %}
    <li>
      {{ commitment.pk }} - {{ commitment.title }}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>You are not committed to anything.</p>
{% endif %}