{% load i18n %}

{% if all_commitments and is_me %}
  <h3>Available commitments:</h3>
  <ul>
  {% for commitment in all_commitments %}
    <li>
      <h5>{{ commitment.id }} - {{ commitment.title }}({{commitment.point_value}})</h5>
      <p>{{ commitment.description }}</p>
      {% if is_me %}
        <form action="{% url activities.views.add_commitment commitment.id %}" method="post">
          <input type="submit" value="Add commitment"/>
        </form>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <h3>No new commitments.</h3>
{% endif %}

{% if user_commitments %}
  {% if is_me %}
    <h3>My commitments:</h3>
  {% else %}
    <h3>{{ other_user.get_profile.name }}'s commitments.</h3>
  {% endif %}
  <ul>
  {% for commitment in user_commitments %}
    <li>
      <h5>{{ commitment.id }} - {{ commitment.title }}({{ commitment.point_value }})</h5>
      <p>{{ commitment.description }}</p>
      {% if is_me %}
        <form action="{% url activities.views.remove_commitment commitment.id %}" method="post">
          <input type="submit" value="Remove commitment"/>
        </form>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}