{% extends "site_base.html" %}

{% load class_tags %}
{% load uni_form %}

{% block page_title %}
  Welcome to KukuiCup!
{% endblock %}

{% block extra_head %}
  {% import_page_css "landing" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}

<div {% get_id_and_classes "landing-page" %}>
  <div {% get_id_and_classes "landing-logo" %}>
    <a href="{% url landing %}"><img src="{{STATIC_URL}}css/default/images/old-logo.png"/></a>
  </div>
  <div {% get_id_and_classes "landing-title" %}>
    <h2>The Kukui Cup: Lights out, game on!</h2>
  </div>
</div>

<h1>Log In</h1>

<div style="margin: 0 auto; width: 650px; padding-top: 20px">
  <form class="login uniForm" method="POST" action="{% url acct_login %}">
      <fieldset class="inlineLabels">
          {# <div class="form_block"> #}
          {#     <a href="{% url acct_passwd_reset %}">Forgot your password?</a> #}
          {# </div> #}
          {{ form|as_uni_form }}
          <div class="form_block">
              <input type="submit" value="Log in &raquo;" />
          </div>
      </fieldset>
  </form>
</div>

<p>If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.</p>

{% endblock %}
