{% load class_tags %}
      <table {% get_id_and_classes "energy-status-how-activities-table" %}>
	    <thead>
		  <th>Activity</th>
		  <th>Points</th>
		</thead>
	    <tbody>        
          {% for a in golow_activities %}
          <tr><td><a href="/activities/{{a.type}}/{{a.slug}}">{{a.title}}</a></td>
              <td>
                {% if a.point_value %}        
	              {{a.point_value}}
	            {% else %}
	              {{a.point_range_end}}
	            {% endif %}  
              </td>
          </tr>
          {% endfor %}
	    </tbody>
      </table>
    