{% extends "logged_in_base.html" %}

{% load class_tags %}
{% load markup %}

{% block page_title %}
  Go Low!
{% endblock %}

{% block extra_head %}
  {% import_page_css "view_energy" STATIC_URL CSS_THEME %}
  <script type="text/javascript" src="{{STATIC_URL}}/js/org.wattdepot.gdata.makahiki.PowerMeter.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}/js/org.wattdepot.gdata.makahiki.EnergyGoalGame.js"></script> 


{% endblock %}

{% block selected_icon %}selected-energy{% endblock %}

{% block body %}

<div {% get_id_and_classes "energy-power-scoreboard" %}>
  <div {% get_id_and_classes "energy-power" %}>
   <div {% get_id_and_classes "activity-power-box" %}>
    <div {% get_id_and_classes "energy-power-title" %}>
      Current Lounge Power
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center"
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'lounge-power'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "energy-power-content" %}>
      <center>
      {% include "energy/power.html" %}  
      </center>
    </div>
   </div>
  </div>
  
  <p>
  <div {% get_id_and_classes "energy-scoreboard-box" %}>
    {% include "energy/scoreboard.html" %}
  </div>
</div>

<div {% get_id_and_classes "energy-status" %}>
  <div {% get_id_and_classes "energy-status-box" %}>
    <div {% get_id_and_classes "energy-status-title" %}>     
     Daily Energy Goal Game
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center"
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'energy-goal-game'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "energy-status-content" %}>
      <fieldset {% get_id_and_classes "energy-status-progress" %}>
	    <legend>Current Status</legend>
       
           {% include "energy/usage.html" %}
           <p/> <center> <b>
           Each member receives 20 points
           each day that we make our goal. </b></center>   
      </fieldset>
	
      <fieldset {% get_id_and_classes "energy-status-how" %}>
	    <legend>How can we make our daily goal?</legend>		
        <table {% get_id_and_classes "energy-status-how-table" %}>
          <tr {% get_id_and_classes "energy-status-how-calculator" %}>
            <td {% get_id_and_classes "energy-status-how-activities-content" %}>
                The following activities can help your {{FLOOR_LABEL.lower}} conserve energy, and you earn points!
                 {% include "energy/golow_activities.html" %}
            </td>
          </tr>   
        </table> 
      </fieldset>

      <fieldset {% get_id_and_classes "energy-status-posts" %}>
    	<legend>Organize with your {{FLOOR_LABEL.lower}} peeps</legend>
          Got ideas on how to conserve energy? Share it on the {{FLOOR_LABEL.lower}} wall:<br>

    <div {% get_id_and_classes "news-wall-content" %}>
      <div {% get_id_and_classes "wall-form" %}>
        <form {% get_id_and_classes "news-post-form" %} action="{% url news_post %}" method="POST">
          {% csrf_token %}
          <div {% get_id_and_classes "wall-post-errors" %}></div>
          <div {% get_id_and_classes "wall-post" %}>
            {{wall_form.post}}
          </div>
		  <div style="text-align: center">
			<button id="wall-post-submit" style="font-size: 14px; margin-top:0.8em; margin-left:0.5em; margin-right:0.5em; margin-bottom:0.8em;">
				Post
			</button>
		  </div>
          <!--- <a {% get_id_and_classes "wall-post-submit" %} href="#">Post</a> -->
        </form>
      </div>

        <ul {% get_id_and_classes "wall-posts" %}>
          {% include "news/news_posts.html" %}
        </ul>
        {% if not posts %}
          <p {% get_id_and_classes "wall-no-posts" %} style="padding: 7px;">There are no posts yet!</p>
        {% endif %}
        
      </fieldset>
    </div>
  </div>

</div>

{% endblock %}

{% block extra_round_energy %}
  {# Note: contents are inserted into Javascript in the middle of the round iterator. #}
  {# Usage is already calculated for us there. #}
  {# See PROJECT_ROOT/templates/logged_in_base.html #}
  if (document.getElementById('{{key|slugify}}-energy-scoreboard') !== null) {
    energyRank.drawCompleteStandings("{{key|slugify}}-energy-scoreboard", "{{user.get_profile.floor.floor_identifier}}", usage);
  }
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("#energy-scoreboard").cycle({
        height: "530px",
        pause: 1,
        timeout: 7000,
        pager: '#scoreboard-cycle-nav'
    });
  })
</script>

{% endblock %}
