{% extends "mobile/base.html" %}

{% load class_tags %}
{% load markup %}  

{% block body %}
<style type="text/css">
div.a {height:250px;width:200px;}
</style>
  {% import_page_css "view_energy" STATIC_URL %}
   <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/ajile/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
    <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/gdataloader/org.wattdepot.gdata.GDataLoader.js"></script>
    <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/energyrank/org.wattdepot.gdata.makahiki.EnergyRank.js"></script>
  <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/powermeter/org.wattdepot.gdata.makahiki.PowerMeter.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL}}/js/org.wattdepot.gdata.makahiki.EnergyGoalGame.js"></script> 
 
<div data-role="page"> 
  <div {% get_id_and_classes "energy-power" %}>
     Current Lounge Power 
    <div {% get_id_and_classes "energy-power-content" %}>
      <center>
      {% include "energy/power.html" %}  
      </center>
    </div>
  </div>
  
 

<div {% get_id_and_classes "energy-status" %}>
  <div {% get_id_and_classes "energy-status-box" %}>
    <div {% get_id_and_classes "energy-status-title" %}>     
     Daily Energy Goal Game 
	 
    </div>
  <div algn="center">
    <div class="a"{% get_id_and_classes "energy-status-content" %}> 
	    <legend>Current Status</legend>
       
           {% include "energy/usage.html" %}
           <p/>   <b>
           Each member receives 20 points
           each day that we make our goal. </b>   
    </div>
  </div>
</div>
</div> 
{% endblock %}
 

 
