{% load class_tags %}
<div {% get_id_and_classes "energy-power-box" %}>
  
<div id="EnergyGoalGame-visualization" height="200px" width="200px">Sorry, Visuaization is Unavailable!</div> 

</div>

<script type="text/javascript"> 
// Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
(function() {
  var spreadsheetUrl = 'https://spreadsheets.google.com/tq?key=0An9ynmXUoikYdEdmU21FaWtlSlNSSnQ3YmNxUFBWaFE';
  var refreshInterval = 15; // refresh every 15 seconds.
 
  // Load the visualization API and the spreadsheet, then call displayEnergy.
  var loader = new org.wattdepot.gdata.GDataLoader(displayEnergy, spreadsheetUrl, refreshInterval);  
 
  function displayEnergy(datatable) {
    var source = '{{user.get_profile.floor.dorm.name}}-{{user.get_profile.floor.number}}';
    var options = {};  // no options currently supported. 
    var energyChart = new org.wattdepot.gdata.makahiki.EnergyGoalGame();
    energyChart.draw('EnergyGoalGame-visualization', source, datatable, options);
      
  } 
              
})(); 
</script> 
