{% extends "canopy/base.html" %}

{% load class_tags %}

{% block body %}
<div {% get_id_and_classes "canopy-about" %}>
  <p>
    Welcome to the canopy! As one of the top players of the Kukui Cup, you now have exclusive access to this advanced area that provides: advanced energy visualizations, advanced quests, and a private Wall for communication among Canopy members as well as the administrators of the Kukui Cup.  Use the Canopy to gain greater insight into the Hale Aloha energy usage and how you can help your lounge as well as all of the students play the Kukui Cup more effectively.
  </p>
</div>

<div {% get_id_and_classes "canopy-viz" %}>
  <div {% get_id_and_classes "canopy-viz-title" %}>
    Advanced Visualizations
  </div>
  <div {% get_id_and_classes "canopy-viz-content" %}>
    {% include "canopy/visualizations/list.html" %}
  </div>
</div>

<div {% get_id_and_classes "canopy-feed-members" %}>
  <div {% get_id_and_classes "canopy-feed" %}>
    <div {% get_id_and_classes "canopy-feed-title" %}>
      Canopy Feed
    </div>
    <div {% get_id_and_classes "canopy-feed-content" %}>
      {% include "canopy/wall.html" %}
    </div>
  </div>
  
  <div {% get_id_and_classes "canopy-members" %}>
    <div {% get_id_and_classes "canopy-members-title" %}>
      Canopy Members
    </div>
    <div {% get_id_and_classes "canopy-members-content" %}>
      {% include "canopy/users.html" %}
      <div style="clear: both">
        <a href="{% url canopy_members %}">View detailed list</a>
      </div>
    </div>
  </div>
  
  <div style="clear:both"></div>
</div>
{% endblock %}