{% load class_tags %}

<table {% get_id_and_classes "canopy-karma-scoreboard" %}>
  <tr {% get_id_and_classes "canopy-karma-scoreboard-header" %}>
    <th class="karma-rank">Rank</th>
    <th class="karma-member">Member</th>
    <th class="karma-points">Karma Points</th>
  </tr>
  {% for c_profile in karma_scoreboard %}
  <tr {% if c_profile == user.get_profile %}style="font-weight: bold"{% endif %}>
    <td>{{forloop.counter}}</td>
    <td>{{c_profile.name}}</th>
    <td class="karma-points">{{c_profile.canopy_karma}}</td>
  </tr>
  {% endfor %}
</table>

<div {% get_id_and_classes "canopy-karma-prize" %}>
  <a href="javascript:toggleHelp('widget', 'canopy-karma-prize');">
    #1 at the end of the competition wins a prize!
  </a>
</div>