{% load markup %}
{% load avatar_tags %}

<li class="canopy-mission">
  <a href="javascript:void(0)" id="{{mission.slug}}" 
  class="quest-title {% if user in mission.users.all %}mission-user-mission{%endif%}">
    {{mission.name}}
  </a>
  <div class="quest-description" style="display:none">
    {{mission.description|markdown}}
    <div class="mission-links">
      {# Check if this is a solo mission or if the user is participating in it. #}
      {% if not mission.is_group or user in mission.users.all %}
        Do the following activities to complete this mission:
        <ul>
          {% for activity in mission.activities.all %}
          <li>
            <a href="{% url activity_task activity.type activity.slug %}">{{activity.name}}</a>
          </li>
          {% endfor %}
        </ul>
      {% else %}
      <h4>To see what you need to do, you must sign up for the mission first!</h4>
      {% endif %}
    </div>
    
    {% if mission.is_group %}
    <div class="mission-users">
      {% with mission.participating_users as participants %}
      {% if participants.count > 0 %}
        <h4>The following users are up for this mission:</h4>
        {% for user in participants %}
        <img src="{% avatar_url user 40 %}" alt="Photo of {{user.get_profile.name}}" style="margin-right: 10px"/>
        {% endfor %}
      {% else %}
      <h4>No users are currently participating in this mission.</h4>
      {% endif %}
      {% endwith %}
    </div>
    {% endif %}
    
    <div class="mission-users">
      {% with mission.completed_users as completed_users %}
      {% if completed_users.count > 0 %}
        <h4>The following users completed this mission:</h4>
        {% for user in completed_users %}
        <img src="{% avatar_url user 40 %}" alt="Photo of {{user.get_profile.name}}" style="margin-right: 10px"/>
        {% endfor %}
      {% else %}
      <h4>Be the first to complete this mission!</h4>
      {% endif %}
      {% endwith %}
    </div>
    <br style="clear: both">
    
    <div class="quest-options">
      {% if mission.is_group %}
      {% if user in mission.participating_users %}
      <form action="{% url canopy_mission_cancel mission.slug%}" method="POST" style="display: inline">
        {% csrf_token %}
        <button type="submit" style="margin-right: 20px">Cancel this mission</button>
      </form>
      {% else %}
        {% if user not in mission.completed_users %}
        <form action="{% url canopy_mission_accept mission.slug %}" method="POST" style="display: inline">
          {% csrf_token %}
          <button type="submit" style="margin-right: 20px">I am up for this mission</button>
        </form>
        {% endif %}
      {# <form action="" method="POST" style="display: inline"> #}
      {#   <button type="submit">I am not interested in this mission</button> #}
      {# </form> #}
      {% endif %}
      {% endif %}
    </div>
  </div>
</li>