{% load markup %}
{% load avatar_tags %}

<li class="canopy-quest">
  <a href="javascript:void(0)" id="{{quest.slug}}" 
  class="quest-title {% if user in quest.users.all %}quest-user-quest{%endif%}">
    {{quest.name}}
  </a>
  <div class="quest-description" style="display:none">
    {{quest.description|markdown}}
    <div class="quest-users">
      {% if quest.users.count > 0 %}
        <h4>The following users are participating in this quest.</h4>
        {% for user in quest.users.all %}
        <img src="{% avatar_url user 40 %}" style="margin-right: 10px"/>
        {% endfor %}
      {% else %}
      <h4>No users are currently participating in this quest.</h4>
      {% endif %}
    </div>
    <div class="quest-options">
      {% if user in quest.users.all %}
      <form action="{% url canopy_quest_cancel quest.slug%}" method="POST" style="display: inline">
        <button type="submit" style="margin-right: 20px">Cancel this quest</button>
      </form>
      {% else %}
      <form action="{% url canopy_quest_accept quest.slug %}" method="POST" style="display: inline">
        <button type="submit" style="margin-right: 20px">I accept this quest</button>
      </form>
      {# <form action="" method="POST" style="display: inline"> #}
      {#   <button type="submit">I am not interested in this quest</button> #}
      {# </form> #}
      {% endif %}
    </div>
  </div>
</li>