{% extends "mobile/base.html" %} 
{% load markup %}
{% block body %} 
  <div data-role="header">
    <!--a href="" data-icon="back" data-rel="back">Back</a-->
    <h1>{{topic.title}}</h1>  
    <!--a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a-->
  </div>

  <div data-role="content">
    {{topic.contents|markdown}}
    <br/>
    <a href="{% url mobile_help 'index'%}" data-role="button" data-rel="back">Go Back</a>
  </div>
 
{% endblock %}
