{% if fb_id %}
<p>
 {{form.use_fb_photo}} Use your Facebook photo
</p>
<img src="http://graph.facebook.com/{{fb_id}}/picture"/>
{{form.facebook_photo}}
{% else %}
<p id="profile-picture-fb-text">Or, to use your Facebook picture, click here to log in:</p>
<fb:login-button style="display: block" 
   id="fb_login" length="long" perms="" 
   onlogin="
    $('#profile-picture-facebook').fadeOut(); 
    $.get('{% url setup_profile_facebook %}', function(data) {
      if (data.error) {
        $('#profile-picture-fb-text').html(data.error);
      }
      else {
        $('#profile-picture-facebook').html(data.contents);
      }
      $('#profile-picture-facebook').fadeIn();
    });">
</fb:login-button>
{% endif %}