{% load class_tags %}

<h2>Welcome to the Kukui Cup, {{user.get_profile.first_name}}!</h2>
<div {% get_id_and_classes "setup-content"%}>
  <p>You have successfully logged into the Kukui Cup website.  You will stay logged into the website until you click the logout button, so if you are using a public computer remember to log out when you are finished just like you would log out of Facebook or your email.</p>
  
  <p>Now we will step you through setting up your profile and getting your first points!</p>
  
  <div {% get_id_and_classes "setup-welcome-info" %}>
    <p style="margin: 5px 0">
      According to our records, your name is {{user.get_profile.first_name}} {{user.get_profile.last_name}} and you live in {{user.get_profile.floor}}.<br/>If this is not correct, please <a href="mailto:{{CONTACT_EMAIL}}">email the admins</a>.
    </p>
  </div>
</div>

<div style="text-align: center">
  <button id="next">Next: Terms and conditions &nbsp;
  <img src="{{ STATIC_URL}}/css/default/images/right.png" width="24" align="top">
  </button>
  <div {% get_id_and_classes "progressbar-header" %}>
    <p>Introduction progress, points: {{user.get_profile.points}}</p>
  </div>
</div>
<div {% get_id_and_classes "progressbar" %}></div>

<script type='text/javascript'>
jQuery(document).ready(function($) {
  $("#progressbar").progressbar({
    value: 100/7
  });

  $("#next").button().unbind('click').click(function() {
    $(this).button("option", "disabled", true);
    $.get("{% url setup_terms %}", function(data) {
      $("#ui-dialog-title-setup-dialog").html(data.title);
      $("#setup-dialog").html(data.contents);
    });
  });

  $("#next").button("option", "disabled", false);
});
</script>
