@charset "UTF-8";
/* CSS Document */

/********************** help styles ******************************/

.content {
	width: 920px;
	margin: 0 auto 0 auto;
}

.left-column {
	width: 376px;
	float: left;
}

.right-column {
	width: 478px;
	float: right;
}

.content-box {
	text-align: left;
}

#help-video, #help-rules{
	width: 376px;
}

#help-video-content object {
	margin-bottom: -11px;
}

.content-box-contents a {
	color: #db9703;
}

.content-box-contents ul {
	margin: 0 auto 0 auto;
	padding: 0 auto 0 auto;
}

#help-rules-content, #help-faq-content {
	padding-top: 1em;
	padding-bottom: .7em;
	line-height: 15pt;
}

#help-faq, #help-ask {
	float: right;
	width: 476px;
}

#help-ask-content {
	padding: 1em;
}

#help-ask-form textarea {
	width: 97%;
	height: 50px;
}

#form-success {
  text-align: left;
}

/******* Help topic styles *******/

#help-topic-content {
  padding: 1em 1em 0.7em 1em;
	line-height: 15pt;
}
