@charset "UTF-8";
/* CSS Document */

/********************** profile styles ******************************/

#profile-form {
	width: 454px;
	margin-left: 18px;
}

#profile-form-box {
	width: 454px;
	float: left;
}

.content-box {
	text-align: left;
}

#profile-form-message {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #dbd7af;
  font-weight: bold;
  padding: 5px;
}

#profile-form-contents {
	padding: 1.5em 0 0 5px;
}

table#profile-form-table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
	width: 442px;
	background-color: #dbd7af;
}

#profile-form-table td {
	text-align: left;
	vertical-align: top;
	padding: 5px 10px 5px 15px;
	margin: 0;
}

#profile-form-table label {
	font-weight: bold;
	text-transform: capitalize;
}

#profile-form-picture-change img {
	float: left;
	margin-right: 1em;
}

#profile-form-picture-change {
	line-height: 50px;
	text-transform: capitalize;
	font-style: italic;
}

#profile-form-table td.profile-section-header {
	font-weight: bold;
	background-color: #EBE7BC;
	padding-left: 5px;
}

td#profile-form-fb-profile-label, td#profile-form-fb-can-post-fields {
	padding-left: 45px;
}

/*td#profile-form-contact-email-label, td#profile-form-contact-text-label {
  padding-left: 45px;
}*/

#profile-form-table textarea {
  height: 60px
}

#profile-form-table td.profile-form-label {
	padding-left: 30px;
}

#profile-form-table #profile-form-fb-login-button {
  padding-left: 30px;
}

#profile-form-submit {
	text-align: center;
}

#profile-form-submit a {
	color: #c86c09;
}

#profile-badges, #profile-history, #profile-notifications, #profile-commitments {
	width: 436px;
	float: right;
	clear: right;
	margin-right: 14px;
}

#profile-badges-content, #profile-history-content, #profile-commitment-content {
	padding: 0px 8px 0 2px;
	border: 0;
	
}

#profile-commitments-content .commitments-title {
  width: 310px;
}

#profile-badges-content table, #profile-history-content table {
	width: 99%;
}

#profile-user-badge-image-header {
	width: 10%;
	}
	
#profile-user-badge-text-header {
  width: 40%;
}

#profile-history-current-date-header, #profile-history-previous-date-header {
	width: 15%;
	}

#profile-history-current-task-header, #profile-history-previous-task-header {
	width: 60%;
	}

#profile-badges-content th, #profile-history-content th {
  text-align: left;
}

#profile-badges-content td {
	text-align: center;
	vertical-align: middle;
	padding: 4px;
}

#profile-history-content td {
  text-align: left;
	vertical-align: middle;
	padding: 4px;
}

#profile-badges-content h5, #profile-history-content h5 {
	background-color: #dbd7af;
	margin: 0;
	padding: 5px 16px 5px 16px;
	text-align: left;
}

#profile-badge-catalog {
	text-align: center;
}

#profile-badge-catalog a {
	color: #c86c09;
}

#profile-notifications-list {
  list-style: none;
  padding: 0 10px;
}

#profile-notifications-list li {
  margin-top: 5px;
  padding: 5px;
}

#profile-notifications-list li.ui-state-highlight {
  background: none;
  background-color: #fce988;
  border: 1px solid #fed22f;
}

#profile-notifications-list .notification-contents {
  float: none;
}

#profile-notifications-list .notification-timestamp {
  clear: left;
  float: left;
  font-style: italic;
  margin-top: 5px;
}

#profile-notifications-list .notification-options {
  float: right;
  margin-top: 5px;
}

#profile-history-previous-table td {
  vertical-align: top;
}

/************** Rejected dialog styles *****/
.ui-dialog-content p {
  text-align: left;
}

/************** Avatar styles **************/

#avatar-change {
  margin: 0 16px;
}

#avatar-change-content {
  padding: 10px;
}

#avatar-change-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#avatar-change-content ul li {
  display: inline;
  float: left;
  padding-right: 20px;
}

#avatar-change-content form button {
  display: block;
  margin-top: 5px;
}

/************** Badge catalog styles ********/
#badge-catalog-box {
  width: 920px;
  margin: 1.5em auto 20px;
}

#badge-catalog-content a {
  display: block;
  margin-top: 5px;
  margin-left: 20px;
}

#badge-catalog-table {
  margin: 10px 0;
  width: 100%;
  border-collapse: collapse;
}

#badge-catalog-table, tr, th, td {
  border: none;
}

#badge-catalog-table td {
  vertical-align: top;
  padding: 10px 0;
}

#badge-catalog-table .badge-image {
  width: 10%;
}

#badge-catalog-table .badge-title {
  width: 15%;
}

#badge-catalog-table .badge-description {
  width: 30%;
}

.badge-image img{
  margin-left: 20px;
}