# Ignore database files
*.db

# Ignore compiled Python files.
*.pyc

# Ignore the settings file so that new users create their own.
local_settings.py

# Ignore the test files.
log
site_media

# Ignore the apache configuration
deploy/*.conf

# Ignore the result of nosetests.
nosetests.xml

