{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  Manage Your Profile
{% endblock %}

{% block extra_head %}
  {% import_page_css "view_profile" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "profile-form" %}>
  <div {% get_id_and_classes "profile-form-box" %}>
    <div {% get_id_and_classes "profile-form-title" %}>
      My Info
    </div>
    <div {% get_id_and_classes "profile-form-content" %}>
      {% include "view_profile/components/form.html" %}
    </div>
  </div>
</div>

<div {% get_id_and_classes "profile-badges" %}>
  <div class="{% insert_classes "widget" %}">
    <div class="{% insert_classes "widget-title" %}">
      My Badges
    </div>
    <div class="{% insert_classes "widget-body" %}">
      <h5>Individual Badges</h5>
      <table id="user-badge-table">
        <tr>
          <th class="{% insert_classes "badge-image-header" %}"></th>
          <th class="{% insert_classes "badge-text-header" %}">Badge</th>
          <th class="{% insert_classes "badge-achievement-header" %}">Achievement</th>
        </tr>
        {% if user.badges_earned.count > 0 %}
          {% for awarded in user.badges_earned.all %}
          <tr>
            <td><img src="{{STATIC_URL}}{{awarded.badge.image}}"/></td>
            <td>{{awarded.badge.name}}</td>
            <td>{{awarded.badge.description.0}}</td>
          </tr>
          {% endfor %}
        {% else %}
          <tr><td colspan="3">You don't have any badges yet!</td></tr>
        {% endif %}
      </table>
      
      <h5>Lounge Badges</h5>
      <table id="lounge-badge-table">
        <tr>
          <th class="{% insert_classes "badge-image-header" %}"></th>
          <th class="{% insert_classes "badge-text-header" %}">Badge</th>
          <th class="{% insert_classes "badge-achievement-header" %}">Achievement</th>
        </tr>
        <tr>
          <td colspan="3" style="text-align: center">No lounge badges achieved so far</td>
        </tr>
      </table>
      
      <div id="badge-catalog-link">
        <a href="#">See Badge Catalog</a>
      </div>
    </div>
  </div>
</div>

<div {% get_id_and_classes "profile-history" %}>
  <div class="{% insert_classes "widget" %}">
    <div class="{% insert_classes "widget-title" %}">
      My Achievements
    </div>
    <div class="{% insert_classes "widget-body" %}">
      <h5>Current and Pending</h5>
      <table>
        <tr>
          <th>Date</th>
          <th>Task</th>
          <th>Status</th>
        </tr>
        {% if in_progress_members %}
          {% for member in in_progress_members %}
            {% if member.activity %}
            <tr>
              <td>{{member.created_at|date:"n/j/y"}}</td>
              <td>Activity: {{member.activity}}</td>
              <td>{{member.approval_status.capitalize}}</td>
            </tr>
            {% else %}
            <tr>
              <td>{{member.created_at|date:"n/j/y"}}</td>
              <td>Commitment: {{member.commitment}}</td>
              <td>In Progress</td>
            </tr>
            {% endif %}
          {% endfor %}
        {% else %}
        <tr><td colspan="3">You have nothing in progress or pending.</td></tr>
        {% endif %}
      </table>
      
      <h5>Previously Awarded</h5>
      <table>
        <tr>
          <th>Date</th>
          <th>Task</th>
          <th>Points</th>
        </tr>
        {% if completed_members %}
          {% for member in completed_members %}
            <tr>
              <td>{{member.award_date|date:"n/j/y"}}</td>
              {% if member.commitment %}
              <td>Commitment: {{member.commitment}}</td>
              <td>{{member.commitment.point_value}}</td>
              {% else %}
              <td>Activity: {{member.activity}}</td>
              <td>{{member.activity.point_value}}</td>
              {% endif %}
            </tr>
          {% endfor %}
        {% else %}
          <tr><td colspan="3">You have not been awarded anything yet!</td></tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
  {% if fb_enabled %}
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({appId: '{{FACEBOOK_APP_ID}}', status: true, cookie: true, xfbml: true});
  </script>
  {% endif %}

{% endblock %}