{% extends "logged_in_base.html" %}

{% block page_title %}
  Manage Your Profile
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL}}css/{{CSS_THEME}}/pages/view_profile.css">
{% endblock %}

{% block body %}
<div class="span-8">
  <div class="widget ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="widget-title ui-state-active ui-accordion-header ui-corner-top">
      My Info
    </div>
    <div class="widget-body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
      {% include "view_profile/components/form.html" %}
    </div>
  </div>
</div>

<div class="span-8">
  <div class="widget ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="widget-title ui-state-active ui-accordion-header ui-corner-top">
      My Badges
    </div>
    <div class="widget-body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
      <h5>Individual Badges</h5>
      <table>
        <tr>
          <th></th>
          <th style="width: 30%">Badge</th>
          <th style="width: 50%">Achievement</th>
        </tr>
        <tr>
          <td><img src="{{STATIC_URL}}images/profile/check_badge.png"/></td>
          <td style="vertical-align: middle">Daily Login</td>
          <td style="vertical-align: middle">For logging in 3 days in a row.</td>
        </tr>
      </table>
      
      <h5>Lounge Badges</h5>
      <table>
        <tr>
          <th></th>
          <th style="width: 30%">Badge</th>
          <th style="width: 50%">Achievement</th>
        </tr>
        <tr>
          <td colspan="3" style="text-align: center">No lounge badges achieved so far</td>
        </tr>
      </table>
      
      <div style="text-align: center">
        <a href="#">See Badge Catalog</a>
      </div>
    </div>
  </div>
</div>

<div class="span-8 last">
  <div class="widget ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="widget-title ui-state-active ui-accordion-header ui-corner-top">
      My Achievements
    </div>
    <div class="widget-body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
      <h5>Current and Pending</h5>
      <table>
        <tr>
          <th>Date</th>
          <th>Task</th>
          <th>Status</th>
        </tr>
        <tr style="color: red">
          <td>10/28/10</td>
          <td><a href="#" style="color: red">Activity: Room Audit</a></td>
          <td>Denied</td>
        </tr>
        <tr>
          <td>10/28/10</td>
          <td><a href="#">Activity: Energy Blog</a></td>
          <td>Submitted</td>
        </tr>
        <tr>
          <td>10/24/10</td>
          <td><a href="#">Commitment: Cold water wash</a></td>
          <td>In Progress</td>
        </tr>
        <tr>
          <td>10/23/10</td>
          <td><a href="#">Commitment: Turn off lights</a></td>
          <td>In Progress</td>
        </tr>
      </table>
      
      <h5>Previously Awarded</h5>
      <table>
        <tr>
          <th>Date</th>
          <th>Task</th>
          <th>Points</th>
        </tr>
        <tr>
          <td>10/26/10</td>
          <td><a href="#">Badge: Daily login</a></td>
          <td>15</td>
        </tr>
        <tr>
          <td>10/24/10</td>
          <td><a href="#">Activity: Lights out</a></td>
          <td>10</td>
        </tr>
        <tr>
          <td>10/22/10</td>
          <td><a href="#">Activity: Be Energy Akamai</a></td>
          <td>25</td>
        </tr>
        <tr>
          <td>10/21/10</td>
          <td><a href="#">Activity: Kukui Cup Intro</a></td>
          <td>15</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
  {% if fb_enabled %}
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({appId: '{{FACEBOOK_APP_ID}}', status: true, cookie: true, xfbml: true});
  </script>
  {% endif %}

{% endblock %}