{% if energy_goal.goal and energy_goal.goal.in_voting_period and not energy_goal.form %}
  <div class="ui-accordion-header ui-corner-top list_header">
  Your {{FLOOR_LABEL}}'s  Energy Goal:
  </div>
  <div class="ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
    <p>Thanks for voting. The energy goal will start on {{energy_goal.goal.voting_end_date}}</p>
    <div id="goal_vote_results">
    </div>
    <script type=text/javascript>
      $(document).ready(function() {
        $("#goal_vote_results").html('<img src="http://www.google.com/ig/images/spinner.gif"/>');
        $.get("{% url goal_vote_results energy_goal.goal.id %}", function(data) {
          $("#goal_vote_results").html("<img src='" + data.url + "'/>");
        });
      });
    </script>
  </div>
{% endif %}