{% if energy_goal.goal and energy_goal.goal.in_voting_period and not energy_goal.form %}
  <div class="ui-accordion-header ui-corner-top list_header ui-state-default">
    Energy Goal:
    <span id="goal_voting_help" class="ui-icon ui-icon-help" style="margin-left: 165px"></span>
  </div>
  <div class="ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active" style="padding:5px 15px">
    <p>Thanks for voting. The energy goal will start on {{energy_goal.goal.voting_end_date}}</p>
    <div id="goal_vote_results">
      <img src="{{energy_goal.results_url}}"/>
    </div>
  </div>
{% else %}
{% endif %}