{% if energy_goal.form %}
<div id="profile_goal_form" class="activity_item ui-corner-all ui-accordion ui-widget ui-accordion-icons">
  <div class="ui-accordion-header ui-corner-top ui-state-default list_header">
    Vote For Your {{FLOOR_LABEL}}'s  Energy Goal:
    <span id="goal_voting_help" class="ui-icon ui-icon-help"></span>
  </div>
  <div class="ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
    <p>
    From {{energy_goal.goal.start_date}} to {{energy_goal.goal.end_date}}, each lounge will participate in an Energy Goal. 
    There are two parts to this goal:
    <ol>
      <li>
        Each member of the {{FLOOR_LABEL.lower}} will vote on how much you think your {{FLOOR_LABEL.lower}} can save. 
        This period ends on {{energy_goal.goal.voting_end_date}}.
      </li>
      <li>
        The percent reduction with the most votes will be chosen as the goal. Your {{FLOOR_LABEL.lower}} must try to reduce
        your energy usage by that percentage.
      </li>
    </ol>
    For each percent you declare to save, you will receive {{energy_goal.goal.point_conversion}} point(s) if your 
    {{FLOOR_LABEL.lower}} succeeds in reducing its overall energy use during the period.  Good luck!
    </p>
    <div style="margin-top: 10px; border-bottom: 1px solid gray"></div>
    
    <div style="float:left">
      <form action="/goals/vote/{{energy_goal.goal.id}}/" method="post">
        {{energy_goal.form.as_p}}
        <input type="submit" value="Vote">
      </form>
    </div>
    <div id="goal_vote_results" style="float:right; padding:10px 5px">
      <a id="goal_view_results" href="#">View Results</a>
    </div>
    <script type=text/javascript>
      $(document).ready(function() {
        $("#goal_view_results").click(function() {
          $("#goal_vote_results").html('<img src="http://www.google.com/ig/images/spinner.gif"/>');
          $.get("{% url goal_vote_results energy_goal.goal.id %}", function(data) {
            if(data.results.length == 0) {
              $("#goal_vote_results").html("<span style='font-style:italic'>There are no votes.</span>");
            }
            else {
              $("#goal_vote_results").html("<img src='" + data.url + "'/>");
            }
          });
        })
      });
    </script>
  </div>
</div>
{% endif %}