{% with resource.liked_users as like_users %}
  <span id="like_count" class="option-link ui-state-highlight ui-corner-all" style="margin-right: 10px">
    <span class="ui-icon ui-icon-person"></span>
    <span class="button-text">{{like_users|length}}</span>
  </span>
  
  {% if user.is_authenticated %}
    <form id="unlike_form" action="/resources/unlike/{{resource.pk}}/" method="post" style="display: inline">
    <a class="option-link ui-state-error ui-corner-all" href="#">
      <span class="ui-icon ui-icon-circle-minus"></span>
      <span class="button-text">Unlike</span>
    </a></form>
    <form id="like_form" action="/resources/like/{{resource.pk}}/" method="post" style="display: inline">
    <a class="option-link ui-state-default ui-corner-all" href="#">
      <span class="ui-icon ui-icon-star"></span>
      <span class="button-text">Like</span>
    </a></form>
  {% endif %}
    
  <script type="text/javascript">
    $(document).ready(function() {
      {% if like_users|length == 0 %}
        $("#like_count").hide();
      {% endif %}
      
      {% if user in like_users %}
        $("#like_form").hide();
      {% else %}
        $("#unlike_form").hide();
      {% endif %}
      
      $("#like_form a").click(function() {
        //alert("Like!");
        $.post("/resources/like/{{resource.pk}}/", function(data) {
          if(data.error) {
            alert(data.error);
          }
          else {
            likes = parseInt($("#like_count .button-text").html()) + 1;
            $("#like_count .button-text").html(likes.toString());
            $("#like_count").show();
            $("#like_form").hide();
            $("#unlike_form").fadeIn();
          }
        });
        
        return false;
      });
      
      $("#unlike_form a").click(function() {
        //alert("Unlike!");
        $.post("/resources/unlike/{{resource.pk}}/", function(data) {
          if(data.error) {
            alert(data.error);
          }
          else {
            likes = parseInt($("#like_count .button-text").html()) - 1;
            $("#like_count .button-text").html(likes.toString());
            $("#unlike_form").hide();
            $("#like_form").fadeIn();
          }
        });
        
        return false;
      });
    })
  </script>
{% endwith %}