{% extends "resources/resources_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "Dorm Energy" %}{% endblock %}

{% block body %}
    <div id="content_header">
      <div id="resources_content_1" class="makahiki_content makahiki_header">
        {% gblock "resources_content_1" for "gblocks.TitleAndText" %}
      </div>
    </div>

    <div id="three_col_left">
      <div id="resources_content_2" class="makahiki_content">
        {% gblock "resources_content_2" for "gblocks.TitleAndText" %}
      </div>
    </div>

    <div id="three_col_center">
      <div id="resources_content_3" class="makahiki_content">
        {% gblock "resources_content_3" for "gblocks.Text" %}
      </div>
      
      <div id="resources_content_4" class="makahiki_content">
        {% gblock "resources_content_5" for "gblocks.TitleAndText" %}
      </div>
    </div>

    <div id="three_col_right">
      <div id="resources_content_4" class="makahiki_content">
        {% gblock "resources_content_4" for "gblocks.TitleAndText" %}
      </div>
    </div>
    
    <div class="resources_content" style="display:none">
      {% gblock "resources_content_6" for "gblocks.TitleAndText" %}
    </div>
{% endblock %}
