{% extends "resources/resources_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "Resources: Energy Hub" %}{% endblock %}

{% block body %}
  <div id="two_col_left">
    <div class="makahiki_content">
      {% gblock "resources_content_7" for "gblocks.TitleAndText" %}
    </div>
  </div>

  <div id="two_col_right">
    <div class="makahiki_content">
      {% gblock "resources_content_8" for "gblocks.TitleAndText" %}
    </div>

    <div class="makahiki_content">
      {% gblock "resources_content_9" for "gblocks.TitleAndText" %}
    </div>
  </div>
{% endblock %}
