{% extends "resources/resources_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "Dorm Energy" %}{% endblock %}

{% block body %}
    <div id="content_header">
      
    </div>

    <div id="resources_topics_list" class="makahiki_content">
      <div class="makahiki_content_title ui-accordion-header ui-corner-top">
        Resource Topics
      </div>
      <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        <ul style="list-style: none; margin: 0; padding: 0">
        {% for topic in topics %}
          <li style="padding: 5px; display: inline"><a href="/resources/topic/{{topic.pk}}/">{{topic.topic}}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div id="resource_list" class="makahiki_content">
      <div class="makahiki_content_title ui-accordion-header ui-corner-top">
        Resources
      </div>
      <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        <table>
          <tr>
            <th>Title</th>
            <th>Summary</th>
            <th>Topic Type(s)</th>
            <th>Media Type</th>
            <th>Length</th>
          </tr>
          {% for resource in resources %}
          <tr>
            <td>{{resource.title}}</td>
            <td>{{resource.abstract}}</td>
            <td>
              {% with resource.topics.all as topics %} 
              {% for topic in topics %}
                {% if forloop.last %}
                  {{topic.topic}}
                {% else %}
                  {{topic.topic}}, 
                {% endif %}
              {% endfor %}
              {% endwith %}
            </td>
            <td>{{resource.media_type}}</td>
            <td>{{resource.length}}</td>
          </tr>
          {% endfor %}
        </table>
        {% if more %}
          <a href="#">View all</a>
        {% endif %}
      </div>
    </div>

{% endblock %}
