{% extends "resources/resources_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "Dorm Energy" %}{% endblock %}

{% block extra_head %}
  <script type="text/javascript">
    function clearTopics() {
      jQuery("input[id*='id_topics_']").removeAttr("checked");
    };
    
    function viewAll(link) {
      alert($(link).attr("href"));
      $("#resource_table").append('<img id="view_spinner" src="http://www.google.com/ig/images/spinner.gif"/>');
      $.get($(link).attr("href"), function(data) {
        $("#view_all").detach();
        $("#view_spinner").detach();
        $("#resource_table table").append(data.resources);
      });
      
      return false;
    }
    
    $(document).ready(function() {
      $("#topic_form_submit").click(function() {
        $("#resource_table").html('<img src="http://www.google.com/ig/images/spinner.gif"/>');
        $.get("/resources/filter/", $("#topic_form").serialize(), function(data) {
          $("#resource_table").html(data.resources);
        });
      });
    });
  </script>
{% endblock %}

{% block body %}
    <div id="content_header">
      
    </div>

    <div id="resources_topics_list" class="makahiki_content">
      <div class="makahiki_content_title ui-accordion-header ui-corner-top">
        Resource Topics
      </div>
      <div class="resource_topics makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        <form id="topic_form" action="/resources/" method="GET">
          <ul id="topic_form_list">
            {{topic_form.as_ul}}
          </ul>
          <div class="clear_div"></div>
          <a id="topic_form_submit" href="#" class="option-link ui-state-default ui-corner-all ui-state-hover">
            <span class="ui-icon ui-icon-arrowrefresh-1-e"></span>
            <span class="button-text">Refresh</span>
          </a>
          <a href="javascript:clearTopics()" class="option-link ui-state-error ui-corner-all ui-state-hover" style="margin-left: 20px">
            <span class="ui-icon ui-icon-circle-close"></span>
            <span class="button-text">Clear All</span>
          </a>
        </form>
      </div>
    </div>

    <div id="resource_list" class="makahiki_content">
      <div class="makahiki_content_title ui-accordion-header ui-corner-top">
        {{list_title}}
      </div>
      <div id="resource_table" class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        {% include "resources/list.html" %}
      </div>
    </div>

{% endblock %}
