{% extends "status/base.html" %}

{% load class_tags %}

{% block body %}
<div {% get_id_and_classes "status-activities" %}>
  <div class="content-box" style='clear: both; margin: 15px auto; width: 500px'>
    <div class="content-box-title">
      Approval Queue
    </div>
    <div class="content-body" style='font-weight: bold;{% if pending_members > 50 %}color: red{% endif %}'>
      There are {{pending_members}} pending ActivityMember(s) in the queue.<br/>
      {% if oldest_member %}The oldest item was submitted at {{oldest_member.submission_date}}{% endif %}
    </div>
  </div>
  {% for type, tasks in tasks.items %}
  <div class="content-box" style='float: left; margin: 15px'>
    <div class="content-box-title">
      Popular {% if type == 'activity' %}Activities{% else %}{{type.capitalize}}s{% endif %}
    </div>
    <div class="content-body">
      <table style="margin: 10px; padding: 0 10px;">
        <tr>
          <th style="text-align: left">Title</th>
          <th>{% if type == 'excursion' or type == 'event' %}Sign ups{% else %}Completions{% endif %}</th>
        </tr>
        {% for task in tasks %}
        <tr>
          <td style="text-align: left">{{task.title}}</td>
          <td>{{task.completions}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endfor %}
  
  <div class="content-box" style='float: left; margin: 15px'>
    <div class="content-box-title">
      Popular Quests
    </div>
    <div class="content-body">
      <table style="margin: 10px; padding: 0 10px;">
        <tr>
          <th style='text-align: left'>Name</th>
          <th>Completions</th>
        </tr>
        {% for quest in quests %}
        <tr>
          <td>{{quest.name}}</td>
          <td>{{quest.completions}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  <br style="clear: both"/>
</div>
{% endblock %}