{% extends "status/base.html" %}

{% load class_tags %}

{% block body %}

<div {% get_id_and_classes "status-points" %}>
  <div class="content-box" style="float: left; margin: 15px;">
    <div class="content-box-title">
      Overall Individuals ({{profiles|length}} total users)
    </div>
    <div class="content-body">
      <table style="float: left; padding: 15px; width: 300px;">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Points</th>
        </tr>
        {% for profile in profiles %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{profile.name}} ({{profile.user__username}})</td>
          <td>{{profile.points}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  {% for name, entries in round_individuals.items %}
  <div class="content-box" style="float: left; margin: 15px">
    <div class="content-box-title">
      {{name}} Top Individuals ({{entries|length}} total users)
    </div>
    <div class="content-body">
      <table style="padding: 15px; width: 300px">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Points</th>
        </tr>
        {% for entry in entries %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{entry.profile__name}} ({{entry.profile__user__username}})</td>
          <td>{{entry.points}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endfor %}
  
  <div class="content-box" style="float: left; margin: 15px">
    <div class="content-box-title">
      Overall Floors
    </div>
    <div class="content-body">
      <table style='padding: 15px; width: 300px'>
        <tr>
          <th>Rank</th>
          <th>{{FLOOR_LABEL}}</th>
          <th>Points</th>
        </tr>
        {% for floor in floor_standings %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{floor}}</td>
          <td>{{floor.points}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  {% for name, floors in round_floors.items %}
  <div class="content-box" style="float: left; margin: 15px">
    <div class="content-box-title">
      {{name}} Floors
    </div>
    <div class="content-body">
      <table style="padding: 15px; width: 300px">
        <tr>
          <th>Rank</th>
          <th>{{FLOOR_LABEL}}</th>
          <th>Points</th>
        </tr>
        {% for floor in floors %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{floor}}</td>
          <td>{{floor.points}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endfor %}
  
  <div class="content-box" style="float: left; margin: 15px">
    <div class="content-box-title">
      Canopy Karma
    </div>
    <div class="content-body">
      <table style='padding: 15px; width: 300px'>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Karma</th>
        </tr>
        {% for member in canopy_members %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{member.name}}</td>
          <td>{{member.canopy_karma}}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan='3'>There are no canopy members yet</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  <div class="content-box" style="float: left; margin: 15px">
    <div class="content-box-title">
      Active Participation
    </div>
    <div class="content-body">
      <table style='padding: 15px; width: 300px'>
        <tr>
          <th>Rank</th>
          <th>{{FLOOR_IDENTIFIER}}</th>
          <th>Participants</th>
        </tr>
        {% for floor in floor_participation %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{floor}}</td>
          <td>{{floor.active_participation}}%</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  <div class="content-box" style="float: left; margin: 15px">
    <div class="content-box-title">
      Referrals
    </div>
    <div class="content-body">
      <table style='padding: 15px; width: 300px'>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Referrals</th>
        </tr>
        {% for item in referrals|dictsortreversed:'referrals' %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{item.referring_user__profile__name}} ({{item.referring_user__username}})</td>
          <td>{{item.referrals}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br style="clear: both"/>
</div>
{% endblock %}