<html>
  <head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1 user-scalable=no,width = 320" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    
    <link rel="stylesheet" href="{{STATIC_URL}}mobile/jqtouch.css" type="text/css" media="screen" /></div>
    <link rel="stylesheet" href="{{STATIC_URL}}mobile/main.css" type="text/css" media="screen" /></div>
    
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.4.2.min.js"></script></div>
    <script type="text/javascript" src="{{STATIC_URL}}js/jqtouch.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/mobile.js"></script>
  </head>
  
  <body>
    <div id="home" class="current page">
       <h1><a href="/" id="logo">Hello World</a></h1>
       <h2>Kukui Cup - Lights off, Game on!</h2>

    <ul class="links">
    	<li><a href="/home">Switch to full site.</a></li>
    </ul>

     <!-- #home close -->
     </div>
  </body>
</html>