/* GENERAL TAB STYLING */

#tabhead {
    background:url('tab_bg.jpg') ;
}

#tabhead a:link,
#tabhead a:visited
{
	margin: 0px 3px;
	 opacity: 0.7;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px; 
    -webkit-border-radius-topleft: 10px;
  	-webkit-border-radius-topright: 10px;
    -khtml-border-radius-topleft: 10px; 
	-khtml-border-radius-topright: 10px; 
    display: inline-block;
    color: White;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    padding: 1em 2em;
    background-color: #36F;
    line-height: .8em;
    border-left: 1px solid #transparent;
    border-right: 1px solid transparent;
}

#tabhead a:hover,
#tabhead a:active
{
    background-color: #66F;
    border-color: #transparent;
    color: #FFF;
}

/* account tabs (right side) */
#tabhead a.tab_account,
#tabhead a.tab_login,
#tabhead a.tab_logout
{
    float: right;
    opacity: 0.7;
}


/* SUBNAV */

#subnav{
    background-color: #EEE;
}

#subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#subnav ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

#subnav a:link,
#subnav a:visited
{
    display: inline-block;
    color: #36F;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 1em;
    padding: 0.5em 1em;
    background-color: #EEE;
}

#subnav a:hover {
    text-decoration: underline;
}

/* SITE-SPECIFIC TAB STYLING */

/* Active tabs */
#home_tab a.tab_home,
#resources_tab a.tab_resources,
#energy_tab a.tab_energy,
#billboard_tab a.tab_billboard,
#about_us_tab a.tab_about_us
{
	
    background-color: #FFF;
    border-color: transparent;
    color: #36F;
}