{% extends "canopy/base.html" %}

{% load class_tags %}

{% block body %}
{% if not hide_about %}
<div {% get_id_and_classes "canopy-about" %}>
  <div style="text-align: right">
    <a id="canopy-hide-about" href="javascript:void(0);">Close</a>
  </div>
  <p>
    Welcome to the canopy! As one of the top players of the Kukui Cup, you now have exclusive access to this advanced area that provides: advanced energy visualizations, missions, and a private Wall for communication among Canopy members as well as the administrators of the Kukui Cup.  Use the Canopy to gain greater insight into the Hale Aloha energy usage and how you can help your lounge as well as all of the students play the Kukui Cup more effectively.
  </p>
</div>
{% endif %}

<div {% get_id_and_classes "canopy-viz" %}>
  <div {% get_id_and_classes "canopy-viz-title" %}>
    Advanced Visualizations
    <a href="#" style="float: right">
    <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
	title="Click to get help about this window" 
	onclick="toggleHelp('widget', 'advanced-visualizations'); return false;"
   /></a>
  </div>
  <div {% get_id_and_classes "canopy-viz-content" %}>
    {% include "canopy/visualizations/list.html" %}
  </div>
</div>

<div {% get_id_and_classes "canopy-feed-members" %}>
  <div {% get_id_and_classes "canopy-feed" %}>
    <div {% get_id_and_classes "canopy-feed-title" %}>
      Canopy Feed
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'canopy-feed'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "canopy-feed-content" %}>
      {% include "canopy/wall.html" %}
    </div>
  </div>
  
  <div {% get_id_and_classes "canopy-karma" %}>
    <div {% get_id_and_classes "canopy-karma-title" %}>
      Canopy Karma Scoreboard
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		    title="Click to get help about this window" 
		    onclick="toggleHelp('widget', 'canopy-karma'); return false;"/>
		  </a>
	  </div>
	  <div {% get_id_and_classes "canopy-karma-content"%}>
	    {% include "canopy/karma_scoreboard.html" %}
	  </div>
	</div>
	
  <div {% get_id_and_classes "canopy-members" %}>
    <div {% get_id_and_classes "canopy-members-title" %}>
      Canopy Members
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'canopy-directory'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "canopy-members-content" %}>
      {% include "canopy/users.html" %}
      <div style="clear: both">
        <a href="{% url canopy_members %}">View detailed list</a>
      </div>
    </div>
  </div>
  
  <div style="clear:both"></div>
</div>

{% endblock %}