.container {
  background: transparent url(/site_media/static/css/default/images/canopy.jpg) top center no-repeat;
/*  min-height: 1200px;*/
}

.container-top {
  background: none;
}

.container-bottom {
  background: none;
}

#quest-list {
  margin: 0;
  margin-left: 40px;
  text-align: left;
}

#quest-list .canopy-quest {
  float: left;
  width: 175px;
  text-align: center;
  margin: 10px 5px 0;
  padding: 5px;
}

/***** Canopy styles ******/
.content {
  margin: 0 15px;
}

#canopy-about {
  text-align: left;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.8);
	border: 2px solid #167000;
	margin-bottom: 10px;
}

.content-box {
  margin-bottom: 20px;
}

#canopy-feed-members .content-box {
  float: left;
  width: 450px;
}

/***** Visualization styles *******/
#canopy-viz-list {
  list-style: none;
}

#canopy-viz-list li {
  display: inline;
  margin: 0 10px;
  padding: 5px;
  padding-left: 10px;
}

#canopy-viz-list li.selected {
  background-color: #DBD7AF;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#canopy-viz-list li.selected a {
  text-decoration: none;
}

#canopy-viz-list li h3 {
  display: inline;
}

/**** Wall styles *****/
#canopy-feed {
  margin-right: 20px;
  text-align: left;
}

#canopy-feed-content {
  padding: 5px 20px;
}

#news-post-form textarea {
  height: 30px;
  width: 80%;
  float:left;
}

#wall-post-submit {
  font-size: 12px;
  margin-left: 20px;
  margin-top: 5px;
  float:left;
}

#wall-posts {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.news-image {
  float: left;
}

.news-image img {
  padding: 10px 5px;
}

.news-text {
  float: left;
  margin-left: 20px;
  padding: 10px 0;
}

.news-text p {
  margin: 0;
  margin-bottom: 11px;
}

.news-posted {
  font-style: italic;
  font-size: 0.9em;
}

/******* Member styles *******/
#canopy-members-content {
  text-align: left;
  margin: 0;
  padding: 5px 20px;
}

#canopy-member-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#canopy-member-list li {
  float: left;
  width: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#canopy-member-list li img {
  padding: 2px;
}

#canopy-member-detail-list, #canopy-member-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

#canopy-member-detail-list>li {
  padding: 5px 0;
}

#canopy-member-detail-list>li .member-image {
  padding: 4px 2px;
  float: left;
}

#canopy-member-details {
  float: left;
  margin-left: 5px;
}

#canopy-member-details>li {
  padding: 2px 0;
}

#canopy-member-details .canopy-member-name {
  font-weight: bold;
  font-size: 1.0em;
}

#canopy-member-details .member-badges {
  vertical-align: middle;
  padding-left: 2px;
}

#canopy-member-details .canopy-member-admin {
  font-style: italic;
}
