.quest-list {
  margin: 0;
  margin-left: 120px;
  text-align: left;
}

.quest-list li {
  float: left;
  width: 200px;
}

/***** Canopy styles ******/
.content {
  margin: 0 15px;
}

#canopy-about {
  text-align: left;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.8);
	border: 2px solid #167000;
	margin-bottom: 10px;
}

.content-box {
  margin-bottom: 20px;
}

#canopy-feed-members .content-box {
  float: left;
  width: 450px;
}

#canopy-feed {
  margin-right: 20px;
}