html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;
	}

#container { 
	background: url(zen-bg.jpg) no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}
	
	#napkeeCanvas {
		position:absolute;
		left:0px;
		top:0px;
	}
	.napkeeComponent {
		position:absolute;
		font-size:13px;
		font-family: Comic Sans, Comic Sans MS, cursive;
		white-space: nowrap;
	}
	.napkeeRelativeComponent {
		position:absolute;
		font-size:13px;
		font-family: Comic Sans, Comic Sans MS, cursive;
		white-space: nowrap;
	}
	
	.napkeeMultilineButton {
	border:1px solid #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align:center;
}

#nap1{
	left:164px;
	top:145px;
	width:713.9000000000001px;
	height:52px;
	z-index:1;
	font-size: 40px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
	color:#2B78E4;
}
	
#nap3{
	left:41px;
	top:115px;
	width:108px;
	height:130px;
	z-index:2;
	border:0px solid;
}

#nap3table{
	left:41px;
	top:115px;
	width:108px;
	height:130px;
	z-index:3;
	display:none;
}

#nap3label{
	font-size: 13px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
#nap12{
	left:489px;
	top:209px;
	width:422px;
	height:249px;
	z-index:3;
	border:0px solid;
}

#nap12table{
	left:489px;
	top:209px;
	width:422px;
	height:249px;
	z-index:4;
	display:none;
}

#nap12label{
	font-size: 13px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
#nap13{
	left:71px;
	top:255px;
	width:415px;
	height:61px;
	z-index:4;
	font-size: 13px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
	color:#000000;
	white-space: normal;
}
	
#nap14{
	left:121px;
	top:366px;
	width:318px;
	height:86px;
	z-index:5;
	background-color:#2B78E4;
	color:#FFFFFF;
	opacity:1.0;
	filter:alpha(opacity=100);
}
	
#nap15{
	left:121px;
	top:459px;
	width:318px;
	height:74px;
	z-index:6;
	background-color:#E0E0E0;
	color:#000000;
	opacity:1.0;
	filter:alpha(opacity=100);
}
	
#nap17{
	left:368px;
	top:586px;
	width:215px;
	height:22px;
	z-index:7;
	font-size: 13px;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
	
#nap26{
	left:193px;
	top:649px;
	width:594px;
	height:104px;
	z-index:9;
	border:0px solid;
}

#nap26table{
	left:193px;
	top:649px;
	width:594px;
	height:104px;
	z-index:10;
	display:none;
}

#nap26label{
	font-size: 13px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
