.widget {
  margin: 10px 0;
}

.widget-title {
  background-color: #4297d7;
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
  text-align: center;
  cursor: auto;
}

.widget-body {
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0px 10px;
}

#news-events-popular-activities .widget .widget-body {
  padding: 0;
}

#wall-posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

#news-most-popular .widget-body form select {
  margin: 0 auto;
}

#wall-post {
  display:inline; 
  width: 100%,
}

form {
  margin-bottom: 15px;
}

form textarea {
  height: 20px;
  margin: 0;
}

#wall-post-submit {
  vertical-align: top;
  margin-left: 10px;
}

#view-more-posts {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}
