body {
  background: none;
  background-color: #BDCBDF;
}

.container {
  width: auto;
  background: none;
  background-color: #BDCBDF;
}

.container-top {
  background: none;
}

.container-bottom {
  background: none;
}

/* Base status styles */
#status-title {
  padding-top: 35px;
}

#status-nav {
  list-style: none;
}

#status-nav li {
  margin: 0 5px;
  display: inline;
}

#status-points {
  margin: 10px;
}
