@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	text-align: center;
	font: normal 10pt Arial, Helvetica, sans-serif;
	overflow-y: scroll;
	}a {
	color: #070000;
}


.container {
	width: 960px;
	background: transparent url(/site_media/static/css/default/images/bkg-page.jpg) top center no-repeat;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 0;
}


.container-top {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-top.jpg) top center no-repeat;
	margin: 0;
	padding: 0;
	
}

.container-bottom {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-bottom.png) bottom center no-repeat;
	margin: 0;
	padding: 5px 5px 100px 5px;
}


/********************** header styles ******************************/
#header {
	width: 926px;
	height: 126px;
	background: transparent url(/site_media/static/css/default/images/bkg-profile-topnav.png) top center no-repeat;
	margin: 1.5em auto 20px auto;
}

#header-logo {
	float: left;
	margin: 5px 0 5px 15px;
}

#header-title {
	position: absolute;
	margin: 65px auto 0 130px;
	font-size: 14pt;
	text-transform: capitalize;
}

#header-logout {
	position: absolute;
	margin-left: 800px;
	margin-top: -1.3em;
	text-align: right;
	width: 120px;
	font-weight: bold;
}


#header-logout a {color: #FFF;}

#header-nav-links {
	background: transparent url(/site_media/static/css/default/images/bkg-icon-tray.png) 0 10px no-repeat;
	width: 390px;
	height: 78px;
	display: block;
	margin: 0 0 0 125px;
	padding: 15px 5px;
	}

#header-nav-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header-nav-links ul li {
	float: left;
	margin-left: .4em;
}

#header-nav-links img {
	border: 0;
}

#header-nav-links a.home img {
}

#header-nav-links a.energy img {
	background: transparent url(/site_media/static/css/default/images/icon-go-low.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.energy:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-go-low-over.png) top left no-repeat;
}

#header-nav-links a.activities img {
	background: transparent url(/site_media/static/css/default/images/icon-scoreboard.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.activities:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-scoreboard-over.png) top left no-repeat;
}

#header-nav-links a.news img {
	background: transparent url(/site_media/static/css/default/images/icon-news.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.news:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-news-over.png) top left no-repeat;
}

#header-nav-links a.help img {
	background: transparent url(/site_media/static/css/default/images/icon-help.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.help:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-help-over.png) top left no-repeat;
}

#header-nav-links a.profile img {
	background: transparent url(/site_media/static/css/default/images/icon-profile.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.profile:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-profile-over.png) top left no-repeat;
}

#header-nav-links a.prizes img {
	background: transparent url(/site_media/static/css/default/images/icon-prizes.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.prizes:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-prizes-over.png) top left no-repeat;
}

#header-info {
	width: 362px;
	height: 98px;
	float: right;
	background: transparent url(/site_media/static/css/default/images/bkg-header-info.png) top left no-repeat;
	display: block;
	padding: 5px;
	margin: 15px 5px 0 0;
	overflow: hidden;
}

#header-avatar {
	float: left;
}

#header-avatar img {
	width: 50px;
	margin-right: 5px;
}

#header-user-info {
	width: 120px;
	border-right: 2px solid #000;
	float: left;
          padding-right: 4px;
}

#header-user-username {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
	font-size: .9em;
}

#header-user-points, #header-user-rank {
	font-size: .8em;
	width: 120px;
}

#header-user-rank {
         clear: both;
}

#header-user-points h3, #header-user-rank h3 {
	float: left;
	font: bold 18pt Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0;
	padding: 0;
}

#header-floor-info {
	width: 120px;
	float: left;
          margin-left: 4px;
}

#header-floor-name {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
	font-size: .9em;
}

#header-floor-points, #header-floor-rank {
	font-size: .8em;
	width: 120px;
}

#header-floor-rank {
clear: both;
}

#header-floor-points h3, #header-floor-rank h3 {
	float: left;
	font: bold 18pt Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0;
	padding: 0;
}

#header-floor-image {
	float: right;
}

#header-floor-image img {
	width: 50px;
	margin-left: 5px;
}
/********************** profile styles ******************************/

#profile-form {
	width: 454px;
	margin-left: 18px;
}

#profile-form-box {
	width: 454px;
	float: left;
}

#profile-form-box, #profile-badges-box, #profile-history-box {
	background-color: #EBE7BC;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadow: 3px 3px 8px #000;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	padding-bottom: 8px;
	margin-bottom: 15px;
	text-align: left;
}


#profile-form-contents {
	padding: 1.5em 0 0 5px;
}

#profile-form-title, #profile-badges-title, #profile-history-title {
	background-color: #E3E3E3;
    background-image: -moz-linear-gradient(100% 50% 90deg, #E3E3E3, #A1A1A1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#A1A1A1), to(#E3E3E3));
			
	height: 29px;	
	margin: 0;
	padding: 0;
	height: 29px;
	line-height: 29px;
	font-weight: bold;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	
	border-bottom: 1px solid #000;
	text-align: center;
	}

table#profile-form-table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
	width: 442px;
}

#profile-form-table td {
	text-align: left;
	vertical-align: top;
	padding: 5px 10px 5px 10px;
	margin: 0;
}



#profile-form-table label {
	font-weight: bold;
	text-transform: capitalize;
}

#profile-form-picture-change img {
	float: left;
	margin-right: 1em;
}

#profile-form-picture-change {
	line-height: 50px;
	text-transform: capitalize;
	font-style: italic;
}

td#profile-form-fb-header {
	background: transparent url(/site_media/static/css/default/images/facebook-icon.png) 15px 0 no-repeat;
	padding-left: 45px;
	font-weight: bold;
}

td#profile-form-fb-profile-label, td#profile-form-fb-can-post-fields {
	padding-left: 45px;
}

#profile-form-contact-label {
	font-weight: bold;
}

td#profile-form-contact-email-label, td#profile-form-contact-text-label {
	padding-left: 45px;
}

#profile-form-submit {
	text-align: center;
}

#profile-form-submit a {
	color: #c86c09;
}

#profile-badges {
	width: 436px;
	float: right;
	margin-right: 14px;
}
#profile-history-box {
	width: 436px;
	display: block;
	float: right;
	margin-right: 14px;
}


#profile-badges-content, #profile-history-content {
	padding: 0px 8px 0 2px;
	border: 0;
	
}

#profile-badges-content table, #profile-history-content table {
	width: 99%;
}

#profile-user-badge-image-header, #profile-lounge-badge-image-header {
	width: 5%;
	}
	
#profile-history-current-date-header, #profile-history-previous-date-header {
	width: 15%;
	}

#profile-user-badge-text-header, #profile-lounge-badge-text-header, #profile-history-current-task-header, #profile-history-previous-task-header {
	width: 60%;
	}

#profile-user-badge-achievement-header, #profile-lounge-badge-achievement-header, #profile-history-current-status-header, #profile-history-previous-points-header {
	
	}

#profile-badges-content td, #profile-history-content td {
	text-align: left;
	vertical-align: top;
	padding: 4px;
}


#profile-badges-content h5, #profile-history-content h5 {
	background-color: #dbd7af;
	margin: 0;
	padding: 5px 16px 5px 16px;
	text-align: left;
}

#profile-badge-catalog {
	text-align: center;
}

#profile-badge-catalog a {
	color: #c86c09;
}

#footer {
	clear: both;
}