@charset "UTF-8";

/********************** energy styles ******************************/

.content {
	width: 920px;
	margin: 0 auto 0 auto;
}

#energy-power-scoreboard {
	width: 298px;
	float: left;
}

#energy-power {
	background-color: #DDD;
	}

.status-tray {
	background: transparent url(/site_media/static/css/default/images/bkg-goal-tray.png) top center no-repeat;
	width: 470px;
	height: 95px;
	padding: 6px 30px 6px 30px;
	display: block;
	border: 0;
	margin: 0 auto 0 auto;
}

.status-tray img {
	float: left;
	width: 76px;
	height: 76px;
	display: block;
}

.status-tray font {
	float: right;
	height: 76px;
	width: 380px;
	display: block;
	padding-top: 25px;
}


fieldset {
	background: #dfdab1;
	border: 0;
	border-radius: 8px;
	moz-border-radius: 8px;
	webkit-border-radius: 8px;
	margin-top: -10px;
}

fieldset legend {
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	padding: 25px 0 0 0;
}

#energy-scoreboard-table {
	border: 0;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	width: 100%;
}

#energy-scoreboard-table th {
	background: #d0cb9b;
	font-weight: bold;
	padding: 4px;
}

#energy-scoreboard-table td {
	padding: 4px;
}

#energy-scoreboard-table .alt-row {
	background: #d9d3a6;
}

#energy-scoreboard-message {
	margin-top: .5em;
	font-size: 12pt;
}

#energy-status {
	width: 595px;
	float: right;
}

#energy-status-content {
	padding: .5em .5em 0 .5em;
	}

#energy-power-box {
	border: 1px solid #02ac0e;
	padding: 5px;
	width: 230px;
	margin-right: 1em;
}

#energy-power-goal-updated {
	font-size: 8pt;
}

#energy-power-gauge-label, #energy-power-gauge-table-goal, #energy-power-gauge-table-actual, #energy-power-goal-info {
	font-weight: bold;
}

#energy-status-progress-about a {
	color: #db9703;
}

td#energy-status-how-calculator-content {
	float: left;
	width: 250px;
	display: block;
	position: absolute;
}

td#energy-status-how-activities-content {
	float: right;
	padding-left: 270px;
	display: block;
}

#energy-status-how-calculator-content p {
	color: #02ac0e;
}

#energy-status-how-activities-table {
	border-collapse: collapse;
	border: 1px solid #02ac0e;
	color: #DD0000;
	margin-top: .5em;
}

#energy-status-how-activities-table th {
	background: #cec99c;
	padding: 4px;
}

#energy-status-how-activities-table td {
	padding: 4px;
}

#energy-status-posts {
	text-align: left;
}

#energy-status-posts a {
	color: #db9703;
}

table#energy-status-posts-table {
	padding-left: 20px;
}
