@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	text-align: center;
	font: normal 10pt Arial, Helvetica, sans-serif;
	overflow-y: scroll;
	}

a {
	color: #070000;
}


.container {
	width: 960px;
	background: transparent url(/site_media/static/css/default/images/bkg-page.jpg) top center no-repeat;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 0;
}


.container-top {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-top.jpg) top center no-repeat;
	margin: 0;
	padding: 0;
	
}

.container-bottom {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-bottom.png) bottom center no-repeat;
	margin: 0;
	padding: 5px 5px 50px 5px;
}


/********************** header styles ******************************/
#header {
	width: 926px;
	height: 126px;
	background: transparent url(/site_media/static/css/default/images/bkg-profile-topnav.png) top center no-repeat;
	margin: 1.5em auto 20px auto;
}

#header-logo {
	float: left;
	margin: 5px 0 5px 15px;
}

#header-title {
	position: absolute;
	margin: 65px auto 0 130px;
	font-size: 14pt;
	text-transform: capitalize;
}

#header-logout {
	position: absolute;
	margin-left: 800px;
	margin-top: -1.3em;
	text-align: right;
	width: 120px;
	font-weight: bold;
}

#header-logout a {
	color: #FFF;
	}

#header-nav-links {
	background: transparent url(/site_media/static/css/default/images/bkg-icon-tray.png) 0 10px no-repeat;
	width: 390px;
	height: 78px;
	display: block;
	margin: 0 0 0 125px;
	padding: 15px 5px;
	}

#header-nav-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header-nav-links ul li {
	float: left;
	margin-left: .4em;
}

#header-nav-links img {
	border: 0;
}

#header-nav-links a.home img {
}

#header-nav-links a.energy img {
	background: transparent url(/site_media/static/css/default/images/icon-go-low.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.energy:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-go-low-over.png) top left no-repeat;
}

#header-nav-links a.activities img {
	background: transparent url(/site_media/static/css/default/images/icon-scoreboard.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.activities:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-scoreboard-over.png) top left no-repeat;
}

#header-nav-links a.news img {
	background: transparent url(/site_media/static/css/default/images/icon-news.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.news:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-news-over.png) top left no-repeat;
}

#header-nav-links a.help img {
	background: transparent url(/site_media/static/css/default/images/icon-help.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.help:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-help-over.png) top left no-repeat;
}

#header-nav-links a.profile img {
	background: transparent url(/site_media/static/css/default/images/icon-profile.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.profile:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-profile-over.png) top left no-repeat;
}

#header-nav-links a.prizes img {
	background: transparent url(/site_media/static/css/default/images/icon-prizes.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.prizes:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-prizes-over.png) top left no-repeat;
}

#header-info {
	width: 362px;
	height: 98px;
	float: right;
	background: transparent url(/site_media/static/css/default/images/bkg-header-info.png) top left no-repeat;
	display: block;
	padding: 5px;
	margin: 15px 5px 0 0;
	overflow: hidden;
}

#header-avatar {
	float: left;
}

#header-avatar img {
	width: 50px;
	margin-right: 5px;
}

#header-user-info {
	width: 120px;
	border-right: 2px solid #000;
	float: left;
          padding-right: 4px;
}

#header-user-username {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
	font-size: .9em;
}

#header-user-points, #header-user-rank {
	font-size: .8em;
	width: 120px;
}

#header-user-rank {
	clear: both;
}

#header-user-points h3, #header-user-rank h3 {
	float: left;
	font: bold 18pt Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0;
	padding: 0;
}

#header-floor-info {
	width: 120px;
	float: left;
    margin-left: 4px;
}

#header-floor-name {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
	font-size: .9em;
}

#header-floor-points, #header-floor-rank {
	font-size: .8em;
	width: 120px;
}

#header-floor-rank {
clear: both;
}

#header-floor-points h3, #header-floor-rank h3 {
	float: left;
	font: bold 18pt Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0;
	padding: 0;
}

#header-floor-image {
	float: right;
}

#header-floor-image img {
	width: 50px;
	margin-left: 5px;
}
/********************** activities styles ******************************/


.content {
	clear: both;
	padding: 0 20px 0 20px;
}

#activity-events-scoreboard {
	clear: both;
	float: left;
	width: 375px;
}

#activity-categories {
	float: right;
	width: 512px;
}

#activity-events-box {
	padding: 0;
	}

#activity-events-box, #activity-scoreboard-box, #activity-categories {	
	background-color: #EBE7BC;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadow: 3px 3px 8px #000;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	padding-bottom: 8px;
	margin-bottom: 15px;
}

#activity-events-content, #activity-scoreboard-content {
	padding: 0;
	border: 0;
}

#activity-events-title, #activity-scoreboard-title, #activity-categories h3.activity-categories-title {
	background-color: #E3E3E3;
    background-image: -moz-linear-gradient(100% 50% 90deg, #E3E3E3, #A1A1A1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#A1A1A1), to(#E3E3E3));
			
	height: 29px;	
	margin: 0;
	padding: 0;
	height: 29px;
	line-height: 29px;
	font-weight: bold;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	
	border-bottom: 1px solid #000;
	}

#activity-events-content table, #activity-scoreboard-content table {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	width: 100%;
}

#activity-events-content table {
	border-bottom: 1px solid #000;
}

.event-title, .event-name, .event-date-title, .event-date {
	border-right: 1px solid #000;
}

.event-name {
	color: #DD0000;
	}

#activity-events-content th, #activity-scoreboard-content th {
	background-color: #dbd7af;
	padding: 4px;
	}

#activity-events-content td, #activity-scoreboard-content td {
	text-align: left;
	padding: 4px 4px 4px 20px;
}


#activity-categories {	
	margin: 0;
	padding-bottom: 10px;
	float: right;
}

table#activities-grid {
	padding-left: 4px;
	border: 0;
}

table#activities-grid td {
	padding: 1px;
	width: 53px;
	vertical-align: top;
}

table#activities-grid td table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
}

table#activities-grid td table td{
	padding: 1px;
	margin: 0;
	vertical-align: middle;
}


#activity-category {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#activity-catogory a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#activity-category p {
	margin: 0;
	padding: 0;
	}
	
#activity-category h3 {
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

#activity-category .get-started, #activity-category .basic-energy, #activity-category .lights-out, #activity-category .make-watts, #activity-category .moving-on, #activity-category .opala, #activity-category .wet-wild, #activity-category .potpourri {
	width: 53px;
	height: 40px; 
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-transform: capitalize;
	background-color: #FFF;
}

#activity-category .get-started div, #activity-category .basic-energy div, #activity-category .lights-out div, #activity-category .make-watts div, #activity-category .moving-on div, #activity-category .opala div, #activity-category .wet-wild div, #activity-category .potpourri div {
	position: relative; 
	font-size: 9pt;
	top: 35%;
	margin: -50% auto 0 auto;
	padding: 2px;
	}

.green, .brown, .olive, .orange, .red, .yellow-green {
	width: 53px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 2px 1px 2px 1px;
	}
.green {
	background-color: #70A21F;
	}
.brown {
	background-color: #845D18;
	}
.olive {
	background-color: #A09E43;
	}
.orange {
	background-color: #C18E22;
	}
.red {
	background-color: #AB441B;
	}
.yellow-green {
	background-color: #CBE02E;
	}
	
.green div, .brown div, .olive div, .orange div, .red div, .yellow-green div {	
	position: relative; 
	top: 25%;
	font-size: 9pt;
	padding: 2px;
}

.green p, .brown p, .olive p, .orange p, .red p, .yellow-green p {
	font-size: 12pt;
	font-weight: bold;	
}

#footer {
	clear: both;
}