@charset "UTF-8";
/* CSS Document */

/********************** activities styles ******************************/


.content {
	clear: both;
	padding: 0 20px 0 20px;
}

#activity-events-scoreboard {
	clear: both;
	float: left;
	width: 375px;
}

#activity-categories {
	float: right;
	width: 512px;
}

#activity-task-stats {
	clear: both;
	float: left;
	width: 375px;
}

#activity-task-stats-content {
	clear: both;
	width: 300px;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
}

#activity-task-details {
	float: right;
	width: 512px;
}

#activity-task-details-content {
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

#activity-task-form-content {
    float: center;
    text-align: left;
    padding-left: 30px;
    font: normal 10pt Arial, Helvetica, sans-serif;
}

#activity-task-form-content-button {
    padding-left: 100px;
}

.ui-widget-overlay {
    opacity: .80;
    filter: Alpha(Opacity=80);
}

h3.activity-categories-title {
	background-color: #E3E3E3;
    background-image: -moz-linear-gradient(100% 50% 90deg, #E3E3E3, #A1A1A1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#A1A1A1), to(#E3E3E3));
			
	height: 29px;	
	margin: 0;
	padding: 0;
	height: 29px;
	line-height: 29px;
	font-weight: bold;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	
	border-bottom: 1px solid #000;
	}

#activity-events-content table, #activity-scoreboard-content table {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	width: 100%;
}

.event-title, .event-name, .event-date-title, .event-date {
	border-right: 1px solid #000;
}

.event-name {
	color: #DD0000;
	}

#activity-events-content th, #activity-scoreboard-content th {
	background-color: #dbd7af;
	
	padding: 4px 4px 4px 8px;
	text-align: left;
	}

#activity-events-content td, #activity-scoreboard-content td {
	text-align: left;
	padding: 4px 4px 4px 8px;
}

#activity-scoreboard-content td  {
    padding-right: 30px;
}

#activity-categories {	
	margin: 0;
	padding-bottom: 10px;
	float: right;
}

table#activities-grid {
	padding-left: 4px;
	border: 0;
}

table#activities-grid td {
	padding: 1px;
	width: 53px;
	vertical-align: top;
}

table#activities-grid td table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
}

table#activities-grid td table td{
	padding: 1px;
	margin: 0;
	vertical-align: middle;
}


#activity-category {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#activity-catogory a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#activity-category p {
	margin: 0;
	padding: 0;
	}
	
#activity-category h3 {
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

#activity-category .get-started, #activity-category .basic-energy, #activity-category .lights-out, #activity-category .make-watts, #activity-category .moving-on, #activity-category .opala, #activity-category .wet-wild, #activity-category .potpourri {
	width: 53px;
	height: 40px; 
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-transform: capitalize;
	background-color: #FFF;
}

#activity-category .get-started div, #activity-category .basic-energy div, #activity-category .lights-out div, #activity-category .make-watts div, #activity-category .moving-on div, #activity-category .opala div, #activity-category .wet-wild div, #activity-category .potpourri div {
	position: relative; 
	font-size: 9pt;
	top: 35%;
	margin: -50% auto 0 auto;
	padding: 2px;
	}
    
.activity, .commitment, .event, .survey, .excursion, .yellow-green {
	width: 53px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 2px 1px 2px 1px;
	}
/* green */	
.activity {
	background-color: #70A21F;
	}
/* brown */
.commitment {
	background-color: #845D18;
	}
/* olive */
.event {
	background-color: #A09E43;
	}

/* orange */
.survey {
	background-color: #C18E22;
	}

/* red */
.excursion {
	background-color: #AB441B;
	}
	
.yellow-green {
	background-color: #CBE02E;
	}
	
.activity div, .commitment div, .event div, .survey div, .excursion div, .yellow-green div {	
	position: relative; 
	top: 15%;
	font-size: 9pt;
	padding: 2px;
}

.activity p, .commitment p, .event p, .survey p, .excursion p, .yellow-green p {
	font-size: 12pt;
	font-weight: bold;	
}
