.widget {
  margin: 10px 0;
  padding: 0;
}

.widget-title {
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
  text-align: center;
  cursor: auto;
}

.widget .widget-body {
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0px;
}

#profile-form-submit {
  text-align: center;
}

#profile-form-submit-button {
  margin: 5px 0;
}

#user-badge-table td {
  vertical-align: middle
}

.badge-text-header {
  width: 30%
}

.badge-achievement-header {
  width: 50%
}

#badge-catalog-link {
  text-align: center
}