.widget {
  margin: 10px 0;
  padding: 0;
}

.widget-title {
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
  text-align: center;
  cursor: auto;
}

.widget .widget-body {
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0px;
}

#prizes-list .widget-body form {
  text-align: center
}

#prize-table-header {
  width: 45%
}

#prize-awarded-header {
  width: 10%;
}

#prizes-info {
  border: 1px solid black; 
  margin: -1px; 
  margin: 10px 50px;
}

#raffle-user-tickets-header, #raffle-total-tickets-header, #raffle-odds-header {
  width: 10%;
}

#raffle-options-header {
  width: 30%;
}

#raffle-table .ui-button {
  width: 40px;
}

#raffle-table td img {
  display:inline;
}

#raffle-footer {
  text-align: center; 
  margin-bottom: 10px
}