ul {
  list-style: none;
}

.widget {
  margin: 10px 0;
  padding: 0;
}

.widget-title {
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
  text-align: center;
  cursor: auto;
}

.widget .widget-body {
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0;
}

#help-ask .widget-body {
  padding: 10px;
}

#ask-form {
  margin: 10px 0; height: auto
}

#ask-submit {
  margin: 0; 
  padding: 0
}

#ask-submit input {
  float: right
}