.widget {
  margin: 10px 0;
  padding: 0;
}

.widget-title {
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
  text-align: center;
  cursor: auto;
}

.widget .widget-body {
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0px;
}

/* semantic class names */
#profile-right {margin-right:0;padding-right:0;float:left;margin-right:10px;margin-right:0;width:310px;}
#profile-left, #profile-middle {float:left;margin-right:10px;width:310px;}
