{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  Prizes
{% endblock %}

{% block extra_head %}
  {% import_page_css "view_prizes" STATIC_URL CSS_THEME %}
{% endblock %}

{% block selected_icon %}selected-prizes{% endblock %}

{% block body %}
<div {% get_id_and_classes "prizes-list" %}>
  <div {% get_id_and_classes "prizes-list-box" %}>
    <div {% get_id_and_classes "prizes-list-title" %}>
      Prizes and Prize Winners
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'prizes'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "prizes-list-content" %}>
      {% include "view_prizes/prize_list.html" %}
    </div>
  </div>
</div>

{% include "view_prizes/raffle_box.html" %}
{% endblock %}

{% block extra_round_energy %}
  {# Note: contents are inserted into Javascript in the middle of the round iterator. #}
  {# Usage is already calculated for us there. #}
  {# See PROJECT_ROOT/templates/logged_in_base.html #}
  if ($("#{{key|slugify}}-leader") != null) {
    leader =  energyRank.insertLeader("{{key|slugify}}-leader", energyRank.calculateLeader(usage));
  }
{% endblock %}

{% block extra_body %}
  <script type="text/javascript">
    $(document).ready(function() {
      var height = 10 + (200 * {{prizes.items|length}});
      // $("#prizes-list-content").children().each(function(index, value) {
      //   if ($(value).height() > height) {
      //     height = $(value).height();
      //   }
      // });

      $("#prizes-list-content").after("<div id='prize-cycle-nav'>").cycle({
          height: "" + height + "px",
          pause: 1,
          timeout: 7000,
          pager: '#prize-cycle-nav'
      });
    });
  </script>
{% endblock %}