{% load class_tags %}
{% load markup %}

{% for name, prizes in prizes.items reversed %}
<table {% get_id_and_classes "prizes-list-table" %} {% if not forloop.first %}style="display:none"{% endif %}>
  <tr><th colspan=3 style="text-align: center">{{name}} prizes</th>
  </tr>
  <tr>
    <th {% get_id_and_classes "prizes-list-table-header" %}>Prize</th>
    <th {% get_id_and_classes "prizes-list-table-criteria-header" %}>Criteria</th>
  </tr>
  {% for prize in prizes %}
  <tr class="{% cycle '' 'alt-row' %}">
    <td class="{% insert_classes "prize-item" %}">
      {% if prize.image %}<img src="{{MEDIA_URL}}{{prize.image}}"/>{% endif %}
      <a id="{{name|slugify}}-{{prize.title|slugify}}-link" href="#">
        {{prize.title}}
      </a>
      <!-- Modal Dialog stuff -->
      <div id="{{name|slugify}}-{{prize.title|slugify}}" class="{% insert_classes 'prize-dialog' %}" title="{{name}}: {{prize.title}}">
        {{prize.long_description|markdown}}
        <div style="text-align: center"><input type="submit" value="OK" onclick='$("#{{name|slugify}}-{{prize.title|slugify}}").dialog("close");' /></div>
      </div>
      <script type="text/javascript">
        $("#{{name|slugify}}-{{prize.title|slugify}}").dialog({
          autoOpen: false,
          modal: true,
          close: function(event, ui) {
            log_js_action("prizes", "{{name|slugify}}-{{prize.title|slugify}}", "close");
          }
        });
        
        $("#{{name|slugify}}-{{prize.title|slugify}}-link").click(function() {
          log_js_action("prizes", "{{name|slugify}}-{{prize.title|slugify}}", "open");
          $("#{{name|slugify}}-{{prize.title|slugify}}").dialog("open");
        });
      </script>
    </td>
    <td>
      {{prize.short_description|markdown}} <br/>
      {% if prize.winner %}
        {% if prize.winner.points %}
        Winner: {{prize.winner}}
        {% else %}
        Winner: {{prize.winner|safe}}
        {% endif %}
      {% else %}
        {% if prize.current_leader.points %}
        Current leader: {{prize.current_leader}} 
        {% else %}
        Current leader: {{prize.current_leader|safe}}
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endfor %}
