{% load class_tags %}
{% load prize_tags %}
{% load markup %}

{% with user.get_profile.available_tickets as available_tickets %}
{% for prize in raffle.prizes %}
  <!-- {% cycle 'alt-row' '' as cycle_class %} -->
  {% with prize|user_tickets:user as user_tickets %}
  <tr class="{{cycle_class}}">
    <td class="{% insert_classes "prize-item" %}">
      <a id="raffle-{{prize.title|slugify}}" href="javascript:void(0);">
        {{prize.title}}
      </a>
      
      <div id="raffle-{{prize.title|slugify}}-description" class="{% insert_classes 'prize-dialog' %}" title="{{prize.title}}">
        {% if prize.image %}
        <img src="{{MEDIA_URL}}{{prize.image}}"/>
        {% endif %}
        {{prize.description|markdown}}
        <div style="text-align: center"><input type="submit" value="OK" onclick='$("#raffle-{{prize.title|slugify}}-description").dialog("close");' /></div>
      </div>
      
      <script type="text/javascript">
        $("#raffle-{{prize.title|slugify}}-description").dialog({
          autoOpen: false,
          modal: true,
          width: 325,
          close: function(event, ui) {
            log_js_action("prizes", "raffle-{{prize.title|slugify}}-description", "close");
          }
        });
        
        $("#raffle-{{prize.title|slugify}}").click(function() {
          log_js_action("prizes", "raffle-{{prize.title|slugify}}-description", "view");
          $("#raffle-{{prize.title|slugify}}-description").dialog("open");
        });
      </script>
    </td>
    <td class="{% insert_classes "prize-number" %}">{{prize.value|currency}}</td>
    <td class="{% insert_classes "prize-number" %} user-tickets">{{user_tickets}}</td>
    <td class="{% insert_classes "prize-number" %} total-tickets">{{prize.allocated_tickets}}</td>
    <td class="{% insert_classes "prize-number" %} user-odds">{# {{prize|user_odds:user}} #}</td>
    <td>
      {% if available_tickets > 0 %}
      <form action="{% url raffle_add_ticket prize.id %}" method="POST">
         {% csrf_token %}
        <a class="enabled" href="#" onclick="$(this).parent().submit(); return false;">+1</a>
      </form>
      {% else %}
      <div class="disabled">+1</div>
      {% endif %}
      {% if user_tickets > 0 %}
      <form action="{% url raffle_remove_ticket prize.id %}" method="POST">
	{% csrf_token %}
        <a class="enabled" href="#" onclick="$(this).parent().submit(); return false;">-1</a>
      </form>
      {% else %}
        <div class="disabled">-1</div>
      {% endif %}
    </td>
  </tr>
  {% endwith %}
{% endfor %}
{% endwith %}

<script type='text/javascript'>
  $(".user-odds").each(function(index) {
    var total = $(this).prev();
    var userTickets = total.prev();
    var odds = 0;
    if (parseFloat(total.html()) > 0.0) {
      var odds = parseFloat(userTickets.html()) * 100.0 / parseFloat(total.html());
    }
    $(this).html(odds.toFixed(1).toString() + "%");
    
  });
</script>
