html {
    height: 100%;
    max-width: 800px;
    font-size: 100.01%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    background-color: #FFF;
}

a:link {
    color: #555;
    font-weight: bold;
}

a:visited {
    color: #333;
    font-weight: bold;
}

a:hover, a:active {
    color: #c00;
}

hr.clear {
    border: none;
    margin: 0;
    padding: 0;
    height: 0;
    visibility: none;
    clear: both;
}

hr {
	opacity: 0.3;
	margin: -5px 0px 0px 0px;
}

#header {
    background: url("unlv.jpg") no-repeat top;
	background-color: #000;
	max-width: 800px;
	height: 70px;
}
#css_select {
	float: left;
}

#website_title {

	background: url("logoRed.gif") no-repeat bottom;
	background-color: #C00;
    width: 800px;
	height: 30px;
    margin: 22px 0 0 0 ;
    padding-top: -0.5em;
}



#login a {	
	margin: 0px 10px 0px 0px;
	padding-left: 20px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 0.7em;
	vertical-align: top;
    background-color: transparent;
    line-height: 1.5em;
}

#website_title h1 {
    color: #000;
	text-indent: -9999px;
    text-shadow: 1px 1px 1px #666;
    padding: 0 0 0.2em 0;
    margin: 0;
    font-size: 3em;
    letter-spacing: -1px;
}

#website_title h3 {
	float: right;
    text-decoration: none;
    color: red;
}

#website_title h1 a {
    text-decoration: none;
    color: transparent;
}

#color-wrapper { 
	height : 100%;
	max-width : 800px;     		
    background-color: #FFF;
}

#outline {
    margin-top:3px;
    max-width: 800px;
    background-color: #FFF;

}

#content-outline {
    max-width: 80%;
    float:left;
	margin: 2px 0px 20px 0px;
	background-color: #FFF;
	

}

#content {
    max-width: 99%;
	background-color: #FFF;
    padding: 0px;  
    font-size: 0.9em;
    line-height: 1.5em;
    color: #333;
    float: left;
}

#content .homepage_content_1 {
    width: 99%;
	background-color: #fff; 
	border: 1px solid #222; 
	padding-left: 8px; 
    margin: 2px 0px 2px 2px;
    float: left;
   
}

#content .homepage_content_2{
    float: left;
	width: 100%;
	height: auto;	
	background-color: #FFF; 
	border: 1px solid #222; 
	margin-left: 2px;
	margin-bottom: 5px;

}

#content .homepage_news {
    float: left;
	width: 49%;
	height: 275px;
	background-color: #FFC; 
	border: 1px solid #222;
	border-bottom: #transparent; 
	margin-top: 2px;
	margin-left: 2px;

}

	
#content .homepage_content_3 {
    float: right;
    border: 1px solid #222; 
	border-top: 1px solid #transparent;
	width: 49%;
	height: 275px;	
	background-color: #FFF; 
	margin: 2px -2px 0px 4px; 		
}


#content .homepage_content_5 {
    float: left;
    clear: left;
	width: 49%;
	height: 200px;
	
	background-color: #FFC; 
	border-left: 1px solid #222; 
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	margin-left: 2px;

}

#content .homepage_content_4 {
    float: right;
    clear: right;
	width: 49%;
	height: 200px;
	border-left: 1px solid #222; 
	border-right: 1px solid #222;
	border-bottom: 1px solid #222; 
	margin-right: -2px;
}


#content-outline h1 {
    color: #222;
    margin: 0 0 0.5em 0;
    text-shadow: 0 1px 0 #DDD;
}

#content-outline h1 {
    font-size: 2em;
}

#content-outline h2 {
    font-size: 1.7em;
    font-weight: normal;
    color: #35A;
    margin: 1em 0 0.5em 0;
}

#content-outline h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: #FFF;
    background-color: #777;
    margin: 0;
}

#content-outline h4 {
    font-size: 1em;
    font-weight: normal;
    color: #FFF;
    margin:  0;
}
#content p.image img {
    border: 1px solid #999;
}

#content p.image.left {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

#content p.image.right {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
}

#footer {
    background:url('foot.gif') no-repeat right;
    background-color: #000;
    text-align: right;
    margin-left: 185px;
    margin-bottom: 50px;
    margin-top: -60px;
    padding: 0px 20px 0px 20px;
    width:  598px;
    height: 60px;
    font-size: 0.7em;
    color: #ccc;
	float: right;

}

#footer p {
    margin: 1em 0 1em 0;
}


form.add-attachment {
    padding: 0.2em 1em;
    background-color: #eee;
    -webkit-box-shadow: 0 2px 3px #aaa;

}


/* MESSAGES */

ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
}
ul#messages li a {
    float: right;
    color: #693;
}

