/* GENERAL TAB STYLING */

#tabhead {
	background: url('topleftcorner.gif') no-repeat ;
	background-color: #777;
	padding-top: 40px;
    border-bottom: 1px solid #ccc;
	width: 19%;
	height: 850px;
	margin: 0px 4px;
    float:left;
}

#tabhead a:link,
#tabhead a:visited {
	background-color: #777;	
	margin: 0px 0px;
    display: block;
    color: #222;
    text-decoration: none;
    font-size: 0.9em;
	vertical-align: middle;
    padding: 0.75em 2em;
    padding-left: 55px;
    line-height: 1em;
}

#tabhead a:hover,
#tabhead a:active{
    background: url("flag_arrow.jpg") no-repeat left;
    background-color: #transparent;
    border-color: #transparent;
    color: #FFF;
}


/* SUBNAV */

#subnav{

    background-color: #777;
	margin: 8px 0px 0px 20% ;
	

}

#subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#subnav ul li {
    margin: 0;
    padding: 0;
}

#subnav a:link,
#subnav a:visited {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1em;
    padding: 0.5em;
    background-color: transparent;
}

#subnav a:hover {
    text-decoration: underline;
}

/* SITE-SPECIFIC TAB STYLING */

/* Active tabs */
#home_tab a.tab_home,
#resources_tab a.tab_resources,
#energy_tab a.tab_energy,
#billboard_tab a.tab_billboard,
#about_us_tab a.tab_about_us {	
    background: url("flag_arrow.jpg") no-repeat left;
    background-color: #777;
    border-color: transparent;
    color: #FFF;
}