{% load class_tags %}
{% load prize_tags %}
{% load markup %}

{% for prize in raffle.prizes %}
  <!-- {% cycle 'alt-row' '' as cycle_class %} -->
<!--  <tr class="{{cycle_class}}"-->
    <div class="ui-block-a" class="{% insert_classes "prize-item" %}">
      <a id="raffle-{{prize.title|slugify}}" href="{% url mobile_raffle %}/#item">
        {{prize.title}}
      </a>
      

      
      <!--script type="text/javascript">
        $("#raffle-{{prize.title|slugify}}-description").dialog({
          autoOpen: false,
          modal: true,
          close: function(event, ui) {
            log_js_action("prizes", "raffle-{{prize.title|slugify}}-description", "close");
          }
        });
        
        $("#raffle-{{prize.title|slugify}}").click(function() {
          log_js_action("prizes", "raffle-{{prize.title|slugify}}-description", "view");
          $("#raffle-{{prize.title|slugify}}-description").dialog("open");
        });
      </script-->
    </div>
    <div class="ui-block-b" class="{% insert_classes "prize-number" %}">{{prize.value|currency}}</div>
    <div class="ui-block-c" class="{% insert_classes "prize-number" %}">{{prize|user_tickets:user}}</div>
    <div class="ui-block-d" class="{% insert_classes "prize-number" %}">{{prize.allocated_tickets}}</div>
    <div class="ui-block-e" class="{% insert_classes "prize-number" %}">{{prize|user_odds:user}}</div>
    <div class="ui-block-f" data-role="controlgroup" data-type="horizontal">
      {% if user.get_profile.available_tickets > 0 %}
      <form action="{% url raffle_add_ticket prize.id %}" method="POST">
        <button class="enabled" type="submit">+1</button>
      </form>
      {% else %}
      <button class="disabled">+1</button>
      {% endif %}
      {% if prize|user_tickets:user > 0 %}
      <form action="{% url raffle_remove_ticket prize.id %}" method="POST">
        <button class="enabled" type="submit">-1</button>
      </form>
      {% else %}
        <button class="disabled">-1</button>
      {% endif %}
    </div>
  <!--/tr-->
{% endfor %}
