{% load class_tags %}
{% load prize_tags %}
{% load markup %}

{% for prize in raffle.prizes %}
  <!-- {% cycle 'alt-row' '' as cycle_class %} -->
<!--  <tr class="{{cycle_class}}"-->
    <div class="ui-block-a" class="{% insert_classes "prize-item" %}">
      <a id="raffle-{{prize.title|slugify}}" href="{% url mobile_raffle_item prize.title|slugify %}" data-rel="dialog">
        {{prize.title}}
      </a>
    </div>
    <!--div class="ui-block-b" class="{% insert_classes "prize-number" %}"></div-->
    <div class="ui-block-b" class="{% insert_classes "prize-number" %}">{{prize|user_tickets:user}}</div>
    <div class="ui-block-c" class="{% insert_classes "prize-number" %}">{{prize.allocated_tickets}}</div>
    <div class="ui-block-d" class="{% insert_classes "prize-number" %}">{{prize|user_odds:user}}</div>
    <div class="ui-block-e" data-role="controlgroup" data-type="horizontal" class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
      {% if user.get_profile.available_tickets > 0 %}
      <form action="{% url raffle_add_ticket prize.id %}" method="POST" >
        <button class="enabled" type="submit" data-icon="plus"></button>
      </form>
      {% else %}
      <button class="disabled" data-icon="plus"></button>
      {% endif %}
      {% if prize|user_tickets:user > 0 %}
      <form action="{% url raffle_remove_ticket prize.id %}" method="POST">
        <button class="enabled" type="submit" data-icon="minus"></button>
      </form>
      {% else %}
        <button class="disabled" data-icon="minus"></button>
      {% endif %}
    </div>
  <!--/tr-->
{% endfor %}
