.widget {
  margin: 10px 0;
  padding: 0;
}

.widget-title {
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
  text-align: center;
  cursor: auto;
}

.widget .widget-body {
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0px;
}

#prizes-list-content {
  padding: 10px 0;
}

#prizes-list-table img {
  display: inline;
}

#prizes-list-table-header {
  width: 45%
}

#prize-awarded-header {
  width: 10%;
}

#prizes-raffle-info {
  border: 1px solid black; 
  margin: -1px; 
  margin: 10px 50px;
}

#prizes-raffle-user-tickets-header, #prizes-raffle-total-tickets-header, #prizes-raffle-odds-header {
  width: 10%;
}

#prizes-raffle-options-header {
  width: 30%;
}

#prizes-raffle-table .ui-button {
  width: 40px;
}

#prizes-raffle-table td img {
  display:inline;
}

#prizes-raffle-footer {
  text-align: center; 
  margin-bottom: 10px
}

#prizes-raffle-footer-deadline {
  font-weight: bold;
  display: block;
}