.widget {
  margin: 10px 0;
  padding: 0;
}

.widget-title {
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
  text-align: center;
  cursor: auto;
}

.widget .widget-body {
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0px;
}

#energy-power-gauge {
  width: 200px; 
  background-color: #F5F3E5; 
  border: 1px solid green;
}

#energy-power-gauge-label {
  text-align: center;
  font-weight: bold
}

#energy-power-gauge-last-update {
  text-align: center;
  font-size: 10px;
}

#energy-power-box {
  width: 230px; background-color: #F5F3E5; border: 1px solid green
}

#energy-power-box-header {
  width: 200px; text-align: center; font-weight: bold
}

#energy-power-box-table-goal, #energy-power-box-table-actual {
  font-size: 12px; font-weight: bold
}

#energy-power-goal-info {
  width: 200px; text-align: center; font-weight: bold; font-size: 12px;
}

#energy-power-goal-updated {
  text-align: center; font-size: 10px
}