
<p/>
<div id="HeatMap">
      <div id="title" style="font-weight: bold; text-align: center;">Heat Map Analysis</div>

      <div id="control-dorm">
        Dorm :
        {% for dorm in all_dorms %}
          <input type="radio" name="heatmap-dorm" value="{{ dorm.name }}"
              {%  if user.get_profile.floor.dorm == dorm %} checked="checked" {% endif %}
                 onchange="updatePeriod();"/> {{ dorm.name }}

            {% for lounge in dorm.floors %}
                <input id="{{ lounge.floor_identifier}}" name="heatmap-lounge-{{ dorm.name }}" type="hidden"/>
            {% endfor %}

        {% endfor %}


      </div>

      <div id="control-period">
        Time :
        <input type="radio" name="period" value="last24hours" checked="checked" onchange="updatePeriod();" />
          last 24 hours 
        <input type="radio" name="period" value="last14days" onchange="updatePeriod();"/>
          last 14 days
      </div>

      

      <!-- Loading div that displays an animated gif, display is set to none when displaying a BioHeatMap -->
      <div id="loading"><img src="http://www.google.com/ig/images/spinner.gif" /></div>
    
      <!-- Container to display the BioHeatMap, style is set to display error messages -->
      <div id="datadiv" align="center" style="font-family: Arial;font-size: 12px;color: red"></div>
  
      <!-- Container to display when the Gadget was last updated. -->
      <div id="lastchecked" align="center" style="font-family: Arial;font-size: 12px;font-weight: bold;"> </div>
  
      <!-- Container to display the Gadget's onboard options to change Time / Date. -->
      <div id="onboardoptions" style="font-family: Arial;font-size: 12px"></div>
  
      <!-- Container to display the Time / Date pickers -->
      <div id="onboarduidiv" style="font-family: Arial;font-size: 12px;display: none"></div>
      
      <p/>
      <div id="description" style="margin-left: 210px; text-align: left; width: 510px;">
      Greener areas note when energy usage was particularly low while redder areas note when the values are particularly high. 
      By using this you are comparing the values within your data range and not beyond it, so in some instances a greener spot may not be classified as that when compared with other dates.
      You can use this visualization to find the times when you are comparatively using the most resources and take steps to decrease that value.
      </div>
</div>


  <script type="text/javascript" src="{{ STATIC_URL}}/js/prototype.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL}}/js/bioheatmap.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}/js/org.wattdepot.makahiki.HeatMap.js"></script> 
