  <script type="text/javascript" src="{{ STATIC_URL}}/js/org.wattdepot.makahiki.HotSpot.js"></script>
  
  
<div id="hotSpotChart">
  
    <div id="title" style="font-weight: bold; text-align: center;">
      Hot Spot Analysis : Lounge  
        <select id='lounge' onchange='updateLounge();'>
                {% for lounge in all_lounges %}
                  <option {%if user.get_profile.get_lounge_name == lounge.floor_identifier %} selected {% endif %}
                          value='{{ lounge.floor_identifier}}'>{{ lounge.floor_identifier}}
                  </option>
                {% endfor %}
        </select>
    </div>
    <p/>
    
    <!-- Loading div that displays an animated gif, display is set to none when displaying a BioHeatMap -->
    <div id="loading"><img src="{{STATIC_URL}}/images/spinner.gif" /></div>

    <div id="img"></div>
    <div id="tooltip" style="margin-left: 210px;"></div>
   
    <div style="display: none" id="chart_div"></div>

    <!-- Container to display when the Gadget was last updated. -->
    <div id="lastchecked" align="center" style="font-family: Arial;font-size: 12px;font-weight: bold;"> </div>

    <p/>
    <div id="caption" style="font-weight: bold; margin-left: 210px; text-align: left; width: 510px;">
    Bigger spots mean more energy used. Red spots are the top five spots that consume the most energy.
    </div>
    
    <div id="description" style="margin-left: 210px; text-align: left; width: 510px;">
 
     <p>
    This visualization shows the relative level of energy consumption over
    the past 7 days for a single lounge. 
    
    The size of the dot indicates the relative energy consumption during that hour.
    
    You can use this visualization to look for trends in energy data, such
    as days (rows) or hours of the day (columns) with relatively large (or
    small) consumption.
    
    </div>

     <div style="display: none" id="chart_div"></div>
</div>