{% load class_tags %}
<ul {% get_id_and_classes "canopy-viz-list" %} >

  <li id="canopy-hot-spot-link" 
    {% if viz == '1' %} 
      class="selected"
    {% endif %}  
   >
    <h3><a href="/canopy?viz=1">Hot Spots</a></h3>
  </li>
  <li>|</li>
  <li id="canopy-heat-map-link"
    {% if viz == '2' %} 
      class="selected"
    {% endif %}  
  >
    <h3><a href="/canopy?viz=2">Heat Map</a></h3>
  </li>
  <li>|</li>
   <li id="canopy-wattdepot-link"
    {% if viz == '3' %}
      class="selected"
    {% endif %}  
    >
    <h3><a href="/canopy?viz=3">Line Graph</a></h3>
  </li>
   <li>|</li>
   <li id="canopy-power-meters-link"
      {% if viz == '4' %}
        class="selected"
      {% endif %}
      >
      <h3><a href="/canopy?viz=4">Power Meters</a></h3>
   </li>
</ul>

<div {% get_id_and_classes "canopy-visualizations" %}>
  {% if viz == None %}
  <div style='margin-left: 250px; width: 500px; text-align:left;'>
    "You can't manage what you can't measure".
    In the canopy, you can work with several advanced visualizations to measure the live energy data in the dorms. 
    <p/>
    <b>Click on the link above to see the advanced energy data visualizations.</b>
  </div>
  {% endif %}
  
  {% if viz == '1' %}
      {% include "canopy/visualizations/hot_spots.html" %}
  {% endif %}
    
  {% if viz == '2' %}
      {% include "canopy/visualizations/heat_map.html" %}
  {% endif %}
  
  {% if viz == '3' %}
      {% include "canopy/visualizations/wattdepot_visualizer.html" %}
  {% endif %}

  {% if viz == '4' %}
        {% include "canopy/visualizations/power_meters.html" %}
  {% endif %}

</div>

<script type="text/javascript">
  
  // Use jQuery via jQuery(...)
  jQuery(document).ready(function(){
            
    jQuery("#canopy-viz-list li").click(function() {    
      
      if(!jQuery(this).hasClass("selected")) {
        jQuery("#canopy-viz-list li").removeClass("selected");
        jQuery(this).addClass("selected");
      }
      
      //return false;
    });

  });
                
</script>