{% if activities_enabled %}
  {% load activity_tags %}
  
  <!--<ul class="tabs">
    <li><a href="#commitments">Commitments</a></li>
    <li><a href="#activities">Activities</a></li>
    <li><a href="#goals">Goals</a></li>
  </ul>-->
  <div id="commitments" class="activity_item ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    {% include "activities/profile/commitments.html" %}
  </div>

  <div id="activities" class="activity_item ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    {% include "activities/profile/activities.html" %}
  </div>
  
  <div id="goals" class="activity_item ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    {% include "activities/profile/goals.html" %}
  </div>
{% endif %}