{% if user.get_profile.floor and user.get_profile.floor.wattdepot_source %}
<div class="monitor-item ui-corner-all ui-accordion ui-widget ui-accordion-icons">
  <div class="ui-accordion-header ui-corner-top activity_header">
    Your floor&apos;s power usage:
  </div>
  
  <div id="power_monitor" class="monitor_item ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
    <div id="powertitle" align="center"></div>
    <div id="powerdata" align="center"><img src="http://www.google.com/ig/images/spinner.gif" /></div>
    <div id="powerlastcheck" align="center"></div>
  </div>
</div>

<div class="monitor-item ui-corner-all ui-accordion ui-widget ui-accordion-icons">
  <div class="ui-accordion-header ui-corner-top activity_header">
    Your floor&apos;s energy usage:
  </div>
  
  <div id="energy_monitor" class="monitor_item ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
    <div id="energytitle" align="center"></div>
    <div id="energydata" align="center"><img src="http://www.google.com/ig/images/spinner.gif" /></div>
    <div id="energylastcheck" align="center"></div>
  </div>
</div>

  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/monitor.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      dorm = "Ilima";
      floor= "3 - 4";
      charturl = 'http://spreadsheets.google.com/tq?key=0Av0U6TKHfzXYdG1vUnduR0RVTktyR1ZtNjAtSE9Qbmc&range=A3:F21&gid=0';
      initializeMonitor(charturl, dorm, floor);
    })
  </script>
{% endif %}
