{% extends "kukui_cup_profile/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}

{% block extra_head %}
  <!-- <script type="text/javascript">
    //Thanks to http://www.sohtanaka.com/web-design/simple-tabs-w-css-jquery/
    jQuery(document).ready(function() {

    	//When page loads...
    	jQuery(".activity_content").hide(); //Hide all content
    	jQuery("ul.tabs li:first").addClass("active").show(); //Activate first tab
    	jQuery(".activity_content:first").show(); //Show first tab content

    	//On Click Event
    	jQuery("ul.tabs li").click(function() {

    		jQuery("ul.tabs li").removeClass("active"); //Remove any "active" class
    		jQuery(this).addClass("active"); //Add "active" class to selected tab
    		jQuery(".activity_content").hide(); //Hide all tab content

    		var activeTab = jQuery(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
    		jQuery(activeTab).fadeIn(); //Fade in the active ID content
    		return false;
    	});

    });
  </script> -->
{% endblock %}

{% block head_title %}
  {% if is_me %}
    My profile
  {% else %}
    {% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block tab_id %}"#profile_tab"{% endblock %}

{% block body %}
  <div id="profile_left" class="profile_content">
      <div id="profile_avatar">
          <div><img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo" /></div>
          {% if is_me %}
          <a href="{% url avatar_change %}" id="avatar_replace">(replace)</a>
          {% endif %}
      </div>
      {% if is_me %}
          <h3>{% blocktrans %}My Profile{% endblocktrans %}</h3>
      {% else %}
        {% if other_user.get_profile.name %}
          <h3>{% blocktrans %}Profile for <span class="nickname">{{ other_user.get_profile.name }}</span>{% endblocktrans %}</h3>
        {% else %}
          <h3>{% blocktrans %}Profile for <span class="fn nickname">{{ other_user }}</span>{% endblocktrans %}</h3>
        {% endif %}
      {% endif %}
  
      <div class="profile_info">
          {% if other_user.get_profile.name %}<p><b>{% trans "Name" %}</b>: <span class="fn">{{ other_user.get_profile.name }}</span></p>{% endif %}
          {% if other_user.get_profile.floor %}
            <p><b>{% trans "Dorm" %}</b>: <span class="fn">{{ other_user.get_profile.floor.dorm.name }}</span></p>
            <p><b>{% trans "Floor" %}</b>: <span class="fn">{{ other_user.get_profile.floor.floor_number }}</span></p>
          {% endif %}
          {% if other_user.get_profile.about %}<p><b>{% trans "About" %}</b>: {{ other_user.get_profile.about }}</p>{% endif %}
          <p><b>{% trans "Kukui Nuts" %}</b>: {{ other_user.get_profile.points }}</p>
      </div>
  
      {% if is_me %}
          <p><a href="{% url profile_edit %}" rel="facebox">Edit profile</a></p>
      {% endif %}
  
  </div>
  <div id="profile_center" class="profile_content">
      {% include "kukui_cup_profile/activity_panel.html" %}
  </div>
  
  <div id="profile_right" class="profile_content">
    {% include "kukui_cup_profile/monitor_panel.html" %}
  </div>
{% endblock %}


{% block extra_body %}
    <script type="text/javascript">
    </script>
{% endblock %}