{% load class_tags %}
{% load avatar_tags %}

<td class="badge-image">
  {% if badge in awarded_badges %}
    <img src="{{STATIC_URL}}{{badge.image}}"/>
  {% else %}
    
  {% endif %}
</td>
<td class="badge-name">
  {% if badge in awarded_badges %}
    {{badge.name}}
  {% else %}
    Locked
  {% endif %}
</td>
<td class="badge-description">
  {% if badge in awarded_badges %}
    {{badge.description.0}}
  {% else %}
    Hint: {{badge.hint}}
  {% endif %}
</td>
<td>
  {% if badge.total_users > 0 %}
  {{badge.total_users}} pe{{ badge.total_users|pluralize:"rson has,ople have"}} this badge ({{badge.floor_users.count}} in your {{FLOOR_LABEL.lower}})
  <ul style="list-style: none; padding: 0">
    {% for user in badge.floor_users %}
      <li style="display: inline"><img src="{% avatar_url user 30 %}" alt="{{user.get_profile.name}}"/></li>
    {% endfor %}
  </ul>
  {% else %}
    Be the first to get this badge!
  {% endif %}
</td>