{% for log in points_logs %}
  <tr>
    <td>{{log.submission_date|date:"n/j/y"}}</td>
    {# Determine if the log is an activity #}
    {% if log.related_object %}
      {# Need to handle the various types of objects #}
      {% with log.related_object as member %}
        {% if member.commitment or member.activity %}
          {% if member.commitment %}
          <td>
            <a href="{% url activity_task 'commitment' member.commitment.slug %}">
              {{log.message}}
            </a>
          </td>
          {% else %}
          <td>
            <a href="{% url activity_task member.activity.type member.activity.slug %}">
              {{log.message}}
            </a>
          </td>
          {% endif %}
          <td>{{log.points}}</td>
        {% else %}
          <td>{{log.message}}</td>
          <td>{{log.points}}</td>
        {% endif %}
      {% endwith %}
    {% else %}
      <td>{{log.message}}</td>
      <td>{{log.points}}</td>
    {% endif %}
  </tr>
{% endfor %}

