{% load avatar_tags %}
{% load class_tags %}

<form {% get_id_and_classes "profile-form-contents" %} action="{% url profile_index %}" method="post">
  {% csrf_token %}
  {% if form.message %}
  <div style="text-align: center">
    <span {% get_id_and_classes "profile-form-message" %}>{{form.message}}</span>
  </div>
  {% endif %}
  
  <table {% get_id_and_classes "profile-form-table" %}>
    <tr {% get_id_and_classes "profile-form-general" %}>
      <td colspan="2" {% get_id_and_classes "profile-form-general-header" %}>General</td>
    </tr>
    {% if form.display_name.errors %}
    <tr><td colspan="2">{{form.display_name.errors}}</td></tr>
    {% endif %}
    <tr {% get_id_and_classes "profile-form-display-name" %}>
      <td {% get_id_and_classes "profile-form-display-name-label" %}>{{form.display_name.label_tag}}</td>
      <td {% get_id_and_classes "profile-form-display-name-fields" %}>{{form.display_name}}</td>
    </tr>
    <tr {% get_id_and_classes "profile-form-picture" %}>
      <td {% get_id_and_classes "profile-form-picture-label" %}><label for="picture">Picture</label></td>
      <td {% get_id_and_classes "profile-form-picture-change" %}>
        <img src="{% avatar_url user 60 %}"/>
        <a href="{% url avatar_change %}" style="padding-left: 15px">change picture</a>
      </td>
    </tr>
    {# <tr {% get_id_and_classes "profile-form-logged-in" %}> #}
    {#       <td {% get_id_and_classes "profile-form-logged-in-label" %}>{{form.stay_logged_in.label_tag}}</td> #}
    {#       <td>{{form.stay_logged_in}}</td> #}
    {#     </tr> #}
    {# <tr {% get_id_and_classes "profile-form-enable-help" %}> #}
    {#   <td>{{form.enable_help.label_tag}}</td> #}
    {#   <td>{{form.enable_help}}</td> #}
    {# </tr> #}
    <tr {% get_id_and_classes "profile-form-contact" %}>
      <td {% get_id_and_classes "profile-form-contact-header" %} colspan="2">Reminder Settings</td>
    </tr>
    {% if form.contact_email.errors %}
    <tr><td colspan="2">{{form.contact_email.errors}}</td></tr>
    {% endif %}
    <tr {% get_id_and_classes "profile-form-contact-email" %}>
      <td {% get_id_and_classes "profile-form-contact-email-label" %}><label for="id_event_email">Email</label></td>
      <td {% get_id_and_classes "profile-form-contact-email-fields" %}>{{form.contact_email}}</td>
    </tr>
    {% if form.contact_text.errors %}
    <tr><td colspan="2">{{form.contact_text.errors}}{{form.contact_carrier.errors}}</td></tr>
    {% endif %}
    <tr {% get_id_and_classes "profile-form-contact-text" %}>
      <td {% get_id_and_classes "profile-form-contact-text-label" %}><label for="id_event_text">Text</label></td>
      <td {% get_id_and_classes "profile-form-contact-text-fields" %}>
        {{form.contact_text}}
        {{form.contact_carrier}}
      </td>
    </tr>
    </tr>
  </table>
  <div {% get_id_and_classes "profile-form-submit" %}>
    <a href="#" {% get_id_and_classes "profile-form-submit-button" %}>Save Changes</a>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#profile-form-submit-button").click(function() {
          $(this).parents("form").submit();
        });
      });
    </script>
  </div>
</form>