{% load class_tags %}
{% load markup %}

<table {% get_id_and_classes "profile-history-current-table" %}>
  <tr {% get_id_and_classes "profile-history-current-table-header" %}>
    <th {% get_id_and_classes "profile-history-current-date-header" %}>Date</th>
    <th {% get_id_and_classes "profile-history-current-task-header" %}>Task</th>
    <th {% get_id_and_classes "profile-history-current-status-header" %}>Status</th>
  </tr>
  {% for member in in_progress_members %}
    {% if member.activity %}
    <tr>
      <td>{{member.created_at|date:"n/j/y"}}</td>
      <td>
        <a href="{% url activity_task member.activity.type member.activity.slug %}">
          {{member.activity.type.capitalize}}: {{member.activity.name}}
        </a>
      </td>
      {% if member.approval_status == "pending" and member.activity.type == "activity" %}
      <td title="Your request needs administrator approval.">
        {{member.approval_status.capitalize}}
      {% else %}
        {% if member.approval_status == "pending" %}
        <td title="You have signed up for the {{member.activity.type}}">
          {{member.approval_status.capitalize}}
        {% else %}
        {# Item is not pending and is not approved, so it should be rejected. #}
        <td title="Your request has not been approved.">
          <a id="{{member.activity.title|slugify}}-rejected" href="#">{{member.approval_status.capitalize}}</a>
          
          <div id="{{member.activity.title|slugify}}-rejected-dialog" 
              title="{{member.activity.title}}" style="display:none">
            <p>Your response for this activity was not approved.  Here's the feedback from the administrator:</p>
            <div style="font-style:italic">{{member.admin_comment|markdown}}</div>
            <p><a href="{% url activity_task member.activity.type member.activity.slug %}">Go to the activity page</a> to try again.</p>
            
            <input type="submit" value="OK" onclick='$("#{{member.activity.title|slugify}}-rejected-dialog").dialog("close");' />
          </div>
          <script type="text/javascript">
            $(document).ready(function() {
              $("#{{member.activity.title|slugify}}-rejected-dialog").dialog({
                modal: true,
                autoOpen: false,
                open: function(event, ui) {
                  log_js_action("profile", "{{member.activity.title|slugify}}-rejected", "dialog-open");
                },
                close: function(event, ui) {
                  log_js_action("profile", "{{member.activity.title|slugify}}-rejected", "dialog-close");
                }
              });
              
              $("#{{member.activity.title|slugify}}-rejected").click(function() {
                $("#{{member.activity.title|slugify}}-rejected-dialog").dialog("open");
              });
            });
          </script>
        {% endif %}
      {% endif %}
      </td>
    </tr>
    {% else %}
    <tr>
      <td>{{member.created_at|date:"n/j/y"}}</td>
      <td>
        <a href="{% url activity_task 'commitment' member.commitment.slug %}">
          Commitment: {{member.commitment.name}}
        </a>
      </td>
      <td title="The commitment is still active.">In Progress</td>
    </tr>
    {% endif %}
  {% endfor %}
</table>