{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  Compete for Prizes
{% endblock %}

{% block extra_head %}
  {% import_page_css "view_prizes" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "prizes-list" %}>
  <div {% get_id_and_classes "prizes-list-box" %}>
    <div {% get_id_and_classes "prizes-list-title" %}>
      Prizes and Prize Winners
    </div>
    <div {% get_id_and_classes "prizes-list-content" %}>
      <form>
        <select>
          <option>Round 1</option>
          <option>Round 2</option>
          <option>Overall</option>
        </select>
      </form>
      
      <table {% get_id_and_classes "prizes-list-table" %}>
        <tr>
          <th {% get_id_and_classes "prizes-list-table-header" %}>Prize</th>
          <th {% get_id_and_classes "prizes-list-table-awarded-header" %}>Number awarded</th>
          <th {% get_id_and_classes "prizes-list-table-criteria-header" %}>Criteria</th>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/ipod-nano.jpg"/>
            <a href="#">
              iPod Nano
            </a>
          </td>
          <td>1</td>
          <td>
            Won by the #1 individual point getter across all residence halls. <br/>
            Winner: TBD
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/Pizza.jpg"/>
            <a href="#">
              Pizza party
            </a>
          </td>
          <td>3</td>
          <td>
            Won by the #1 lounge energy conserver in each residence hall.<br/>
            Winner: TBD
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/ice-cream-cone.jpg"/>
            <a href="#">
              Ice cream party
            </a>
          </td>
          <td>3</td>
          <td>
            Won by the #1 lounge point getter in each residence hall.<br/>
            Winner: TBD
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div {% get_id_and_classes "prizes-raffle" %}>
  <div {% get_id_and_classes "prizes-raffle-box" %}>
    <div {% get_id_and_classes "prizes-raffle-title" %}>
      Round 1 Raffle Game
    </div>
    <div {% get_id_and_classes "prizes-raffle-content" %}>
      <div {% get_id_and_classes "prizes-raffle-info" %}>
        Your total raffle tickets: 2 Allocated right now: 1 Available: 1
      </div>
      <table {% get_id_and_classes "prizes-raffle-table" %}>
        <tr>
          <th {% get_id_and_classes "prizes-raffle-prize-header" %}>Prize</th>
          <th {% get_id_and_classes "prizes-raffle-user-tickets-header" %}>Your tickets</th>
          <th {% get_id_and_classes "prizes-raffle-total-tickets-header" %}>Total tickets</th>
          <th {% get_id_and_classes "prizes-raffle-odds-header" %}>Current odds</th>
          <th {% get_id_and_classes "prizes-raffle-options-header" %}>Change ticket allocation</th>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/bikehelmet.jpg"/>
            <a href="#">
              Bike helmet 
            </a>
          </td>
          <td>1</td>
          <td>5</td>
          <td>0%</td>
          <td>
            <a class="{% insert_classes "prizes-add-button" %}" href="#">+1</a>
            <a class="{% insert_classes "prizes-remove-button" %}" href="#">-1</a>
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/surf_lessons.jpg"/>
            <a href="#">
              Surf lessons
            </a>
          </td>
          <td>0</td>
          <td>13</td>
          <td>0%</td>
          <td>
            <a class="{% insert_classes "prizes-add-button" %}" href="#">+1</a>
            <a class="{% insert_classes "prizes-disabled-button" %}" href="#">-1</a>
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/carbon-credits.jpg"/>
            <a href="#">
              Carbon credits
            </a>
          </td>
          <td>0</td>
          <td>10</td>
          <td>N/A</td>
          <td>
            <a class="{% insert_classes "prizes-add-button" %}" href="#">+1</a>
            <a class="{% insert_classes "prizes-disabled-button" %}" href="#">-1</a>
          </td>
        </tr>
      </table>
      <div id="prizes-raffle-footer">
        You receive 1 raffle ticket for every 25 awarded Kukui Cup points.<br/>
        <span id="prizes-raffle-footer-deadline">Deadline for allocating tickets for Round 1 Raffle: Sunday, October 9, 2011, 8pm</span>
        Round 1 raffle winners to be notified via email on Monday, October 10, 2011 at 10am
      </div>
    </div>
  </div>
</div>
{% endblock %}