{% extends "logged_in_base.html" %}

{% block page_title %}
  Compete for Prizes
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL}}css/{{CSS_THEME}}/pages/view_prizes.css">
{% endblock %}

{% block body %}
<div class="span-11">
  <div class="widget ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="widget-title ui-state-active ui-accordion-header ui-corner-top">
      Prizes and Prize Winners
    </div>
    <div class="widget-body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
      <form style="text-align: center">
        <select>
          <option>Round 1</option>
          <option>Round 2</option>
          <option>Overall</option>
        </select>
      </form>
      
      <table>
        <tr>
          <th style="width: 45%">Prize</th>
          <th style="width: 10%">Number awarded</th>
          <th>Criteria</th>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/ipod-nano.jpg" style="display:inline"/>
            <a href="#">
              iPod Nano
            </a>
          </td>
          <td>1</td>
          <td>
            Won by the #1 individual point getter across all residence halls. <br/>
            Winner: TBD
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/Pizza.jpg" style="display:inline"/>
            <a href="#">
              Pizza party
            </a>
          </td>
          <td>3</td>
          <td>
            Won by the #1 lounge energy conserver in each residence hall.<br/>
            Winner: TBD
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/ice-cream-cone.jpg" style="display:inline"/>
            <a href="#">
              Ice cream party
            </a>
          </td>
          <td>3</td>
          <td>
            Won by the #1 lounge point getter in each residence hall.<br/>
            Winner: TBD
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="span-13 last">
  <div class="widget ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="widget-title ui-state-active ui-accordion-header ui-corner-top">
      Round 1 Raffle Game
    </div>
    <div class="widget-body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
      <div class="span-10 last" style="border: 1px solid black; margin: -1px; margin: 10px 50px">
        Your total raffle tickets: 2 Allocated right now: 1 Available: 1
      </div>
      <table>
        <tr>
          <th>Prize</th>
          <th style="width: 10%">Your tickets</th>
          <th style="width: 10%">Total tickets</th>
          <th style="width: 10%">Current odds</th>
          <th style="width: 30%">Change ticket allocation</th>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/bikehelmet.jpg" style="display:inline"/>
            <a href="#">
              Bike helmet 
            </a>
          </td>
          <td>1</td>
          <td>5</td>
          <td>0%</td>
          <td>
            <a class="ui-button ui-state-default ui-corner-all" style="width: 40px" href="#">+1</a>
            <a class="ui-button ui-corner-all ui-state-error" style="width: 40px" href="#">-1</a>
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/surf_lessons.jpg" style="display:inline"/>
            <a href="#">
              Surf lessons
            </a>
          </td>
          <td>0</td>
          <td>13</td>
          <td>0%</td>
          <td>
            <a class="ui-button ui-state-default ui-corner-all" style="width: 40px" href="#">+1</a>
            <a class="ui-button ui-corner-all ui-state-disabled" style="width: 40px" href="#">-1</a>
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/prizes/carbon-credits.jpg" style="display:inline"/>
            <a href="#">
              Carbon credits
            </a>
          </td>
          <td>0</td>
          <td>10</td>
          <td>N/A</td>
          <td>
            <a class="ui-button ui-state-default ui-corner-all" style="width: 40px" href="#">+1</a>
            <a class="ui-button ui-corner-all ui-state-disabled" style="width: 40px" href="#">-1</a>
          </td>
        </tr>
      </table>
      <div style="text-align: center; margin-bottom: 10px">
        You receive 1 raffle ticket for every 25 awarded Kukui Cup points.<br/>
        <span style="font-weight: bold">Deadline for allocating tickets for Round 1 Raffle: Sunday, October 9, 2011, 8pm</span><br/>
        Round 1 raffle winners to be notified via email on Monday, October 10, 2011 at 10am
    </div>
  </div>
</div>
{% endblock %}