{% load class_tags %}

{% for name, prizes in prizes.items reversed %}
<table {% get_id_and_classes "prizes-list-table" %}>
  <tr><th colspan=3 style="text-align: center">{{name}} prizes</th>
  </tr>
  <tr>
    <th {% get_id_and_classes "prizes-list-table-header" %}>Prize</th>
    <th {% get_id_and_classes "prizes-list-table-awarded-header" %}>Number awarded</th>
    <th {% get_id_and_classes "prizes-list-table-criteria-header" %}>Criteria</th>
  </tr>
  {% for prize in prizes %}
  <tr>
    <td>
      <img src="{{MEDIA_URL}}{{prize.image}}"/>
      <a href="#">
        {{prize.title}}
      </a>
    </td>
    <td>{{prize.num_awarded}}</td>
    <td>
      {{prize.description}} <br/>
      Current leader: {{prize.current_leader}}
    </td>
  </tr>
  {% endfor %}
</table>
{% endfor %}