{% load class_tags %}
{% load prize_tags %}

{% for prize in raffle.prizes %}
  <!-- {% cycle 'alt-row' '' as cycle_class %} -->
  <tr class="{{cycle_class}}">
    <td class="{% insert_classes "prize-item" %}">
      <img src="{{MEDIA_URL}}{{prize.image}}" width="50"/>
      <a href="#">
        {{prize.title}}
      </a>
    </td>
    <td class="{% insert_classes "prize-number" %}">{{prize|user_tickets:user}}</td>
    <td class="{% insert_classes "prize-number" %}">{{prize.allocated_tickets}}</td>
    <td class="{% insert_classes "prize-number" %}">{{prize|user_odds:user}}</td>
    <td>
      {% if user.get_profile.available_tickets > 0 %}
      <form action="{% url raffle_add_ticket prize.id %}" method="POST">
        <a class="enabled" href="#" onclick="$(this).parent().submit()">+1</a>
      </form>
      {% else %}
      <a class="disabled" href="#">+1</a>
      {% endif %}
      {% if prize|user_tickets:user > 0 %}
      <form action="{% url raffle_remove_ticket prize.id %}" method="POST">
        <a class="enabled" href="#" onclick="$(this).parent().submit()">-1</a>
      </form>
      {% else %}
        <a class="disabled" href="#">-1</a>
      {% endif %}
    </td>
  </tr>
{% endfor %}