{% load class_tags %}
{% load prize_tags %}

{% for prize in raffle.prizes %}
  <!-- {% cycle 'alt-row' '' as cycle_class %} -->
  <tr class="{{cycle_class}}">
    <td class="{% insert_classes "prize-item" %}">
      <img src="{{MEDIA_URL}}{{prize.image}}" width="50"/>
      <a href="#">
        {{prize.title}}
      </a>
    </td>
    <td class="{% insert_classes "prize-number" %}">{{prize|user_tickets:user}}</td>
    <td class="{% insert_classes "prize-number" %}">{{prize.allocated_tickets}}</td>
    <td class="{% insert_classes "prize-number" %}">{{prize|user_odds:user}}</td>
    <td>
      <a class="{% insert_classes "prizes-add-button" %}" href="#">+1</a>
      <a class="{% insert_classes "prizes-remove-button" %}" href="#">-1</a>
    </td>
  </tr>
{% endfor %}