{% load class_tags %}

<table {% get_id_and_classes "prizes-raffle-table" %}>
  <tr>
    <th {% get_id_and_classes "prizes-raffle-prize-header" %}>Prize</th>
    <th {% get_id_and_classes "prizes-raffle-value-header" %}>Value</th>
    <th {% get_id_and_classes "prizes-raffle-user-tickets-header" %}>Your tickets</th>
    <th {% get_id_and_classes "prizes-raffle-total-tickets-header" %}>Total tickets</th>
    <th {% get_id_and_classes "prizes-raffle-odds-header" %}>Current odds</th>
    <th {% get_id_and_classes "prizes-raffle-options-header" %}>Change ticket allocation</th>
  </tr>
  {% include "view_prizes/raffle_list.html" %}
</table>
<div id="prizes-raffle-footer">
  You receive 1 raffle ticket for every {{raffle.points_per_ticket}} awarded Kukui Cup points.<br/>
  These tickets are separate from your score and will not affect your rank.<br/>
  <span id="prizes-raffle-footer-deadline">Deadline for {{deadline.round_name}} submissions: {{deadline.end_date|date:"l, F j, Y"}}, {{deadline.end_date|date:"gA"}}</span>
  Winners will be announced at the upcoming awards party and via email. <br/> 
  Raffle tickets not allocated in the current round will be available for use in the next round.
</div>