{% load class_tags %}

{% if QUEST_HELP %}
<div id="quest-help-dialog" title="{{QUEST_HELP.title}}" style="display: none">
  <div style="text-align:left">
    <div id="quest-help-content">
      {{QUEST_HELP.contents}}
    </div>
    </p>
    <center>
      <input type="submit" value="OK" onclick='$("#quest-help-dialog").dialog("close");' /> 
    </center>
  </div>
</div>

<img {% get_id_and_classes "quest-help-icon" %} 
  src="{{ STATIC_URL }}/css/default/images/icon-help-sm.png"
  title="Click to get help about this window" />
{% endif %}