{% if QUESTS.completed_quests %}
  <div id="quest-complete-dialog" title="Congratulations!" style="display: none">
    <img src="{{STATIC_URL}}css/default/images/logo.png" title="Home" style="display: block; float:left;"/>
    <div style="float:right">
      Great job!  You completed the following quest(s):
      <ul>
        {% for quest in QUESTS.completed_quests %}
        <li>{{quest.name}}</li>
        {% endfor %}
      </ul>
    </div>
    <div style="clear:both"></div>
  </div>
{% endif %}