/* Hack to hide close button in dialog box.*/
.ui-dialog .ui-dialog-titlebar-close { display: none; }

#id_about {
  height: 50px;
}

#home-news, #home-prizes, #home-help, #home-profile {
  text-align: center;
}

#home-energy {
  text-align: right;
}
