{% load class_tags %}

<!-- black box -->
<div class="ui-body ui-body-a">
  <!-- row -->
  <div class="ui-grid-a">
    <!-- col -->
    <div class="ui-block-a"> 
      <h2><u>{{CURRENT_ROUND.title}} Score</u></h2>
      {% if CURRENT_ROUND %} 
        <div id="points in floor this round"> 
          <h4> {{floor.current_round_points}} {{COMPETITION_POINT_NAME}}s in {{CURRENT_ROUND.title}}</h4> 
          <h4>#{{floor.current_round_rank}} out of {{FLOOR_COUNT}} in all dorms</h4>
          <h2><u>{{CURRENT_ROUND.title}} Energy Use</u></h2>
          <h4 id="round-energy-value"> kWh used in {{CURRENT_ROUND.title}}</h4> 
          <h4 id="round-energy-rank"> out of {{FLOOR_COUNT}} in all dorms</h4>  
        </div>
      {% endif %}
    </div>
    <!-- col -->
    <div class="ui-block-b">
      <h2><u>Cumulative Score</u></h2>
      <div id="header-floor-overall-rank3">
        <h4>{{floor.points}} {{COMPETITION_POINT_NAME}}s overall </h4>
        <h4>Ranked #{{floor.rank}} out of {{FLOOR_COUNT}} dorms</h4>
      </div>
    <h2><u>Cumulative Energy Use</u></h2>
    <h4 id="overall-energy-value"> kWh used overall</h4>
    <h4 id="overall-energy-rank"> out of {{FLOOR_COUNT}} dorms</h4>

      <div {% get_id_and_classes "header-floor-energy" %}>
    <h3 id="overall-energy-value"></h3>
     <div {% get_id_and_classes "header-text" %}>kWh used overall</div>
  </div>
  <div {% get_id_and_classes "header-floor-rank" %}>
    <h3 id="overall-energy-rank"></h3> 
    <div {% get_id_and_classes "header-text" %}>out of {{FLOOR_COUNT}} in all dorms</div>
  </div>
  </div>
</di>
