{% extends "mobile/base.html" %}
{% block body %} 
{% load class_tags %}
{% load generic_flatblocks %}
{% load markup %}
  <div data-role="page">
    <div data-role="header" data-theme="b" data-add-back-btn="True">
      <h1>Summary</h1> 
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    </div>
  <div {% get_id_and_classes "header-info" %}>
    {% include "mobile/summary/user_info.html" %}
  </div>  
  </div>
{% endblock %}
