{% load class_tags %}

<!-- black box -->
<div class="ui-body ui-body-a">
  <!-- row -->
  <div class="ui-grid-a">
    <!-- col -->
    <div class="ui-block-a"> 

      <h2><u>{{CURRENT_ROUND.title}} Score</u></h2>
      {% if CURRENT_ROUND %} 
      <div id="points in floor this round"> 
        <h4>{{profile.current_round_points}} {{COMPETITION_POINT_NAME}}s in           {{CURRENT_ROUND.title}}</h4>   
        <h4>Ranked #{{profile.current_round_floor_rank}}
     out of {{FLOOR_MEMBER_COUNT}} in {{profile.floor.dorm.name}}-          {{profile.floor.number}} </h4>  
          <div id="points overall this round" > 
            <h4>Ranked #{{profile.current_round_floor_rank}} out of {{OVERALL_MEMBER_COUNT}} overall</h4>
          </div>
        </div>
      {% endif %}  
    </div>


    <!-- col -->
    <div class="ui-block-b"> 
      <div id="floor rank all game">
        <h2><u>Cumulative Score</u></h2> 
        <h4>{{profile.points}} {{COMPETITION_POINT_NAME}}s</h4>
        <h4>Ranked #{{profile.floor_rank}} out of {{FLOOR_MEMBER_COUNT}} in {{profile.floor.dorm.name}}-  {{profile.floor.number}}  </h4>
      </div> 
      <div id="overall points all game">
        <div {% get_id_and_classes "header-user-points" %}> 
          <h4>#{{profile.overall_rank}} out of {{OVERALL_MEMBER_COUNT}} overall</h4>
        </div>
      </div>
    </div> 
  </div>
</div> 

