{% load avatar_tags %}
{% load class_tags %}

{% if user.is_authenticated %}  
  {% with user.get_profile as profile %}  
     <h3><img src="{% avatar_url user 60 %}" align="left"/> 
     <div>
       &nbsp;{{profile.name}} ({{user.username}})<br/>
       &nbsp;(Individual Score)
     </div></h3> 
     <!-- USER_POINTS.HTML -->
     {% include "mobile/summary/user_points.html" %} 
  {% endwith %} 

  {% with user.get_profile.floor as floor %}
     <h3><img src="{{STATIC_URL}}images/hale.ilima.jpg" align="left" />
       <div>
         &nbsp;{{floor}} <br/>
         &nbsp;(Lounge Score)
       </div>
     </h3> 
     <!-- FLOOR_POINTS.html -->
     {% include "mobile/summary/floor_points.html" %}  
  {% endwith %}
{% endif %}
