{% extends "logged_in_base.html" %}

{% load class_tags %}
{% load markup %}

{% block page_title %}
  Go Low!
{% endblock %}

{% block extra_head %}
  {% import_page_css "view_energy" STATIC_URL CSS_THEME %}
  <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/powermeter/org.wattdepot.gdata.makahiki.PowerMeter.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL}}/js/org.wattdepot.gdata.makahiki.EnergyGoalGame.js"></script> 


{% endblock %}

{% block selected_icon %}selected-energy{% endblock %}

{% block body %}

<div {% get_id_and_classes "energy-power-scoreboard" %}>
  <div {% get_id_and_classes "energy-power" %}>
    <div {% get_id_and_classes "energy-power-title" %}>
      <table><tr><td align=center>Current Lounge Power
      </td>
      <td width="1%">
      <a href="#">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="help_dialog('{{help_power.contents|markdown}}')"
	   /></a>
	   </td></tr></table>
    </div>
    <div {% get_id_and_classes "energy-power-content" %}>
      <center>
      {% include "energy/power.html" %}  
      </center>
    </div>
  </div>
  
  <p>
  {% include "energy/scoreboard.html" %}
</div>

<div {% get_id_and_classes "energy-status" %}>
  <div {% get_id_and_classes "energy-status-box" %}>
    <div {% get_id_and_classes "energy-status-title" %}>     
      <table><tr><td align=center>Daily Energy Goal Game
      </td>
      <td width="1%">
      <a href="#">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="help_dialog('{{help_energy.contents|markdown}}')"
	   /></a>
	   </td></tr></table>
    </div>
    <div {% get_id_and_classes "energy-status-content" %}>
      <fieldset {% get_id_and_classes "energy-status-progress" %}>
	    <legend>Current Status</legend>
       
           {% include "energy/usage.html" %}
           <p/> <center> <b>
           Each member receives 20 points
           each day that we make our goal. </b></center>   
      </fieldset>
	
      <fieldset {% get_id_and_classes "energy-status-how" %}>
	    <legend>How can we make our daily goal?</legend>		
        <table {% get_id_and_classes "energy-status-how-table" %}>
          <tr {% get_id_and_classes "energy-status-how-calculator" %}>
            <td {% get_id_and_classes "energy-status-how-activities-content" %}>
                The following activities can help your {{FLOOR_LABEL.lower}} conserve energy, and you earn points!
                 {% include "energy/golow_activities.html" %}
            </td>
          </tr>   
        </table> 
      </fieldset>

      <fieldset {% get_id_and_classes "energy-status-posts" %}>
    	<legend>Organize with your {{FLOOR_LABEL.lower}} peeps</legend>
          Got ideas on how to conserve energy? Share it on the {{FLOOR_LABEL.lower}} wall:<br>

    <div {% get_id_and_classes "news-wall-content" %}>
      <div {% get_id_and_classes "wall-form" %}>
        <form {% get_id_and_classes "news-post-form" %} action="{% url news_post %}" method="POST">
          {% csrf_token %}
          <div {% get_id_and_classes "wall-post-errors" %}></div>
          <div {% get_id_and_classes "wall-post" %}>
            {{wall_form.post}}
          </div>
		  <div style="text-align: center">
			<button id="wall-post-submit" style="font-size: 14px; margin-top:0.8em; margin-left:0.5em; margin-right:0.5em; margin-bottom:0.8em;">
				Post
			</button>
		  </div>
          <!--- <a {% get_id_and_classes "wall-post-submit" %} href="#">Post</a> -->
        </form>
        <script type="text/javascript">
          $("#wall-post-submit").click(function() {
            if (!$("#wall-post-submit").button("option", "disabled")) {
              $.post("{% url news_post %}?from=energy_page", $("#news-post-form").serialize(), function(data) {
                if (data.message) {
                  $("#wall-post-errors").html(data.message);
                }
                else {
                  $("#wall-post-errors").html("");
                  if ($("#wall-no-posts").is(":visible")) {
                    $("#wall-no-posts").hide();
                  }
                  $(data.contents).hide().prependTo("#wall-posts").fadeIn();
                  $("textarea").val("");
                  $("#wall-post-submit").button("option", "disabled", true);
                }
              });
            }
            return false;
          });
        </script>
      </div>

        <ul {% get_id_and_classes "wall-posts" %}>
          {% include "news/news_posts.html" %}
        </ul>
        {% if not posts %}
          <p {% get_id_and_classes "wall-no-posts" %} style="padding: 7px;">There are no posts yet!</p>
        {% endif %}
        
      </fieldset>
    </div>
  </div>

</div>

{% endblock %}

{% block extra_round_energy %}
  {# Note: contents are inserted into Javascript in the middle of the round iterator. #}
  {# Usage is already calculated for us there. #}
  {# See PROJECT_ROOT/templates/logged_in_base.html #}
  if ($("#{{key|slugify}}-energy-scoreboard") != null) {
    energyRank.drawCompleteStandings("{{key|slugify}}-energy-scoreboard", "{{user.get_profile.floor.floor_identifier}}", usage);
  }
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#energy-scoreboard").cycle({height: "450px"});
  })
</script>

<div id="help-dialog" title="Help" style="visibility: hidden;">
  <div style="text-align:left">
    <div id="content">
    </div>
    </p>
     <center>
    <input type="submit" value="OK" onclick='$("#help-dialog").dialog("close");' /> 
    </center>
  </div>
</div>

<script type="text/javascript"> 
function help_dialog(content)
{
  el = document.getElementById("help-dialog"); 
  el.style.visibility = "visible";
  $("#help-dialog").dialog({
    modal: true,
    width: 450,
    closeOnEscape: false,
    position: [400,100],
    });
    
  document.getElementById("content").innerHTML = content;
  return false;
}

</script>  
{% endblock %}