{% load class_tags %}

<div {% get_id_and_classes "energy-power-gauge" %}>

<div id="visualization"></div> 

</div>

<script type="text/javascript"> 
// Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
(function() {
  var spreadsheetUrl = 'https://spreadsheets.google.com/tq?key=0An9ynmXUoikYdEx3TkRkYjdwdHZkTUo4OGI4NVZ3cmc';
  var refreshInterval = 15; // refresh every 15 seconds.
 
  // Load the visualization API and the spreadsheet, then call displayEnergy.
  var loader = new org.wattdepot.gdata.GDataLoader(displayEnergy, spreadsheetUrl, refreshInterval);  
 
  function displayEnergy(datatable) {
    var source = '{{user.get_profile.floor.dorm.name}}-{{user.get_profile.floor.number}}';
    var options = {width : 200, 
                   title : '{{user.get_profile.floor.name}}', 
                   captionStyle : {fontSize : '0.80em'}, 
                   titleStyle : {fontWeight : 'bold'}, 
                   globalStyle : {fontFamily : 'sans-serif'},
                   maxWatts : 7000};
    var energyChart = new org.wattdepot.gdata.makahiki.PowerMeter();
    energyChart.draw('visualization', source, datatable, options);
  }
})();  
</script> 