{% load class_tags %}

<div {% get_id_and_classes "energy-power-gauge" %}>

<div id="visualization"></div> 

</div>

{% if user.get_profile.floor %}
<script type="text/javascript"> 
// Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
(function() {
  var spreadsheetUrl = '{{SPREADSHEETS.POWER}}';
  var refreshInterval = 15; // refresh every 15 seconds.
 
  // Load the visualization API and the spreadsheet, then call displayEnergy.
  var loader = new org.wattdepot.gdata.GDataLoader(displayEnergy, spreadsheetUrl, refreshInterval);  
 
  function displayEnergy(datatable) {
    var source = '{{user.get_profile.floor.dorm.name}}-{{user.get_profile.floor.number}}';
    var options = {width : 200, 
                   title : source, 
                   captionStyle : {fontSize : '0.70em'}, 
                   titleStyle : {fontWeight : 'bold'}, 
                   globalStyle : {fontFamily : 'sans-serif'},
                   backgroundColor : "EBE7BC",
                   powerRange : 2000};
    var energyChart = new org.wattdepot.gdata.makahiki.PowerMeter();
    energyChart.draw('visualization', source, datatable, options);
  }
})();  
</script>
{% endif %}