{% load class_tags %}

      <div {% get_id_and_classes "energy-power-gauge" %}>
        <div {% get_id_and_classes "energy-power-gauge-label" %}>Power (W)</div>
        <img {% get_id_and_classes "energy-power-gauge-image" %}  src="http://chart.apis.google.com/chart?chs=190x100&cht=gom&chd=t:{{power}}&chf=bg,s,F5F3E5&chxl=0:|{{power}}|1:|0W|{{power_max}}W&chxt=x,y&chco=3CB371,FF0000&chds=0,{{power_max}}&chls=2|10" />
        <div {% get_id_and_classes "energy-power-gauge-last-update" %}>Last Update: {{last_update}}</div>
      </div>