{% load class_tags %}
    <table {% get_id_and_classes "energy-scoreboard-table" %}>
		<thead>
			<th {% get_id_and_classes "energy-scoreboard-table-rank" %}>Rank</th>
			<th {% get_id_and_classes "energy-scoreboard-table-lounge" %}>Lounge</th>
			<th {% get_id_and_classes "energy-scoreboard-table-lounge" %}>kWh Used</th>
        </thead>
		<tbody>
			{% for e,f in standings %}
			<tr>
			<td>{{forloop.counter}}</td>
			<td>{% if f == floor %} 
			     <b> 
			    {% endif %}
			    {{f}}</td>
			<td>{% if f == floor %} 
			     <b> 
			    {% endif %}
			    {{e}}</td>    
			</tr>
			{% endfor %}
		</tbody>
	</table>