{% load class_tags %}

<div {% get_id_and_classes "energy-scoreboard" %}>
  {% for round_name in scoreboard_rounds %}
  <div class="energy-scoreboard-cycle" {% if not forloop.first %}style="display: none"{% endif %}>
    <div {% get_id_and_classes "energy-scoreboard-title" %} style="width: 100%">
      {{round_name}} kWh Score Board
    </div>
    <div {% get_id_and_classes "energy-scoreboard-content" %}>
      <table id="{{round_name|slugify}}-energy-scoreboard"></table>
    </div>
   <div id="energy-scoreboard-message">#1 at end of round wins a 
     <a href="/prizes"> prize!</a>
   </div>
 </div>
 {% endfor %}
</div>