{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "About Us" %}{% endblock %}

{% block tab_id %}"#about_tab"{% endblock %}

{% block body %}
  <div id="two_col_left" style="width:70%">
    <div id="about_content_1" class="makahiki_content">
      {% gblock "about_content_1" for "gblocks.TitleAndText" %}
    </div>
    <div id="about_content_2" class="makahiki_content">
      {% gblock "about_content_2" for "gblocks.TitleAndText" %}
    </div>
    <div>
      {% gblock "about_content_3" for "gblocks.TitleAndText" %}
    </div>
  </div>
  
  <div id="two_col_right" style="width:25%">
    <div>
      {% gblock "about_content_4" for "gblocks.TitleAndText" %}
    </div>
  </div>
  
  <div style="display:none">
    <div>
      {% gblock "about_content_5" for "gblocks.TitleAndText" %}
    </div>
    <div>
      {% gblock "about_content_6" for "gblocks.TitleAndText" %}
    </div>
  </div>
{% endblock %}
