{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "About Us" %}{% endblock %}

{% block tab_id %}id="about_us_tab"{% endblock %}

{% block body %}
  <div style="width:300px; float:left">
    {% gblock "about_content_1" for "gblocks.TitleAndText" %}
  </div>
  <div style="width:500px; float:left; padding-left:30px">
    {% gblock "about_content_2" for "gblocks.TitleAndText" %}
  </div>
  <div>
    {% gblock "about_content_3" for "gblocks.TitleAndText" %}
  </div>
  <div>
    {% gblock "about_content_4" for "gblocks.TitleAndText" %}
  </div>
  <div>
    {% gblock "about_content_5" for "gblocks.TitleAndText" %}
  </div>
  <div>
    {% gblock "about_content_6" for "gblocks.TitleAndText" %}
  </div>
{% endblock %}
