{% load i18n %}
{% load theme_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
    
    {% render_css_import user %}
    
    <link rel="stylesheet" href="{{ STATIC_URL }}frontendadmin/css/frontendadmin.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" />
    <script src="{{STATIC_URL}}js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.countdown.pack.js" type="text/javascript"></script>
    
    <!-- Moved to top level since it is needed when generating configuration information. -->
    <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/ajile/com.iskitz.ajile.js?mvcoff,mvcshareoff,refreshoff"></script>
    <script type="text/javascript">
      Namespace("org.makahiki.configuration");

      org.makahiki.configuration.Rounds = {{ ROUNDS|safe }};
      org.makahiki.configuration.Theme = {{ THEME|safe }};
    </script>
    
    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>

<body>
  {% render_css_select %}
  
	<div id="header">
    {% block website_title %}{% endblock %}
  </div> 
  
  <div id="outline">
		 {% spaceless %}
      <div id="tabhead">
          <div class="ui-tabs">
              <ul class="ui-tabs-nav">
                {% block tabs %}{% endblock %}
              </ul>
              <ul class="ui-tabs-nav account">
                {% block login %}{% endblock %}
              </ul>
              <script type="text/javascript">
                //Set active tab.
                $({% block tab_id %}{% endblock %}).addClass("ui-state-active");
              </script>
          </div>
      </div>
      <div id="subnav">
          {% block subnav %}{% endblock %}
      </div>
      {% endspaceless %}

  <div id="content-outline" class="ui-corner-bottom">
    <div id="content">
    {% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li id="message_{{ forloop.counter }}" class="ui-state-highlight">
          <a href="#" onclick="jQuery('#message_{{ forloop.counter }}').fadeOut(); return false;">
            <span style="margin-top: 1px" class="ui-icon ui-icon-close"></span>
          </a> 
          {{ message }}
          <span style="float: left; margin-right: 0.3em; margin-top:1px;" class="ui-icon ui-icon-info"></span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% block body %}
    {% endblock %}
    </div>
		
    <hr class="clear"/>
  </div>
  </div>
  
  <div id="footer">
      {% block footer %}{% endblock %}
  </div>
  
  {% block extra_body_base %}
      {% block extra_body %}{% endblock %}
  {% endblock %}
</body>
</html>
