{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "The Kukui Cup" %}{% endblock %}

{% block tab_id %}id="billboard_tab"{% endblock %}

{% block body %}
  <div class="billboard_announce" style="text-align:center">
    {% gblock "billboard_announce" for "gblocks.Text" %}
  </div>
  
  <div class="billboard_tips">
    {% gblock "billboard_tips" for "gblocks.Text" %}
  </div>
  
  <div class="billboard_image" style="width:400px; float:left; padding-left:10px">
    {% gblock "billboard_image" for "gblocks.Image" %}
  </div>
  
  <div class="billboard_about" style="width:500px; float:right; padding-left:10px">
    {% gblock "billboard_about" for "gblocks.Text" %}
  </div>
  
  <div class="billboard_prizes" style="width:300px; float:left; clear:left">
    {% gblock "billboard_prizes" for "gblocks.Text" %}
  </div>
{% endblock %}
