{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type="text/javascript">
    //News toggle
    $(document).ready(function(){
    	//Switch the "Open" and "Close" state per click
    	$("h4.trigger").toggle(function(){
    		$(this).addClass("active");
    		}, function () {
    		$(this).removeClass("active");
    	});

    	//Hide and unhide on click.
    	$("h4.trigger").click(function(){
    		$(this).next(".article_container").toggle();
    	});

    });
  </script>
{% endblock %}

{% block body %}
  <div class="homepage_tips" >
    {% gblock "homepage_tips" for "gblocks.TitleAndText" %}
  </div>
  
  <div class="homepage_video" >
    {% gblock "homepage_video" for "gblocks.TitleAndText" %}
  </div>
  
  <div class="homepage_news" >
    {% if articles %}
      <h3>Featured News</h3>
      {% for article in articles %}
        {% include "news/article.html" %}
      {% endfor %}
    {% else %}
      {% gblock "homepage_news" for "gblocks.TitleAndText" %}
    {% endif %}
  </div>
  
  <div class="homepage_gauge">
    <h3>Energy gauge</h3>
    <div id = "loading"><img src="http://www.google.com/ig/images/spinner.gif"/></div>
    <div id="sourcediv" align="center"></div>
    <div id="chartdiv" align="center"></div>
    <div id="data_displayed_div" align="center"></div>
    <div id="lastcheckdiv" align="center"></div>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/gauge.js"></script>
  </div>
  
  <div class="homepage_pictures" >
    {% gblock "homepage_pictures" for "gblocks.TitleAndText" %}
  </div>
  
  <div class="homepage_about" >
    {% gblock "homepage_about" for "gblocks.TitleAndText" %}
  </div>
  
  <div class="homepage_events" >
    {% gblock "homepage_events" for "gblocks.TitleAndText" %}
  </div>
  
{% endblock %}
