{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type="text/javascript">
    //Resolves conflict with Prototype Library.
    jQuery.noConflict()
    
    //News toggle
    /*
    jQuery(document).ready(function(){
      //Switch the "Open" and "Close" state per click
      jQuery("h4.trigger").toggle(function(){
        jQuery(this).addClass("active");
        }, function () {
        jQuery(this).removeClass("active");
      });
    
      //Hide and unhide on click.
      jQuery("h4.trigger").click(function(){
        jQuery(this).next(".article_container").toggle();
      });
    });
    */
  </script>
{% endblock %}

{% block body %}
  <div class="homepage_content_1" >
    {% gblock "homepage_content_1" for "gblocks.TitleAndText" %}
  </div>
  
  <div class="homepage_content_2" >
    {% gblock "homepage_content_2" for "gblocks.TitleAndText" %}
  </div>
  
  <div class="homepage_news" >
    <h3>Featured News</h3>
    {% if articles %}
      {% for article in articles %}
        {% include "news/article.html" %}
      {% endfor %}
    {% else %}
      <p>There are no news stories yet</p>
    {% endif %}
  </div>
  
  <div class="homepage_content_3">
    {% gblock "homepage_content_3" for "gblocks.TitleAndText" %}
  </div>
  
  <div class="homepage_content_4">
    {% gblock "homepage_content_4" for "gblocks.TitleAndText" %}
  </div>

  <div class="homepage_content_5" >
    {% gblock "homepage_content_5" for "gblocks.TitleAndText" %}
  </div>
  
  <div class="homepage_content_6">
    {% gblock "homepage_content_6" for "gblocks.TitleAndText" %}
  </div>
	

{% endblock %}


