{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "The Kukui Cup" %}{% endblock %}

{% block tab_id %}id="kukui_tab"{% endblock %}

{% block body %}
  <div class="competition_header" style="text-align:center; clear:both">
    {% gblock "competition_header" for "gblocks.Text" %}
  </div>
  
  <div class="competition_content_1" style="text-align:center; clear:both">
    {% gblock "competition_content_1" for "gblocks.TitleAndText" %}
  </div>

  <div class="competition_content_2" style="width:260px;float:left">
    {% gblock "competition_content_2" for "gblocks.TitleAndText" %}
  </div>

  <div class="competition_content_3" style="width:360px; float:left; padding-left:10px">
    {% gblock "competition_content_3" for "gblocks.Image" %}
  </div>

  <div class="competition_content_4" style="width:260px; float:left; padding-left:10px">
    {% gblock "competition_content_4" for "gblocks.TitleAndText" %}
  </div>
  
  <div>
    {% gblock "competition_content_5" for "gblocks.TitleAndText" %}
  </div>
  
  <div>
    {% gblock "competition_content_6" for "gblocks.TitleAndText" %}
  </div>
  
{% endblock %}
