{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "The Kukui Cup" %}{% endblock %}

{% block tab_id %}id="kukui_tab"{% endblock %}

{% block body %}
  <div class="kukui_start" style="text-align:center; clear:both">
    {% gblock "kukui_start" for "gblocks.Text" %}
  </div>
  
  <div class="kukui_headline" style="text-align:center; clear:both">
    {% gblock "kukui_headline" for "gblocks.TitleAndText" %}
  </div>

  <div class="kukui_why" style="width:260px;float:left">
    {% gblock "kukui_why" for "gblocks.TitleAndText" %}
  </div>

  <div class="kukui_picture" style="width:360px; float:left; padding-left:10px">
    {% gblock "kukui_picture" for "gblocks.Image" %}
  </div>

  <div class="kukui_how" style="width:260px; float:left; padding-left:10px">
    {% gblock "kukui_how" for "gblocks.TitleAndText" %}
  </div>
  
{% endblock %}
