{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}
{% load generic_flatblocks %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block website_title %}
    {% gblock "website_header" for "gblocks.Title" with "gblocks/title/website.html" %}
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
       <a class="tab_logout" href="/account/cas/logout/"><span>{% trans "Logout" %}</span></a>
       <a class="tab_account" href="{% url profile_detail user %}"><span>{% trans "My Home" %}</span></a>
       {% if user.is_staff %}
          <a class="tab_account" href="/admin/"><span>{% trans "Admin" %}</span></a>
       {% endif %}
    {% else %}
        <a class="tab_login" href="/account/cas/login"><span>{% trans "Login" %}</span></a>
    {% endif %}
{% endblock %}

{% block tabs %}
    {% spaceless %}
    <a class="tab_home" href="{% url home %}">{% trans "Home" %}</a>
    <a class="tab_resources" href="{% url dorm_energy %}">{% trans "Resources" %}</a>
    <a class="tab_energy" href="{% url energy_real_time %}">{% trans "Energy Data" %}</a>
    {% if user.is_authenticated %}
       <a class="tab_kukui" href="{% url kukui_cup %}">{% trans "Kukui Cup" %}</a>
    {% endif %}
    <a class="tab_about_us" href="{% url about_us %}">{% trans "About" %}</a>
    {% endspaceless %}
{% endblock %}

{% block content_image %}
    {% gblock "website_image" for "gblocks.image" with "gblocks/image/content_image.html" %}
{% endblock %}

{% block footer %}
    {% gblock "website_footer" for "gblocks.Text" %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('a.frontendadmin_edit').hover(
        function(){jQuery(this).parent().css('outline', '4px solid #E9B007')},
        function(){jQuery(this).parent().css('outline', '')}
    );
    
    jQuery('a.frontendadmin_edit').click(function(){
            jQuery(this).parent().css('outline', '');
            jQuery(this).parent().load(this.href);
            return false;
    });
    
    jQuery('a.frontendadmin_delete').hover(
        function(){jQuery(this).parent().css('outline', '4px solid #E9B007')},
        function(){jQuery(this).parent().css('outline', '')}
    );
});
</script>

{% endblock %}