{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}
{% load generic_flatblocks %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block website_title %}
    {% gblock "website_header" for "gblocks.Title" with "gblocks/title/website.html" %}
    <div id="login">
      {% if user.is_authenticated %}
         <h5 style="display: inline">Aloha, {{user.get_profile.name}}.</h5>
          <a href="/account/cas/logout/" class="option-link ui-state-default ui-corner-all ui-state-hover">
            <span class="button-text" style="margin: 0; padding: 0; font-size: 0.8em; color: white">{% trans "Logout" %}</span>
          </a>
      {% else %}
        <a href="/account/cas/login" class="option-link ui-state-default ui-corner-all ui-state-hover">
          <span class="button-text" style="margin: 0; padding: 0; font-size: 0.8em; color: white">{% trans "Login" %}</span>
        </a>
      {% endif %}
    </div>
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
      {% if user.is_staff %}
         <li class="ui-state-default ui-corner-top"><a href="/admin/"><span>{% trans "Admin" %}</span></a></li>
      {% endif %}
      <li id="user_tab" class="ui-state-default ui-corner-top"><a href="{% url profile_detail user %}"><span>{% trans "My Home" %}</span></a></li>
    {% endif %}
{% endblock %}

{% block tabs %}
  <li id="home_tab" class="ui-state-default ui-corner-top"><a href="{% url home %}">{% trans "Home" %}</a></li>
  <li id="resources_tab" class="ui-state-default ui-corner-top"><a href="{% url dorm_energy %}">{% trans "Resources" %}</a></li>
  <li id="energy_tab" class="ui-state-default ui-corner-top"><a href="{% url energy_real_time %}">{% trans "Energy Data" %}</a></li>
  <li id="competition_tab" class="ui-state-default ui-corner-top"><a href="{% url competition %}">{% trans "Kukui Cup" %}</a></li>
  <li id="about_tab" class="ui-state-default ui-corner-top"><a href="{% url about_us %}">{% trans "About" %}</a></li>
{% endblock %}

{% block content_image %}
    {% gblock "website_image" for "gblocks.image" with "gblocks/image/content_image.html" %}
{% endblock %}

{% block footer %}
    {% gblock "website_footer" for "gblocks.Text" %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('a.frontendadmin_edit').hover(
        function(){jQuery(this).parent().css('outline', '4px solid #E9B007')},
        function(){jQuery(this).parent().css('outline', '')}
    );
    
    jQuery('a.frontendadmin_edit').click(function(){
            jQuery(this).parent().css('outline', '');
            jQuery(this).parent().load(this.href);
            return false;
    });
    
    jQuery('a.frontendadmin_delete').hover(
        function(){jQuery(this).parent().css('outline', '4px solid #E9B007')},
        function(){jQuery(this).parent().css('outline', '')}
    );
});
</script>
{% endblock %}