{% extends "mobile/base.html" %}
{% block body %} 
  <div data-role="header" data-theme="b" data-add-back-btn="True"> 
    <h1>Events</h1>
    <div data-role="navbar">
      <ul>
	<li>
          <a href="{% url mobile_events 'Upcoming' %}" rel="external"
		{% if view == "Upcoming" %}
			class="ui-btn-active"
		{% endif %}>
            Upcoming
          </a>
        </li>
			  
       <!--Change script to account for events the user is attending--> 
 
          <a href="{% url mobile_events 'Past' %}" rel="external"
		{% if view == "Past" %}
			class="ui-btn-active"
		{% endif %}>
            Past Events
          </a>
        </li>
      </ul>
    </div>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
  </div><!-- /header -->
 
 <!-- upcoming events-->
 {% if view == "upcoming" %} 
 <div data-role="content">
   {% for object in objlist %}
    <!--day is a 2d array-->
   	<!--day[0] is the text representation-->
   	<!--day[1] holds the date as a date object-->
   <div data-role="collapsible" data-collapsed="false" data-theme="b"> 
     
     <h3>
        <li data-role="list-divider">
          {{object.datestring}}
          <span class="ui-li-count">{{object.count}}</span>
        </li>
     </h3>
       <ul data-role="listview" > 
	 {% for events in object.eventlist %}  
	     <li> 
               <a href="{% url mobile_task events.category.name|slugify events.name|slugify %}" rel="external">
                 {%if events.attending %} 
                    <img align="middle" src="/site_media/static/css/default/images/star.png" alt="attending">
                 {% endif %}
	        
	         <h4>{{events.title}}
                 
                    </h4> 
	         <p><strong>{{events.event_location}}</strong></p> 
		 <p> ({{events.point_value}} points)</p>
	         <p class="ui-li-aside">
                 <strong>{{events.event_date.time}}</strong></p>
               </a>
	     </li>  
	 {% endfor %}
       </ul>
     </div>  
     {% endfor %}
  </div> 
  {% endif %}


  <!-- Past events-->
  {% if view == "past" %}
    <div data-role="collapsible" data-collapsed="false" data-theme="b"> 
     
     <h3>
        <li data-role="list-divider">
          Past Events 
        </li>
     </h3>
       <ul data-role="listview"> 
	 {% for events in objlist %}  
              <!--if events.is_unlock-->
	     <li> 
               <a href="{% url mobile_task events.category.name|slugify events.name|slugify%}" rel="external"> 
	         <h3>{{events.title}}</h3> 
	         <p><strong>{{events.event_location}}</strong></p> 
		 <p> ({{events.point_value}} points)</p>
	         <p class="ui-li-aside">
                 <strong>{{events.event_date}}</strong></p>
               </a>
	     </li>  
           <!--end if events.is_unlock-->
	 {% endfor %}
       </ul>
     </div>   
  {% endif %}   
{% endblock %}
