<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"> 
	<title>Events</title> 
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />  
	<link rel="stylesheet" href="../_assets/css/jqm-docs.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>

</head> 

<body> 
<div data-role="page" >
	<div data-role="header" data-theme="b" data-add-back-btn="True"> 
		<h1>Events</h1>
		 <div data-role="navbar" data-add-back-btn="True">
		   <ul>
			  <li><a href="a.html" class="ui-btn-active">Upcoming</a></li>
			  <li><a href="b.html">Attending</a></li>
			<li><a href="b.html">Past Events</a></li>
		    </ul>
	</div>
		<a href="index.html" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
	</div><!-- /header -->
 

    <div data-role="content"></div>
    
    <div data-role="collapsible" data-collapsed="false" data-theme="b">
    	 <h3><li data-role="list-divider">Sunday June 19, 2011 <span class="ui-li-count">2</span></li></h3>
       <ul data-role="listview">
		 <li>  
			 <a href="sevent/">
			   <img src="night.gif" />
				<h3>Nuite Noir</h3>
		   	<p><strong>Black out party at Hale Aloha!</strong></p>
	      	<p>Party starts at 8, come on down!</p>
				<p class="ui-li-aside"><strong>8:00 </strong>PM</p>
			 </a>
		  </li> 
		  
		  <li>  
			 <a href="index.html">
			   <img src="events/night.gif" />
				<h3>Event Name</h3>
		   	<p><strong>Bold detail text</strong></p>
	      	<p>Plain detail text.</p>
				<p class="ui-li-aside"><strong>Start/End Time </strong>AM/PM</p>
			 </a>
		  </li>
		  </ul>
	 </div>
		
		
		
    <div data-role="collapsible" data-collapsed="True" data-theme="b">
    	 <h3><li data-role="list-divider">Monday June 20, 2011 <span class="ui-li-count">count</span></li></h3>
       <ul data-role="listview"> 
		  <li>  
			 <a href="index.html">
			   <img src="night.gif" />
				<h3>Event Name</h3>
		   	<p><strong>Bold detail text</strong></p>
	      	<p>Plain detail text.</p>
				<p class="ui-li-aside"><strong>Start/End Time </strong>AM/PM</p>
			 </a>
		  </li>
		  </ul>
	 </div>
		
		
		
    <div data-role="collapsible" data-collapsed="true" data-theme="b">
    	 <h3><li data-role="list-divider">Tuesday June 21, 2011 <span class="ui-li-count">count</span></li></h3>
       <ul data-role="listview"> 
		  <li>  
			 <a href="index.html">
			   <img src="night.gif" />
				<h3>Event Name</h3>
		   	<p><strong>Bold detail text</strong></p>
	      	<p>Plain detail text.</p>
				<p class="ui-li-aside"><strong>Start/End Time </strong>AM/PM</p>
			 </a>
		  </li>
		  </ul>
	 </div>
		    
		    
		    
    <div data-role="collapsible" data-collapsed="true" data-theme="b">		    
    	 <h3><li data-role="list-divider">Wednesday June 22, 2011 <span class="ui-li-count">count</span></li></h3>
       <ul data-role="listview"> 
		  <li>  
			 <a href="index.html">
			   <img src="night.gif" />
				<h3>Event Name</h3>
		   	<p><strong>Bold detail text</strong></p>
	      	<p>Plain detail text.</p>
				<p class="ui-li-aside"><strong>Start/End Time </strong>AM/PM</p>
			 </a>
		  </li>
		  </ul>
	 </div>
				    
		    
    <div data-role="collapsible" data-collapsed="true" data-theme="b">		    
    	 <h3><li data-role="list-divider">Thursday June 23, 2011 <span class="ui-li-count">count</span></li></h3>
       <ul data-role="listview"> 
		  <li>  
			 <a href="index.html">
			   <img src="night.gif" />
				<h3>Event Name</h3>
		   	<p><strong>Bold detail text</strong></p>
	      	<p>Plain detail text.</p>
				<p class="ui-li-aside"><strong>Start/End Time </strong>AM/PM</p>
			 </a>
		  </li>
		  </ul>
	 </div>
	 
	 
	 
     <div data-role="collapsible" data-collapsed="true" data-theme="b">		    
    	 <h3><li data-role="list-divider">Friday June 24, 2011 <span class="ui-li-count">count</span></li></h3>
       <ul data-role="listview"> 
		  <li>  
			 <a href="index.html">
			   <img src="night.gif" />
				<h3>Event Name</h3>
		   	<p><strong>Bold detail text</strong></p>
	      	<p>Plain detail text.</p>
				<p class="ui-li-aside"><strong>Start/End Time </strong>AM/PM</p>
			 </a>
		  </li>
		  </ul>
	 </div>
				  
				  
				    
 	 <div data-role="collapsible" data-collapsed="true" data-theme="b">		    
    	 <h3><li data-role="list-divider">Saturday June 25, 2011 <span class="ui-li-count">count</span></li></h3>
       <ul data-role="listview"> 
		  <li>  
			 <a href="index.html">
			   <img src="night.gif" />
				<h3>Event Name</h3>
		   	<p><strong>Bold detail text</strong></p>
	      	<p>Plain detail text.</p>
				<p class="ui-li-aside"><strong>Start/End Time </strong>AM/PM</p>
			 </a>
		  </li>
		  </ul>
	 </div>
				    
		   
</div> 
</body>


</html>
