<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"> 
	<title>Events</title> 
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />  
	<link rel="stylesheet" href="../_assets/css/jqm-docs.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>

</head> 

<body> 
<div data-role="page" >
  <div data-role="header" data-theme="b" data-add-back-btn="True"> 
    <h1>Events</h1>
    <div data-role="navbar" data-add-back-btn="True">
      <ul>
	<li>
          <a href="{% url mobile_events 'Upcoming' %}" 
		{% if view == "Upcoming" %}
			class="ui-btn-active"
		{% endif %}>
            Upcoming
          </a>
        </li>
			  
       <!--Change script to account for events the user is attending-->
       <!--idk how to determine atm-->
	<li>
          <a href="{% url mobile_events 'Attending' %}"		
		{% if view == "Attending" %}
			class="ui-btn-active"
		{% endif %}>
            Attending
          </a>
        </li>

	<li>
          <a href="{% url mobile_events 'Past' %}"
		{% if view == "Past" %}
			class="ui-btn-active"
		{% endif %}>
            Past Events
          </a>
        </li>
      </ul>
    </div>
    <a href="/../m" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">
      Home
    </a>
  </div><!-- /header -->
 
 <!-- upcoming events-->
 {% if view == "Upcoming" or view == "upcoming" %}
 <div data-role="content"></div>
   {{eventlist.count}}
   {% for day in datelist %}
    <!--day is a 2d array-->
   	<!--day[0] is the text representation-->
   	<!--day[1] holds the date as a date object-->
   <div data-role="collapsible" data-collapsed="false" data-theme="b"> 
     
     <h3>
        <li data-role="list-divider">
          {{day.1}}
          <span class="ui-li-count">2</span>
        </li>
     </h3>
       <ul data-role="listview"> 
	 {% for events in eventlist %} 
           {% if events.event_date.date == day.0 %}
	     <li> 
               <a href="{% url mobile_smartgrid_task events.id %}">
	         <!--img tag would goes here-->
	         <h3>{{events.title}}</h3>
	         <p><strong>{{events.event_location}}</strong></p> 
		 <p> ({{events.point_value}} points)</p>
	         <p class="ui-li-aside">
                 <strong>{{events.event_date.time}}</strong></p>
               </a>
	     </li> 
           {% endif %}
	 {% endfor %}
       </ul>
     </div>  
     {% endfor %}
  </div> 
  {% endif %}


  <!-- Past events-->
  {% if view == "Past" or view == "past" %}
    <div data-role="collapsible" data-collapsed="false" data-theme="b"> 
     
     <h3>
        <li data-role="list-divider">
          Past Events
          <span class="ui-li-count">2</span>
        </li>
     </h3>
       <ul data-role="listview"> 
	 {% for events in eventlist %}  
	     <li> 
               <a href="{% url mobile_smartgrid_task events.id %}">
	         <img src="events/night.gif" />
	         <h3>{{events.title}}</h3> 
	         <p><strong>{{events.event_location}}</strong></p> 
		 <p> ({{events.point_value}} points)</p>
	         <p class="ui-li-aside">
                 <strong>{{events.event_date.time}}</strong></p>
               </a>
	     </li>  
	 {% endfor %}
       </ul>
     </div>   
  {% endif %}

  <!--Attending-->
  {% if view == "Attending" or view == "attending" %}
   <div data-role="content"></div>
   {{eventlist.count}}
   {% for day in datelist %}
   <!--day is a 2d array-->
   	<!--day[0] is the text representation-->
   	<!--day[1] holds the date as a date object-->
   <div data-role="collapsible" data-collapsed="false" data-theme="b"> 
     
     <h3>
        <li data-role="list-divider">
          {{day.1}}
          <span class="ui-li-count">2</span>
        </li>
     </h3>
       <ul data-role="listview"> 
	 {% for events in eventlist %} 
           {% if events.event_date.date == day.0 %}
	     <li> 
               <a href="{% url mobile_smartgrid_task events.id %}">
	         <img src="events/night.gif" />
	         <h3>{{events.title}}</h3>
	         <p><strong>{{events.event_location}}</strong></p> 
		 <p> ({{events.point_value}} points)</p>
	         <p class="ui-li-aside">
                 <strong>{{events.event_date.time}}</strong></p>
               </a>
	     </li> 
           {% endif %}
           {{events.title}}
	 {% endfor %}
       </ul>
     </div>  
     {% endfor %}
  </div> 
  {% endif %}
</body>


</html>
