.activity_list {
  width: 100%;
}

.main_list {
  padding: 10px;
}

.side_list {
  padding: 10px;
  padding-left: 0;
}

.list_content h4 {
  margin: 0;
}

#content #list_header {
  margin: 0px;
  padding: 10px 20px 0 20px;
}

.title-string {
  padding-left:20px;
}

.item_description {
  padding:5px 0 0 20px;
  clear: both;
}

#content .list-help {
  margin-left:650px;
}

#content .side-help {
  margin-left:260px;
}

.item_title {
  float: left;
}

.item_likes {
  float: right;
  text-align: right;
  margin-right: 5px;
}

.item_info {
  vertical-align: text-top;
  padding: 5px 5px 5px 0px;
  width:70%;
}

.item_points {
  vertical-align: top;
  width:8%;
  padding: 5px 0px;
}

.item_options {
  padding: 5px 0;
  vertical-align: top;
}

.item_options form {
  margin: 5px 0;
  width: 100%;
}

/* Sidebar styles. */
#content .side_list .list_content {
  padding: 5px 10px;
  padding-bottom: 15px;
}

.side_list li .item_title {
  width: 100%;
}
