.activity_list {
  width: 100%;
}

.item_list {
  padding: 10px 30px;
}

.list_content h4 {
  margin: 0;
}

#content #list_header {
  margin: 0px;
  padding: 10px 20px 0 20px;
}

.title-string {
  padding-left:20px;
}

.item_description {
  padding:5px 0 0 20px;
  clear: both;
}

#content .list-help {
  margin-left:910px;
}

.item_title {
  float: left;
  width: 70%;
}
.item_likes {
  float: right;
  text-align: right;
  margin-right: 5px;
}

