html {
    height: 100%;
    font-size: 100.01%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

a:link {
    color: #555;
    font-weight: bold;
}

a:visited {
    color: #333;
    font-weight: bold;
}

a:hover, a:active {
    color: #c00;
}

hr.clear {
    border: none;
    margin: 0;
    padding: 0;
    height: 0;
    visibility: none;
    clear: both;
}

div#website_title {
    width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
}

div#website_title h1 {
    color: White;
    /*text-shadow: 1px 1px 1px #444;*/
    padding: 0 0 0.2em 0;
    margin: 0;
    font-size: 19px;
    letter-spacing: -1px;
}

div#website_title h1 a {
    text-decoration: none;
    color: #55AE00;
    font-style:italic;
}

#color-wrapper {
    background-color: #888;
}

#outline {
    width: 1000px;
    margin: 0 auto;
}

#content-outline {
    background-color: White;
    padding-bottom: 10px;
}

/* ---HIDE CONTENT1--- */
#content1 { visibility: hidden; }

#content {
    background-color: White;
    font-size: 12px;
    line-height: 1.5em;
    color: #555;
}

#content h1 {
    color: #333;
    margin: 0 0 0.5em 0;
    text-shadow: 0 1px 0 #ccc;
}

#content h1 {
    font-size: 17px;
}

#content h2 {
    font-size: 1.7em;
    font-weight: normal;
    color: #555;
    margin: 1em 0 0.5em 0;
}

#content h3 {
    font-size: 15px;
    font-weight: normal;
    color: #459E00;
    margin: 1em 0 0.5em 0;
}

#content p.image img {
    border: 1px solid #999;
}

#content p.image.left {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

#content p.image.right {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
}

#footer {
    margin: 0 auto;
    padding: 1px 0 80px 0;
    width:  1000px;
    font-size: 0.7em;
    color: #666;
}

#footer p {
    margin: 1em 0 1em 0;
}


form.add-attachment {
    padding: 0.2em 1em;
    background-color: #eee;
    -webkit-box-shadow: 0 2px 3px #aaa;
}


/* MESSAGES */

ul#messages {
    margin: 0 5px 10px 5px;
    padding: 10px 10px 0px 10px;
    list-style: none;
}
ul#messages li {
/*    padding: 5px 10px;
    background: #EFD;
    border: 1px solid #BC9;*/
    padding:5px;
}
ul#messages li a {
    float: right;
    color: #693;
}

#content .homepage_content {
  border: 1px solid #999;
  height: auto;
  margin: 5px 0px 0px 0px;
  padding: 0px 10px;
}

#content #content_header {
  width: auto;
	margin: 0px;
	padding: 10px;
}

#content #three_col_left {
  width: 300px;
  float: left;
  padding: 0px 10px;
  height: 100%;
}

#content #three_col_center {
  width: 360px;
  float: left; 
  height: 100%;
}

#content #three_col_right {
  width: 300px;
	margin: 0px;
	float: left;
	padding: 0px 10px;
	height: 100%;
}

#content #homepage_content_1 {
  height: auto;
}

#content #homepage_content_2 {
  height: auto;
}

#content #homepage_news {
/*  margin-bottom:20px;*/
}
	
#content .homepage_content_3 {
	
}


#content #homepage_content_5 {
/*  height: auto; 
  padding: 0px 10px;*/
}

#content #homepage_content_4 {	
/*  height: auto; 
  padding: 0px 10px;
  margin: 10px 0px 20px 0px;*/
}

/* News items */
#content .news_item {
  border-top: 1px solid #999;
  padding:0px 5px;
}

#content .news_item h4 {
  margin-bottom:5px;
}

.article_date {
  font-style:italic;
  margin: 0;
  padding: 0;
}

#content .article_container p {
  margin-left:10px;
}
