#floor_left {
  float: left;
  width: 230px;
}

#floor_center {
  float: left;
  width: 500px;
  padding: 0;
}

#floor_right {
  float: left;
  width: 245px;
  margin: 15px 5px 0 15px;
}

.floor_content {
  margin: 10px 0 0 15px;
  padding: 5px 0px;
}