.activity_header {
  background-color: #459E00;
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
}

.activity_header a {
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
}

.activity_item {
  /*border: 1px solid #999;*/
  margin: 10px 0px;
}

.activity_content {
  padding: 0px 5px;
}

.activity_content h4 {
  padding: 0 10px;
}

.column_header td {
  font-weight:bold;
  border-bottom: 1px solid #999;
}

td.description_row {
  width:100%;
  padding: 5px 0px;
}

.activity_title {
  padding: 5px 0px;
  width:60%;
}

.activity_points {
  width:15%;
  padding: 5px 0px;
}

.profile_content {
  margin: 10px 5px;
  padding: 5px 0px;
}

#profile_left {
  float: left;
  width: 200px;
}

#profile_center {
  float: left;
  width: 480px;
  padding: 0;
}

#profile_right {
  float: left;
  width: 280px;
}

.monitor_item {
  border: 1px solid #999;
  margin: 5px 0px;
  padding: 5px;
}

#power_monitor {
  margin-bottom: 20px;
}