.makahiki_content_body form {
  padding: 10px 5px;
}

#topic_form {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

#topic_form ul {
  list_style: none;
  margin: 0;
  padding: 0;
}

#topic_form ul li {
  display: inline;
  white-space: pre;
}