/* GENERAL TAB STYLING */

#tabhead {
/*    background-color: #666;*/
  margin: 0px -6px 24px -3px;
}

#tabhead ul {
  margin: 0;
  padding: 0;
}

/* Override to ensure subnavigation doesn't get pushed over.*/
#tabhead ul li.ui-state-default {
  margin: 0 0.2em 0 0;
}

#tabhead a:link,
#tabhead a:visited
{
    font-weight: bold;
    font-size: 0.8em;
}

#tabhead a:hover,
#tabhead a:active
{
/*    background-color: #000;
    border-color: #666;
    color: #FFF;*/
}

/* account tabs (right side) */
#tabhead ul.account
{
  margin:0px;
  padding:0;
  float: right;
}


/* SUBNAV */

#subnav {
    background-color: #2F6B00;
}

#subnav a {
  margin-top: 2px;
}

#commitments #commitments_subnav,
#activities #activities_subnav,
#goals #goals_subnav,
#floor #floor_subnav,
#profile #profile_subnav {
  background-color: #459E00;
}

#subnav ul {
    margin: 0;
    padding: 5px 0 0 5px;
    list-style: none;
}

#subnav ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

#subnav a:link,
#subnav a:visited
{
    display: inline-block;
    color: White;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 1em;
    padding: 0.5em 1em;
    /*background-color: #8EEA46;*/
}

#subnav a:hover {
    text-decoration: underline;
}

/* SITE-SPECIFIC TAB STYLING */

/* Active tabs */
#home_tab a.tab_home,
#resources_tab a.tab_resources,
#energy_tab a.tab_energy,
#billboard_tab a.tab_billboard,
#about_us_tab a.tab_about_us
{
    background-color: #999;
    border-color: #888;
    color: #FFF;
}
