<p>Congratulations on your success in the {{competition_name}}! You are now eligible to access a new part of the site called the Canopy. The Canopy is a different type of {{competition_name}} experience, focused on more in-depth investigations of energy data and discussion between members. You will find new quests to complete, but your activities in the Canopy won't earn you any more points. You can continue to access and participate in the other parts of the {{competition_name}} website that you have already experienced, including earning more points there.</p>

<p>How do you get up there? Just log in and take a look "above you"!</p>

<p>Welcome to the canopy!<br/><br/>

{{competition_name}} administrators</p>