{% extends "mobile/base.html" %}


{% block body %}
<div data-role="page">
  <div data-role="header" data-theme="b">
    <a href="" data-icon="back" data-rel="back">Back</a>
    <h1>{{title}}</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" role="listbox">

      {% for activity in activities %}
        {% if activity.category.name|slugify == category %}
          {% if activity.is_unlock %}
          <li>
            <a href="{% url mobile_task category activity.name|slugify %}" rel="external">
            {% if activity.type != 'commitment' %}
              {% if activity.is_pau %}
                {% if activity.approval.approval_status == "rejected" %}
                  <img src="/site_media/static/css/default/images/icon-exclamation2.png"  class="ui-li-icon" width="14"/>
                {% else %}
                  {% if activity.approval.approval_status == "pending" and activity.is_event_pau %}
                    <img src="/site_media/static/css/default/images/icon-exclamation2.png"  class="ui-li-icon" width="14"/>
                  {% else %}
                    <img src="/site_media/static/css/default/images/icon-done.png"  class="ui-li-icon" width="14"/> 
                  {% endif %}
                {% endif %}          {# approval_status #}
              {% else %}     {# ------ is commitment #}             
	        {% if activity.is_pau %}
	          {% if activity.approval.days_left != 0 or activity.approval.award_date %}
                    <img src="/site_media/static/css/default/images/icon-done.png"  class="ui-li-icon" width="14"> 
                  {% else %}
                    <img src="/site_media/static/css/default/images/icon-exclamation2.png" class="ui-li-icon" width="14"/>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
            {{activity.title}} ({{activity.activity.point_value}}{{activity.commitment.point_value}} pts)
            </a>
          </li>
          {% else %}          {# if locked #}
          <li> 
            <a href="" data-icon="delete">
              <img src="/site_media/static/css/default/images/lock24.png" alt="{{activity.title}}" class="ui-li-icon"/>
              Mystery {{activity.type}}
            </a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>


{% endblock %}
