{% extends "mobile/base.html" %}


{% block body %}
<div data-role="page">
  <header data-role="header" data-theme="b">
    <a href="" data-icon="back" data-rel="back">Back</a>
    <h1>{{category}}</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </header>

  <div data-role="content">
    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" role="listbox">

      {% for activity in activities %}
        {% if activity.category.name|slugify == category %}
          {% if activity.activity.is_active %}
          <li>
            <a href="{% url mobile_smartgrid_task activity.id %}">
              <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
              {{activity.title}} ({{activity.activity.point_value}}{{activity.commitment.point_value}} pts)
            </a>
          </li>
          {% else %}
          <li> 
            <a href="" data-icon="delete">
              <img src="/site_media/static/css/default/images/lock24.png" alt="{{activity.title}}" class="ui-li-icon"/>
              Mystery {{activity.type}}
            </a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>


{% endblock %}
