{% extends "mobile/base.html" %} 
{% load avatar_tags %}
{% load class_tags %} 
{% block body %} 
{% load markup %}
<!---------- form ----------> 
  <div data-role="header">
    <h1>{{task.name}}</h1>
  </div>

  <div data-role="content">
    <form id="myform" action="{% url mobile_task_add category task.name|slugify %}" method="post" data-ajax="false">

    {% csrf_token %}

    {% if admin_message %}
      Admin message: {{ admin_message }}
    {% endif %}
  
    <p/>

<!-- insert-->
      {% if task.type == "event" or task.type == "excursion" %}          {# event #}
 
        {% if not task.is_event_completed %}
          You will earn 2 points for signing up for the {{task.type}}.
          <div>
            <button type="submit">OK, Let's do it</button>
            <a href="{% url mobile_task category task.name|slugify %}" data-role="button" data-rel="back">
              I don't want to do it</a>
          </div>
        {% endif %} 
    {% endif %}

<!-- end insert-->
  
    {% if task.type == "activity" %}          {# activity #}
      {% if form.image_response %}         {# image #}
        {{task.confirm_prompt}} <p/>
        <div data-role="content" data-theme="e" class="ui-corner-all">Sorry, image uploading is currently unsuported on mobile devices.</div>
        <
        {{ form.image_response.errors }}
        {{ form.image_response }}
        
      {% else %}                           
        {% if question %}                                {# question #}
        Please answer the following question(s) and submit your answer(s).
        <br>You can also click on the "Cancel" button to go back to review the information.
        <p/>
        {{task.confirm_prompt}} <p/>
        {{form.question}}
        <b>{{question.question}}</b> <br/>
        {% if question.questionchoice_set.count > 0 %}    {# choice response question #}
          {{ form.choice_response.errors }}
          {{ form.choice_response }}
        {% else %}                                        {# text response question #}
          {{ form.response.errors }}
          {{ form.response }}
        {% endif %}  
      {% else %}                                       {# free text #}
        {{task.confirm_prompt}} <p/>
        {{ form.response.errors }}
        {{ form.response }}    
      {% endif %}  
    {%endif%}
      <div>
        <button type="submit">Submit</button>
        <a href="{% url mobile_task task.type task.name|slugify %}" data-role="button" data-rel="back">
           Cancel</a>
      </div>
    {% endif %}
  
    {% if task.type == "survey" %}          {# survey #}   
      {{task.confirm_prompt}} <p/>
      {% for field in form %}
        <b>{{ field.label }}</b> <br/>
        {{ field.errors }}
        {{ field }}
        <p/>
        {% endfor %}
        <div>
          <button type="submit">Submit</button>
          <a href="{% url mobile_task category task.name|slugify %}" data-role="button" data-rel="back">
            Cancel</a>
        </div>
    {% endif %}
    </form>

  </div>  
{% endblock %}
