<html>
<head>
  <title>Get Started</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>
<body>

<div data-role="page">
  <header data-role="header" data-theme="b">
    <h1>Get Started</h1>
  </header>

  <div data-role="content">
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">

      {% for activity in activities %}
        {% if "Get Started" == activity.category.name %}
          {% if activity.is_active %}
          <li>
            <a href="{% url mobile_smartgrid_task activity.id %}">
              <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
              {{activity.title}}({{activity.point_value}} pts)
            </a>
          </li>
          {% else %}
          <li> 
            <a href="" data-icon="delete">
              <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
              Not Available
            </a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>
</body>

</html>
