<html>
<head> 
  <title>Smart Grid Game</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>
<body>

<div data-role="page">
  <header data-role="header" data-theme="b">
    <h1>Smart Grid Game</h1>
  </header>


  <div data-role="content">
    
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
        <li>
          <img src="/site_media/static/css/default/images/favicon.ico" alt="Basic Energy" class="ui-li-icon"/>
          <a href="{% url mobile_basic_enrg %}">Basic Energy</a>
        </li>
        <li>
          <img src="/site_media/static/css/default/images/favicon.ico" alt="Get Started" class="ui-li-icon"/>
          <a href="{% url mobile_get_started %}">Get Started</a>
        </li>
    </ul>

    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li data-role="list-divider">Moving on</li>
      {% for activity in activities %}
        {% if "Moving on" == activity.category.name %}
        <li>
            <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
            <a href="{% url mobile_smartgrid_task activity.id %}">{{activity.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li data-role="list-divider">Lights Out!</li>
      {% for activity in activities %}
        {% if "Lights Out!" == activity.category.name %}
        <li>
            <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
            <a href="{% url mobile_smartgrid_task activity.id %}">{{activity.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li data-role="list-divider">Make Watts</li>
      {% for activity in activities %}
        {% if "Make Watts" == activity.category.name %}
        <li>
            <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
            <a href="{% url mobile_smartgrid_task activity.id %}">{{activity.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li data-role="list-divider">Pot Pourri</li>
      {% for activity in activities %}
        {% if "Pot Pourri" == activity.category.name %}
        <li>
            <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
            <a href="{% url mobile_smartgrid_task activity.id %}">{{activity.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li data-role="list-divider">Opala</li>
      {% for activity in activities %}
        {% if "Opala" == activity.category.name %}
        <li>
            <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
            <a href="{% url mobile_smartgrid_task activity.id %}">{{activity.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li data-role="list-divider">Wet and Wild</li>
      {% for activity in activities %}
        {% if "Wet and Wild" == activity.category.name %}
        <li>
            <img src="/site_media/static/css/default/images/favicon.ico" alt="{{activity.title}}" class="ui-li-icon"/>
            <a href="{% url mobile_smartgrid_task activity.id %}">{{activity.title}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>


      <li data-role="list-divider">TEST LINE</li>

      {% regroup activity.cagetory by name as reordered %}

      <ul>
      {% for name in reordered %}
        <li>{{ name.grouper }}
        <ul>
          {% for item in name.list %}
          <li>{{ item.title }}</li>
          {% endfor %}
        </ul>
        </li>
      {% endfor %}
      </ul>



  </div>
  
  <footer>
  </footer>
</div>

</body>

<html>
