{% extends "mobile/base.html"%}
{% load class_tags %}
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
{% block body %}
  <div data-role="header" data-theme="b"> 
    <a href= "{% url mobile_task task.type task.slug %}" rel="external" data-icon="back" >Back</a>
    <h1>{{task.name}}</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </div>
 <div data-role="content">
{% if not task.is_event_completed %}
{% if error %}
<div id="error_text"><b>
  <p> * Please ensure that you have entered a valid phone number in the format: xxx-xxx-xxxx.</p>
  <p> * Please ensure that you have entered a valid email address</p></b>
</div>
{% endif %}

{% if not error%}
  {% if sender %}
    Changes Saved.
  {% endif%}
{% endif %}
<div {% get_id_and_classes "task-reminder"%}>
 
<div {% get_id_and_classes "task-reminder-dialog" %} title="Remind Me" > 
  {% include "mobile/smartgrid/reminder_form.html" %}
 
{% endif %}
</div>
{%endblock%}
