<html>
<head> 
  <title>Smart Grid Game</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
</head>
<body>

<div data-role="page">
  <header data-role="header" data-theme="b">
    <h1>Smart Grid Game</h1>
  </header>

  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><button type="submit">Available</button></div>
    <div class="ui-block-b"><button type="submit">Completed</button></div>
  </fieldset>

  <div data-role="content">
    
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li>
        <img src="img/favicon.ico" alt="Tweet-Link" class="ui-li-icon"/>
        <a href="news.html">Tweet Link</a>
      </li>
    </ul>
  </div>
  
  <footer>
  </footer>
</div>

</body>
<html>
