{% extends "mobile/base.html" %}


{% load avatar_tags %}
{% load class_tags %}

{% block body %}

{% load markup %}  

<!--script type="text/javascript" language="javascript">
    $(document).ready(function(){
        $("{%url root_index%}{% url mobile_reminder category|slugify task.name|slugify %}").dialog();
    });
</script-->

  <div data-role="header" data-theme="b">
 
<p> sender ========= </p>{{sender}}
    <a href=
    {% if sender == "sgg" %}
      "{% url mobile_activities task.category|slugify %}"
    {% else %}
      {% if sender == "events" %}
        "{% url mobile_events 'upcoming' %}"
      {% else  %}
        {% if sender == "profile" %}
          "{% url mobile_profile 'index'%}"
        {% else %}
          "{% url mobile_index %}" 
        {% endif %}
      {% endif %}
    {% endif %}
    data-icon="back" rel="external">Back</a>
    <h1>{{task.name}}</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
  </div>
    <div data-role="content">
    {% if task.mobile_restricted %}
      <div data-role="content" data-theme="e" class="ui-corner-all">
        Currently, this task cannot be performed using a mobile device.
      </div>
    {%  endif %}
    <div>
    <div {% get_id_and_classes "activity-task-stats-content" %} data-role="collapsible" data-collapsed="true" data-theme="b" class="ui-body-b">   
      <h1>Additional Info</h1>
      <p/>
      This {{task.type}} is worth
      {% if task.point_value %}        
	    <b>{{task.point_value}}</b>
	  {% else %}
	    from <b>{{task.point_range_start}}</b> to <b>{{task.point_range_end}}</b>
	  {% endif %}  
      points.
      {% if task.type == "commitment" %}
        It lasts {{task.duration}} days.
      {% endif %}
      {% if task.type == "event" or task.type == "excursion" %}
      <p/> 
      <b>When</b>  : {{task.event_date}} <br/>
      <b>Where</b> : {{task.event_location}}
      {% endif %}
      <p/>
      {% if task.social_bonus > 0 %}
      <b>Social Bonus : {{task.social_bonus}} points. </b>

      <a href="{% url mobile_help_topic 'widget' 'social-bonus' %}" data-rel="dialog">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="What is Social Bonus ?" 
		
	   /></a>
      {% endif %}
      <p/>
      {{member_all}} 
      {% if member_all == 1 %}
        person has
      {% else %}
        people have 
      {% endif %}
      done this.
      <p/>
      {{member_floor}}  
      {% if member_floor == 1 %}
        person in your {{FLOOR_LABEL.lower}} has
      {% else %}
        people in your {{FLOOR_LABEL.lower}} have 
      {% endif %}
      done this.
      <br/>
      {% for user in users %}
         <img src="{% avatar_url user 40 %}" title="{{user.get_profile.name}}"/>
     {% endfor %}
     
     <p/><p/>
    </div>

    </div>
    <div>
      {% if pau %}
      <div data-role="content" class="ui body ui-body-a ui-corner-all">
        {% if approval.approval_status == "approved" or approval.award_date %}

          <p/>
          Congratulations! You did it and earned {{task.point_value}} points! <br/>
          Thank you for your participation.

        {% else %}
          {% if task.type == "event" or task.type == "excursion" %}

            <p/>
            {% if task.is_event_completed %}
            Thank you for attending the event. <br/> 

            {% else %}
            Thank you! You've earned 2 points by signing up.<br/>
            After the {{task.type}}, please come back here to get your points.
 	    <a type="button" href="{% url mobile_reminder task.category|slugify task.slug%}" rel="external">Set up Reminders</a>
            {% endif %}

          {% endif %}
          {% if task.type == "commitment" %}

             <p/>
              {% if approval.days_left != 0 %}
              Thank you! You've earned 2 points by committing.<br/>
              You have {{approval.days_left}} days left to come back to get the rest of your points.
              {% else %}
              Thank you for committing to this for {{task.duration}} days. <br/>
              Click on the "I Did it" button to get the rest of your points. <br/>
              <form id="myform" action="{% url mobile_task_add category task.name|slugify %}" method="post" data-ajax="false">
		<input type="submit" value="I Did it"/>
 	      </from>
              {% endif %}

          {% endif %}         
          {% if task.type == "activity" %}
            {% if approval.approval_status != "rejected" %}

              <p/>
              Thank you for submitting your response.   <br/>
              An administrator is reviewing your response.  <br/>
              Come back soon to see your new total.

            {% else %}

               <p/>

              Administrator feels that there is a problem with your submission. <br/>
              Please try again. Here is the feedback: <br/>             
              <span style="color:orange">{{approval.admin_comment}}</span>

              <a href="{% url mobile_task_form category task.name|slugify %}" data-role="button" data-rel="dialog">I will try again</a> 

            {% endif %}
          {% endif %}            
        {% endif %}  
      </div>
      {% endif %}

      
      <p/>
      <center><b>{{task.title}}</b></center>
      
      <p/>
      
      {{task.description|markdown}}

      <p/>  
      <center> 
        
      {% if not pau %}              <!-- not done yet  -->
        {% if task.type == "commitment" %}
          {% if can_commit %}
            <form id="myform" action="{% url mobile_task_add category task.name|slugify %}" method="post" data-ajax="false">
 	      <input type="submit" value="I will do this!"/>
 	    </form>
          {% else %}
            <b>You already have 5 pending commitments. <br/>
            You can continue making this commitment once any of your pending commitment is approved.
            </b>
          {% endif %}
        {% endif %}  
        {% if task.type == "event" or task.type == "excursion" %}
           {% if task.is_event_completed %}
            <b>This event took place on {{task.event_date}}. <br/>
              
<!-- insert-->
      {% if task.type == "event" or task.type == "excursion" %}          {# event #}
       
        {% if task.is_event_completed %}
<!-- code goes here-->
<form id="myform" action="{% url mobile_task_add category task.name|slugify %}" method="post" data-ajax="false"> 
    {% csrf_token %}  
    {% if admin_message %}
      Admin message: {{ admin_message }}  
     {% endif %}
            <br/>
          <label for="id_response">Please enter the confirmation code you receieved from the event:</label><br/>{{form.response.errors}} {{form.response}}<br/> 
          

	   {{form.code}}
	  <label for="id_social_email">(Optional) If you did this with a friend or friends, please enter one of their UH email addresses here for a social bonus:</label><br/>
          {{ form.social_email.errors }}  <br/>
          {{form.social_email}}  
          <div>
<div style="visibility:hidden; display:none">
	    <label for="id_comment">Comment:</label> <textarea id="id_comment" rows="3" cols="40" name="comment"></textarea> 
	  </div>
            <button type="submit">Submit</button>
          </div> 
	</form>
        {% endif %} 
    {% endif %}

<!-- end insert-->
           {% else %}
            <a href="{% url mobile_task_form category task.name|slugify %}" data-role="button" data-rel="dialog">I want to sign up</a>
           {% endif %}
        {% endif %} 
        {% if task.type == "survey" %}
          <a href="{% url mobile_task_form category task.name|slugify %}" data-role="button" data-rel="dialog">I want to do it</a>
        {% endif %} 
        {% if task.type == "activity" and not form.image_response %}
          {% if form.image_response %}
            <div data-role="content" data-theme="e" class="ui-corner-all">Sorry, image uploading is currently unsuported on mobile devices.</div> 
          {% else %}
          <b>
          Once you are done, click the button below to get your points!
          </b>
          <p/>
          <a href="{% url mobile_task_form category task.name|slugify %}" data-role="button" data-rel="dialog">I Did This!</a> 
          {% endif %}
        {% endif %}

      {% endif %}
       <br/> <br/>
      </center> <p>
    </div>

{#    <a href="{% url mobile_landing %}smartgrid/task/{{task.id}}/#form" data-role="button" data-rel="dialog" rel="external "data-transition="pop"> #}
{#      I did this! - not part of desktop #}
{#    </a> #} 
{% endblock %}
