{% load notice_tags %}
<div id="notification-dialog" title="Notifications" style="display: none">
  <ul id="notification-dialog-list">
    {% for notification in NOTIFICATIONS.alerts %}
    <li id="notification-dialog-{{notification.id}}" class="{{notification.style_class}} notification-item">
      <div class="notification-contents" {% if notification.is_success %}style="width: 530px"{% endif %}>
        <div class='notice-icon'>
          <span class="ui-icon {{notification.icon_class}}"></span>
        </div>
        <div class='notice-content' {% if notification.is_success %}style="width: 470px"{% else %}style="width: 600px"{% endif %}>
          {{notification.contents|safe}}
        </div>
      </div>
      {% if notification.is_success %}
      <div class="notification-options">
        <a class="notification-share" href="javascript:void(0);">Share on Facebook</a>&nbsp;
      </div>
      {% endif %}
      <br style="clear: both"/>
    </li>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
         $("#notification-dialog-{{notification.id}} .notification-share").unbind("click").click(function(event) {
            FB.ui(
               {
                 method: 'feed',
                 name: 'Kukui Cup',
                 link: 'http://{{request.META.HTTP_HOST}}',
                 picture: 'http://{{request.META.HTTP_HOST}}{{STATIC_URL}}css/default/images/logo.png',
                 description: '{{notification.contents}}',
                 display: 'popup'
               }
             );
             return false;
          });
      });
    </script>
    {% endfor %}
  </ul>
  <center>
  <button>OK</button>
  </center>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#notification-dialog").dialog({
      modal: true,
      width: 700,
      closeOnEscape: false,
      position: ["center", 150]
    });
    
    $("#notification-dialog button").click(function() {
      log_js_action("notifications", "alert", "close");
      $("#notification-dialog").dialog("close");
    });
  });
</script>

{% mark_alerts_displayed request NOTIFICATIONS.alerts %}