{% load notice_tags %}

<li id="notification-item-{{notification.id}}" class="{{notification.style_class}} notification-item">
  <div class="notification-contents" {% if notification.is_success %}style='width: 700px'{% endif %}>
    <div class='notice-icon'>
      <span class="ui-icon {{notification.icon_class}}"></span>
    </div>
    <div class='notice-content' {% if notification.is_success %}style='width: 650px'{% endif %}>
      {{notification.contents|safe}}
    </div>
  </div>
  
  <div class="notification-options">
    {% if notification.is_success %}
    <a class="notification-share" href="javascript:void(0);">Share on Facebook</a>
    {% endif %}
    <span class="notification-read ui-icon ui-icon-circle-close"></span>
    <br style="clear: both"/>
  </div>
  <div style="clear:both"></div>
  
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $("#notification-item-{{notification.id}} .notification-read").click(function() {
        $.post("{% url notifications_read notification.id %}", function(data) {
          $("#notification-item-{{notification.id}}").fadeOut();
        });
      });
      
      $("#notification-item-{{notification.id}} .notification-share").click(function() {
        log_js_action("notification", "{{notification.id}}", "share");
        FB.ui(
           {
             method: 'feed',
             name: 'Kukui Cup',
             link: 'http://{{request.META.HTTP_HOST}}',
             picture: 'http://{{request.META.HTTP_HOST}}{{STATIC_URL}}css/default/images/old-logo.png',
             description: '{{notification.contents}}',
             display: 'popup'
           },
           
           function(response) {
             if (response && response.post_id) {
               log_js_action("notification", "{{notification.id}}", "shared");
               $.post("{% url notifications_read notification.id %}", function(data) {
                 $("#notification-item-{{notification.id}}").fadeOut();
               });
             }
             else {
               log_js_action("notification", "{{notification.id}}", "share-canceled");
             }
           }
         );
      });
    });
  </script>
</li>
