{% extends "makahiki_profiles/base.html" %}

{% load generic_flatblocks %}

{% block extra_head %}
  <script type="text/javascript">
    function confirm_removal(form, item_type) {
      var confirmed = confirm("Are you sure you wish to remove this " + item_type + "?");
      if (confirmed) {
        form.submit();
        return true;
      }
      else {
        return false;
      }
    }
  </script>
{% endblock %}

{% block active_subnav %}{{plural_type}}{%endblock%}

{% block body %}
  <div id="list_help" style="padding: 15px 5px 0; margin: 0">
    <div class="makahiki_content">
      {% gblock "list",plural_type for "gblocks.TitleAndText" %}
    </div>
  </div>
  <div style="clear:both"></div>
  
  <div id="main_content" style="float: left; width: 67%">
    <div id="user_items" class="main_list ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="ui-accordion-header ui-corner-top ui-state-default list_header">
        {% if plural_type == "activities" %}
          Submitted {{plural_type}}:
        {% else %}
          Active {{plural_type}}:
        {% endif %}
        <span id="active_help" class="list-help ui-icon ui-icon-help"></span>
      </div>

      <div class="activity_content ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
        {% if user_members %}
          <table class="activity_list">
          <tr class="column_header">
            <td class="item_info">Title</td>
            <td class="item_points">Points</td>
            <td class="item_options">Options</td>
          </tr>
            {% for member in user_members %}
              {% if item_type == "commitment" %}
                {% include "activities/list/commitment.html" %}
              {% else %}
                {% include "activities/list/activity.html" %}
              {% endif %}
            {% endfor %}
          </table>
        {% else %}
          {% if plural_type == "activities" %}
            You have not submitted any activities.
          {% else %}
            <h4>You are not participating in any {{plural_type}}.</h4>
          {% endif %}
        {% endif %}
      </div>
    </div>
    
    {% if available_events %}
    <div id="available_events" class="main_list ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="ui-accordion-header ui-corner-top ui-state-default list_header">
        Available Events:
        <span id="available_help" class="list-help ui-icon ui-icon-help"></span>
      </div>

      <div class="activity_content ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
        {% if available_events.count > 0 %}
        <table class="activity_list">
        <tr class="column_header">
          <td class="item_info">Title</td>
          <td class="item_points">Points</td>
          <td class="item_options">Options</td>
        </tr>
          {% for item in available_events %}
            {% if item_type == "commitment" %}
              {% include "activities/list/commitment.html" %}
            {% else %}
              {% include "activities/list/activity.html" %}
            {% endif %}
          {% endfor %}
        </table>
        {% else %}
        <p>There are no available events at this time.</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    
    <div id="available_items" class="main_list ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="ui-accordion-header ui-corner-top ui-state-default list_header">
        Available {{plural_type}}:
        <span id="available_help" class="list-help ui-icon ui-icon-help"></span>
      </div>

      <div class="activity_content ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
        {% if available_items.count > 0 %}
        <table class="activity_list">
        <tr class="column_header">
          <td class="item_info">Title</td>
          <td class="item_points">Points</td>
          <td class="item_options">Options</td>
        </tr>
          {% for item in available_items %}
            {% if item_type == "commitment" %}
              {% include "activities/list/commitment.html" %}
            {% else %}
              {% include "activities/list/activity.html" %}
            {% endif %}
          {% endfor %}
        </table>
        {% else %}
        <p> There are not available {{plural_type}} at this time.  Check back later!</p>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div id="side_content" style="float:right; width: 30%; padding-right: 10px">
    <div id="completed_items" class="side_list ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="ui-accordion-header ui-corner-top ui-state-default list_header">
        Completed {{plural_type}}:
        <span id="completed_help" class="side-help ui-icon ui-icon-help"></span>
      </div>

      <div class="list_content ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
      {% if completed_items %}
      <ul style="list-style: none; margin: 0; padding: 0">
        {% for item in completed_items %}
          {% include "activities/list/side_item.html" %}
        {% endfor %}
      </ul>
      {% else %}
        <h4>You have not completed any {{plural_type}}.</h4>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_body %}
  <!-- Frontendadmin -->
  <script type="text/javascript">
  jQuery(document).ready(function(){
      jQuery('a.frontendadmin_edit').hover(
          function(){jQuery(this).parent().css('outline', '4px solid #E9B007')},
          function(){jQuery(this).parent().css('outline', '')}
      );

      jQuery('a.frontendadmin_edit').click(function(){
              jQuery(this).parent().css('outline', '');
              jQuery(this).parent().load(this.href);
              return false;
      });

      jQuery('a.frontendadmin_delete').hover(
          function(){jQuery(this).parent().css('outline', '4px solid #E9B007')},
          function(){jQuery(this).parent().css('outline', '')}
      );
  });
  </script>
  
  {% include "activities/list/dialogs.html" %}
{% endblock %}