{% if member %}
  <li>
    <div style="float:left">
      <span style="font-weight:bold">Status:</span> {{member.approval_status.capitalize}}
    </div>
    <div style="float:right">
    {% if member.approval_status != "pending" and member.approval_status != "approved" %}
      <a href="/activities/request_activity_points/{{ item.id }}/" class="option-link ui-state-default ui-corner-all ui-state-hover">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span class="button-text">I Did This!</span>
      </a>
    {% endif %}
    {% if member.approval_status != "approved" %}
    <form action="/activities/remove_activity/{{ item.id }}/" method="post">
      <a href="#" onclick="confirm_removal(parentNode, 'activity')" class="option-link ui-state-error ui-corner-all ui-state-hover">
        <span class="ui-icon ui-icon-circle-minus"></span><span class="button-text">Remove</span>
      </a>
    </form>
    {% endif %}
    </div>
    <div style="clear:both"></div>
  </li>
{% else %}
<li>
  <a href="/activities/request_activity_points/{{ item.id }}/" class="option-link ui-state-default ui-corner-all ui-state-hover">
    <span class="ui-icon ui-icon-circle-check"></span>
    <span class="button-text">I Did This!</span></a>
  </a>
</li>
{% endif %}

{% if item.has_variable_points %}
<li><span style="font-weight: bold">Points:</span> {{ item.point_range_start }}-{{ item.point_range_end }}</li>
{% else %}
<li><span style="font-weight: bold">Points:</span> {{ item.point_value }}</li>
{% endif %}

<li><span style="font-weight: bold">Approximate time required:</span> {{ item.duration }} minutes</li>
<li><span style="font-weight: bold">Expires at:</span> {{item.expire_date|date:"SHORT_DATE_FORMAT"}}</li>
{% if item.is_event %}
<li><span style="font-weight: bold">Event Date:</span> {{item.event_date|date:"SHORT_DATETIME_FORMAT"}}</li>
{% endif %}
<li>
  {% with item.liked_users as like_users %}
    {% if like_users|length > 0 %}
      <span class="option-link ui-state-highlight ui-corner-all" style="margin-right: 10px">
        <span class="ui-icon ui-icon-star"></span>
        <span class="button-text">{{like_users|length}}</span>
      </span>
    {% endif %}
    {% if user in like_users %}
      <form action="/activities/unlike_{{item_type}}/{{item.pk}}/" method="post" style="display: inline">
      <a class="option-link ui-state-error ui-corner-all" href="#" onclick="parentNode.submit()">
        <span class="ui-icon ui-icon-circle-minus"></span>
        <span class="button-text">Unlike</span>
      </a></form>
    {% else %}
      <form action="/activities/like_{{item_type}}/{{item.pk}}/" method="post" style="display: inline">
      <a class="option-link ui-state-default ui-corner-all" href="#" onclick="parentNode.submit()">
        <span class="ui-icon ui-icon-star"></span>
        <span class="button-text">Like</span>
      </a></form>
    {% endif %}
  {% endwith %}
</li>
