{% extends "site_base.html" %}

{% load i18n %}
{% block tab_id %}id="activity_tab"{% endblock %}

{% block body_class %}profile{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="/activities/commitment_list/">Commitments</a></li>
            <li><a href="/activities/activity_list/">Activities</a></li>
            <li><a href="/activities/goal_list/">Goals</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block breadcrumbs %}<a href="/activities/home/">Activities</a>{% endblock breadcrumbs %}
