{% extends "site_base.html" %}

{% load i18n %}
{% block tab_id %}id="activity_tab"{% endblock %}

{% block body_class %}profile{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul id="{% block active_subnav %}{% endblock %}">
            <li id="commitments_subnav" class="ui-corner-all"><a href="/activities/commitment_list/">Commitments</a></li>
            <li id="activities_subnav" class="ui-corner-all"><a href="/activities/activity_list/">Activities</a></li>
            <li id="goals_subnav" class="ui-corner-all"><a href="/activities/goal_list/">Goals</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

