{% load activity_tags %}
{% load markup %}

<tr>
  <td class="activity_title">
    <div class="item_title">
      <a style="text-decoration:none" href="#">
        <span class="toggle-icon ui-icon ui-icon-plus" style="position:absolute"></span>
        <span style="padding-left:20px">{{item.title}}</span>
      </a>
    </div>
    <div style="padding-left: 20px" class="item_description">
      {% if item.description %}
        <p>{{ item.description|markdown }}</p>
      {% endif %}

      {% if item.is_event %}
        <p>This activity occurs at {{ item.event_date }}</p>
      {% endif %}
    </div>
  </td>
  <td class="activity_points">{{ item.point_value }}</td>
  <td class="activity_options">
    {% render_user_tools user item %}
  </td>
</tr>


