{% load activity_tags %}
{% load markup %}

<tr>
  <td class="item_info">
    <div class="item_title" style="{% if item.likes %}width: 65%;{% endif %}">
      <a style="text-decoration:none" href="#">
        <div class="toggle-icon ui-icon ui-icon-plus" style="position:absolute; width: 15px; float: left"></div>
        <div class="title-string" style="float: left">{{item.title}}</div>
      </a>
    </div>
    {% if item.likes %}
    <div class="item_likes">
    {% with item.liked_users as like_users %}
      {% if like_users|length > 0 %}
        <span class="option-link ui-state-highlight ui-corner-all" style="margin-right: 10px">
          <span class="ui-icon ui-icon-person"></span>
          <span class="button-text">{{like_users|length}}</span>
        </span>
      {% endif %}
      {% if user in like_users %}
        {% if item_name == "activities" %}
          <form action="/activities/unlike_activity/{{item.pk}}/" method="post" style="display: inline">
        {% else %}
          <form action="/activities/unlike_goal/{{item.pk}}/" method="post" style="display: inline">
        {% endif %}
        <a class="option-link ui-state-error ui-corner-all" href="#" onclick="parentNode.submit()">
          <span class="ui-icon ui-icon-circle-minus"></span>
          <span class="button-text">Unlike</span>
        </a></form>
      {% else %}
        {% if item_name == "activities" %}
          <form action="/activities/like_activity/{{item.pk}}/" method="post" style="display: inline">
        {% else %}
          <form action="/activities/like_goal/{{item.pk}}/" method="post" style="display: inline">
        {% endif %}
        <a class="option-link ui-state-default ui-corner-all" href="#" onclick="parentNode.submit()">
          <span class="ui-icon ui-icon-star"></span>
          <span class="button-text">Like</span>
        </a></form>
      {% endif %}
    {% endwith %}
    </div>
    {% endif %}
    <div class="item_description">
      {% if item.description %}
        <p>{{ item.description|markdown }}</p>
      {% endif %}

      {% if item.is_event %}
        <p>This activity occurs at {{ item.event_date }}</p>
      {% endif %}
    </div>
  </td>
  <td class="item_points">{{ item.point_value }}</td>
  <td class="item_options">
    {% render_user_tools user item %}
  </td>
</tr>


