{% extends "makahiki_profiles/base.html" %}

{% load generic_flatblocks %}
{% load markup %}

{% block extra_head %}
  <style type="text/css">
    .item_info li {
      padding:3px 0;
    }
  </style>
  
  <script type="text/javascript">
    function confirm_removal(form, item_type) {
      var confirmed = confirm("Are you sure you wish to remove this " + item_type + "?");
      if (confirmed) {
        form.submit();
        return true;
      }
      else {
        return false;
      }
    }
  </script>
{% endblock %}

{% block active_subnav %}{{plural_type}}{%endblock%}

{% block body %}
<div id="content_header" style="padding-bottom:0">
  <a href="{% url activity_list item_type %}">Back to {{plural_type}}</a>
  <h2 style="margin:0; padding-top:5px;">{{item.title}}</h2>
  <div style="clear:both"></div>
</div>
<div id="two_col_left" style="width: 30%; padding:0; padding-top:10px">
  <div id="activity_info" class="makahiki_content">
    <div class="makahiki_content_title ui-accordion-header ui-corner-top ui-state-default">
      Info:
    </div>

    <div class="makahiki_content_body ui-helper-reset ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
      <ul class="item_info" style="list-style: none; margin: 0; padding: 5px">
        {% if item_type == "activity" %}
          {% include "activities/activity_info.html" %}
        {% else %}
          {% include "activities/commitment_info.html" %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<div id="two_col_right" style="width: 70%; padding:0; padding-top:10px">
  <div id="activity_description" class="makahiki_content">
    <div class="makahiki_content_title ui-accordion-header ui-corner-top ui-state-default">
      Description:
    </div>

    <div class="makahiki_content_body ui-helper-reset ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
      {{item.description|markdown}}
    </div>
  </div>
</div>
{% endblock %}
