{% load activity_tags %}
{% load markup %}

<tr>
  <td class="activity_title">
    <div class="item_title">
      <a style="text-decoration:none" href="#">
        <span class="toggle-icon ui-icon ui-icon-plus" style="position:absolute"></span>
        <span class="title-string">{{item.title}}</span>
      </a>
      {% if item.likes %}
        <div class="item_likes">
        {% with item.liked_users as like_users %}
          {% if like_users|length > 0 %}
            {{like_users|length}} users like this activity. 
          {% endif %}
          {% if user in like_users %}
            <form action="/activities/unlike_activity/{{item.pk}}/" method="post" style="display: inline">
            <a href="#" onclick="parentNode.submit()">Unlike</a></form>
          {% else %}
            <form action="/activities/like_activity/{{item.pk}}/" method="post" style="display: inline">
            <a href="#" onclick="parentNode.submit()">Like</a></form>
          {% endif %}
        {% endwith %}
        </div>
      {% endif %}
    </div>
    <div class="item_description">
      {% if item.description %}
        <p>{{ item.description|markdown }}</p>
      {% endif %}

      {% if item.is_event %}
        <p>This activity occurs at {{ item.event_date }}</p>
      {% endif %}
    </div>
  </td>
  <td class="activity_points">{{ item.point_value }}</td>
  <td class="activity_options">
    {% render_user_tools user item %}
  </td>
</tr>


