{% extends "kukui_cup_profile/base.html" %}

{% block body %}
  <h2 id="list_header">{{item_name.capitalize}}</h2>
  <div id="user_items" class="list_item ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="ui-accordion-header ui-corner-top ui-state-default activity_header">
      Your {{item_name}}:
    </div>

    <div class="list_content ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
      {% if user_items %}
        <table class="activity_list">
        <tr class="column_header">
          <td class="activity_title">Title</td>
          <td class="activity_points">Points</td>
          <td class="activity_options">Options</td>
        </tr>
          {% for item in user_items %}
            {% include "activities/item.html" %}
          {% endfor %}
        </table>
      {% else %}
        <h4>You are not participating in any {{item_name}}.</h4>
      {% endif %}
    </div>
    
  </div>

  <div id="available_items" class="list_item ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="ui-accordion-header ui-corner-top ui-state-default activity_header">
      Available {{item_name}}:
    </div>

    <div class="activity_content ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
      <table class="activity_list">
      <tr class="column_header">
        <td class="activity_title">Title</td>
        <td class="activity_points">Points</td>
        <td class="activity_options">Options</td>
      </tr>
        {% for item in available_items %}
          {% include "activities/item.html" %}
        {% endfor %}
      </table>
  </div>
{% endblock %}