{% extends "makahiki_profiles/base.html" %}

{% block extra_head %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("form").submit(function() {
        $('input[type=submit]', this).attr('disabled', 'disabled')
      })
    })
  </script>
{% endblock %}

{% block body %}
<form action="/activities/request_goal_points/{{goal.pk}}/" method="post">
  {% csrf_token %}
  <h3>Requesting points for {{goal.title}}</h3>
  {% if admin_comment %}
    <p>Admin message: {{ admin_comment }}</p>
  {% endif %}
  <p>
    Please enter an optional comment before submitting your request.  Your feedback is appreciated!
  </p>
  <p><label for="id_comment">Comment(optional):</label><br/>
  {{ form.comment }}</p>
  <input type="submit" value="Submit" />
</form>
{% endblock %}