{% extends "kukui_cup_profile/base.html" %}

{% block body %}
  <h3>Requesting points for {{activity.title}}</h3>
  {% if form.is_multipart %}
    <form enctype="multipart/form-data" action="/activities/request_activity_points/{{activity.pk}}/" 
    method="post">
  {% else %}
    <form action="/activities/request_activity_points/{{activity.pk}}/" method="post">
  {% endif %}
  
  {% if form.response %}
    {{ form.response.errors }}
  {% else %}
    {{ form.image_response.errors }}
  {% endif %}
  {% if admin_message %}
    Admin message: {{ admin_message }}
  {% endif %}
  <p><label for="id_response">
    {% if question %}
      {{question.question}}
      {{form.question}}
    {% else %}
      {{activity.confirm_prompt}}
    {% endif %}
  </label><br/>
  {% if form.image_response %}
    {{ form.image_response }}
  {% else %}
    {{ form.response }}
  {%endif%}
  </p>
  
  <p><label for="id_comment">Additional Comments</label><br/>
  {{ form.comment }}</p>
  <input type="submit" value="Submit" />
</form>
{% endblock %}