{% extends "site_base.html" %}

{% load class_tags %}

{% block page_title %}
  Welcome to Kuku iCup!
{% endblock %}

{% block extra_head %}
  {% import_page_css "landing" STATIC_URL CSS_THEME %}
  <style>
    /* Override for the footer on the index page.*/
    #footer {
      margin: 0;
    }
  </style>
{% endblock %}

{% block body %}

<div {% get_id_and_classes "landing-page" %}>
  <div {% get_id_and_classes "landing-logo" %}>
    {# <a href="{% url landing %}"> #}
      <img src="{{STATIC_URL}}css/default/images/old-logo.png"/>
    {# </a> #}
  </div>
  <div {% get_id_and_classes "landing-title" %}>
    <h2>The Kukui Cup: Lights out, game on!</h2>
  </div>
</div>

<div {% get_id_and_classes "landing-about" %}>
  <h2 style='margin: 0 30px'>The Kukui Cup starts on October 17. Check back then!</h2>
  <p> 
    For further information check our <a href='{% url about %}'>About page</a>, 
    or contact Philip Johnson at <a href='mailto:johnson@hawaii.edu'>johnson@hawaii.edu</a> or 808-956-3489.
  </p>
</div>
{% endblock %}
