{% extends "site_base.html" %}

{% load class_tags %}

{% block page_title %}
  Welcome to KukuiCup!
{% endblock %}

{% block extra_head %}
  {% import_page_css "landing" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}

<div {% get_id_and_classes "landing-page" %}>
  <div {% get_id_and_classes "landing-logo" %}>
    <img src="{{ STATIC_URL}}css/default/images/logo.png"/>
  </div>
  <div {% get_id_and_classes "landing-title" %}>
    <h2>The Kukui Cup: Lights out, game on!</h2>
  </div>
</div>

<div {% get_id_and_classes "landing-intro" %}>
 Aloha! The Kukui Cup is an energy challenge that can be played by all first year UH students living in the Hale Aloha residence halls.
<p> <p>

<a href="{% url home_index %}">
  <button {% get_id_and_classes "landing-button-participant" %}>
  	<h3>I live in Hale Aloha</h3>
  	<h5>You will be prompted for your <br>
  	UH username and password, it's safe</h5>
  </button>
</a>

<p>

<a href="{% url about %}">
<button {% get_id_and_classes "landing-button-non-participant" %}>
	<h3>I don't live in these residence halls</h3>
	<h5>but I'd like to know more about the Kukui Cup</h5>
</button>
</a>

</div>

<!-- <div {% get_id_and_classes "landing-poster" %}>
<img src="{{ STATIC_URL}}images/landing/personkukui.jpg" height="300" width="400"/>
</div> -->
<p>

{% endblock %}

{% block footer %}
<div {% get_id_and_classes "landing-sponsors" %}>
  <div {% get_id_and_classes "landing-sponsors-title" %}>
    Sponsored by:
  </div>
  <div {% get_id_and_classes "landing-sponsors-list" %}>
       <a href="http://csdl.ics.hawaii.edu"><img src="http://uh-dorm-energy-competition.googlecode.com/svn/logos/logo.csdl.gif" width="75px"/></a>
       <a href="http://reis.manoa.hawaii.edu"><img src="http://uh-dorm-energy-competition.googlecode.com/svn/logos/logo.reis.2.png" width="75px"/></a>
       <a href="http://manoa.hawaii.edu/housing/"><img src="http://uh-dorm-energy-competition.googlecode.com/svn/logos/logo.manoa.2.png" width="75px"/></a>
       <a href="http://www.nsf.gov/"><img src="http://www.nsf.gov/images/logos/nsf1sm.gif" width="75px"/></a>
  </div>
</div>
<a href="mailto:kukuicup@gmail.com">Contact the Kukui Cup administrators</a>
{% endblock %}