{% extends "site_base.html" %}
{% load generic_flatblocks %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL}}css/{{CSS_THEME}}/pages/index.css">
{% endblock %}

{% block body %}

<div class="span-24 last">	
<div class="span-2">	
<img src="{{ STATIC_URL}}images/logo.png"/>
</div>

<div class="span-22 last"> <h2>The Kukui Cup: Lights out, game on!</h2>
</div>

</div>
<div class="span-12">
Welcome! 
The Kukui Cup is an exciting dorm energy competition scheduled in the 
Hale Aloha Ilima, Lehua, and Mokihana towers on the University of Hawaii 
at Manoa campus for Fall 2011.
<p>
<p>

<button id="button" class="ui-button ui-widget ui-corner-all ui-state-active">
	<h3><a href="/home">I live in Ilima, Lehua, or Mokihana</a></h3>
	<h5><a href="/home">You will be prompted for your <br>
	UH username % password, it's safe</a></h5>
</button>

<p>

<button id="button" class="ui-button ui-widget ui-corner-all ui-state-default">
	<h3><a href="/">I don't live in those dorms</a></h3>
	<h5><a href="/">but I'd like to know more about the Kukui Cup</a></h5>
</button>

</div>

<div class="span-12 last">
<img src="{{ STATIC_URL}}images/landing/personkukui.jpg" height="300" width="400"/>
</div>
<p>

{% endblock %}

{% block footer %}
<div class="span-24 last">	
<center><a>Contact the Kukui Cup administrators</a></center>
    {% gblock "website_footer" for "gblocks.Text" %}
</div>
{% endblock %}