{% extends "site_base.html" %}

{% load class_tags %}

{% block page_title %}
  Welcome to KukuiCup!
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL}}css/{{CSS_THEME}}/pages/index.css">
{% endblock %}

{% block body %}

<div id="landing-page" class="{% insert_classes "landing-page" %}">
  <div id="landing-logo" class="{% insert_classes "landing-logo" %}">
    <img src="{{ STATIC_URL}}images/logo.png"/>
  </div>
  <div id="landing-title" class="{% insert_classes "landing-title" %}">
    <h2>The Kukui Cup: Lights out, game on!</h2>
  </div>
</div>

<div id="landing-intro" class="{% insert_classes "landing-intro" %}">
Welcome!
The Kukui Cup is an exciting dorm energy competition scheduled in the 
Hale Aloha Ilima, Lehua, and Mokihana towers on the University of Hawaii 
at Manoa campus for Fall 2011.
<p> <p>

<button id="landing-button" class="{% insert_classes "landing-button" %}">
	<h3><a href="/home">I live in Ilima, Lehua, or Mokihana</a></h3>
	<h5><a href="/home">You will be prompted for your <br>
	UH username and password, it's safe</a></h5>
</button>

<p>

<button id="landing-button" class="{% insert_classes "landing-button" %}">
	<h3><a href="/">I don't live in those dorms</a></h3>
	<h5><a href="/">but I'd like to know more about the Kukui Cup</a></h5>
</button>

</div>

<div id="landing-poster" class="{% insert_classes "landing-poster" %}">
<img src="{{ STATIC_URL}}images/landing/personkukui.jpg" height="300" width="400"/>
</div>
<p>

{% endblock %}

{% block footer %}
<div id="landing-page" class="{% insert_classes "landing-page" %}">
  <center>
  <a>Contact the Kukui Cup administrators</a>
  <p>
  <div>Sponsored by:<br> 
       <a href="http://csdl.ics.hawaii.edu"><img src="http://uh-dorm-energy-competition.googlecode.com/svn/logos/logo.csdl.gif" width="75px"/></a>
       <a href="http://reis.manoa.hawaii.edu"><img src="http://uh-dorm-energy-competition.googlecode.com/svn/logos/logo.reis.2.png" width="75px"/></a>
       <a href="http://housing.hawaii.edu"><img src="http://uh-dorm-energy-competition.googlecode.com/svn/logos/logo.manoa.2.png" width="75px"/></a>
       <a href="http://sustainableuh.hawaii.edu"><img src="http://uh-dorm-energy-competition.googlecode.com/svn/logos/logo.sustainable-uh.2.png" width="75px"/></a>
       <p>Implemented using the open source <a href="http://keokilee.github.com/makahiki">Makahiki Framework</a>
  </div>
  </center>
</div>
{% endblock %}