{% load class_tags %}
{% load prize_tags %}
{% load markup %}

{% for prize in raffle.prizes %}
  <!-- {% cycle 'alt-row' '' as cycle_class %} -->
<!--  <tr class="{{cycle_class}}"-->
    <div class="ui-block-a" class="{% insert_classes "prize-item" %}">
      <a id="raffle-{{prize.title|slugify}}" href="{% url mobile_raffle_item prize.title|slugify %}" data-rel="dialog">
        {{prize.title}}
      </a>
    </div>
    <!--div class="ui-block-b" class="{% insert_classes "prize-number" %}"></div-->
    <div class="ui-block-b" class="{% insert_classes "prize-number" %}">{{prize|user_tickets:user}}</div>
    <div class="ui-block-c" class="{% insert_classes "prize-number" %}">{{prize.allocated_tickets}}</div>
    <div class="ui-block-d" class="{% insert_classes "prize-number" %}">{{prize|user_odds:user}}</div>
    <div class="ui-block-e" data-role="controlgroup" data-type="horizontal" class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal">
    <div style="display: inline" >
      {% if raffle.tickets.available > 0 %}
      <form action="{% url raffle_add_ticket prize.id %}" method="POST" style="display: inline">
	{%csrf_token%}
        <button class="enabled" style="display: inline" type="submit" data-icon="plus" onClick="setTimeout('parent.location.reload()',500);return true;"></button>
      </form>
      {% else %}
      <button disabled="disabled" style="display: inline" data-icon="plus"></button>
      {% endif %}
      {% if prize|user_tickets:user > 0 %}
      <form action="{% url raffle_remove_ticket prize.id %}" method="POST" style="display: inline">
        {%csrf_token%}
        <button class="enabled" type="submit" style="display: inline" data-icon="minus" onClick="setTimeout('parent.location.reload()',500);return true;"></button>
      </form>
      {% else %}
        <button disabled="disabled" style="display: inline" data-icon="minus"></button>
      {% endif %}
    </div><!--inline div-->
    </div>
  <!--/tr-->
{% endfor %}
