{% load class_tags %}

<table {% get_id_and_classes "activities-scoreboard-table-floor" %} style="width: 100%">
	<thead><tr>
		<th style="width: 20px">Rank</th>
		<th style="width: 150px">{{FLOOR_LABEL.capitalize}}</th>
		<th style="text-align: right;">Overall</th></tr>
	</thead>
	<tbody>
		{% for f in floor_standings %}
		<tr><td>{{forloop.counter}}</td>
		<td style="width: 150px; {% if f == floor %}font-weight: bold{% endif %}">
		  {{f}}
		</td>
		<td style="width: 110px; text-align:right;{% if f == floor %}font-weight: bold{% endif %}">
		  {{f.points}}
		</td>
		{% endfor %}
	</tbody>
</table>

<table {% get_id_and_classes "activities-scoreboard-table-profile" %} style="width: 100%; display: none">
	<thead><tr>
		<th>Rank</th>
		<th>Individual</th>
		<th style="text-align: right">Overall</th></tr>
	</thead>
	<tbody>
		{% for p in profile_standings %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="width: 150px; {% if p == profile %}font-weight: bold{% endif %}">
		  {{p.name}}
		</td>
		 <td style="width: 110px; text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.current_round_points}}
		</td>
		{% endfor %}
	</tbody>
</table>

<table {% get_id_and_classes "activities-scoreboard-table-floor-profile" %} style="width: 100%; display: none">
	<thead><tr>
		<th>Rank</th>
		<th>Individual</th>
		<th style="text-align: right">{{ floor }}</th></tr>
	</thead>
	<tbody>
		{% for p in user_floor_standings %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="width: 150px; {% if p == profile %}font-weight: bold{% endif %}">
		  {{p.name}}
		</td>
		<td style="width: 110px; text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
		 {{p.current_round_points}}
		</td>
		{% endfor %}
	</tbody>
</table>

<table {% get_id_and_classes "activities-scoreboard-table-profile" %} style="width: 100%; display: none">
	<thead><tr>
		<th>Rank</th>
		<th>{{ FLOOR_IDENTIFIER }}</th>
		<th style="text-align: right">Participation</th></tr>
	</thead>
	<tbody>
		{% for f in floor_participation %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="width: 150px; {% if f == floor %}font-weight: bold{% endif %}">
		  {{ f }}
		</td>
		 <td style="width: 110px; text-align:right;{% if f == floor %}font-weight: bold{% endif %}">
		  {{ f.active_participation }}%
		</td>
		{% endfor %}
	</tbody>
</table>