{% load class_tags %}

<div {% get_id_and_classes "activity-task-form-content" %}>
  {% if form.is_multipart %}
    <form id="myform" enctype="multipart/form-data" action="{% url activity_add_task task.type task.slug %}" method="post">
  {% else %}
    <form id="myform" action="{% url activity_add_task task.type task.slug %}" method="post">
  {% endif %}

  {% csrf_token %}

  {% if admin_message %}
    Admin message: {{ admin_message }}
  {% endif %}
  
  <p/>
   {% if task.type == "event" or task.type == "excursion" %}          {# event #}
     {% if task.is_event_completed %}
        Please enter the confirmation code you received from the event:
        {{ form.response.errors }}
        {{ form.response }}
       
        {% if task.social_bonus > 0 %}
          <p/>
          (Optional) If you did this with a friend or friends, please enter 
          one of their UH email addresses here for a social bonus:<br/>
          {{ form.social_email.errors }}
          {{ form.social_email }}
        {% endif %}

        {% if task.is_group %}
          <p/>
            Please enter the UH email address of other team members that complete this task with you:<br/>
            {{ form.social_email.errors }}
            email #1 : {{ form.social_email }}
            <br/>
            {{ form.social_email2.errors }}
            email #2 : {{ form.social_email2 }}
        {% endif %}
        <div {% get_id_and_classes "activity-task-form-content-button" %}>
          <button id = "submit_form_button1" style="cursor:pointer;" onclick='$("#submit_form_button1").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>Submit</button>
          <button style="cursor:pointer;" onclick='$("#setup-dialog").dialog("close"); return false;'>Cancel</button>
        </div>
     {% else %}
        You will earn 2 {% if task.is_canopy %} Karma {% endif %} points for signing up for the {{task.type}}.
         <div {% get_id_and_classes "activity-task-form-content-button" %}>
          <button id = "submit_form_button2" style="cursor:pointer;" onclick='$("#submit_form_button2").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>OK</button>
          <button style="cursor:pointer;" onclick='$("#setup-dialog").dialog("close"); return false;'>Cancel</button>
         </div>
      {% endif %}

   {% endif %}
   
   {% if task.type == "commitment" %}     {# commitment #}
     {% if not approval or approval.award_date %}
         You will earn 2 {% if task.is_canopy %} Karma {% endif %} points for making this commitment.
         <p/>
         You will need to come back after {{task.duration}} days to get the rest of your points.
         {% if task.social_bonus > 0 %}
              <p/>
              (Optional) If you want to do this with a friend or friends, please enter
              one of their UH email addresses here for a social bonus:<br/>
              {{ form.social_email.errors }}
              {{ form.social_email }}
         {% endif %}
         {% if task.is_group %}
              <p/>
              Please enter the UH email address of other team members that complete this task with you:<br/>
              {{ form.social_email.errors }}
              email #1 : {{ form.social_email }}
              <br/>
              {{ form.social_email2.errors }}
              email #2 : {{ form.social_email2 }}
         {% endif %}
         <div {% get_id_and_classes "activity-task-form-content-button" %}>
            <button id = "submit_form_button3" style="cursor:pointer;" onclick='$("#submit_form_button3").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>OK</button>
         </div>
     {% else %}
         Thank you for the commitment.
         <p/>
         You will earned {{task.point_value}} {% if task.is_canopy %} Karma {% endif %} points.
         {% if task.social_bonus > 0 %}
              <p/>
              (Optional) If you did this with a friend or friends, please enter
              one of their UH email addresses here for a social bonus:<br/>
              {{ form.social_email.errors }}
              {{ form.social_email }}
         {% endif %}
         {% if task.is_group %}
              <p/>
              Please enter the UH email address of other team members that complete this task with you:<br/>
              {{ form.social_email.errors }}
              email #1 : {{ form.social_email }}
              <br/>
              {{ form.social_email2.errors }}
              email #2 : {{ form.social_email2 }}
         {% endif %}
         <div {% get_id_and_classes "activity-task-form-content-button" %}>
              <button id = "submit_form_button4" style="cursor:pointer;" onclick='$("#submit_form_button4").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>OK</button>
         </div>
     {% endif %}
   {% endif %}
  
  {% if task.type == "activity" %}          {# activity #}
    {% if form.image_response %}         {# image #}
      {{task.confirm_prompt}} <p/>
      {% if form.response %}
        {{ form.response.errors }}
        {{ form.response }}
      {%  endif %}
      {{ form.image_response.errors }}
      {{ form.image_response }}
    {% else %}                           
      {% if question %}                                {# question #}
        Please answer the following question(s) and submit your answer(s).
        <br>You can also click on the "Cancel" button to go back to review the information.
        <p/>
        {{task.confirm_prompt}} <p/>
        {{form.question}}
        <b>{{question.question}}</b> <br/>
        {% if question.questionchoice_set.count > 0 %}    {# choice response question #}
          {{ form.choice_response.errors }}
          {{ form.choice_response }}
        {% else %}                                        {# text response question #}
          {{ form.response.errors }}
          {{ form.response }}
        {% endif %}  
      {% else %}                                       {# free text #}
        {{task.confirm_prompt}} <p/>
        {{ form.response.errors }}
        {{ form.response }}    
      {% endif %}  
    {% endif %}
    {% if task.social_bonus > 0 %}
          <p/>
          (Optional) If you did this with a friend or friends, please enter 
          one of their UH email addresses here for a social bonus: <br/>
          {{ form.social_email.errors }}
          {{ form.social_email }}
    {% endif %}
    {% if task.is_group %}
      <p/>
        Please enter the UH email address of other team members that complete this task with you:<br/>
        {{ form.social_email.errors }}
        email #1 : {{ form.social_email }}
        <br/>
        {{ form.social_email2.errors }}
        email #2 : {{ form.social_email2 }}
    {% endif %}
    <div {% get_id_and_classes "activity-task-form-content-button" %}>
        <button id = "submit_form_button5" style="cursor:pointer;" onclick='$("#submit_form_button5").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>Submit</button>
        <button style="cursor:pointer;" onclick='$("#setup-dialog").dialog("close"); return false;'>Cancel</button>
    </div>
  {% endif %}
  
  {% if task.type == "survey" %}          {# survey #}   
     {{task.confirm_prompt}} <p/>
     {% for field in form %}
     <b>{{ field.label }}</b> <br/>
     {{ field.errors }}
     {{ field }}
     <p/>
     {% endfor %}
      <div {% get_id_and_classes "activity-task-form-content-button" %}>
          <button id = "submit_form_button6" style="cursor:pointer;" onclick='$("#submit_form_button6").attr("disabled", "disabled");javascript:this.form.submit(); return false;'>Submit</button>
          <button style="cursor:pointer;" onclick='$("#setup-dialog").dialog("close"); return false;'>Cancel</button>
      </div>
   {% endif %}

 </form>

</div>

