<html>
<head>
</head>
<body>
  <table cellpadding="15" style='width: 800px; border-collapse: collapse; border-width: 1px; border-color: black; border-style: solid;'>
    <tr style='border-collapse: collapse; border-width: 1px; border-color: black; border-style: solid;'>
    {% for code in codes %}
      <td style="border-right: 1px solid black;">
        <h4 style='text-align: center; margin: 0'>{{ activity.title }}</h4>
        <p style="margin-top: 0">
          Earn {{activity.point_value}} points with this attendance code.  Go to <span style='font-family: "Courier New", Courier, monospace; white-space:nowrap;'>kukuicup.manoa.hawaii.edu</span>, click on Get Nutz, and enter the following code at the bottom of the 'Upcoming Events' box: 
          <span style='font-family: "Courier New", Courier, monospace; white-space:nowrap; font-weight: bold'>{{ code.code }}</span>
        </p>
        {% if activity.social_bonus and activity.social_bonus > 0 %}
        <p>
          Remember, you can earn {{ activity.social_bonus }} social bonus points by providing the UH email address of a friend who attended the {{ activity.type }}.
        </p>
        {% endif %}
      </td>
    {% if forloop.counter|divisibleby:"2" %}
      {% if forloop.counter|divisibleby:per_page %}
      {# Create a new table #}
      </tr>
      </table>
      <table style="width: 800px; page-break-before: always; border-collapse: collapse; border-width: 1px; border-color: black; border-style: solid;" cellpadding="15">
      <tr style='border-collapse: collapse; border-width: 1px; border-color: black; border-style: solid;'>
      {% else %}
      </tr>
      <tr style='border-collapse: collapse; border-width: 1px; border-color: black; border-style: solid;'>
      {% endif %}
    {% endif %}
    {% endfor %}
  </table>
</body>
</html>