body {
    background-color: white; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the outside of the body */
    padding: 0;             /* Amount of negative space around the inside of the body */
    width: 320px;
}

#logout {
  text-align: right;
  margin-top: 5px;
}

#logout a {
  text-decoration: none;
  padding: 0px 5px;
  font-size: 12px;
}

#mobile_header h1 {
    margin: 0;
    padding: 0;
}
#mobile_header h1 a {
    color: #026890;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

#mobile_header ul {
  margin: 0px -6px 31px -3px;
}

#mobile_header ul li {
  width: 76px;
}

#mobile_header ul li a {
  text-align: center;
}

#mobile_content {
  margin-top:-1px;
  background-color: white;
}

#mobile_content ul {
    list-style: none;
    padding: 0;
    padding-top: 10px;
}

#mobile_content ul li {
  font-size: 14px;
}

#mobile_content ul li a {
  font-weight: bold;
  background-color: white;
  1px solid #77D5F7
  color: #222222;
  display: block;
  padding: 12px 10px;
}

#mobile_content, #sidebar {
  padding: 10px;
}

#mobile_content .ui-widget-content {
  border: 1px solid #77D5F7;
}

#mobile_content .mobile_links {
  border: 1px solid #77D5F7;
}