{% extends "mobile/base.html" %} 
{% block body %} 
{% load class_tags %}
{% load avatar_tags %} 
    <div data-role="header" data-theme="b" data-add-back-btn="True">
      <h1>News{{next}}</h1>
      <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    </div>

    <div data-role="body">
    <div {% get_id_and_classes "news-wall" %} data-role="content">
      <div {% get_id_and_classes "news-wall-box" %}>
        <div {% get_id_and_classes "news-wall-title" %}> 
        </div>
        <div {% get_id_and_classes "news-wall-content" %}>
          <div {% get_id_and_classes "wall-form" %}>
            <form {% get_id_and_classes "news-post-form" %} action="{% url mobile_news_post %}" rel="external" method="POST" onSubmit="setTimeout('parent.location.reload()',0); return true;">
              {% csrf_token %}
              <div {% get_id_and_classes "wall-post-errors" %}></div>
              <div {% get_id_and_classes "wall-post" %}>
                {{wall_form.post}}

<script type="text/javascript">
  $(document).ready((change("id_post"))); 
  function change( elementId ) {
    var ele = document.getElementById(elementId);
    ele.onclick = clear; 
  }
  function clear() {
    this.value='';
  }
</script>
              </div>
              <div style="text-align: center">
                <button id="wall-post-submit">Post</button>
              </div>
              <!-- <a {% get_id_and_classes "wall-post-submit" %} href="#">Post</a> -->
            </form>
      </div>
      <br>
      <div class="content-primary">
      <ul {% get_id_and_classes "wall-posts" %} data-role="listview" class="ui-listview">
        {% include "mobile/news/templates/mnews_posts.html" %}
      </ul>
      </div>
      {% if not posts %}
        <p {% get_id_and_classes "wall-no-posts" %} style="padding: 7px;">There are no posts yet!</p>
      {% endif %}
    </div>
    </div> 
{% endblock %}
