{% load class_tags %}
{% for post in posts %} 
  {% if post.style_class == "user_post" %}
    {% include "mobile/news/templates/user_post.html" %}
  {% else %}
    {% include "mobile/news/templates/system_post.html" %}
  {% endif %} 
  
  {% if forloop.last and more_posts %}
  <!--li {% get_id_and_classes "view-more-posts" %} >
    <a href="#" onclick='
      $.mobile.pageLoading();
      $.get("{% url news_more_posts %}?last_post={{post.id}}", function(data) {
        $("#view-more-posts").remove();
        $("#wall-posts").append(data.contents);
      $.mobile.pageLoading(true);
      });

      return false;'>See more</a>
  </li--> 
<div align="center"
{% if next >= 3 %}> 
<a href="{% url news_more last %}" data-role="button" data-icon="arrow-l" data-theme="b"data-inline="true"> Back</a> 
{% endif %}
{% if posts.count == 10%}
<a href="{% url news_more next %}" data-role="button" data-icon="arrow-r"data-theme="b" data-inline="true"> Next</a> 
{% endif %}	 
</div>
  {% endif %}
{% endfor %}

