{% load class_tags %}
{% for post in posts %} 
  {% if post.style_class == "user_post" %}
    {% include "mobile/news/templates/user_post.html" %}
  {% else %}
    {% include "mobile/news/templates/system_post.html" %}
  {% endif %} 
  
{% endfor %}
  {% if more_posts %} 
    <div align="center"
    {% if next >= 3 %}> 
        <a href="{% url mobile_news_more last %}" data-role="button" data-icon="arrow-l" data-theme="b" data-inline="true"> Back</a> 
    {% endif %}
    {% if posts.count == 10%}
        <a href="{% url mobile_news_more next %}" data-role="button" data-icon="arrow-r" data-theme="b" data-inline="true"> Next</a> 
    {% endif %}
    </div>
  {% endif %}
