{% load avatar_tags %}
{% load class_tags %}

<li>
  <div class="{% insert_classes 'user-post' %} {{cycle_class}}">
    <div class="{% insert_classes 'user-post-avatar' %}">
      <img src="{% avatar_url post.user 40 %}" alt="Photo of {{ post.user.get_profile.name }}" class="{% insert_classes 'news-photo' %}" align="top"/>
    <b >{{post.user.get_profile.name}}</b></div>
    <div class="{% insert_classes 'user-post-content' %}">
      <br><div height="10px" ></div>
      <div word-wrap:break-word> {{post.text}}</div>
      <font size="1"><b>Posted at {{post.date_string}}</b></font>
    </div>
  </div>


</li>
