{% extends "mobile/base.html" %}
{% load avatar_tags %}
{% load class_tags %}
{% block body %} 
  <div data-role="header">

    <h1>My Achievements</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="{% url mobile_profile 'index' %}" rel="external">Profile</a></li>
        <li><a href="">Achievements</a></li>
        <li><a href="{% url mobile_profile 'badges' %}" rel="external">Badges</a></li>
        <li><a href="{% url mobile_profile 'commitments' %}" rel="external">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body"> 
<div {% get_id_and_classes "profile-history" %}>
  <div {% get_id_and_classes "profile-history-box" %}>
    <div {% get_id_and_classes "profile-history-content" %}>
      <h5 {% get_id_and_classes "profile-history-current" %}>Current and Pending</h5>
      {% if in_progress_members %}
        {% include "mobile/profile/in_progress_members.html" %}
      {% else %}
        <p style="width: 100%; text-align: left; padding: 16px;">You have nothing in progress or pending.</p>
      {% endif %}
      
      <h5 {% get_id_and_classes "profile-history-previous-header" %}>Previously Awarded</h5>
      {% if completed_members %}
        <table {% get_id_and_classes "profile-history-previous-table" %}>
          <tr {% get_id_and_classes "profile-history-previous-table-header" %}>
            <th {% get_id_and_classes "profile-history-previous-date-header" %}>Date</th>
            <th {% get_id_and_classes "profile-history-previous-task-header" %}>Task</th>
            <th {% get_id_and_classes "profile-history-previous-points-header" %}>Points</th>
          </tr>
          {% include "mobile/profile/completed_members.html" %}
          </table>
        {% else %}
          <p style="width: 100%; text-align: left; padding: 16px;">You have not been awarded anything yet!</p>
        {% endif %}
    </div>
  </div>
</div> 
  </div> 
{% endblock %}
