{% extends "mobile/base.html" %}
{% load avatar_tags %}
{% load class_tags %}
{% block body %} 
  <div data-role="header">

    <h1>My Commitments</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
       <ul>
        <li><a href="{% url mobile_profile 'index' %}" rel="external">Profile</a></li>
        <li><a href="{% url mobile_profile 'achievements' %}" rel="external">Achievements</a></li>
        <li><a href="{% url mobile_profile 'badges' %}" rel="external">Badges</a></li>
        <li><a href="">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body">
{% include "mobile/profile/user_commitments.html" %}
<div {% get_id_and_classes "profile-commitments" %}>
  <div {% get_id_and_classes "profile-commitments-box" %}>
    <div {% get_id_and_classes "profile-commitments-content" %}>
    </div>
  </div>
</div> 
  </div> 
{% endblock %}
