{% extends "mobile/base.html" %}
{% load avatar_tags %}
{% load class_tags %}
{% block body %}
<script>
$(document).bind("mobileinit",function(){ 
    $.mobile.ajaxFormEnabled=false; 
});
</script>
<div data-role="page" id="index">
  <div data-role="header">

    <h1>My Profile</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="">Profile</a></li>
        <li><a href="{% url mobile_profile %}/#achievements">Achievements</a></li>
        <li><a href="{% url mobile_profile %}/#badges">Badges</a></li>
        <li><a href="{% url mobile_profile %}/#commitments">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body"> 
    <div {% get_id_and_classes "profile-form-content" %}>
      {% include "mobile/profile/user.html" %}
    </div>
  </div>
</div>

<div data-role="page" id="achievements" data-url="achievements">
  <div data-role="header">

    <h1>My Achievements</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="{% url mobile_profile %}">Profile</a></li>
        <li><a href="">Achievements</a></li>
        <li><a href="{% url mobile_profile %}/#badges">Badges</a></li>
        <li><a href="{% url mobile_profile %}/#commitments">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body">
    {% include "mobile/profile/achievements.html" %}
  </div>
</div>

<div data-role="page" id="badges" data-url="badges">
  <div data-role="header">

    <h1>My Badges</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="{% url mobile_profile %}">Profile</a></li>
        <li><a href="{% url mobile_profile %}/#achievements">Achievements</a></li>
        <li><a href="">Badges</a></li>
        <li><a href="{% url mobile_profile %}/#commitments">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body">
    {% include "mobile/profile/badges.html" %}
  </div>
</div>

<div data-role="page" id="commitments" data-url="commitments">
  <div data-role="header">

    <h1>My Commitments</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="{% url mobile_profile %}">Profile</a></li>
        <li><a href="{% url mobile_profile %}/#achievements">Achievements</a></li>
        <li><a href="{% url mobile_profile %}/#badges">Badges</a></li>
        <li><a href="">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body">
    {% include "mobile/profile/commitments.html" %}
  </div>
</div>
{% endblock %}
