{% extends "mobile/base.html" %}
{% load avatar_tags %}

{% block body %}
<div data-role="page" id="index">
  <div data-role="header">

    <h1>My Profile</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="">Profile</a></li>
        <li><a href="{% url mobile_profile %}/#achievements">Achievements</a></li>
        <li><a href="{% url mobile_profile %}/#badges">Badges</a></li>
        <li><a href="{% url mobile_profile %}/#commitments">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body">

    <table>
        <tr>
          <td colspan="2">General</td>
        </tr>
        <tr>
          <td>{{form.display_name.label_tag}}</td>
          <td>{{profile.name}}</td>
        </tr>
        <tr>
          <td>Picture</td>
          <td><img src="{% avatar_url user 60 %}"/></td>
        </tr>
        <tr>
          <td colspan="2">Reminder Settings</td>
        </tr>
        <tr>
          <td><label for="id_event_email">Email</label></td>
          <td>{{profile.contact_email}}</td>
        </tr>
        <tr>
          <td><label for="id_event_text">Text</label></td>
          <td>
            {{profile.contact_text}}
            {{profile.contact_carrier}}
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
    </table>
    <a href="{% url mobile_profile %}/#form" data-role="button" rel="external" data-rel="dialog">Update My Info</a>
  </div>
</div>

<div data-role="page" id="form" data-url="form">
  <div data-role="header">
    <h1>Update My Data</h1>
  </div>
  <div data-role="body">
    <form action="{% url profile_index %}" method="post">
      {% if form.message %}
        <div style="text-align: center">
          <span>{{form.message}}</span>
        </div>
      {% endif %}
  
      <table>
        <tr>
          <td colspan="2">General</td>
        </tr>
        {% if form.display_name.errors %}
        <tr><td colspan="2">{{form.display_name.errors}}</td></tr>
        {% endif %}
        <tr>
          <td>{{form.display_name.label_tag}}</td>
          <td>{{form.display_name}}</td>
        </tr>
        <tr>
          <td><label for="picture">Picture</label></td>
          <td>
            <img src="{% avatar_url user 60 %}"/>
            <a href="" style="padding-left: 15px">Cannot change picture on mobile</a>
          </td>
        </tr>
        {# <tr> #}
        {#   <td>{{form.stay_logged_in.label_tag}}</td> #}
        {#   <td>{{form.stay_logged_in}}</td> #}
        {# </tr> #}
        <tr>
          <td colspan="2">Reminder Settings</td>
        </tr>
        {% if form.contact_email.errors %}
        <tr><td colspan="2">{{form.contact_email.errors}}</td></tr>
        {% endif %}
        <tr>
          <td><label for="id_event_email">Email</label></td>
          <td>{{form.contact_email}}</td>
        </tr>
        {% if form.contact_text.errors %}
        <tr><td colspan="2">{{form.contact_text.errors}}</td></tr>
        {% endif %}
        <tr>
          <td><label for="id_event_text">Text</label></td>
          <td>
            {{form.contact_text}}
            {{form.contact_carrier}}
          </td>
        </tr>
      </table>
      <button type="submit">Save Changes</button>
      {# <a href="#" {% get_id_and_classes "profile-form-submit-button" %}>Save Changes</a> #}
    </form>
    <a href="{% url mobile_profile %}" data-role="button" data-rel="back">Cancel</a>
  </div>
</div>

<div data-role="page" id="achievements" data-url="achievements">
  <div data-role="header">

    <h1>My Achievements</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="{% url mobile_profile %}">Profile</a></li>
        <li><a href="">Achievements</a></li>
        <li><a href="{% url mobile_profile %}/#badges">Badges</a></li>
        <li><a href="{% url mobile_profile %}/#commitments">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body">
    {% include "mobile/profile/achievements.html" %}
  </div>
</div>

<div data-role="page" id="badges" data-url="badges">
  <div data-role="header">

    <h1>My Badges</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="{% url mobile_profile %}">Profile</a></li>
        <li><a href="{% url mobile_profile %}/#achievements">Achievements</a></li>
        <li><a href="">Badges</a></li>
        <li><a href="{% url mobile_profile %}/#commitments">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body">
    {% include "mobile/profile/badges.html" %}
  </div>
</div>

<div data-role="page" id="commitments" data-url="commitments">
  <div data-role="header">

    <h1>My Commitments</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
    <div data-role="navbar">
      <ul>
        <li><a href="{% url mobile_profile %}">Profile</a></li>
        <li><a href="{% url mobile_profile %}/#achievements">Achievements</a></li>
        <li><a href="{% url mobile_profile %}/#badges">Badges</a></li>
        <li><a href="">Commitments</a></li>
      </ul>
    </div>
  </div>
  <div data-role="body">
    {% include "mobile/profile/commitments.html" %}
  </div>
</div>
{% endblock %}
