{% load avatar_tags %}
{% load class_tags %}
  
<form id="profile-form-contents" action="{% url mobile_profile 'index' %}" rel="external" method="post">
{%csrf_token%} 
<div align="left">
{{form.message}}
{{form.errors}}
</div>
</br><label for="id_display_name">Display name:</label>{{form.display_name}}<br/><br/>

<div style="visibility:hidden; display:none"><label for="id_enable_help">Enable help:</label><input checked="checked" type="checkbox" name="enable_help" id="id_enable_help" /> 

<label for="id_stay_logged_in">Stay logged in:</label><input checked="checked" type="checkbox" name="stay_logged_in" id="id_stay_logged_in" display="none"/>
</div>

<label for="id_contact_email">Contact email:</label>{{form.contact_email}}<br/>

<label for="id_contact_text">Mobile # :</label>{{form.contact_text}}<br/>

<label for="id_contact_carrier">Carrier:</label>{{form.contact_carrier}}<br/>

  <input type="submit" rel="external" value="submit"/>

</form> 
 
