{% extends "logged_in_base.html" %}

{% load class_tags %}
{% load avatar_tags %}

{% block page_title %}
  News
{% endblock %}

{% block selected_icon %}selected-news{% endblock %}

{% block extra_head %}
  {% import_page_css "news" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "news-events-popular-activities" %}>
  <div {% get_id_and_classes "news-events" %}>
    <div {% get_id_and_classes "news-events-title" %}>
      Upcoming Events
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
  	title="Click to get help about this window" 
  	onclick="toggleHelp('widget', 'upcoming-events'); return false;"
     /></a>
    </div>
    <div {% get_id_and_classes "news-events-content" %}>
      {% include "view_activities/events.html" %}
    </div>
  </div>
  
  <div {% get_id_and_classes "news-most-popular" %}>
    <div {% get_id_and_classes "news-most-popular-title" %}>
      Most Popular
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
  	title="Click to get help about this window" 
  	onclick="toggleHelp('widget', 'most-popular'); return false;"
     /></a>
    </div>
    <div {% get_id_and_classes "news-most-popular-content" %}>
      <div {% get_id_and_classes "news-most-popular-tasks" %} >
        {% include "news/popular_tasks.html" %}
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          var height = 45; //Minimum height of the box.
          $("#news-most-popular-tasks").children().each(function(index, value) {
            if ($(value).height() > height) {
              height = $(value).height() + 30;
            }
          });

          $("#news-most-popular-tasks").cycle({height: "" + height + "px"});
        })
      </script>
    </div>
  </div>
  
  <div {% get_id_and_classes "news-commitments" %}>
    <div {% get_id_and_classes "news-commitments-title" %}>
      My Public Commitments
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
  	title="Click to get help about this window" 
  	onclick="toggleHelp('widget', 'my-public-commitments'); return false;"
     /></a>
    </div>
    <div {% get_id_and_classes "news-commitments-content" %}>
      {% include "activities/user_commitments.html" %}
    </div>
  </div>
</div>

<div {% get_id_and_classes "news-members" %}>
  <div {% get_id_and_classes "news-members-title" %}>
    {{FLOOR_LABEL}} members
    <a href="#" style="float: right">
    <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
	title="Click to get help about this window" 
	onclick="toggleHelp('widget', 'news-directory'); return false;"
   /></a>
   <br style="clear: both"/>
  </div>
  <div {% get_id_and_classes "news-members-content" %}>
    <ul {% get_id_and_classes "news-members-list" %}>
      {% for member in floor_members %}
      <li>
        <a href="{% url news_floor_members %}#{{member.name|slugify}}">
          <img src="{% avatar_url member.user 40 %}" alt="Photo of {{ member.name }}" title="Photo of {{ member.name }}" align="top" />
          <div>
            {{member.name}}
          </div>
        </a>
      </li>
      {% if forloop.counter|divisibleby:6 %}
      <br style="clear: left"/>
      {% endif %}
      {% endfor %}
    </ul>
    <div style="text-align: center">
      <a href="{% url news_floor_members %}">View all members</a>
    </div>
  </div>
</div>

<div {% get_id_and_classes "news-wall" %}>
  <div {% get_id_and_classes "news-wall-box" %}>
    <div {% get_id_and_classes "news-wall-title" %}>
      News Feed
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
  	title="Click to get help about this window" 
  	onclick="toggleHelp('widget', 'news-feed'); return false;"
     /></a>
    </div>
    <div {% get_id_and_classes "news-wall-content" %}>
      <div {% get_id_and_classes "wall-form" %}>
        <form {% get_id_and_classes "news-post-form" %} action="{% url news_post %}" method="POST">
          {% csrf_token %}
          <div {% get_id_and_classes "wall-post-errors" %}></div>
          <div {% get_id_and_classes "wall-post" %}>
            {{wall_form.post}}
          </div>
		  <div style="text-align: center">
			<button id="wall-post-submit" style="font-size: 12px; margin-top:1.2em; margin-left:0.5em; margin-right:0.5em; margin-bottom:1.2em;">
				Post
			</button>
		  </div>
          <!-- <a {% get_id_and_classes "wall-post-submit" %} href="#">Post</a> -->
        </form>
      </div>
      
      <ul {% get_id_and_classes "wall-posts" %}>
        {% include "news/news_posts.html" %}
      </ul>
      {% if not posts %}
        <p {% get_id_and_classes "wall-no-posts" %} style="padding: 7px;">There are no posts yet!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript"> 
$( document ).ready( function ()
 {
    $("#event-code-submit").click(function() {             
            $.post("{% url activity_attend_code %}", $("#event-code-form").serialize(), function(data) {
                if (data.message) {
                  $("#event-code-errors").html(data.message);
                  $("#event-code-errors").show();
                  if (data.social_email) {
                    $("#social_email").show();
                  }
                }
                else {
                  window.location.replace("/activities/"+data.type+"/"+data.slug+"/");
                }
              });
           
            return false;
    });
          
    $("#social_email input").click(function() {
      this.value = "";
    });

 });


</script>  

{% endblock %}