{% load class_tags %}

<div {% get_id_and_classes "profile-history" %}>
  <div {% get_id_and_classes "profile-history-box" %}>
    <div {% get_id_and_classes "profile-history-title" %}>
      My Achievements
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'my-achievements'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "profile-history-content" %}>
      <h5 {% get_id_and_classes "profile-history-current" %}>Current and Pending</h5>
      {% if in_progress_members %}
        {% include "view_profile/components/in_progress_members.html" %}
      {% else %}
        <p style="width: 100%; text-align: left; padding: 16px;">You have nothing in progress or pending.</p>
      {% endif %}
      
      <h5 {% get_id_and_classes "profile-history-previous-header" %}>Previously Awarded</h5>
      {% if points_logs %}
        <table {% get_id_and_classes "profile-history-previous-table" %}>
          <tr {% get_id_and_classes "profile-history-previous-table-header" %}>
            <th {% get_id_and_classes "profile-history-previous-date-header" %}>Date</th>
            <th {% get_id_and_classes "profile-history-previous-task-header" %}>Task</th>
            <th {% get_id_and_classes "profile-history-previous-points-header" %}>Points</th>
          </tr>
          {% include "view_profile/components/completed_members.html" %}
          </table>
        {% else %}
          <p style="width: 100%; text-align: left; padding: 16px;">You have not been awarded anything yet!</p>
        {% endif %}
    </div>
  </div>
</div>