{% load class_tags %}

<div {% get_id_and_classes "profile-badges" %}>
  <div {% get_id_and_classes "profile-badges-box" %}>
    <div {% get_id_and_classes "profile-badges-title" %}>
      My Badges
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'my-badges'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "profile-badges-content" %}>
      {# <h5>Individual Badges</h5> #}
      <table {% get_id_and_classes "profile-user-badge-table" %}>
        <tr>
          <th {% get_id_and_classes "profile-user-badge-image-header" %}></th>
          <th {% get_id_and_classes "profile-user-badge-text-header" %}>Badge</th>
          <th {% get_id_and_classes "profile-user-badge-achievement-header" %}>Achievement</th>
        </tr>
        {% if user.badges_earned.count > 0 %}
          {% for awarded in user.badges_earned.all %}
          <tr>
            <td><img src="{{STATIC_URL}}{{awarded.badge.image}}"/></td>
            <td>{{awarded.badge.name}}</td>
            <td>{{awarded.badge.description.0}}</td>
          </tr>
          {% endfor %}
        {% else %}
          <tr {% get_id_and_classes "profile-user-badge-empty" %}><td colspan="3">You don't have any badges yet!</td></tr>
        {% endif %}
      </table>
      <div {% get_id_and_classes "profile-badge-catalog" %}>
        <a href="{% url profile_badges %}">See Badge Catalog</a>
      </div>
    </div>
  </div>
</div>