<li id="profile-notice-{{notification.id}}" class="{{notification.style_class}} notification-item">
  <div class="notification-contents">
    <span class="ui-icon {{notification.icon_class}}"></span>
    {{notification.contents}}
  </div>
  <div class="notification-timestamp">
    {{notification.created_at|date:"n/j/y f A"}}
  </div>
  <div class="notification-options">
    {% if notification.is_success %}
    <a class="notification-share" href="javascript:void(0);">Share on Facebook</a>&nbsp;
    {% endif %}
    {% if notification.unread %}
    <a class="notification-read" href="javascript:void(0);">Mark as read</a>
    {% endif %}
  </div>
  <div style="clear:both"></div>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $("#profile-notice-{{notification.id}} .notification-read").click(function() {
        $.post("{% url notifications_read notification.id %}", function(data) {
          $("#profile-notice-{{notification.id}} .notification-read").fadeOut();
        });
      });
      
      $("#profile-notice-{{notification.id}} .notification-share").click(function() {
        FB.ui(
           {
             method: 'feed',
             name: 'Kukui Cup',
             link: 'http://{{request.META.HTTP_HOST}}',
             picture: 'http://{{request.META.HTTP_HOST}}{{STATIC_URL}}css/default/images/logo.png',
             description: '{{notification.contents}}',
             display: 'popup'
           }
         );
      });
    });
  </script>
</li>