{% extends "site_base.html" %}

{% load class_tags %}

{% block page_title %}
  Welcome to KukuiCup!
{% endblock %}

{% block extra_head %}
  {% import_page_css "landing" STATIC_URL CSS_THEME %}
  <style>
    /* Override for the footer on the index page.*/
    #footer {
      margin: 0;
    }
  </style>
{% endblock %}

{% block body %}

<div {% get_id_and_classes "landing-page" %}>
  <div {% get_id_and_classes "landing-logo" %}>
    <a href="{% url landing %}"><img src="{{STATIC_URL}}css/default/images/old-logo.png"/></a>
  </div>
  <div {% get_id_and_classes "landing-title" %}>
    <h2>The Kukui Cup: Lights out, game on!</h2>
  </div>
</div>

<div {% get_id_and_classes "landing-browser-check" %}>
  <h3>Browser Check</h3>
  <p>
    We noticed that you are using an incompatible browser.  For best results, we suggest using the latest version of <a href='http://www.google.com/chrome'>Chrome</a>, <a href='http://www.apple.com/safari/'>Safari</a>, <a href='http://www.mozilla.org/en-US/firefox/new/'>Firefox</a>, or <a href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home'>Internet Explorer</a>.  If you are using Internet Explorer 6, 7, or 8, you may also use <a href='http://code.google.com/chrome/chromeframe/'>Google Chrome Frame</a> for this site.
  </p>
  <p>
    If you do choose to continue, some features may not work as intended.
  </p>
  
  <div {% get_id_and_classes "landing-browser-buttons" %}>
    <button {% get_id_and_classes "landing-button-continue" %} onclick="javascript:location.href='{% url home_index %}'">
      <h3>I understand that some things may not work correctly. Click to continue.</h3>
    </button>
  </div>
  
</div>

{% endblock %}
