
{% extends "site_base.html" %}

{% load class_tags %}

{% block page_title %}
  Restricted
{% endblock %}

{% block extra_head %}
  {% import_page_css "landing" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}

<div {% get_id_and_classes "landing-page" %}>
  <div {% get_id_and_classes "landing-logo" %}>
    <a href="{% url landing %}"><img src="{{STATIC_URL}}css/default/images/old-logo.png"/></a>
  </div>
  <div {% get_id_and_classes "landing-title" %}>
    <h2>The Kukui Cup: Lights out, game on!</h2>
  </div>
</div>

<div {% get_id_and_classes "landing-about" %}>
Thank you for your interest in the Kukui Cup!
<p/>
According to our records, you are not a resident of the Hale Aloha Residence Halls. If this is not correct, please <a href="mailto:{{ CONTACT_EMAIL }}">email</a> the Kukui Cup administrators.
<p/>
<a href="{% url landing %}">Back to the home page</a>
</div>

{% endblock %}
