{% extends "logged_in_base.html" %}

{% load class_tags %}
{% load avatar_tags %}

{% block page_title %}
  Floor Members
{% endblock %}

{% block selected_icon %}selected-news{% endblock %}

{% block extra_head %}
  {% import_page_css "news" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "floor-members" %}>
  <div {% get_id_and_classes "floor-members-title" %}>
    {{FLOOR_LABEL}} Members
  </div>
  <div {% get_id_and_classes "floor-members-content" %}>
    <a href="{% url news_index %}">Back to the news page</a>
    <ul {% get_id_and_classes "floor-member-detail-list" %}>
      {% for member in floor_members %}
      <!-- {% cycle 'alt-row' '' as cycle_class %} -->
      <li class="{{cycle_class}}">
       {% include "news/directory/member.html" %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}