<h2 style="text-align: center">Introduction Video</h2>
<div style="margin-bottom: 10px">
  <h3>Please watch this short video that explains the Kukui Cup competition and how to use this website. Pay close attention, because on the next screen you will be asked a question about the video to earn some more Kukui Nut points!</h3>
  
  <iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/q13HWBr9m8w" frameborder="0" allowfullscreen></iframe>
</div>

<div style="float: left">
  <button id="back">&lt;- Back</button>
</div>

<div style="float:right">
  <button id="next" style="margin-bottom: 10px">Next -&gt;<br/>get your points!</button>
</div>

<div style="clear:both"></div>

<div style="text-align: center">
  <p style="margin: 5px 0">Introduction progress, points: {{user.get_profile.points}}</p>
</div>
<div id="progressbar"></div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#progressbar").progressbar({
      value: 500/7
    });
    
    $("#back").button().click(function() {
      $(this).button("option", "disabled", true);
      $.get("{% url setup_profile %}?from=video", function(data) {
        $("#ui-dialog-title-setup-dialog").html(data.title);
        $("#setup-dialog").html(data.contents);
      });
    });
    
    $("#next").button().click(function() {
      $.get("{% url setup_question %}", function(data) {
        $("#ui-dialog-title-setup-dialog").html(data.title);
        $("#setup-dialog").html(data.contents);
      });
    });
  });
</script>
