{% load class_tags %}

<h2>Introduction Complete</h2>
<div {% get_id_and_classes "setup-content" %}>
  <p>Congratulations, you have finished the Kukui Cup introduction and earned {{user.get_profile.points}} points! When you click the "Go home" button, you will be taken to your personalized Kukui Cup home page. Your home page connects you to your Lounge's energy usage and standing in the competition, as well as additional activities you can perform to get more points.</p>
  <p>Your home page will contain your first set of quests. Follow the quests (as shown below) to learn more about the Kukui Cup and earn points and prizes.</p>
</div>
<div style="margin-bottom: 10px; width: 100%; text-align: center">
  <img src="{{ STATIC_URL}}/css/default/images/quest-screen.png"/>
</div>

<div style="float: left">
  <button id="back">
   <img src="{{ STATIC_URL}}/css/default/images/left.png" width="24" align="top">
   Back</button>
</div>

<div style="float:right">
  {% if request.mobile %}
  <a href="{% url mobile_index %}"><button id="home">Go to the mobile page 
   <img src="{{ STATIC_URL}}/css/default/images/right.png" width="24" align="top"/>
   </button></a>
  {% else %}
  <a href="{% url home_index %}"><button id="home">Go home 
   <img src="{{ STATIC_URL}}/css/default/images/right.png" width="24" align="top"/>
   </button></a>
  {% endif %}
</div>

<div style="clear:both"></div>

<div {% get_id_and_classes "progressbar-header" %}>
  <p>Introduction progress, points: {{user.get_profile.points}}</p>
</div>
<div {% get_id_and_classes "progressbar" %}></div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#progressbar").progressbar({
      value: 100
    });
    
    $("#back").button().click(function() {
      $(this).button("option", "disabled", true);
      $.get("{% url setup_question %}?from=complete", function(data) {
        $("#ui-dialog-title-setup-dialog").html(data.title);
        $("#setup-dialog").html(data.contents);
      });
    });
    
    $("#home").button();
  });
</script>
