{% load class_tags %}

<h2>Verification Question</h2>
<div {% get_id_and_classes "setup-content" %}>
  <p style="margin: 0">If you&apos;ve watched the intro video, answer the following question for a generous 20 points. Many Kukui Cup activities will have verification steps before you earn your points.</p>
  
  <form {% get_id_and_classes "setup-activity-form" %}>
    {% csrf_token %}
    <label for="activity-select">Question: Which level of student can participate in the Kukui Cup?</label>
    Answer: <select name="activity-select" id="activity-select">
      <option></option>
      <option value="first-years">First-year students</option>
      <option value="sophomores">Sophomores</option>
      <option value="juniors">Juniors</option>
      <option value="seniors">Seniors</option>
    </select>
    <span id="question-response"></span>
    <input id="response-correct" type="hidden" name="response-correct" value="false">
  </form>
</div>

<div style="float: left">
  <button id="back" style="text-align: left">
   <img src="{{ STATIC_URL}}/css/default/images/left.png" width="24" align="top">
   Back<br/>oops, let me watch that again</button>
</div>

<div style="float:right">
  <button id="next" style="margin-bottom: 10px; text-align: right">Submit My Answer 
   <img src="{{ STATIC_URL}}/css/default/images/right.png" width="24" align="top">
   <br/>Almost done!!!</button>
</div>

<div style="clear:both"></div>

<div {% get_id_and_classes "progressbar-header" %}>
  <p>Introduction progress, points: {{user.get_profile.points}}</p>
</div>
<div {% get_id_and_classes "progressbar" %}></div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#progressbar").progressbar({
      value: 600/7
    });
    
    $("#activity-select").change(function() {
      if ($("#activity-select option:selected").val() == "first-years") {
        $("#response-correct").val("true");
        $("#question-response").html("<span style='color: green'>Correct!</span>")
      }
      
      else {
        $("#response-correct").val("false");
        $("#question-response").html("<span style='color: red'>Incorrect! Try again.</span>")
      }
    });
    
    $("#back").button().click(function() {
      $(this).button("option", "disabled", true);
      $.get("{% url setup_activity %}?from=question", function(data) {
        $("#ui-dialog-title-setup-dialog").html(data.title);
        $("#setup-dialog").html(data.contents);
      });
    });
    
    $("#next").button().click(function() {
      $(this).button("option", "disabled", true);
      if($("#response-correct").val() == "true") {
        $.post('{% url setup_complete %}', function(data) {
            $('#ui-dialog-title-setup-dialog').html(data.title);
            $('#setup-dialog').html(data.contents);
        });
      }
      else {
        $.get('{% url setup_complete %}', function(data) {
            $('#ui-dialog-title-setup-dialog').html(data.title);
            $('#setup-dialog').html(data.contents);
        });
      }
    });
  });
</script>
