{% load avatar_tags %}
{% load class_tags %}
<h2>Referral Bonus</h2>

<div {% get_id_and_classes "setup-content" %}>
  <p>
    If a participant in the competition has referred you to the {{COMPETITION_NAME}}, please enter their UH email here.  
    If you complete the setup and earn at least 30 points, you will both be awarded 10 extra points!
  </p>
  <form {% get_id_and_classes "setup-referrer-form" %} action="{% url setup_referral %}" method="post">
    {{form.as_p}}
  </form>
</div>

<div style="float: left">
  <button id="back" style="text-align: left">
   <img src="{{ STATIC_URL}}/css/default/images/left.png" width="24" align="top">
   Back<br/>Terms &amp; Conditions</button>
</div>
<div style="float:right">
  <button id="next" style="text-align: right">Next 
   <img src="{{ STATIC_URL}}/css/default/images/right.png" width="24" align="top">
   <br/>Profile Setup</button>
</div>
<div style="clear:both"></div>

<div {% get_id_and_classes "progressbar-header" %}>
  <p>Introduction progress, points: {{user.get_profile.points}}</p>
</div>
<div {% get_id_and_classes "progressbar" %}></div>

<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#progressbar").progressbar({
    value: 300/7
  });

  $("#decline").button();

  $("#back").button().click(function() {
    $(this).button("option", "disabled", true);
    $.get("{% url setup_terms %}?from=referral", function(data) {
      $("#ui-dialog-title-setup-dialog").html(data.title);
      $("#setup-dialog").html(data.contents);
    });
  });

  $("#next").button().click(function() {
    $(this).button("option", "disabled", true);
    $.post("{% url setup_referral %}", $('#setup-referrer-form').serialize(), function(data) {
      $("#ui-dialog-title-setup-dialog").html(data.title);
      $("#setup-dialog").html(data.contents);
    });
  });
});
</script>
