#content .list_header {
  /*background-color: #3BAAE3;*/
  background: url("images/ui-bg_glass_50_3baae3_1x400.png") repeat-x scroll 50% 50% #3BAAE3;
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
  font-weight: normal;
}

.list_header a {
  text-decoration: none;
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
}

.list_header .ui-icon {
  margin-left: 510px;
}

.monitor-item .list_header .ui-icon {
  margin-left: 180px;
}

.activity_item {
  /*border: 1px solid #999;*/
  margin: 10px 0px;
}

.profile_content .activity_item .activity_content {
  padding: 0 15px;
}

.column_header td {
  font-weight:bold;
  border-bottom: 1px solid #999;
}

.activity_title {
  vertical-align: text-top;
  padding: 5px 5px 5px 0px;
  width:60%;
}

.activity_points {
  vertical-align: top;
  width:10%;
  padding: 5px 0px;
}

.activity_options {
  padding: 5px 0;
  vertical-align: top;
}

#content .profile_table {
  width: 100%;
}

.profile_table tr td {
  font-size:12px;
}

.profile_content {
  margin: 10px 5px;
  padding: 5px 0px;
}

#profile_left {
  float: left;
  width: 200px;
}

#profile_info {
  padding: 5px 0;
}

#profile_avatar {
  margin: 5px 0 10px 0;
}

#profile_left .profile_detail {
  padding: 0 10px;
}

.profile_detail ul {
  padding: 0px;
  list-style: none;
}

.profile_detail ul li {
  margin: 5px;
  list-style: none;
}

#profile_center {
  float: left;
  width: 550px;
  padding: 0;
}

#profile_right {
  float: left;
  width: 210px;
  margin: 15px 5px;
}

#content .list_header a.header_link {
  display: inline;
  font-weight: normal;
  padding-left: 5px;
  text-decoration: underline;
}

/* Monitor styles */
.monitor_item {
  margin: 5px 0px;
  padding: 5px;
}

#power_monitor {
  margin-bottom: 20px;
  background: none;
  /*background-color: #F5F3E5;*/
}