Hi {{object.user.get_profile.name}},

{% with object.activity as activity %}
<p>
  Your response to "<a href='http://{{domain}}{% url activity_task activity.type activity.slug %}'>{{activity.title}}</a>" was not approved.  Here is our feedback:
</p>

<p>
  {{object.admin_comment}}
</p>

<p>
  You can still receive points for this {{activity.type.lower}}.  Please click <a href='http://{{domain}}{% url activity_task activity.type activity.slug %}'>here</a> to try again.
</p>
{% endwith %}

Thank you,<br/><br/>

{{COMPETITION_NAME}} Administrators