<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Makahiki: Send Reminders (Production)</string>
    <key>WorkingDirectory</key>
    <string>/Users/kukuicup/production/makahiki</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/kukuicup/Envs/kukuicup/bin/python</string>
      <string>manage.py</string>
      <string>send_reminders</string>
    </array>
    
    <!-- Only applies if the task is run as root. -->
    <key>UserName</key>
    <string>kukuicup</string>
    
    <!-- Run this task at the first minute of every hour. -->
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Minute</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>31</integer>
      </dict>
    </array>
    
    <key>StandardErrorPath</key>
  	<string>/Users/kukuicup/production/log/send-reminders.err</string>
  	<key>StandardOutPath</key>
  	<string>/Users/kukuicup/production/log/send-reminders.out</string>
    
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
