{% if CURRENT_PHASE %}
<h3 style="margin:5px 0; text-align:center">
  {{CURRENT_PHASE.title}} ends in <span id="countdown"></span>
</h3>

<script type="text/javascript">
  $(document).ready(function() {
    var newYear = new Date(); 
    newYear = new Date({{CURRENT_PHASE.end.year}}, {{CURRENT_PHASE.end.month}} - 1, {{CURRENT_PHASE.end.day}}); 
    $('#countdown').countdown({
        until: newYear, 
        layout: '{dn} {dl}, {hn} {hl}, {mn} {ml}, and {snn} {sl}'
    }); 
  });
</script>
{% endif %}