#header-info {
  border: 1px solid black; 
  margin: -1px;
}

#header-user-username, #header-floor-name {
  font-weight: bold; 
  text-align: center;
}

#header-user-rank h3, #header-floor-points h3, 
#header-user-points h3, #header-floor-rank h3 {
  margin: 0px; 
  display:inline
}

#header-floor-info {
  border-left: 1px solid gray; 
  margin-left: -1px; 
  padding-left: 2px;
  margin-right: 5px
}

#header-logout {text-align: right;}

#header-nav-links ul {
  list-style:none; 
  margin: 0; 
  float: right
}

#header-nav-links ul li {
  display: inline;
}