@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #4A7A28 url(/site_media/static/css/default/images/bkg-grass.jpg);
	text-align: center;
	font: normal 10pt Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

a {
	color: #070000;
}


.container {
	width: 960px;
	background: transparent url(/site_media/static/css/default/images/bkg-landing-middle.jpg) top center repeat;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 0;
}


.container-top {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-top.jpg) top center no-repeat;
	margin: 0;
	padding: 0;
	
}

.container-bottom {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-bottom.png) bottom center no-repeat;
	margin: 0;
	padding: 5px 5px 50px 5px;
}

/********************** header styles ******************************/

#header {
	width: 926px;
	min-height: 126px;
	background: transparent url(/site_media/static/css/default/images/bkg-profile-topnav.png) top center no-repeat;
	margin: 1.5em auto 20px auto;
}

#header-logo {
	float: left;
	margin: 5px 0 5px 15px;
}

#header-info {
	width: 382px;
	height: 113px;
	float: left;
	background: transparent url(/site_media/static/css/default/images/bkg-header-info.png) top left no-repeat;
	display: block;
	padding: 5px;
	margin: 8px 5px 5px 10px;
	overflow: hidden;
}

#header-nav {
    margin-left: 10px;
	float: right;
}
	
#header-logout {
	position: absolute;
	margin-left: 800px;
	margin-top: -1.3em;
	text-align: right;
	width: 120px;
	font-weight: bold;
}

#header-logout a {color: #FFF;}

#header-title {
	float: right;
	margin-right: 20px;
	margin-top: -80px;
	font-size: 14pt;
	text-transform: capitalize;
	text-align: right;
}

#header-nav-links {
	background: transparent url(/site_media/static/css/default/images/bkg-icon-tray.png) 0 10px no-repeat;
	width: 390px;
	height: 78px;
	display: block;
	padding: 15px 2px;
	margin-top: -135px;
	margin-right: 10px;
	float: right;
	}

#header-nav-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header-nav-links ul li {
	float: left;
	margin-left: .4em;
}

#header-nav-links img {
	border: 0;
}

#header-nav-links a.home img {
}

#header-nav-links a.energy img {
	background: transparent url(/site_media/static/css/default/images/icon-go-low.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.energy:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-go-low-over.png) top left no-repeat;
}

#header-nav-links a.activities img {
	background: transparent url(/site_media/static/css/default/images/icon-scoreboard.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.activities:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-scoreboard-over.png) top left no-repeat;
}

#header-nav-links a.news img {
	background: transparent url(/site_media/static/css/default/images/icon-news.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.news:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-news-over.png) top left no-repeat;
}

#header-nav-links a.help img {
	background: transparent url(/site_media/static/css/default/images/icon-help.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.help:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-help-over.png) top left no-repeat;
}

#header-nav-links a.profile img {
	background: transparent url(/site_media/static/css/default/images/icon-profile.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.profile:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-profile-over.png) top left no-repeat;
}

#header-nav-links a.prizes img {
	background: transparent url(/site_media/static/css/default/images/icon-prizes.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.prizes:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-prizes-over.png) top left no-repeat;
}



#header-avatar {
	float: left;
}

#header-avatar img {
	width: 50px;
	margin-right: 5px;
}

#header-user-info {
	width: 120px;
	height: 90px;
	border-right: 2px solid #000;
	float: left;
    padding-right: 4px;
}

#header-user-username {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
	font-size: .9em;
}

#header-user-points, #header-user-rank {
	font-size: .9em;
	width: 120px;
	margin-top: 5px;
	text-align: left;
}

#header-user-rank {
         clear: both;
}

#header-user-points h3, #header-user-rank h3 {
	float: left;
	font: bold 18pt Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0;
	padding-right: 5px;
}

#header-floor-info {
	width: 120px;
	float: left;
    margin-left: 4px;
}

#header-floor-name {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
	font-size: .9em;
}

#header-floor-points, #header-floor-rank {
	font-size: .9em;
	width: 120px;
	margin-top: 5px;
	text-align: left;
}

#header-floor-rank {
clear: both;
}

#header-floor-points h3, #header-floor-rank h3, #header-floor-energy h3 {
	float: left;
	font: bold 18pt Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0;
	padding-right: 5px;
}

#header-floor-image {
	float: right;
	margin-right: 10px;
}

#header-floor-image img {
	width: 50px;
	margin-left: 5px;
}

/*------- Quest styles -----*/
#quest-box {
  width: 920px;
  margin: 0 auto;
  clear:both; 
  text-align: left;
  background-color: #EBE7BC;
  border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

/*#quest-box h3 {
  margin: 10px 0 0 10px;
}*/

#quest-box ul {
  list-style: none;
  padding: 0 5px 5px 5px;
  margin: 10px auto 5px;
  text-align: center;
}

#quest-box li {
  margin: 10px;
  padding: 5px;
    
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  display: inline;
}

#quest-box li.selected {
  background-color: #dbd7af;
}

#quest-box ul a {
  text-decoration: none;
}

#quest-box a:hover {
  text-decoration: underline;
}

#quest-complete-dialog {
  text-align: left;
}

/*------- Footer styles -----*/
#footer {
	clear: both;
}

/*------- Box styles --------*/
.content-box {
	background-color: #EBE7BC;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadow: 3px 3px 8px #000;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	padding-bottom: 8px;
	margin-bottom: 15px;
}

.content-box-title {
	background-color: #E3E3E3;
  background-image: -moz-linear-gradient(100% 50% 90deg, #E3E3E3, #A1A1A1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#A1A1A1), to(#E3E3E3));
			
	height: 29px;	
	margin: 0;
	padding: 0;
	line-height: 29px;
	font-weight: bold;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	
	border-bottom: 1px solid #000;
	text-align: center;
}

.alt-row {
	background: #dbd7af;
}
	