@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #4A7A28 url(/site_media/static/css/default/images/bkg-grass.jpg);
	text-align: center;
	font: normal 10pt Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

a {
	color: #070000;
}

/* Some browsers apparently put a border around imgs by default.*/
img {
  border: none;
}

.container {
	width: 960px;
	background: transparent url(/site_media/static/css/default/images/bkg-landing-middle.jpg) top center repeat;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 0;
}


.container-top {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-top.jpg) top center no-repeat;
	margin: 0;
	padding: 0;
	
}

.container-bottom {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-bottom.png) bottom center no-repeat;
	margin: 0;
	padding: 5px 5px 50px 5px;
}

/********************** header styles ******************************/

#header {
	width: 926px;
	min-height: 126px;
	background: transparent url(/site_media/static/css/default/images/bkg-profile-topnav.png) top center no-repeat;
	margin: 1.5em auto 20px auto;
}

#header-logo {
	float: left;
	margin: 5px 0 5px 15px;
}

#header-info {
	width: 382px;
	height: 113px;
	float: left;
	background: transparent url(/site_media/static/css/default/images/bkg-header-info.png) top left no-repeat;
	display: block;
	padding: 5px;
	margin: 8px 5px 5px 10px;
	overflow: hidden;
}
	
#header-logout {
	position: absolute;
	margin-top: -1.5em;
	text-align: right;
	font-weight: bold;
	width: 920px;
}

#header-logout a {color: #FFF;}

#link-container {
  padding-left:410px;
  float: left;
  cursor: pointer;
  padding-right: 140px;
}

#header-canopy-link {
  text-align: center;
  background-color: rgba(64,66,66,0.9);
  padding: 2px 8px;
  -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.hidden {
  visibility:hidden;
}

#header-feedback {
  margin-right: 15px;
}

#header-title {
	float: right;
	margin-right: 20px;
	margin-top: -80px;
	font-size: 14pt;
	text-transform: capitalize;
	text-align: right;
}

#header-nav {
  margin-left: 10px;
	float: right;
}

#header-nav-links {
  background-color: #404242;
  border: 3px solid #B7AAAA;
  height: 75px;
  margin-top: -128px;
  margin-right: 10px;
  padding: 2px 2px 0 2px;
  float: right;
  -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#header-nav-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header-nav-links ul li {
	float: left;
	margin-left: .4em;
	padding: .1em;
	width: 55px;
}

#header-nav-links ul li h4 {
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

#header-nav-links img {
	border: 0;
}

#header-nav-links a.home img {
}

#header-nav-links a {
  text-decoration: none;
}

#header-nav-links a:hover h4 {
  color: #FCE988;
}

#header-nav-links a.energy img {
	background: transparent url(/site_media/static/css/default/images/icon-go-low.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.energy:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-go-low-over.png) top left no-repeat;
}

.selected-energy #header-nav-links a.energy h4 {
  color: #FCE988;
}

#header-nav-links a.activities img {
	background: transparent url(/site_media/static/css/default/images/icon-scoreboard.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.activities:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-scoreboard-over.png) top left no-repeat;
}

.selected-activities #header-nav-links a.activities h4 {
  color: #FCE988;
}

#header-nav-links a.news img {
	background: transparent url(/site_media/static/css/default/images/icon-news.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.news:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-news-over.png) top left no-repeat;
}

.selected-news #header-nav-links a.news h4 {
  color: #FCE988;
}

#header-nav-links a.help img {
	background: transparent url(/site_media/static/css/default/images/icon-help.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.help:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-help-over.png) top left no-repeat;
}

.selected-help #header-nav-links a.help h4 {
  color: #FCE988;
}

#header-nav-links a.profile img {
	background: transparent url(/site_media/static/css/default/images/icon-profile.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.profile:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-profile-over.png) top left no-repeat;
}

.selected-profile #header-nav-links a.profile h4 {
  color: #FCE988;
}

#header-nav-links a.prizes img {
	background: transparent url(/site_media/static/css/default/images/icon-prizes.png) top left no-repeat;
	display: block;
	width: 54px;
	height: 54px;
}

#header-nav-links a.prizes:hover img {
	background: transparent url(/site_media/static/css/default/images/icon-prizes-over.png) top left no-repeat;
}

.selected-prizes #header-nav-links a.prizes h4 {
  color: #FCE988;
}

/***** Round info ******/

#header-round-info {
  margin-top: -40px;
}

#header-round-info h3 {
  margin: 0;
  padding: 0;
  display: inline;
}

#header-round-info .ending {
  color: red;
  font-weight: bold;
}

#header-avatar {
	float: left;
}

#header-avatar img {
	width: 50px;
	margin-right: 5px;
}

#header-user-info {
	width: 120px;
	height: 90px;
	border-right: 2px solid #000;
	float: left;
    padding-right: 4px;
}

#header-user-username {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
	font-size: .9em;
}

#header-user-points, #header-user-rank {
	font-size: .9em;
	width: 120px;
	margin-top: 5px;
	text-align: left;
}

#header-user-rank {
         clear: both;
}

#header-user-points h3, #header-user-rank h3 {
	float: left;
	font: bold 18pt Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0;
	padding-right: 5px;
}

#header-floor-info {
	width: 120px;
	float: left;
    margin-left: 4px;
}

#header-floor-name {
	white-space: nowrap;
	font-weight: bold;
	text-decoration: underline;
	font-size: .9em;
}

#header-floor-points, #header-floor-rank, #header-floor-energy {
	font-size: .9em;
	width: 120px;
	margin-top: 5px;
	text-align: left;
}

#header-floor-rank {
  clear: both;
}

#header-floor-points h3, #header-floor-rank h3, #header-floor-energy h3 {
	float: left;
	font: bold 18pt Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0;
	padding-right: 5px;
}

#header-floor-image {
	float: right;
	margin-right: 10px;
}

#header-floor-image img {
	width: 50px;
	margin-left: 5px;
}

#header .content-box {
  width: 920px;
  margin: 0 auto;
  clear:both; 
  text-align: left;
  border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
  background-color: #EBE7BC;
}

/*------- General Dialog style to center the OK button. ---*/
.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
}

/*------- Modal Overlay override -------*/
.ui-widget-overlay {
    opacity: .75;
    filter: Alpha(Opacity=75);
}

/*------- Notification styles -----*/
#notification-list, .messages {
  padding: 0; 
  list-style: none;
}

.messages li {
  margin: 5px auto;
  padding: 5px;
  clear:both; 
  border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
  text-align: center;
  background-color: #fce988;
  border: 1px solid #fed22f;
}

.messages li.error {
  border: 1px solid #CD0A0A;
  background: #FEF1EC url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #CD0A0A;
  text-align: center;
  font-weight: bold;
}

.notification-item {
  margin: 5px auto;
  padding: 5px;
  clear:both; 
  text-align: left;
  border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#notification-list li.ui-state-highlight, #notification-dialog li.ui-state-highlight {
  background: none;
  background-color: #fce988;
  border: 1px solid #fed22f;
}

.notification-item .ui-icon {
  float: left; 
  margin-right: .3em;
}

#notification-list .notification-contents {
  float: left;
  width: 800px;
}

.notice-icon {
  float: left;
  width: 25px;
}

.notice-content {
  float: left;
}

.notice-content p {
  margin: 0;
  padding: 0;
}

.notification-options {
  float: right;
}

.notification-share {
 float: left;
 margin-right: 5px;
}

.notification-read {
  float: right;
  cursor: pointer;
}

#notification-dialog ul {
  list-style: none;
  padding: 0;
  text-align: left;
  /*font-weight: bold;*/
}

/*------- Quest styles -----*/
#header #quest-box {
  background: none;
  background-color: rgba(64,66,66,0.9);
  color: white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 5px;
}

#quest-title {
  margin: 0;
  display: inline;
  vertical-align: bottom;
  float:left;
  text-align: center;
  width: 850px;
  margin-left: 25px;
}

#quest-help-icon {
  height: 17px; 
  cursor: pointer;
  float: right;
}

.quest-options {
  float: right;
}

#quest-contents {
  text-align: left;
}

#quest-box h4 {
  margin: 5px 0;
  color: white;
}

#quest-list {
  list-style: none;
  padding: 0 10px 5px 5px;
  margin: 10px auto 5px;
  text-align: center;
}

#quest-list li {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  display: inline;
}

#quest-list li a {
  color: white;
  font-size: 1.1em;
}

#quest-list li.selected {
  background-color: rgba(40,42,42, 1.0);
/*  font-weight: bold;*/
}

#quest-list li a.quest-user-quest {
  color: #FCE988;
}

#quest-complete-dialog {
  text-align: left;
}

#quest-hide {
  color: white;
  float: right;
  display: block;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 3px;
}

/*------- Footer styles -----*/
#footer {
	clear: both;
}

/*------- Box styles --------*/
.content-box {
	background-color: #EBE7BC;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadow: 3px 3px 8px #000;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	padding-bottom: 8px;
	margin-bottom: 15px;
}

.content-box-title {
	background-color: #E3E3E3;
  background-image: -moz-linear-gradient(100% 50% 90deg, #E3E3E3, #A1A1A1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#A1A1A1), to(#E3E3E3));
			
	height: 29px;	
	margin: 0;
	padding: 0;
	line-height: 29px;
	font-weight: bold;
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	
	border-bottom: 1px solid #000;
	text-align: center;
}

.alt-row {
	background: #dbd7af;
}
	
/***** Help styles *****/
#widget-help-dialog {
  text-align: left;
}

#widget-help-dialog-close {
  text-align: center;
}

/***** Feedback form styles ******/
#feedback-form {
  text-align: left;
}

#feedback-form p {
  margin: 5px 0;
}