@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #4A7A28 url(/site_media/static/css/default/images/bkg-grass.jpg);
	text-align: center;
	font: normal 10pt Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

a {
	color: #070000;
}


.container {
	width: 960px;
	background: transparent url(/site_media/static/css/default/images/bkg-landing-middle.jpg) top center repeat;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 0;
}


.container-top {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-top.jpg) top center no-repeat;
	margin: 0;
	padding: 0;
	
}

.container-bottom {
	background: transparent url(/site_media/static/css/default/images/bkg-landing-bottom.png) bottom center no-repeat;
	margin: 0;
	padding: 5px 5px 50px 5px;
}
