<!DOCTYPE html> 
<html>
<head> 
  <title>Kukui Cup</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
</head> 
<body>  
  <!--div data-role="page"-->
   {% load class_tags %}
   {% load generic_flatblocks %}  
   {% load markup %} 
   {% block body %}{% endblock %}
  <!--/div-->
</body>
</html>
