<!DOCTYPE html> 
<html>
<head> 
  <title>Kukui Cup</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
  <meta name="viewport" http-equiv="cache-control"  content="width=device-width, minimum-scale=1, maximum-scale=1, no-cache">
</head> 
<body>  
  <!--div data-role="page"-->
   {% load class_tags %}
   {% load generic_flatblocks %}  
   {% load markup %} 
   {% block body %}{% endblock %}
  <!--/div-->
</body>
</html>
