{% extends "mobile/base.html" %}

{% block body %} 
  <!-- remove this tag-->
  <div data-role="page">
  <header data-role="header" data-theme="b">
    <a href="https://login.its.hawaii.edu/cas/logout" data-icon="gear">Logout</a>
    <h1>Kukui Cup</h1>
  </header>
  
  <div data-role="content">
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li>
        <a href="{% url mobile_summary%}"rel="external"">Summary</a>
      </li>
      <li>
        <a href="{% url mobile_quests 'available' %}">Quests</a>
      </li>
      <li>
        <a href="{% url mobile_events 'Upcoming' %}">Events</a>
      </li>
      <li>
        <a href="{% url mobile_smartgrid %}" rel="external">Smart Grid Game</a>
      </li>
      <li>
        <a href="{% url mobile_scoreboard %}" rel="external">Scoreboard</a>
      </li>
      <li>
        <a href="">Power & Energy</a>
      </li>
      <li>
        <a href="">News Feed</a>
      </li>
      <li>
        <a href="">Prizes & Winners</a>
      </li>
      <li>
        <a href="">Raffle</a>
      </li>
      <li>
        <a href="">My Achievements</a>
      </li>
      <li>
        <a href="">My Profile</a>
      </li>
      <li>
        <a href="">Help</a>
      </li>
    </ul>
  
  </div>
  
</div>
{% endblock %}
