{% extends "mobile/base.html" %}

{% block body %} 
<div data-role="page">
  <header data-role="header" data-theme="b">
    <a href="{% url mobile_logout %}" data-icon="gear" data-rel="dialog">Logout</a>
    <h1>Kukui Cup</h1>
  </header>
  
  <div data-role="content">
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
      <li>
        <a href="{% url mobile_summary %}"rel="external">Summary</a>
      </li>
      <li>
        <a href="{% url mobile_quests 'accepted' %}" rel="external">Quests</a>
      </li>
      <li>
        <a href="{% url mobile_events 'Upcoming' %}" rel="external">Events</a>
      </li>
      <li>
        <a href="{% url mobile_smartgrid %}" rel="external">Smart Grid Game</a>
      </li>
      <li>
        <a href="{% url mobile_scoreboard %}" rel="external">Scoreboard</a>
      </li>
      <li>
        <a href="{% url mobile_power_and_energy %}" rel="external">Power & Energy</a>
      </li>
      <li>
        <a href="{% url mobile_news %}" rel="external">News Feed</a>
      </li>
      <!--li>
        <a href="">Prizes & Winners</a>
      </li>
      <li>
        <a href="{% url mobile_raffle %}" rel="external">Raffle</a>
      </li-->
      <li>
        <a href="{% url mobile_profile %}" rel="external">My Profile</a>
      </li>
      <li>
        <a href="{% url mobile_help %}" rel="external">Help</a>
      </li>
    </ul>
  
  </div>
  
</div>

{% endblock %}
