<!DOCTYPE html>
<html>
<head> 
  <title>Kukui Cup</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
</head>
<body>

<div data-role="page" id="default">
  <header data-role="header">
  </header>  

  <div data-role="content">
    <h1>The Kukui Cup Game</h1>
    <h2>Lights Off, Game On!</h2>

    <p1>Aloha and welcome to the Kukui Cup Challenge! The Kukui Cup is an energy challenge that can be played by all first year UH Manoa students living in the Hale Aloha residence halls.</p1>
  </div>

  </br>
  <fieldset>
    <div>
      <a href="{% url mobile_index %}" data-role="button" rel="external">I live in Hale Aloha</a>
    </div>
    <div><button type="submit">I do not live in Hale Aloha</button></div>
  </fieldset>
  </br>

  <footer data-role="footer">
  
  </footer>
</div>


<div data-role="page" id="splash" data-url="splash">
  <div data-role="header">
    This is the splash page
  </div>
</div>

</body>
</html>
