<li id="notification-item-{{notification.id}}" class="{{notification.style_class}} notification-item">
  <div class="notification-contents">
    <span class="ui-icon {{notification.icon_class}}"></span>
    {{notification.contents|safe}}
  </div> 
       <form action="{% url mobile_read_notification notification.id %}" rel="external" method="POST" style="display: inline">
        <button type="submit"  onClick='$('#notification-item-{{notification.id}}').fadeOut();return true;' class="notification-read ui-icon ui-icon-circle-close"/>
      </form> 
<!--$(this).parent().style.display='none';window.location.reload();return false;'-->
  <script>
    function close() {
        $.post("{% url mobile_read_notification notification.id %}",function () {
	$("#notification-item-{{notification.id}}").fadeOut();});
        
      }
  </script>
</li>
