{% extends "mobile/base.html" %}

{% block body %}
<div data-role="page" id="setup">
  <div data-role="header">
    Setup Your Profile
  </div>
  
  <div data-role="content">
    In order to set up your profile, we need to take you to the desktop version of the website.  We recommend that you go to the website on your computer for this process.  Otherwise, click below to continue.
    <a href="{% url home_index %}" data-role="button" rel="external">Go to the desktop version</a>
  </div>
</div>
{% endblock %}
