{% load class_tags %}

<table>
{% for row in categories %}
<tr>
{% for cat in row %}
<td>
  <div {% get_id_and_classes "activity-category" %}>
  <a  href="#" >{{cat.name}}</a>
  <div class="background{{cat.id}}">
    <div class="transbox">
		<p><h3>LOCKED</h3>
		<h5>Complete 2 activities 
		<br>from Electricity 1 
		<br>to unlock.</h5></p>
    </div>
  </div>

  <table>
    <tbody><tr><td>Activities completed/total</td><td>0/{{cat.activity_total}}</td></tr>
           <tr><td>Points<br> awarded/total</td><td>0/{{cat.point_total}}</td></tr>
	</tbody>
  </table>
</div>
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
