{% load class_tags %}

<table>
{% for row in categories %}
<tr>
{% for cat,completed,awarded in row %}
<td>
  <div {% get_id_and_classes "activity-category" %}>
  {% if cat.locked %}
    {{cat.name}}
    <div class="background{{cat.id}}">
	  <div class="transbox">
		<p><h3>LOCKED</h3> <br>
		<h5>Complete {{cat.id}} activities from {{cat.name}} to unlock</h5>
		</p>
      </div>
    </div>  
  {% else %}
    <a href="/activities/category/{{cat.id}}">{{cat.name}}
    <img src="{{ STATIC_URL}}images/activity/category_{{cat.id}}.jpg"/>
    </a>
  {% endif %}


  <table>
    <tbody><tr><td>Activities completed/total</td><td>{{completed}}/{{cat.total}}</td></tr>
           <tr><td>Points<br> awarded/total</td><td>{{awarded}}/{{cat.point_total}}</td></tr>
	</tbody>
  </table>
</div>
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
