<style type="text/css">
div.transbox
  {
  width: 160px;
  height: 100px;
  margin:20px 20px;*/
  background-color:#000000;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
  }
div.transbox p
  {
  margin:20px 20px;
  font-weight:bold;
  color:#ffffff;
  }

{% for row in categories %}
{% for cat,a,p in row %}
div.background{{cat.id}}
  {
  width:190px;
  height:142px;
  background:url({{ STATIC_URL}}images/activity/category_{{cat.id}}.jpg) repeat;
  }
{% endfor %}
{% endfor %}
</style>