{% load class_tags %}

      <table>
	    <thead><tr>
		  <th>Event</th>
		  <th>Date</th>
		  <th>Location</th></tr></thead>
	    <tbody>  
	    {% if events %}
          {% for event in events %}
          <tr><td><a href="{% url activity_task event.type event.slug %}">{{event.title}}</a></td>
              <td>{{ event.event_date|date:"D m/d, f A"}}</td>
              <td>{{event.event_location}}</td></tr>
          {% endfor %}
        {% else %}
	       <tr><td>No upcoming events</td></tr>
	    {% endif %}
	    
	    
	    </tbody>
      </table>
       <p/>
       
        <form {% get_id_and_classes "event-code-form" %} action="{% url activity_attend_code %}" method="POST">
          {% csrf_token %}
          <div {% get_id_and_classes "event-code" %}>
           <b>Enter Attendance Code:</b>
            {{event_form.response}}

			<button id="event-code-submit">
				Submit
			</button>

          </div>
          <br/>
          <div {% get_id_and_classes "social_email" %} style="display: None;">
            Optional Social Bonus Email:  {{event_form.social_email}}
          </div>
  
           <div {% get_id_and_classes "event-code-errors" %} style="color:red; display:None"></div>
        </form>

