{% load class_tags %}

<p>
<table {% get_id_and_classes "activities-grid" %}>
  <tr><!-- Start header -->
  {% for cat in categories %}
  <td>
      <div {% get_id_and_classes "activity-category" %}>
      <div class="get-started">
	    <div class="">
	        <p></p>
		    <h5> {{cat.name}}</h5>
        </div>
       </div>
      </div> 
  </td>
  {% endfor %}
  </tr><!-- End header --> 
<tr>
  {% for cat in categories %}
  <td>
  <table>
      {% for task in cat.task_list %}
       <tr><td width="14">
       <div {% get_id_and_classes "activity-category" %}>
    
       {% if task.is_unlock %}
       <a href="task/{{task.id}}">
       {% if task.type != 'commitment' %}
         <div class="{{task.type}}">
       	    <div class="">
            {% if task.is_pau %}
	            {{task.name}}
	          {% else %}
	            {% if task.activity.point_value %}
	            <p></p><h3>{{task.activity.point_value}}</h3>
	            {% else %}
	            <p></p><h3>{{task.activity.point_range_end}}</h3>
	            {% endif %}  {# end task.activity.point_value #}
		        {% endif %} {# end task.is_pau #}
            </div>
          </div>
       {% else %}
       <div class="{{task.type}}">
         <div class="">
	         {% if task.is_pau %}
		        {{task.name}}
		       {% else %}
		        <h3>{{task.commitment.point_value}}</h3>
		       {% endif %} {# end task.is_pau #}
        </div>
       </div>
       {% endif %}
       
       </a>
       {% else %}
       {% if task.type != 'commitment' %}
       <div class="{{task.type}}">
       {% else %}
       <div class="{{task.type}}">
       {% endif %}
	    <div class="">
		<p> ? </p>
        </div>
       </div>  
       {% endif %}
       
       </div>
       </td></tr>
       {% endfor %}

   </table>   
   </td>
   {% endfor %}
</tr>   
</table>


