{% load class_tags %}

<p>
<table {% get_id_and_classes "activities-grid" %}>
  <tr><!-- Start header -->
  {% for cat in categories %}
  <td>
      <div {% get_id_and_classes "activity-category" %}>
      <div class="get-started">
	    <div class="">
	        <p></p>
		    <h5> {{cat.name}}</h5>
        </div>
       </div>
      </div> 
  </td>
  {% endfor %}
  </tr><!-- End header --> 
<tr>
  {% for cat in categories %}
  <td>
  <table>
      {% for task in cat.task_list %}
       <tr><td width="14">
       <div {% get_id_and_classes "activity-category" %}>
       <div class="{{task.type}}">
       <div class="">
       {% if task.is_unlock %}      
          <a href="task/{{task.id}}" title="{{task.name}}">
          {% if task.type != 'commitment' %}
            {% if task.is_pau %}
                {% if task.approval.approval_status == "rejected" %}
                  <img src="{{ STATIC_URL}}/css/default/images/icon-exclamation2.png" width="14" align="left"/> 
                {% else %}
                    {% if task.approval.approval_status == "pending" and task.is_event_pau %}
                      <img src="{{ STATIC_URL}}/css/default/images/icon-exclamation2.png" width="14" align="left"/> 
                    {% else %}
                      <img src="{{ STATIC_URL}}/css/default/images/icon-done.png" width="12" align="left"/> 
                    {% endif %}
                {% endif %}                
                <br/>
                {{task.name}}       
	        {% else %}
	            {% if task.activity.point_value %}
	             <br/>
	             <h3>{{task.activity.point_value}}</h3>
	            {% else %}
	             <h3>{{task.activity.point_range_end}}</h3>
	            {% endif %}  
		    {% endif %}  
          {% else %}     {# ------ is commitment #}             
	           {% if task.is_pau %}
                <img src="{{ STATIC_URL}}/css/default/images/icon-done.png" width="12" align="left"> 
                <br/>
		        {{task.name}}
		       {% else %}
		        <br/>
		        <h3>{{task.commitment.point_value}}</h3>
		       {% endif %} {# end task.is_pau #}        
          {% endif %}    {# ------- end task.type #}
          </a>
       {% else %}        {# ------ is lock #}      
 		<br/>
 		<a class="whatever" href="#">
		<img src="{{ STATIC_URL}}/css/default/images/lock24.png" width="18" align="top" 
		title="Click to see how to unlock" 
		onclick="unlock_dialog(
		{% if task.depends_on_text %} 
		'{{task.depends_on_text}}'
		{% else %}
		'{{task.depends_on}}'
		{% endif %}
		)">
		</a>

       {% endif %}
       </div>
       </div>
       </div>
       </td></tr>
       {% endfor %}

   </table>   
   </td>
   {% endfor %}
</tr>   
</table>




