{% extends "logged_in_base.html" %}

{% load class_tags %}
{% load markup %}

{% block page_title %}
  Get Nuts!
{% endblock %}

{% block selected_icon %}selected-activities{% endblock %}

{% block extra_head %}
  {% import_page_css "view_activities" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}

<div {% get_id_and_classes "activity-events-scoreboard" %}>
  <div {% get_id_and_classes "activity-events-box" %}>
    <div {% get_id_and_classes "activity-events-title" %}>
      Upcoming Events
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'upcoming-events'); return false;"
	   /></a>
    </div>   
    <div {% get_id_and_classes "activity-events-content" %}>    
      {% include "view_activities/events.html" %}
    </div>
  </div>
  
  <div {% get_id_and_classes "activity-scoreboard-box" %}>
    <div {% get_id_and_classes "activity-scoreboard-title" %}>
      {{current_round}} Points Scoreboard
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center"
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'points-scoreboard'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "activity-scoreboard-content" %}>
      {% include "view_activities/scoreboard.html" %}
    </div>
  </div>
</div>

<div {% get_id_and_classes "activity-categories" %}>
  <center>
    <h3 class="{% insert_classes 'activity-categories-title' %}">
      <table><tr><td align=center>The Smart Grid Game
      </td>
      <td width="1%">
      <a href="#">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20"
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'smart-grid-game'); return false;"
	   /></a>
	   </td></tr></table>
      
    </h3>
  </center>
  {% include "view_activities/grid.html" %}
  
</div>
{% endblock %}

{% block extra_body %}

<div id="unlock-dialog" title="Locked Activity" style="visibility: hidden;">
  <div style="text-align:left">
    <p> <b>This activity is locked.</b></p>
    <p> To unlock this activity, please do the following: <br/>
    <div id="depends_on">
    </div>
    </p>
     <center>
    <input type="submit" value="OK" onclick='$("#unlock-dialog").dialog("close");' /> 
    </center>
  </div>
</div>

<!--
{% if not hide_about %}
<div id="grid-about">
  <div class="notice">
    <img src="/site_media/static//css/default/images/icon-help-sm.png" width="30" align="center">
    <div style="text-align:right; padding-left: 5px; margin-top: -35px;"><a id="grid-hide-about" href="javascript:void(0);">Close</a>
    </div>
    <div class="body" style="margin-left: 60px; margin-top: -5px;">
      Welcome to the Smart Grid Game!<p></p>
      Click on squares to view activities. Numbers represent <br>
      the points earned for completing an activity. Locked <br>
      squares can be unlocked by completing other activities. 
    </div>
  </div>
</div>
{% endif %}
-->

<script type="text/javascript"> 
$( document ).ready( function ()
 {
  
    {% if notification %}
	var notice = '<div class="notice">'
		+ '<img src="{{ STATIC_URL}}/css/default/images/icon-exclamation2.png" width="30" align="center" />'
		+ '<div class="body"> {{notification}} </div>' 
		+ '</div>';

	$(notice).purr(
	   {
			usingTransparentPNG: true,
			fadeInSpeed: 100,
            fadeOutSpeed: 600,
            removeTimer: 2500,
            isSticky: false
	   }
    );		
    {% endif %}
    
    jQuery(document).ready(function($) {
      var height = 0;
      $("#activity-scoreboard-content").children().each(function(index, value) {
        if ($(value).height() > height) {
          height = $(value).height();
        }
      });

      $("#activity-scoreboard-content").after("<div id='scoreboard-cycle-nav'>").cycle({
          height: "" + height + "px",
          pause: 1,
          timeout: 7000,
          pager: '#scoreboard-cycle-nav'
      });
    });
    
/* TODO. comment out temporary
    {% if not hide_about %}
      $("#grid-about").fadeIn();
    {% endif %}

    $("#grid-about").click(function() {
      setCookie("grid-hide-about", "true", 21);
      $("#grid-about").fadeOut();
      return false;
    });
*/
    $("#event-code-submit").click(function() {             
            $.post("{% url activity_attend_code %}", $("#event-code-form").serialize(), function(data) {
                if (data.message) {
                  $("#event-code-errors").html(data.message);
                  $("#event-code-errors").show();
                  if (data.social_email) {
                    $("#social_email").show();
                  }
                }
                else {
                  window.location.replace("/activities/"+data.type+"/"+data.slug+"/?notify="+data.notify+"&value="+data.value);
                }
              });
           
            return false;
    });
          
    $("#social_email input").click(function() {
      this.value = "";
    });

 });


function unlock_dialog(depends_on)
{
  el = document.getElementById("unlock-dialog"); 
  el.style.visibility = "visible";
  $("#unlock-dialog").dialog({
    modal: true,
    width: 450,
    closeOnEscape: false,
    position: [400,100],
    });
    
  document.getElementById("depends_on").innerHTML = depends_on;
}
</script>  

{% endblock %}