{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  Get Nuts!
{% endblock %}

{% block extra_head %}
  {% import_page_css "view_activities" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}

<div {% get_id_and_classes "activity-events-scoreboard" %}>
  
  <div {% get_id_and_classes "activity-events-box" %}>
    <div {% get_id_and_classes "activity-events-title" %}>
      Upcoming Events
    </div>   
    <div {% get_id_and_classes "activity-events-content" %}>    
      {% include "view_activities/events.html" %}
    </div>
  </div>
  
  <div {% get_id_and_classes "activity-scoreboard-box" %}>
    <div {% get_id_and_classes "activity-scoreboard-title" %}>
      Points Score Board
    </div>
    <div {% get_id_and_classes "activity-scoreboard-content" %}>
      {% include "view_activities/scoreboard.html" %}
    </div>
  </div>

</div>

<div {% get_id_and_classes "activity-categories" %}>
  {% include "view_activities/grid.html" %}
</div>
{% endblock %}
