{% load class_tags %}

<table {% get_id_and_classes "activities-scoreboard-table-floor" %}>
	<thead><tr>
		<th>Rank</th>
		<th>Lounge (Overall)</th></tr>
	</thead>
	<tbody>
		{% for f in floor_standings %}
		<tr><td>{{forloop.counter}}</td>
		<td style="{% if f == floor %}font-weight: bold{% endif %}">
		  {{f}} ({{f.f_points}})
		</td>
		{% endfor %}
	</tbody>
</table>

<table {% get_id_and_classes "activities-scoreboard-table-profile" %}>
	<thead><tr>
		<th>Rank</th>
		<th>Individual (Overall)</th></tr>
	</thead>
	<tbody>
		{% for p in profile_standings %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.name}} ({{p.points}})
		</td>
		{% endfor %}
	</tbody>
</table>

<table {% get_id_and_classes "activities-scoreboard-table-floor-profile" %}>
	<thead><tr>
		<th>Rank</th>
		<th>Individual ({{ floor }})</th></tr>
	</thead>
	<tbody>
		{% for p in floor_profile_standings %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.name}} ({{p.points}})
		</td>
		{% endfor %}
	</tbody>
</table>