{% load class_tags %}

<table {% get_id_and_classes "activities-scoreboard-table-floor" %}>
	<thead><tr>
		<th>Rank</th>
		<th>Lounge</th>
		<th>Overall</th></tr>
	</thead>
	<tbody>
		{% for f in floor_standings %}
		<tr><td>{{forloop.counter}}</td>
		<td style="{% if f == floor %}font-weight: bold{% endif %}">
		  {{f}}
		</td>
		<td style="text-align:right;{% if f == floor %}font-weight: bold{% endif %}">
		  {{f.points}}
		</td>
		{% endfor %}
	</tbody>
</table>

<table {% get_id_and_classes "activities-scoreboard-table-profile" %}>
	<thead><tr>
		<th>Rank</th>
		<th>Individual</th>
		<th>Overall</th></tr>
	</thead>
	<tbody>
		{% for p in profile_standings %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.name}}
		</td>
		 <td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.current_round_points}}
		</td>
		{% endfor %}
	</tbody>
</table>

<table {% get_id_and_classes "activities-scoreboard-table-floor-profile" %}>
	<thead><tr>
		<th>Rank</th>
		<th>Individual</th>
		<th>{{ floor }}</th></tr>
	</thead>
	<tbody>
		{% for p in user_floor_standings %}
		<tr><td>{{forloop.counter}}</td>
	  <td style="{% if p == profile %}font-weight: bold{% endif %}">
		  {{p.name}}
		</td>
		<td style="text-align:right;{% if p == profile %}font-weight: bold{% endif %}">
		 {{p.current_round_points}}
		</td>
		{% endfor %}
	</tbody>
</table>