{% load class_tags %}

<center><h2>{{title}}</h2></center>

<table>
{% for row in tasks %}
<tr>
{% for t,pau in row %}
<td>
  <div {% get_id_and_classes "activity-category-task" %}>
  <a  href="/activities/task/{{t.type}}/{{t.id}}" >{{t.title}}
  <div class="background{{t.id}}">
    {% if pau %}
      <div class="transbox">
		{% if t.type == "Activity" %}
		{% if t.is_event == 1 %}
	  	  <p><h2>OVER</h2>
		  <h5>Attendees, 
		  <br>get your points</h5></p>
		{% else %} 
		  <p><h2>PAU</h2></p>
		{% endif %}
		{% else %}
		   <p><h2>COMMITTED</h2></p>
		{% endif %}
      </div>
    {% endif %}
  </div>
  </a>

  <table>
    <tbody>
      {% if t.type == "Activity" and t.is_event == 1 %}
        <tr><td>Event date: {{t.event_date}}</td></tr>
      {% endif %}  
      <tr><td>Points: {{t.point_value}}, Time: {{t.duration}}</td></tr>
	</tbody>
  </table>
</div>
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
