{% load class_tags %}

<div {% get_id_and_classes "activity-task-form-content" %}>
  {% if form.is_multipart %}
    <form enctype="multipart/form-data" action="add" method="post">
  {% else %}
    <form action="add" method="post">
  {% endif %}
  
  {% csrf_token %}
  {% if form.response %}
    {{ form.response.errors }}
  {% else %}
    {{ form.image_response.errors }}
  {% endif %}
  {% if admin_message %}
    Admin message: {{ admin_message }}
  {% endif %}
  
  <p/>
   {% if type == "event" %}          {# event #}
     You will earn 2 points for signing up for the event.
     {% if pau %}
        {{form.code}}
        {{ form.response }}
     {% endif %}
   {% endif %}
   {% if type == "commitment" %}     {# commitment #}
     You will earn 2 points for committing to this commitment.
   {% endif %}   
  </p>
  
  {% if type == "activity" %}        {# activity #}   
    {% if form.image_response %}         {# image #}
      {{task.confirm_prompt}} <p/>
      {{ form.image_response }}
    {% else %}                           
      {% if question %}                                {# question #}
        {{task.confirm_prompt}} <p/>
        {{form.question}}
        {{question.question}}: <br/>
        
        {% if question.questionchoice_set.count > 0 %}    {# choice response question #}
          {{ form.choice_response }}
        {% else %}                                        {# text response question #}
          {{ form.response }}
        {% endif %}  
      {% else %}                                       {# free text #}
        {{task.confirm_prompt}} <p/>
        {{ form.response }}    
      {% endif %}  
    {%endif%}
  {% endif %}
  
  <p/>Additional Comments:
    <br/>
    {{ form.comment }} 
  <p/>
  <input type="submit" value="Submit" />
</form>
</div>