{% extends "logged_in_base.html" %}

{% load markup %}

{% load class_tags %}

{% block page_title %}
  Get Nuts!
{% endblock %}

{% block extra_head %}
  {% import_page_css "view_activities" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "activity-task-stats" %}>  
  <div {% get_id_and_classes "activity-task-stats-box" %}>
    <div {% get_id_and_classes "activity-task-stats-title" %}>
      {{type}} : {{task.title}}
    </div>   
    <div {% get_id_and_classes "activity-task-stats-content" %}>   
      <p/>
      <img src="{{ STATIC_URL}}images/activity/{{type}}.jpg"/>
      <p>
      This {{type}} is worth {{task.point_value}} points.
      <p>
      {{member_all}} people have done this.
      <p>
      {{member_floor}} person in your lounge have done this.
    </div>
  </div>  
</div>

<div {% get_id_and_classes "activity-task-details" %}>
  <div {% get_id_and_classes "activity-task-details-box" %}>
    <div {% get_id_and_classes "activity-task-details-title" %}>
      About the {{type}}
    </div>
    <div {% get_id_and_classes "activity-task-details-content" %}>
      {{task.description|markdown}}

      <center> <b>  
      {% if pau %}
        {% if approved %}
          Congratulations! You did it !
        {% else %}
          Thank you! your request for points is pending approval.
        {% endif %}  
      {% else %} 
        {% if type == "Commitment" %}
          <a href="add" id="task-submit" class="{% insert_classes "ui-button" %}">Commit it to get points</a>
        {% else %} 
          <a href="#" class="{% insert_classes "ui-button" %}" onclick="$('#setup-dialog').dialog('open')">I Did it, Click here to get points</a> 
        {% endif %} 
      {% endif %}
       <br/> <br/>
       <a href="/activities/" id="back" class="{% insert_classes "ui-button" %}">Go Back</a>
      </b></center> <p>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
<div id="setup-dialog" title="Task Form">
    {% include "view_activities/task_form.html" %}
</div>

<script type="text/javascript"> 
  $("#setup-dialog").dialog({
        modal: true,
        width: 700,
        closeOnEscape: false,
        position: ["center", 75],
        autoOpen: false
      });
      
</script>  

{% endblock %}
