{% extends "logged_in_base.html" %}

{% load markup %}

{% load avatar_tags %}
{% load class_tags %}

{% block page_title %}
  Get Nuts!
{% endblock %}

{% block extra_head %}
  {% import_page_css "view_activities" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "activity-task-stats" %}>  
  <div {% get_id_and_classes "activity-task-stats-box" %}>
    <div {% get_id_and_classes "activity-task-stats-title" %}>
      {{type}} : {{task.title}}
    </div>   
    <div {% get_id_and_classes "activity-task-stats-content" %}>   
      <p/>
      <center><img src="{{ STATIC_URL}}images/activity/{{type}}.jpg"/></center>
      <p/>
      This {{type}} is worth {{task.point_value}} points.
      {% if type == "commitment" %}
        It lasts {{task.duration}} days.
      {% endif %}
      {% if type == "event" %}
      <p/>
      <b>When</b>  : {{task.event_date}} <br/>
      <b>Where</b> : {{task.event_location}}
      {% endif %}
      <p/>
      {{member_all}} people have done this.
      <p/>
      {{member_floor}} person in your lounge have done this.
      <br/>
      {% for user in users %}
         <img src="{% avatar_url user 40 %}"/>
     {% endfor %}
    </div>
  </div>  
</div>

<div {% get_id_and_classes "activity-task-details" %}>
  <div {% get_id_and_classes "activity-task-details-box" %}>
    <div {% get_id_and_classes "activity-task-details-title" %}>
      About the {{type}}
    </div>
    <div {% get_id_and_classes "activity-task-details-content" %}>
      {{task.description|markdown}}

      <center> <b>  
      {% if pau %}
        {% if approved %}
          Congratulations! You did it !
        {% else %}
          {% if type == "event" %}
            Thank you! You've earned 2 points by signing up.<br/>
            After the {{type}}, please come back here to get your points.
          {% endif %}
          {% if type == "commitment" %}
              Thank you! You've earned 2 points by committing.<br/>
              After the commitment period, you will earn your points automatically.
          {% endif %}
          {% if type == "activity" %}
              Thank you! <br/> Your request for points is pending approval.
          {% endif %}            
        {% endif %}  
        
      {% else %} 
        {% if type == "commitment" %}
          <a href="#" class="{% insert_classes "ui-button" %}" onclick="task_form_overlay()">
            Commit it to get points
          </a>
        {% endif %}  
        {% if type == "event" %}
          <a href="#" class="{% insert_classes "ui-button" %}" onclick="task_form_overlay()">
            I want to sign up
          </a>
        {% endif %} 
        {% if type == "activity"%} 
          <a href="#" class="{% insert_classes "ui-button" %}" onclick="task_form_overlay()">
            I Did it, Click here to get points
          </a> 
        {% endif %} 
      {% endif %}
       <br/> <br/>
       <!--
         <a href="/activities/" id="back" class="{% insert_classes "ui-button" %}">Go Back</a>  
       -->  
      </b></center> <p>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
<div id="setup-dialog" title="{{form_title}}" style="visibility: hidden;">
    {% include "view_activities/task_form.html" %}
</div>

<script type="text/javascript"> 
function task_form_overlay()
{
  el = document.getElementById("setup-dialog"); 
  el.style.visibility = "visible";
  $("#setup-dialog").dialog({
    modal: true,
    width: 700,
    closeOnEscape: false,
    position: ["center", 75]
    });
}

{% if display_form %}
   $(document).ready(task_form_overlay());
{% endif %}    

</script>  

<div id="signup-point-dialog" title="Thank you" style="visibility: hidden;">
    <p/>
    You just got 2 points !
</div>

<script type="text/javascript"> 
function signup_point_dialog_overlay()
{
  el = document.getElementById("signup-point-dialog"); 
  el.style.visibility = "visible";
  $("#signup-point-dialog").dialog({
    modal: true,
    width: 300,
    height: 100,
    closeOnEscape: false,
    position: ["center", 200]
    });
}

{% if display_point %}
     $(document).ready(signup_point_dialog_overlay());
{% endif %}    

</script>  


{% endblock %}
