{% extends "logged_in_base.html" %}

{% load markup %}

{% load avatar_tags %}
{% load class_tags %}

{% block page_title %}
  Get Nuts!
{% endblock %}

{% block selected_icon %}selected-activities{% endblock %}

{% block extra_head %}
  {% import_page_css "view_activities" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "activity-task-stats" %}>  
  <div {% get_id_and_classes "activity-task-stats-box" %}>
    <div {% get_id_and_classes "activity-task-stats-title" %}>
      {{ task.type|capfirst }} : {{task.name}}
    </div>   
    <div {% get_id_and_classes "activity-task-stats-content" %}>
      {%  if task.is_canopy %}
          <p/> This is a Canopy {{ task.type|capfirst }}.
      {%  endif %}
     {% if task.is_group %}
          <p/>This is a Group {{ task.type|capfirst }}.
      {% endif %}
      <p/>
      This {{task.type}} is worth
      {% if task.point_value %}        
	    <b>{{task.point_value}}</b>
	  {% else %}
	    from <b>{{task.point_range_start}}</b> to <b>{{task.point_range_end}}</b>
	  {% endif %}  
      points.
      {% if task.type == "commitment" %}
        It lasts {{task.duration}} days.
      {% endif %}
      {% if task.type == "event" or task.type == "excursion" %}
      <p/>
      <b>When</b>  : {{task.event_date}} <br/>
      <b>Where</b> : {{task.event_location}} <br/>
      <b>Space(s) still available</b> : {{ task.available_seat }}
      {% endif %}
      <p/>
      {% if task.social_bonus > 0 %}
      <b>Social Bonus : {{task.social_bonus}} points. </b>
      <a href="#">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="What is the Social Bonus ?" 
		onclick="toggleHelp('widget', 'social-bonus'); return false;"
	   /></a>
      {% endif %}
      <p/>
      {{member_all}} 
      {% if member_all == 1 %}
        person in the competition has
      {% else %}
        people in the competition have 
      {% endif %}
      {% if task.type == "event" or task.type == "excursion" %}
        signed up.
      {% else %}
        done this.
      {% endif %}
      <p/>
      {{member_floor}}  
      {% if member_floor == 1 %}
        person in your {{FLOOR_LABEL.lower}} has
      {% else %}
        people in your {{FLOOR_LABEL.lower}} have 
      {% endif %}
      {% if task.type == "event" or task.type == "excursion" %}
        signed up.
      {% else %}
        done this.
      {% endif %}
      <br/>
      {% for user in users %}
         <img src="{% avatar_url user 40 %}" title="{{user.get_profile.name}}"/>
     {% endfor %}
     
     {% if task.type == "event" or task.type == "excursion" %}
     {% include "view_activities/reminder.html" %}
     {% endif %}
     
     <p/><p/>
     <center>
     {%  if task.is_canopy %}
         <a href="/canopy">
         <button style="cursor:pointer;">
         <img src="{{ STATIC_URL}}/css/default/images/left.png" width="50" align="top">
         <br/>Back to the Canopy
         </button>
         </a>
     {%  else %}
         <a href="/activities">
         <button style="cursor:pointer;">
         <img src="{{ STATIC_URL}}/css/default/images/left.png" width="50" align="top">
         <br/>Back to Smart Grid Game
         </button>
         </a>
    {% endif %}
    </center>
    </div>
  </div>  
</div>

<div {% get_id_and_classes "activity-task-details" %}>
  <div {% get_id_and_classes "activity-task-details-box" %}>
    <div {% get_id_and_classes "activity-task-details-title" %}>
      <table><tr><td>About the {{task.type}}</td>
      <td width="1%">
      <a href="#">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', '{{task.type}}-details'); return false;"
	   /></a>
	   </td></tr></table>
    </div>
    <div {% get_id_and_classes "activity-task-details-content" %}>
      {% if pau %}
        {% if approval.approval_status == "approved" or approval.award_date %}
          <div {% get_id_and_classes "activity-task-details-info" %}>
            <p/>
            Congratulations! You did it and earned {{approval.points_awarded}} points! <br/>
            {% if approval.social_bonus_awarded %}
              <span style="color:orange"> Plus {{task.social_bonus}} social bonus points!</span>
            {% endif %}  
            <br/>
            Thank you for your participation.
           </div>
        {% else %}
          {% if task.type == "event" or task.type == "excursion" %}
            <div {% get_id_and_classes "activity-task-details-info" %}>
            <p/>
            {% if task.is_event_completed %}
            Thank you for attending the event. <br/>
            Click on the "I Did it" button to get the rest of your points. <br/>
            <a onclick="task_form_overlay()"><button style="cursor:pointer;">I Did it</button></a> 
            {% else %}
            Thank you! You've earned 2 bonus points by signing up.<br/>
            After the {{task.type}}, please come back here within 2 days to get your points.
            If you sign up but do not attend, you will lost the 2 point signing bonus and pay a 2 point "no-show" penalty.
            <br/><a href="{% url activity_drop_task task.type task.slug %}"><button style="cursor:pointer;">Take me off the signup list</button></a>
            {% endif %}
             </div>
          {% endif %}
          {% if task.type == "commitment" %}
             <div {% get_id_and_classes "activity-task-details-info" %}>
             <p/>
              {% if approval.days_left > 0 %}
              Thank you! You've earned 2 points by committing.<br/>
              Please come back on {{ approval.completion_date|date:"l m/d" }}
              ({{approval.days_left}} days left) to get the rest of your points.
              <br/><a href="{% url activity_drop_task task.type task.slug %}"><button style="cursor:pointer;">Drop this commitment</button></a> 
              {% else %}
              Thank you for committing to this for {{task.duration}} days. <br/>
              Click on the "I Did it" button to get the rest of your points. <br/>
              <a onclick="task_form_overlay()"><button style="cursor:pointer;">I Did it</button></a> 
              <a href="{% url activity_drop_task task.type task.slug %}"><button style="cursor:pointer;">Drop this commitment</button></a> 
              {% endif %}
             </div>
          {% endif %}         
          {% if task.type == "activity" %}
            {% if approval.approval_status != "rejected" %}
              <div {% get_id_and_classes "activity-task-details-info" %}>
              <p/>
              Thank you for submitting your response.   <br/>
              An administrator is reviewing your response.  <br/>
              Come back soon to see your new total.
              </div>
            {% else %}
              <div {% get_id_and_classes "activity-task-details-info" %}>
              <p/>
              <div style="text-align:left; margin-left:10px;">
              Administrator feels that there is a problem with your submission. <br/>
              Please try again. Here is the feedback: <br/>             
              <span style="color:orange">{{approval.admin_comment}}</span>  
              </div>
              <a onclick="task_form_overlay()"><button style="cursor:pointer;">I will try again</button></a> 
              </div>
            {% endif %}
          {% endif %}            
        {% endif %}  
      {% endif %}
      
      
      <p/>
      <center><b>{{task.title}}</b></center>
      
      <p/>
      
      {{task.description|markdown}}

      <p/>  
      <center> 
        
      {% if not pau %}              <!-- not done yet  -->
        {% if task.type == "commitment" %}
          {% if can_commit %}
            <a href="{% url activity_add_task task.type task.slug %}"><button style="cursor:pointer;">I will do this!
            <img src="{{ STATIC_URL}}/css/default/images/right.png" width="50" align="center">
            </button></a>
          {% else %}
            <b>You already have 5 active commitments. <br/>
            You can make this commitment once any of your active commitments are completed.
            </b>
          {% endif %}
        {% endif %}  
        {% if task.type == "event" or task.type == "excursion" %}
           {% if task.is_event_completed %}
            <b>This event was already completed at {{task.event_date}}. <br/>
               If you attended the event, Click on the "I Did it" button to get your points. <p/>
            <a onclick="task_form_overlay()"><button style="cursor:pointer;">
            I Did it
            <img src="{{ STATIC_URL}}/css/default/images/right.png" width="50" align="center">
            </button>
            </a>
            </b>
           {% else %}
              {%  if task.available_seat > 0 %}
              <a href="{% url activity_add_task task.type task.slug %}"><button style="cursor:pointer;">I want to sign up
              <img src="{{ STATIC_URL}}/css/default/images/right.png" width="50" align="center">
              </button></a>
              {% else %}
              <b>This {{ task.type}} is full. You can still try to attend on a space available basis.</b>
              {% endif %}
           {% endif %}
        {% endif %} 
        {% if task.type == "survey" %}
          <a onclick="task_form_overlay()"><button style="cursor:pointer;">I want to do it
          <img src="{{ STATIC_URL}}/css/default/images/right.png" width="50" align="center">
          </button></a>
        {% endif %} 
        {% if task.type == "activity"%}
          <b>
          Once you are done, click the button below to get your points!
          </b>
          <p/>
          <a onclick="task_form_overlay()"><button style="cursor:pointer;">
          I Did This!
          <img src="{{ STATIC_URL}}/css/default/images/right.png" width="50" align="center"></button></a> 
        {% endif %} 
      {% endif %}
       <br/> <br/>
      </center> <p>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
<div id="setup-dialog" title="{{form_title}}" style="visibility: hidden;">
    {% include "view_activities/task_form.html" %}
</div>

<div id="signup-point-dialog" title="Thank you" style="visibility: hidden;">
    <p/>
    {% if approval.approval_status == "approved" %}
       You just got {{task.point_value}} points !
    {% else %}   
      {% if task.type == "activity" %}
       <p style="text-align:left">
       Thank you for submitting your response.   
       </p>
       <p style="text-align:left">
       An administrator will review it and approve your points, usually within a few hours.  
       You can see the status of your submission on your Profile Page.  
       </p>
     
       <p style="text-align:left">
        Come back soon to see your new total.
       </p>
       {% else %}
         You just got 2 points !
       {% endif %}  
    {% endif %}        
    
    <p/>
    <center>
    <input type="submit" value="OK" onclick='$("#signup-point-dialog").dialog("close");' /> 
    </center>
   
</div>

<script type="text/javascript"> 
$( document ).ready( function ()
 {
    {% if notification %}
	  var notice = '<div class="notice">'
		+ '<img src="{{ STATIC_URL}}/css/default/images/icon-notify-add.png" width="30" align="center" />'
		+ '<div class="body"> {{notification}} </div>'
		+ '</div>';

	  $(notice).purr(
	    {
			usingTransparentPNG: true,
			fadeInSpeed: 600,
            fadeOutSpeed: 600,
            removeTimer: 2500,
            isSticky: false
	    }); 
    {% endif %}
    
    {% if display_form %}
       task_form_overlay();
    {% endif %}    
 });

function task_form_overlay()
{
  el = document.getElementById("setup-dialog"); 
  el.style.visibility = "visible";
  $("#setup-dialog").dialog({
    modal: true,
    width: 500,
    {% if task.type == "survey" %}
      height: 500,
    {% endif %}
    closeOnEscape: false,
    position: [400,100],
    open: function(event, ui) {
      log_js_action("activities", "{{task.slug}}", "show-form");
    },
    close: function(event, ui) {
      log_js_action("activities", "{{task.slug}}", "close-form");
    }
    });

   $('#id_response').focus();

    return false;
}
 
function signup_point_dialog_overlay()
{
  el = document.getElementById("signup-point-dialog"); 
  el.style.visibility = "visible";
  $("#signup-point-dialog").dialog({
    modal: true,
    {% if task.type == "activity" %}
      width: 400,
      height: 250,
    {% else %}
      width: 300,
      height: 150,
    {% endif %}
    closeOnEscape: false,
    position: [400,100]
    });
    return true;
}
 
</script>  

{% endblock %}
