  {% if form.is_multipart %}
    <form enctype="multipart/form-data" action="add" method="post">
  {% else %}
    <form action="add" method="post">
  {% endif %}
  
  {% csrf_token %}
  {% if form.response %}
    {{ form.response.errors }}
  {% else %}
    {{ form.image_response.errors }}
  {% endif %}
  {% if admin_message %}
    Admin message: {{ admin_message }}
  {% endif %}
  
  <p/>
  <label for="id_response">
    {% if question %}
      {{task.confirm_prompt}}
      <p/>
      {{question.question}}
      {{form.question}}
    {% else %}
      {% if pau %}
        {{task.confirm_prompt}}
        {{form.code}}
      {% endif %}  
    {% endif %}
  </label>
  
  <p/>
  
  {% if form.image_response %}
    {{ form.image_response }}
  {% else %}
    {% if question.questionchoice_set.count > 0 %}
      {{ form.choice_response }}
    {% else %}
      {% if pau %}
        {{ form.response }}
      {% endif %}    
    {% endif %}  
  {%endif%}
  
  <p/>Additional Comments:
    <br/>
    {{ form.comment }} 
  <p/>
  <input type="submit" value="Submit" />
</form>
