html {
    height: 100%;
    font-size: 100.01%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color: White;
}

a:link {
    color: #555;
    font-weight: bold;
}

a:visited {
    color: #333;
    font-weight: bold;
}

a:hover, a:active {
    color: #c00;
}

hr.clear {
    border: none;
    margin: 0;
    padding: 0;
    height: 0;
    visibility: none;
    clear: both;
}

div#website_title {
    width: 1000px;
    margin: 0 auto;
    padding-top: 2em;
}

div#website_title h1 {
    color: White;
    text-indent: -9999px;
    text-shadow: 1px 1px 1px #666;
    padding: 0 0 0.2em 0;
    margin: 0 20px 0 30px;
    font-family: Tahoma;
    font-size: 2.2em;
    line-height: 60px;
    letter-spacing: -1px;
    background:url('logo.jpg') no-repeat; 
}

div#website_title h1 a {
    text-decoration: transparent;
}

#color-wrapper {
    background-color: White;
}

#outline {
    width: 1000px;
    margin: 0 auto;
}

#content-outline {
    background-color: White;
}


#content {
    padding: 10px;
    margin: 0 20px 0 20px;
    background-color: White;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #555;
}

#content .homepage_content_1 {
	width: auto;
	height: auto;
	padding: 0px;
	line-height: 1.0em;
	margin: 0;
}

#content .homepage_content_3 {
	width: 275px;
	height: auto;
	margin: 0px 10px 10px 0px;
	float: right;
	clear: right;
	border: 1px solid Silver;
    /* Round corner */
    -moz-border-radius: 5px;
    -webkit-border: 5px;
}

#content .homepage_news {
	width: 275px;
	height: 520px;
	float: left; 
	margin: 0px 17px 10px 10px;
	border: 1px solid Silver;
    /* Round corner */
    -moz-border-radius: 5px;
    -webkit-border: 5px;
}


#content .homepage_content_5 {
	width: 320px;
	height: 200px;
	padding: 0px;
	margin: -210px 10px 10px 10px;
	float: left;
	clear: left;
	border: 1px solid Silver;
    /* Round corner */
    -moz-border-radius: 5px;
    -webkit-border: 5px;
}

#content .homepage_content_2 {
	width: auto;
	height: auto;	
	margin: 0px 10px 10px 10px;
	padding: 0;
	float: left;
	clear: left;
	border: 1px solid Silver;
    /* Round corner */
    -moz-border-radius: 5px;
    -webkit-border: 5px;
}
#content .homepage_content_4 {	
	width: 275px;
	height: auto;	
	padding: 0; 
	margin: 10px 10px 10px 0px;
	float: right;
	clear: right;
	border: 1px solid Silver;
    /* Round corner */
    -moz-border-radius: 5px;
    -webkit-border: 5px;
}

#content h1 {
    color: #333;
    margin: 0 0 0.5em 0;
    text-shadow: 0 1px 0 #ccc;
}

#content h1 {
    font-size: 2em;
}

#content h2 {
    font-size: 1.7em;
    font-weight: normal;
    color: #555;
    margin: 1em 0 0.5em 0;
}

#content h3 {
    font-size: 1.0em;
    line-height: 1.5em;
    text-indent: 10px;
    font-weight: bold;
    color: 	#254B99;
    margin: 0;
    background-color: #ADD8E6;
    -moz-border-radius-topright: 5px;
    -webkit-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-radius-topleft: 5px;
}

#content p.image img {
    border: 1px solid #999;
}

#content p.image.left {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

#content p.image.right {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
}

#footer {
    margin: 0 auto;
    padding: 1px 0 80px 0;
    width:  1000px;
    font-size: 0.7em;
    color: #666;
}

#footer p {
    margin: 1em 0 1em 0;
}


form.add-attachment {
    padding: 0.2em 1em;
    background-color: #eee;
    -webkit-box-shadow: 0 2px 3px #aaa;
}

/* News items */
#content .news_item {
  border: 1px solid Silver;
  padding:0px 5px;
}

#content .trigger {
  margin:10px 0px 5px 0px;
}

#content .trigger a {
  text-decoration: none;
}

#content .article_container p {
  margin:0px 10px 5px 10px;
}

/* MESSAGES */

ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
}
ul#messages li a {
    float: right;
    color: #693;
}