/* SITE-SPECIFIC TAB STYLING */

/* Active tabs */
/*
#home_tab a.tab_home,
#resources_tab a.tab_resources,
#energy_tab a.tab_energy,
#about_us_tab a.tab_about_us,
#billboard_tab a.tab_billboard,
#kukui_tab a.tab_kukui,
#user_tab a.tab_user
{
    background-color: #999;
    border-color: #888;
    color: #FFF;
}
*/