{% extends "resources/resources_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "Resources: Energy Hub" %}{% endblock %}

{% block body %}
<div class="energy_hawaii" style="width:500px;float:left">
  {% gblock "energy_hawaii" for "gblocks.TitleAndText" %}
</div>

<div class="energy_news" style="width:400px; float:left; padding-left:10px">
  {% gblock "energy_news" for "gblocks.TitleAndText" %}
</div>

<div class="energy_involved" style="width:400px; float:left; padding-left:10px">
  {% gblock "energy_involved" for "gblocks.TitleAndText" %}
</div>
{% endblock %}
