/* GENERAL TAB STYLING */

#tabhead {
	background:url('profile.jpg') no-repeat top ;
	padding-top: 200px;
    border-bottom: 1px solid #ccc;
	width: 175px;
	margin: 10px 0px;
	float:left;
}

#tabhead a:link,
#tabhead a:visited
{
	
	margin: 0px 10px;
    display: block;
    color: #222;
    text-decoration: none;
    font-size: 0.7em;
	vertical-align: middle;
    padding: 0.75em 2em;
    background-color: #FFF;
    line-height: 1em;
}

#tabhead a:hover,
#tabhead a:active
{
    background-color: #DDF;
    border-color: #transparent;
    color: #000;
}
a.tab_logout{ background:url('icon_user.gif') no-repeat left; }
a.tab_login{ background:url('icon_user.gif') no-repeat left; }
a.tab_account{ background:url('icon_settings.gif') no-repeat left; }

a.tab_home{ background:url('icon_home.gif') no-repeat left; }
a.tab_resources{ background:url('note.gif') no-repeat left; }
a.tab_energy{ background:url('table.gif') no-repeat left; }
a.tab_billboard{ background:url('page_text.gif') no-repeat left; }
a.tab_kukui{ background:url('note.gif') no-repeat left; }
a.tab_about_us{ background:url('icon_info.gif') no-repeat left; }


/* SUBNAV */

#subnav{
    background-color: #ccf;
	margin: 0px 23px 0px 175px ;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

#subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#subnav ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

#subnav a:link,
#subnav a:visited
{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 1em;
    padding: 0.5em 1em;
    background-color: transparent;
	margin: -100px auto;
}

#subnav a:hover {
    text-decoration: underline;
}

/* SITE-SPECIFIC TAB STYLING */

/* Active tabs */
#home_tab a.tab_home,
#resources_tab a.tab_resources,
#energy_tab a.tab_energy,
#billboard_tab a.tab_billboard,
#about_us_tab a.tab_about_us
{
	
    background-color: #ccf;
    border-color: transparent;
    color: #000;
}