<li id="notification-item-{{notification.id}}" class="{{notification.style_class}} notification-item">
  <div class="notification-contents">
    <span class="ui-icon {{notification.icon_class}}"></span>
    {{notification.contents|safe}}
  </div> 
       <form action="{% url mobile_read_notification notification.id %}" rel="external" method="POST" style="display: inline">
{% csrf_token %}
 <button type="submit"  onClick='$('#notification-item-{{notification.id}}').fadeOut();return true;' data-icon="close" data-inline="true">Dismiss</button>
      </form> 
 
</li>
