<!DOCTYPE html>
<html>
<head> 
  <title>Kukui Cup</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
</head>
<body>  
  <div data-role="page" data-theme="a">
<div class="ui-body ui-body-a"> 
    
      <center><img  src="/site_media/static/css/default/images/old-logo.png"/></center>
     
  <div id="landing-title">

    <h2>The Kukui Cup: Lights out, game on!</h2>
  </div>


<div class="ui-body ui-body-a"> 
  <h2 style='margin: 0 30px'>The Kukui Cup starts on October 17. Check back then!</h2>
  <p> 
    For further information contact Philip Johnson at  <a href='mailto:johnson@hawaii.edu'>johnson@hawaii.edu</a> or 808-956-3489.
  </p>
</div>
</div>

  </div>
  </body>
</html>
