{% load i18n %}
{% load class_tags %}
{# load theme_tags #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
    
    {# render_css_import user #}
    {% import_css STATIC_URL CSS_THEME %}
    
    {% import_js STATIC_URL %}
    
    <!-- Script to handle CSRF tokens for AJAX requests. -->
    <script type="text/javascript">
      $.ajaxSetup({ 
           beforeSend: function(xhr, settings) {
               function getCookie(name) {
                   var cookieValue = null;
                   if (document.cookie && document.cookie != '') {
                       var cookies = document.cookie.split(';');
                       for (var i = 0; i < cookies.length; i++) {
                           var cookie = jQuery.trim(cookies[i]);
                           // Does this cookie string begin with the name we want?
                       if (cookie.substring(0, name.length + 1) == (name + '=')) {
                           cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                           break;
                       }
                   }
               }
               return cookieValue;
               }
               if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                   // Only send the token to relative URLs i.e. locally.
                   xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
               }
           } 
      });
    </script>
      
    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>

<body>
<div class="container">
  <div class="container-top">
  <div class="container-bottom">
  {% if ENABLE_CSS_SELECTOR %}
    <form action="/themes/change_theme/" method="post">
      {{CSS_SELECT_FORM.as_p}}
    </form>
    
    <script type="text/javascript">
      $("#id_css_theme").change(function() {
        this.form.submit();
      })
    </script>
  {% endif %}
  
  <div {% get_id_and_classes "header" %}>
    {% block header %}{% endblock %}
  </div>
  
  {# This is where the contents of the page will be inserted #}
  <div class="content">
    {% block body %}{% endblock %}
  </div>
  
  <div {% get_id_and_classes "footer" %}>
      {% block footer %}{% endblock %}
  </div>
  
  {% block extra_body_base %}
      {% block extra_body %}{% endblock %}
  {% endblock %}
  </div>
  </div>
</div>
</body>
</html>
