{% load i18n %}
{% load class_tags %}
{# load theme_tags #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Use the chrome frame -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
    
    {# render_css_import user #}
    {% import_css STATIC_URL CSS_THEME %}
    
    <script src="{{STATIC_URL}}js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.8.1.custom.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/jquery.cycle.lite.1.0.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/jquery.form.2.43.js" type="text/javascript"></script>
   
    <script src="{{STATIC_URL}}js/jquery.purr.js" type="text/javascript" ></script>

    <script src="{{STATIC_URL}}/js/makahiki.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}/js/quest.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}/js/feedback.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/ajile/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
    <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/gdataloader/org.wattdepot.gdata.GDataLoader.js"></script>
    <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/src/javascript/energyrank/org.wattdepot.gdata.makahiki.EnergyRank.js"></script>
    
      
    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>

<body>
<div class="container">
  <div class="container-top">
  <div class="container-bottom">
  {% if ENABLE_CSS_SELECTOR %}
    <form action="/themes/change_theme/" method="post">
      {{CSS_SELECT_FORM.as_p}}
    </form>
    
    <script type="text/javascript">
      $("#id_css_theme").change(function() {
        this.form.submit();
      })
    </script>
  {% endif %}
  
  <div {% get_id_and_classes "header" %}>
    {% block header %}{% endblock %}
  </div>
  
  {# This is where the contents of the page will be inserted #}
  <div class="content">
    {% block body %}{% endblock %}
  </div>
  
  <div {% get_id_and_classes "footer" %}>
      {% block footer %}{% endblock %}
  </div>
  
  {% block extra_body_base %}
      {% block extra_body %}{% endblock %}
  {% endblock %}
  </div>
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>  <style>   
/*     
  CSS rules to use for styling the overlay:      
  .chromeFrameOverlayContent      
  .chromeFrameOverlayContent iframe      
  .chromeFrameOverlayCloseBar
  .chromeFrameOverlayUnderlay   */  
</style>   

<script>
  // You may want to place these lines inside an onload handler  
  jQuery(document).ready(function() {
    CFInstall.check({     
      mode: "overlay"
    });
  });
</script>
</body>
</html>
