{% extends "base.html" %}

{% load class_tags %}
{% load generic_flatblocks %}
{% load markup %}

{% block extra_head_base %}
  {% import_logged_in_css STATIC_URL %}
  {% block extra_head %}{% endblock %}
{% endblock %}

{% block header %}


<div style="margin-top: 10px">
  
  <div {% get_id_and_classes "header-logout" %}>
    {% if user.get_profile.canopy_member and not in_canopy %}
    <div id="link-container" style="float: left">
      <div id="header-canopy-link" class="hidden">
        <a href="{% url canopy_index %}">Head up to the canopy</a>
      </div>
    </div>
    {% endif %}
    
    <button {% get_id_and_classes "header-feedback" %} disabled="disabled" href="javascript:void(0);">Send Feedback</button>
    <a href="/account/cas/logout/?next=/landing/">Logout</a>
  </div>

  <div {% get_id_and_classes "header-logo" %}>
    <a href="{% url home_index %}"><img src="{{STATIC_URL}}css/default/images/logo.png" title="Home"/></a>
  </div>

  <div {% get_id_and_classes "header-info" %}>
    {% include "components/user_info.html" %}
  </div>  
  
  <div {% get_id_and_classes "header-nav" %}>
    <div class="{% block selected_icon %}{% endblock %}">
      {% include "components/navigation.html" %}
    </div>
    {# <div {% get_id_and_classes "header-title" %}> #}
    {#   <h3>{% block page_title %}{% endblock %}</h3> #}
    {# </div>   #}
    
  </div>
</div>

{# {% if messages %} #}
{# <div {% get_id_and_classes "notification-box" %}> #}
{#   <ul> #}
{#     {% for message in messages %} #}
{#     <li> #}
{#       {{message|safe}} #}
{#     </li> #}
{#     {% endfor %} #}
{#   </ul> #}
{# </div> #}
{# {% endif %} #}

{% include "notifications/list.html" %}

{% block quests %}
  {% include "quests/quest_box.html" %}
{% endblock %}

{% endblock %}

{% block extra_body_base %}
{% include "ask_admin/feedback_dialog.html" %}

<div id="widget-help-dialog" title="Help" style="display: none">
</div>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script type="text/javascript">
  FB.init({appId: '{{FACEBOOK_APP_ID}}', status: true, cookie: true, xfbml: true});
  
  // Normally, we would wrap this in an anonymous function, but we want it to be available for later.
  // Get the spreadsheet we need.
  var energyLastThirtyDays = '{{SPREADSHEETS.THIRTY_DAYS}}';
  var refreshInterval = 0; // don't refresh this spreadsheet.

  // Load the visualization API and the spreadsheet, then call displayRank.
  var loader = new org.wattdepot.gdata.GDataLoader(displayRank, energyLastThirtyDays, refreshInterval);  

  function displayRank(energyDataTable) {
    // The source for which we want to find the rank must be specified by Makahiki.
    var source = '{{user.get_profile.floor.dorm.name}}-{{user.get_profile.floor.number}}';
    var energyRank = new org.wattdepot.gdata.makahiki.EnergyRank();
    
    // Get the usage for the current round and overall.
    {% for key, value in ROUNDS.items %}
      var usage = energyRank.processDataTable(energyDataTable, {{value.start}}, {{value.end}});
      var info = energyRank.calculateRankInfo(usage, source);
      
      // Check if this is overall information.
      {% if key == "Overall" %}
      energyRank.draw("overall-energy-rank", "overall-energy-value", info);
      {% else %}
        // Check if this is info for the current round.
        {% if CURRENT_ROUND and key == CURRENT_ROUND %}
        energyRank.draw("round-energy-rank", "round-energy-value", info);
        {% endif %}
      {% endif %}
      
      {% block extra_round_energy %}{% endblock %}
    {% endfor %}
  }
</script>

{% block extra_body %}{% endblock %}

{% endblock %}