{% extends "base.html" %}

{% load class_tags %}

{% block extra_head_base %}
  {% import_logged_in_css STATIC_URL %}
  {% block extra_head %}{% endblock %}
{% endblock %}

{% block header %}
  <div {% get_id_and_classes "header-logo" %}>
    <img src="{{STATIC_URL}}images/logo.png"/>
  </div>
  <div {% get_id_and_classes "header-title" %}>
    <h3 style="font-weight: bold">{% block page_title %}{% endblock %}</h3>
  </div>
  <div {% get_id_and_classes "header-info" %}>
    {% include "components/user_info.html" %}
  </div>
  <div {% get_id_and_classes "header-nav" %}>
    {% include "components/navigation.html" %}
  </div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('a.frontendadmin_edit').hover(
        function(){jQuery(this).parent().css('outline', '4px solid #E9B007')},
        function(){jQuery(this).parent().css('outline', '')}
    );
    
    jQuery('a.frontendadmin_edit').click(function(){
            jQuery(this).parent().css('outline', '');
            jQuery(this).parent().load(this.href);
            return false;
    });
    
    jQuery('a.frontendadmin_delete').hover(
        function(){jQuery(this).parent().css('outline', '4px solid #E9B007')},
        function(){jQuery(this).parent().css('outline', '')}
    );
});
</script>
{% endblock %}