{% extends "site_base.html" %}

{% block body %}
  <div id="content_header">    
    <div id="homepage_news" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="makahiki_content_title ui-accordion-header ui-corner-top">
        Error:
      </div>
      <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        <p>{{message}}</p>
        <p><a href="{% url landing %}">Back to home</a></p>
      </div>
    </div>
  </div>
{% endblock %}


