<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Makahiki: Process Notices (Production)</string>
    <key>WorkingDirectory</key>
    <string>/Users/kukuicup/production/makahiki</string>
    <key>ProgramArguments</key>
    <array>
    <string>/Users/kukuicup/Envs/kukuicup/bin/python</string>
    <string>process_notices.py</string>
    </array>
    
    <!-- Only applies if the task is run as root. -->
    <key>UserName</key>
    <string>kukuicup</string>
    
    <!-- Run this task daily at 12:10 AM -->
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>0</integer>
      <key>Minute</key>
      <integer>10</integer>
    </dict>
    
    <key>StandardErrorPath</key>
  	<string>/Users/kukuicup/production/log/process-notices.err</string>
  	<key>StandardOutPath</key>
  	<string>/Users/kukuicup/production/log/process-notices.out</string>
</dict>
</plist>
