{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  What's going on in the cup?
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL}}css/{{CSS_THEME}}/pages/news.css">
{% endblock %}

{% block body %}
<div id="news-events+popular+activities" class="{% insert_classes "news-events+popular+activities" %}">
  <div class="{% insert_classes "widget" %}">
    <div class="{% insert_classes "widget-title" %}">
      Upcoming Events
    </div>
    <div class="{% insert_classes "widget-body" %}">
      <table>
        <tr>
          <th>Event (points)</th>
          <th>Date</th>
          <th>Location</th>
        </tr>
        <tr>
          <td>Sustainable UH talk (5)</td>
          <td>Mon</td>
          <td>Mokihana Roof Lounge</td>
        </tr>
        <tr>
          <td>An Inconvenient Truth (5)</td>
          <td>Tue</td>
          <td>Ilima Roof Lounge</td>
        </tr>
        <tr>
          <td>Surfrider Beach Cleanup (5)</td>
          <td>Wed</td>
          <td>Ilima Parking Lot</td>
        </tr>
        <tr>
          <td>Blue Planet Talk(5)</td>
          <td>Wed</td>
          <td>Lehua Roof Lounge</td>
        </tr>
        <tr>
          <td>AMP Poetry Slam (5)</td>
          <td>Fri</td>
          <td>Hale Aloha Cafeteria</td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="{% insert_classes "widget" %}">
    <div class="{% insert_classes "widget-title" %}">
      Most Popular
    </div>
    <div class="{% insert_classes "widget-body" %}">
      <form>
        <select style="margin: 0 auto">
          <option>Activities</option>
          <option>Events</option>
          <option>Commitments</option>
        </select>  
      </form>
      
      <table>
        <tr>
          <th>Activity</th>
          <th>Completions</th>
        </tr>
        <tr>
          <td>Be Energy Akamai</td>
          <td>345</td>
        </tr>
        <tr>
          <td>Blue Planet Foundation</td>
          <td>145</td>
        </tr>
        <tr>
          <td>Energy Audit</td>
          <td>123</td>
        </tr>
        <tr>
          <td>Power Plant Tour</td>
          <td>56</td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="{% insert_classes "widget" %}">
    <div class="{% insert_classes "widget-title" %}">
      My Public Commitments
    </div>
    <div class="{% insert_classes "widget-body" %}">
      <table>
        <tr>
          <th>Commitment</th>
          <th>Expires</th>
        </tr>
        <tr>
          <td>Turn off lights after leaving room</td>
          <td>Tue</td>
        </tr>
        <tr>
          <td>Wash dishes in cold water</td>
          <td>Tue</td>
        </tr>
        <tr>
          <td>Use clothesline</td>
          <td>Wed</td>
        </tr>
        <tr>
          <td>Take bus</td>
          <td>Thu</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="news-wall" class="{% insert_classes "news-wall" %}">
  <div class="{% insert_classes "widget" %}">
    <div class="{% insert_classes "widget-title" %}">
      News Feed
    </div>
    <div class="{% insert_classes "widget-body" %}">
      <div id="wall_form" style="padding: 0; padding-bottom: 5px; border-bottom: 1px solid #DFD9C3">
        <form action="{% url news_index %}" method="GET">
          <div id="wall_post" style="display:inline; width: 100%">
            {{wall_form.post}}
          </div>
          <input type="submit" value="Submit" />
        </form>
      </div>

      {% if posts %}
        <ul id="wall_posts">
          {% for post in posts %}
            <li>
              {% include "news/user_post.html" %}
            </li>
            {% if forloop.last and posts.count == num_posts_to_display %}
            <li id="view_more_posts" onclick="loadMore({{post.id}})" style="cursor:pointer; text-align:center">
              <h3 style="margin:0">See More</h3>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>There are no posts yet!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}