{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  What's going on in the cup?
{% endblock %}

{% block extra_head %}
  {% import_page_css "news" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "news-events-popular-activities" %}>
  <div {% get_id_and_classes "news-events" %}>
    <div {% get_id_and_classes "news-events-title" %}>
      Upcoming Events
    </div>
    <div {% get_id_and_classes "news-events-content" %}>
      {% include "view_activities/events.html" %}
    </div>
  </div>
  
  <div {% get_id_and_classes "news-most-popular" %}>
    <div {% get_id_and_classes "news-most-popular-title" %}>
      Most Popular
    </div>
    <div {% get_id_and_classes "news-most-popular-content" %}>
      <div {% get_id_and_classes "news-most-popular-tasks" %} >
        {% include "news/popular_tasks.html" %}
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          $("#news-most-popular-tasks").cycle({after: onAfter});
          
          //Adjust the height of the container based on the contents.
          //Found at http://forum.jquery.com/topic/jquery-cycle-auto-height
          function onAfter(curr, next, opts, fwd) {
            var $ht = $(this).height();

            //set the container's height to that of the current slide
            $(this).parent().animate({height: $ht});
          }
        })
      </script>
    </div>
  </div>
  
  <div {% get_id_and_classes "news-commitments" %}>
    <div {% get_id_and_classes "news-commitments-title" %}>
      My Public Commitments
    </div>
    <div {% get_id_and_classes "news-commitments-content" %}>
      {% if commitment_members %}
      <table>
        <tr>
          <th>Commitment</th>
          <th>Expires</th>
        </tr>
        {% for member in commitment_members %}
        <tr>
          <td>{{member.commitment.title}}</td>
          <td>{{member.completion_date}}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>You are not participating in any commitments</p>
      {% endif %}
    </div>
  </div>
</div>

<div {% get_id_and_classes "news-wall" %}>
  <div {% get_id_and_classes "news-wall-box" %}>
    <div {% get_id_and_classes "news-wall-title" %}>
      News Feed
    </div>
    <div {% get_id_and_classes "news-wall-content" %}>
      <div {% get_id_and_classes "wall-form" %}>
        <form {% get_id_and_classes "news-post-form" %} action="{% url news_post %}" method="POST">
          {% csrf_token %}
          <div {% get_id_and_classes "wall-post-errors" %}></div>
          <div {% get_id_and_classes "wall-post" %}>
            {{wall_form.post}}
          </div>
          <a {% get_id_and_classes "wall-post-submit" %} href="#">Post</a>
        </form>
        <script type="text/javascript">
          $("#wall-post-submit").click(function() {
            if (!$("#wall-post-submit").button("option", "disabled")) {
              $.post("{% url news_post %}", $("#news-post-form").serialize(), function(data) {
                if (data.message) {
                  $("#wall-post-errors").html(data.message);
                }
                else {
                  $("#wall-post-errors").html("");
                  $(data.contents).hide().prependTo("#wall-posts").fadeIn();
                  $("textarea").val("");
                  $("#wall-post-submit").button("option", "disabled", true);
                }
              });
            }
            return false;
          });
        </script>
      </div>

      {% if posts %}
        <ul {% get_id_and_classes "wall-posts" %}>
          {% include "news/news_posts.html" %}
        </ul>
      {% else %}
        <p>There are no posts yet!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}