{% for key, value in popular_tasks.items %}
  {% if value %}
    <table id="news-popular-{{key|slugify}}-table">
      <tr>
        <th>{{key}}</th>
        <th>Completions</th>
      </tr>
      {% for task in value %}
      <tr>
        <td><a href="{% url activity_task task.id %}">{{task.title}}</a></td>
        <td>{{task.completions}}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p style="width: 100%; text-align: center">Be the first to complete a {{key.lower}}!</p>
  {% endif %}
{% endfor %}
