<div class="ui-accordion-header ui-corner-top ui-state-default list_header">
  {% if is_me %}
      My activities: <a href="/activities/activity_list/" class="header_link">view all</a>
  {% else %}
    {{ other_user.get_profile.name }}'s activities.
  {% endif %}
  <span id="activity_help" class="ui-icon ui-icon-help"></span>
</div>

<div class="activity_content ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
  {% if user_activities %}
    <table class="profile_table">
    <tr class="column_header">
      <td class="activity_title">Title</td>
      <td class="activity_points">Points</td>
      <td class="activity_options">Options</td>
    </tr>
      {% for member in user_activities %}
        {% with member.activity as item %}
          {% include "activities/profile/activity.html" %}
        {% endwith %}
      {% endfor %}
    </table>
  {% else %}
    {% if is_me %}
      <h4>You are not participating in any activities.</h4>
    {% else %}
      <h4>{{ other_user.get_profile.name }} is not participating in any activities.</h4>
    {% endif %}
  {% endif %}
</div>