<div class="activity_header">
  {% if is_me %}
      My activities:
  {% else %}
    {{ other_user.get_profile.name }}'s activities.
  {% endif %}
</div>

<div class="activity_content">
  {% if user_activities %}
    <table class="activity_list">
    <tr class="column_header">
      <td class="activity_title">Title</td>
      <td class="activity_points">Points</td>
      <td class="activity_options">Options</td>
    </tr>
      {% for item in user_activities %}
        {% include "activities/profile/activity.html" %}
      {% endfor %}
    </table>
  {% else %}
    {% if is_me %}
      <h4>You are not participating in any activities.</h4>
    {% else %}
      <h4>{{ other_user.get_profile.name }} is not participating in any activities.<h4>
    {% endif %}
  {% endif %}
</div>