<div class="ui-accordion-header ui-corner-top ui-state-default activity_header">
{% if is_me %}
  My commitments:
{% else %}
  {{ other_user.get_profile.name }}'s commitments.
{% endif %}
<span id="commitment_help" class="ui-icon ui-icon-help"></span>
</div>

<div class="activity_content activity_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
  {% if user_commitments %}
    <table class="profile_table">
      <tr class="column_header">
        <td class="activity_title">Title</td>
        <td class="activity_points">Points</td>
        <td class="activity_options">Options</td>
      </tr>
      {% for item in user_commitments %}
        {% include "activities/profile/commitment.html" %}
      {% endfor %}
    </table>
  {% else %}
    {% if is_me %}
      <h4>You are not participating in any commitments.</h4>
    {% else %}
      <h4>{{ other_user.get_profile.name }} is not participating in any commitments.<h4>
    {% endif %}
  {% endif %}
</div>

<!--
{% if available_commitments %}
  <h3>Available commitments:</h3>
  <ul>
  {% for item in available_commitments %}
    {% include "activities/profile/commitment.html" %}
  {% endfor %}
  </ul>
{% else %}
  {% if is_me %}
    <h4>No new commitments.</h4>
  {% endif %}
{% endif %}
-->