<div class="ui-accordion-header ui-corner-top ui-state-default list_header">
  {% if is_me %}
      Our {{floor_label.lower}}&apos;s goals: <a href="/activities/goal_list/" class="header_link">view all</a>
  {% else %}
    {{ other_user.get_profile.name }} floor's goals.
  {% endif %}
  <span id="goal_help" class="ui-icon ui-icon-help"></span>
</div>

<div class="activity_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
  {% if user_goals %}
    <table class="profile_table">
    <tr class="column_header">
      <td class="activity_title">Title</td>
      <td class="activity_points">Points</td>
      <td class="activity_options">Options</td>
    </tr>
      {% for item in user_goals %}
        {% include "activities/profile/activity.html" %}
      {% endfor %}
    </table>
  {% else %}
    {% if is_me %}
      <h4>Your floor is not participating in any goals.</h4>
    {% else %}
      <h4>{{ other_user.get_profile.name }}'s floor is not participating in any goals.</h4>
    {% endif %}
  {% endif %}
</div>
