{% if available_goals %}
  <h3>Available goals:</h3>
  <ul>
  {% for item in available_goals %}
    {% include "activities/profile/activity.html" %}
  {% endfor %}
  </ul>
{% else %}
  {% if is_me %}
    <h4>No new goals.</h4>
  {% endif %}
{% endif %}

{% if user_goals %}
  {% if is_me %}
    <h3>My goals:</h3>
  {% else %}
    <h3>{{ other_user.get_profile.name }}'s goals.</h3>
  {% endif %}
  <ul>
  {% for item in user_goal %}
    {% include "activities/profile/activity.html" %}
  {% endfor %}
  </ul>
{% else %}
  {% if is_me %}
    <h4>Your floor is not participating in any goals.</h4>
  {% else %}
    <h4>{{ other_user.get_profile.name }}'s floor is not participating in any goals.<h4>
  {% endif %}
{% endif %}
