{% load class_tags %}

{% if CURRENT_ROUND %}
<!-- First slideshow element -->
<div id="header-floor-overall-rank1">
  <div {% get_id_and_classes "header-floor-points" %}>
    <h3>{{floor.current_round_points}}</h3>
    {{COMPETITION_POINT_NAME}}s in {{CURRENT_ROUND.title}}
  </div>
  <div {% get_id_and_classes "header-floor-rank" %}>
    <h3>#{{floor.current_round_rank}}</h3> out of {{FLOOR_COUNT}} in all dorms
  </div>
</div>

<div id="header-floor-overall-rank2" style="display:none">
  <div {% get_id_and_classes "header-floor-energy" %}>
    <h3 id="round-energy-value"></h3>
     used in {{CURRENT_ROUND.title}}
  </div>
  <div {% get_id_and_classes "header-floor-rank" %}>
    <h3 id="round-energy-rank"></h3> out of {{FLOOR_COUNT}} in all dorms
  </div>
</div>
{% endif %}

<div id="header-floor-overall-rank3" {% if CURRENT_ROUND %}style="display:none"{% endif %}>
  <div {% get_id_and_classes "header-floor-points" %}>
    <h3>{{floor.points}}</h3>
    {{COMPETITION_POINT_NAME}}s overall
  </div>
  <div {% get_id_and_classes "header-floor-rank" %}>
    <h3>#{{floor.rank}}</h3> out of {{FLOOR_COUNT}} in all dorms
  </div>
</div>

<div id="header-floor-overall-rank4" style="display:none">
  <div {% get_id_and_classes "header-floor-energy" %}>
    <h3 id="overall-energy-value"></h3>
     used overall
  </div>
  <div {% get_id_and_classes "header-floor-rank" %}>
    <h3 id="overall-energy-rank"></h3> out of {{FLOOR_COUNT}} in all dorms
  </div>
</div>