<div class="span-7 last" style="text-align:right">
  <a href="/account/cas/logout/">Logout</a>
</div>
<div class="span-7 last">
  <ul style="list-style:none; margin: 0; float: right">
    <li style="display: inline"><a href="{% url home_index %}"><img src="{{STATIC_URL}}images/icons/home.png"/></a></li>
    <li style="display: inline"><a href="{% url energy_index %}"><img src="{{STATIC_URL}}images/icons/energy.png"/></a></li>
    <li style="display: inline"><a href="{% url activity_index %}"><img src="{{STATIC_URL}}images/icons/activities.png"/></a></li>
    <li style="display: inline"><a href="{% url news_index %}"><img src="{{STATIC_URL}}images/icons/news.png"/></a></li>
    <li style="display: inline"><a href="{% url help_index %}"><img src="{{STATIC_URL}}images/icons/help.png"/></a></li>
    <li style="display: inline"><a href="{% url profile_index %}"><img src="{{STATIC_URL}}images/icons/profile.png"/></a></li>
    <li style="display: inline"><a href="{% url prizes_index %}"><img src="{{STATIC_URL}}images/icons/prizes.png"/></a></li>
  </ul>
</div>