{% load avatar_tags %}
{% load class_tags %}

{% if user.is_authenticated %}
  <div {% get_id_and_classes "header-avatar" %}>
    <img src="{% avatar_url user 60 %}"/>
  </div>
  
  {% with user.get_profile as profile %}
  <div {% get_id_and_classes "header-user-info" %}>
    <div {% get_id_and_classes "header-user-username" %}>
      {{profile.name}} ({{user.username}})
    </div>
    <div {% get_id_and_classes "header-user-points" %}>
      <h3>{{profile.points}}</h3>
      points
    </div>
    <div {% get_id_and_classes "header-user-rank" %}>
      <h3>#{{profile.floor_rank}}</h3> out of 52 in Lounge A
    </div>
  </div>
  {% endwith %}
  
  {% with user.get_profile.floor as floor %}
  <div {% get_id_and_classes "header-floor-info" %}>
    <div {% get_id_and_classes "header-floor-name" %}>
      {{floor}}
    </div>
    <div {% get_id_and_classes "header-floor-points" %}>
      <h3>{{floor.points}}</h3>
      points
    </div>
    <div {% get_id_and_classes "header-floor-rank" %}>
      <h3>#{{floor.rank}}</h3> out of 15 in all dorms
    </div>
  </div>
  <div {% get_id_and_classes "header-floor-image" %}>
    <img src="{{STATIC_URL}}images/hale.ilima.jpg"/>
  </div>
  {% endwith %}
{% endif %}