{% load avatar_tags %}
{% load class_tags %}

{% if user.is_authenticated %}
  <div {% get_id_and_classes "header-avatar" %}>
    <img src="{% avatar_url user 60 %}"/>
  </div>
  
  {% with user.get_profile as profile %}
  <div {% get_id_and_classes "header-user-info" %}>
    <div {% get_id_and_classes "header-user-username" %}>
      {{profile.name}} ({{user.username}})
    </div>
    <div {% get_id_and_classes "user-cycle" %}>
      {% include "components/user_points.html" %}
    </div>
  </div>
  {% endwith %}
  
  {% with user.get_profile.floor as floor %}
  <div {% get_id_and_classes "header-floor-info" %}>
    <div {% get_id_and_classes "header-floor-name" %}>
      {{floor}}
    </div>
    <div {% get_id_and_classes "floor-cycle" %}> 
      {% include "components/floor_points.html" %}
    </div>
  </div>
  <div {% get_id_and_classes "header-floor-image" %}>
    <img src="{{STATIC_URL}}images/hale.ilima.jpg"/>
  </div>
  {% endwith %}
  
  {# <script type="text/javascript"> #}
  {# // Wrap this code in an anonymous self-invoking function to avoid polluting global namespace. #}
  {# (function() { #}
  {#   var configuration = new org.wattdepot.gdata.kukuicup.Configuration(); #}
  {#  #}
  {#   // The source for which we want to find the rank must be specified by Makahiki. #}
  {#   var source = configuration.{{user.get_profile.floor.floor_identifier}}; #}
  {#  #}
  {#   // Get the spreadsheets we need. #}
  {#   var rollingHoursEnergyUrl = configuration.getRollingHoursEnergyUrl(); #}
  {#   // console.log(rollingHoursEnergyUrl); #}
  {#   var refreshInterval = 0; // don't refresh this spreadsheet. #}
  {#  #}
  {#   // Load the visualization API and the spreadsheet, then call displayRank. #}
  {#   var loader = new org.wattdepot.gdata.GDataLoader(displayRank, rollingHoursEnergyUrl, refreshInterval);   #}
  {#  #}
  {#   function displayRank(rollingHoursDatatable) { #}
  {#     var energyTable = new org.wattdepot.gdata.makahiki.EnergyRank(configuration); #}
  {#     var rankInfo = energyTable.calculateRankInfo(rollingHoursDatatable, source); #}
  {#     {% if CURRENT_ROUND %} #}
  {#       energyTable.draw('round-energy-rank', 'round-energy-value', rankInfo); #}
  {#     {% endif %} #}
  {#     energyTable.draw('overall-energy-rank', 'overall-energy-value', rankInfo); #}
  {#   } #}
  {# })(); #}
  {# </script> #}
  
  <script type="text/javascript">
    $(document).ready(function() {
      $("#user-cycle").cycle();
      $("#floor-cycle").cycle();
    });
  </script>
{% endif %}