{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% endblock %}

{% block tab_id %}"#energy_tab"{% endblock %}

{% block subnav %}
  <a href="{% url energy_real_time %}">{% trans "Real-Time" %}</a>
  <a href="{% url energy_hour %}">{% trans "Hour" %}</a>
  <a href="{% url energy_day %}">{% trans "Day" %}</a>
  <a href="{% url energy_week %}">{% trans "Week" %}</a>
  <a href="{% url energy_month %}">{% trans "Month" %}</a>
{% endblock %}

{% block body %}
{% endblock %}
