{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "Energy Data" %}{% endblock %}

{% block tab_id %}"#energy_tab"{% endblock %}

{% block body %}
  <div id="content_header">
    {% if CURRENT_PHASE %}
    <div class="makahiki_content" style="margin:0">
      <div id="countdown-timer" class="makahiki_content_body ui-accordion-content ui-widget-content ui-corner-all ui-accordion-content-active"
        style="margin:0">
        {% include "makahiki_base/timer.html" %}
      </div>
    </div>
    {% endif %}
  </div>
  
  <div id="two_col_left">
    <div id="energy_daily" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="makahiki_content_title ui-accordion-header ui-corner-top">
        Energy Consumed Over the Last 24 Hours
      </div>
      <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        Please select a dorm.
      </div>
    </div>
  </div>
  
  <div id="two_col_right">
    <div id="energy_weekly" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="makahiki_content_title ui-accordion-header ui-corner-top">
        Energy Consumed Over the Last 7 Days
      </div>
      <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        Please select a dorm.
      </div>
    </div>
  </div>
{% endblock %}
