{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "Energy Data" %}{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/ajile/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.GDataLoader.js"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.kukuicup.Configuration.js"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.makahiki.EnergyLastSevenDays.js"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.makahiki.EnergyLastTwentyFourHours.js"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.makahiki.PowerLastFewMinutes.js"></script>
<script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.HtmlTable.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#id_floor").change(function() {
      $("#floor_form").submit();
    });
  });
</script>

<style type="text/css">
  #floor_form {
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  #floor_form ul {
    display: inline;
  }
  
  #floor_form ul li {
    display: inline;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
  }
  
  #floor_form ul li label {
    padding-right: 10px;
  }
  
  #content_header #floor_select {
    padding: 10px 0;
  }
</style>
{% endblock %}

{% block tab_id %}"#energy_tab"{% endblock %}

{% block subnav %}
<form id="floor_form" action="/energy_data/" method="GET">
  <div id="floor_select_errors"></div>
  <ul>
    {{form.as_ul}}
  </ul>
</form>
{% endblock %}

{% block body %}
  <div id="content_header">
    {% if CURRENT_PHASE %}
    <div class="makahiki_content" style="margin:0">
      <div id="countdown-timer" class="makahiki_content_body ui-accordion-content ui-widget-content ui-corner-all ui-accordion-content-active"
        style="margin:0">
        {% include "makahiki_base/timer.html" %}
      </div>
    </div>
    {% endif %}
  </div>
  
  <div id="energy_help" style="padding: 0 10px; margin: 0">
    <div class="makahiki_content">
      {% gblock "energy_data_help" for "gblocks.TitleAndText" %}
    </div>
  </div>
  
  <div id="three_col_left" style="width:320px">
    <div id="energy_daily" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      {% include "energy_data/daily.html" %}
    </div>
  </div>
  
  <div id="three_col_center" style="width: 320px">
    <div id="energy_weekly" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      {% include "energy_data/weekly.html" %}
    </div>
  </div>
  
  <div id="three_col_right" style="width:320px; float:right">
    <div id="energy_minutes" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      {% include "energy_data/minutes.html" %}
    </div>
  </div>
{% endblock %}
