<div class="makahiki_content_title ui-accordion-header ui-state-default ui-corner-top list_header">
  {% if floor %}{{floor}}: {% endif %}Power Over the Last Few Minutes
</div>
<div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
  {% if floor %}
  <div id="minutes_visualization"></div>
  
  <script type="text/javascript">
  (function() {
    var spreadsheetURL = 'https://spreadsheets.google.com/tq?key=0An9ynmXUoikYdEZOY1djQ014eFd2WkhUcWdvbXRtMEE';
    var refreshInterval = 15; // refresh every 15 seconds.

    // Load the visualization API and the spreadsheet, then call displayEnergy.
    var loader = new org.wattdepot.gdata.GDataLoader(displayEnergy, spreadsheetURL, refreshInterval);  

    function displayEnergy(datatable) {
     var source = 'SIM_UH_ILIMA_FLOORS_3-4';
     var options = {width : 300, 
                    title: '{{floor.dorm.name}} {{FLOOR_LABEL}} {{floor.number}} Recent Power',
                    backgroundColor : '{{THEME.widgetBackgroundColor}}',
                    captionStyle : {fontSize : '0.80em'}, 
                    titleStyle : {fontWeight : 'bold'}, 
                    globalStyle : {fontFamily : 'sans-serif'}};
     var energyChart = new org.wattdepot.gdata.makahiki.PowerLastFewMinutes();
     energyChart.draw('minutes_visualization', source, datatable, options);
    }
  })();
  </script>
  {% else %}
  <p>Please select a {{FLOOR_LABEL.lower}}</p>
  {% endif %}
</div>