{% load generic_flatblocks %}

<div class="makahiki_content_title ui-accordion-header ui-corner-top ui-state-default list_header">
  {% if floor %}{{floor}}: {% endif %}Consumption Over the Last Week
</div>
<div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
  {% if floor %}
  {% gblock "energy_data_weekly" for "gblocks.Text" with "energy_data/gblocks/text.html" %}
  <div id="weekly_visualization"></div>
  
  <script type="text/javascript">
  // Wrap this code in an anonymous self-invoking function to avoid polluting global namespace.
  (function() {
    var spreadsheetUrl = 'https://spreadsheets.google.com/tq?key=0An9ynmXUoikYdFRQb3FTYmZBbVFCTFQwLXF4NUloaVE';
    var refreshInterval = 60 * 60; // refresh once an hour.

    // Load the visualization API and the spreadsheet, then call displayEnergy.
    var loader = new org.wattdepot.gdata.GDataLoader(displayEnergy, spreadsheetUrl, refreshInterval);  

    function displayEnergy(datatable) {
      var source = 'SIM_UH_ILIMA_FLOORS_3-4';
      var percentageReductionGoal = 10;
      var options = {width : 300, 
                     height : 150, 
                     title: '{{floor}} Recent Power',
                     backgroundColor : '{{THEME.widgetBackgroundColor}}',
                     captionStyle : {fontSize : '0.70em'}, 
                     titleStyle : {fontWeight : 'bold'}, 
                     globalStyle : {fontFamily : 'sans-serif'}};
      var energyChart = new org.wattdepot.gdata.makahiki.EnergyLastSevenDays();
      energyChart.draw('weekly_visualization', source, percentageReductionGoal, datatable, options);
    }
  })();
  </script>
  {% else %}
  <p>Please select a {{FLOOR_LABEL.lower}}</p>
  {% endif %}
</div>