{% extends "status/base.html" %}

{% block body %}
<div {% get_id_and_classes "status-points" %}>
  <div class="content-box">
    <div class="content-box-title">
      Popular Tasks
    </div>
    <div class="content-body">
      {% for deadline in deadlines %}
      <table style="float: left; margin: 10px; padding: 0 10px; border-right: 1px solid gray">
        <tr>
          <th colspan=3>{{deadline.round_name}}</th>
        </tr>
        <tr>
          <th style="text-align: left">Prize</th>
          <th>Tickets</th>
          <th>Winner</th>
        </tr>
        {% for prize in deadline.raffleprize_set.all %}
        <tr>
          <td style="text-align: left">{{prize.title}}</td>
          <td>{{prize.raffleticket_set.count}}</td>
          <td>
            {% if prize.winner %}
              {{prize.winner.get_profile.name}}
            {% else %}
              N/A\
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
      <br style="clear: both"/>
    </div>
  </div>
</div>
{% endblock %}