{% extends "status/base.html" %}

{% load class_tags %}

{% block body %}
<div {% get_id_and_classes "status-activities" %}>
  {% for type, tasks in tasks.items %}
  <div class="content-box" style='float: left; margin: 15px'>
    <div class="content-box-title">
      Popular {% if type == 'activity' %}Activities{% else %}{{type.capitalize}}s{% endif %}
    </div>
    <div class="content-body">
      <table style="margin: 10px; padding: 0 10px;">
        <tr>
          <th style="text-align: left">Title</th>
          <th><th>{% if type == 'excursion' or type == 'event' %}Sign ups{% else %}Completions{% endif %}</th></th>
        </tr>
        {% for task in tasks %}
        <tr>
          <td style="text-align: left">{{task.title}}</td>
          <td>{{task.completions}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endfor %}
  <br style="clear: both"/>
</div>
{% endblock %}