{% extends "base.html" %}

{% load class_tags %}
{% load generic_flatblocks %}
{% load markup %}

{% block extra_head_base %}
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="{{STATIC_URL}}/js/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
  <script type="text/javascript" src="{{STATIC_URL}}/js/org.wattdepot.gdata.GDataLoader.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}/js/org.wattdepot.gdata.makahiki.EnergyRank.js"></script>
  
  {% import_page_css "status" STATIC_URL CSS_THEME %}
{% endblock %}

{% block header %}
<h1 {% get_id_and_classes "status-title" %}>{{COMPETITION_NAME}} Mission Control</h1>
<ul {% get_id_and_classes "status-nav" %}>
  <li><a href="{% url status_points %}">Points Scoreboards</a></li>
  <li><a href="{% url status_energy %}">Energy Scoreboards</a></li>
  <li><a href="{% url status_users %}">Users</a></li>
  <li><a href="{% url status_prizes %}">Prizes</a></li>
  <li><a href="{% url status_activities %}">Activities and Commitments</a></li>
  <li><a href="{% url status_rsvps %}">Event RSVPs</a></li>
</ul>
{% endblock %}
