{% extends "status/base.html" %}

{% load class_tags %}

{% block body %}
<div {% get_id_and_classes "status-prizes" %}>
  {% for deadline in deadlines %}
  <div class="content-box" style='float:left; margin: 15px'>
    <div class="content-box-title">
      {{deadline.round_name}} Raffle Prizes
    </div>
    <div class="content-body">
      <table style="margin: 10px; padding: 0 10px; width: 300px">
        <tr>
          <th style="text-align: left">Prize</th>
          <th>Tickets</th>
          <th>Winner</th>
        </tr>
        {% for prize in deadline.raffleprize_set.all %}
        <tr>
          <td style="text-align: left">{{prize.title}}</td>
          <td>{{prize.raffleticket_set.count}}</td>
          <td>
            {% if prize.winner %}
              {{prize.winner.get_profile.name}}
            {% else %}
              N/A
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endfor %}
  <br style="clear: both"/>
</div>
{% endblock %}