{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  Badge Catalog
{% endblock %}

{% block selected_icon %}selected-profile{% endblock %}

{% block extra_head %}
  {% import_page_css "view_profile" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div {% get_id_and_classes "badge-catalog-box" %}>
  <div {% get_id_and_classes "badge-catalog-title" %}>
    Badge Catalog
  </div>
  <div {% get_id_and_classes "badge-catalog-content" %}>
    <a href="{% url profile_index %}">Back to profile</a>
    
    <table {% get_id_and_classes "badge-catalog-table" %}>
      <tr>
        <th {% get_id_and_classes "badge-catalog-image-header" %}></th>
        <th {% get_id_and_classes "badge-catalog-title-header" %}>Badge</th>
        <th {% get_id_and_classes "badge-catalog-achievement-header" %}>Achievement</th>
        <th {% get_id_and_classes "badge-catalog-users-header" %}></th>
      </tr>
      
      {% for badge in awarded_badges %}
        <tr class="{% cycle '' 'alt-row' as cycle_class %}">
          {% include "view_profile/components/catalog-item.html" %}
        </tr>
      {% endfor %}
      
      {% for badge in locked_badges %}
        <tr class="{% cycle cycle_class %}">
          {% include "view_profile/components/catalog-item.html" %}
        </tr>
      {% endfor %}
    </table>
    
    <a href="{% url profile_index %}">Back to profile</a>
  </div>
</div>
{% endblock %}
