{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  Profile
{% endblock %}

{% block selected_icon %}selected-profile{% endblock %}

{% block extra_head %}
  {% import_page_css "view_profile" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}

<div {% get_id_and_classes "profile-form" %}>
  <div {% get_id_and_classes "profile-form-box" %}>
    <div {% get_id_and_classes "profile-form-title" %}>
      My Info
      <a href="#" style="float: right">
      <img src="{{ STATIC_URL}}/css/default/images/icon-help-sm.png" width="20" align="center" 
		title="Click to get help about this window" 
		onclick="toggleHelp('widget', 'my-info'); return false;"
	   /></a>
    </div>
    <div {% get_id_and_classes "profile-form-content" %}>
      {% include "view_profile/components/form.html" %}
    </div>
  </div>
</div>

{# {% include "view_profile/components/notifications.html" %} #}
{% include "view_profile/components/badges.html" %}
{% include "view_profile/components/commitments.html" %}
{% include "view_profile/components/achievements.html" %}

{% endblock %}
