.resource_topics form {
  padding: 10px 5px;
}

.resource_topics .clear_div {
  clear: both;
  padding: 5px 0;
}

#topic_form_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topic_form_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topic_form_list ul li {
  display: inline;
  white-space: pre;
  text-align: left;
  float: left;
  width: 235px;
}

#resource_table tr {
  height: 25px;
}

#resource_table tr th {
  text-align: left;
}

#resource_table tr:hover {
  background-color: #DFD9C3;
  font-weight: bold;
  cursor: pointer;
}

#resource_table tr a {
  text-decoration: none;
}

.tooltip {
  position:relative; /*this is the key*/
  z-index:24;
}

.tooltip:hover {
  z-index:25;
}

.tooltip span {
  display: none
}

.tooltip:hover span { /*the span will display just on :hover state*/
  display:block;
  position:absolute;
  top:1em; left:2em; width:15em;
  border:1px solid #327E04;
  background-color:#459E00;
  color: white;
  padding: 5px;
  font-weight: normal;
}