{% if activities_enabled %}
  {% load i18n %}
  {% load generic_flatblocks %}
  
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery("#activity_dialog").dialog({autoOpen: false, modal: true});
      jQuery("#commitment_dialog").dialog({autoOpen: false, modal: true});
      jQuery("#goal_dialog").dialog({autoOpen: false, modal: true});
      jQuery("#energy_dialog").dialog({autoOpen: false, modal: true});
      jQuery("#power_dialog").dialog({autoOpen: false, modal: true});
      jQuery("#voting_dialog").dialog({autoOpen: false, modal: true});

      jQuery('#activity_help').click(function() {
        jQuery('#activity_dialog').dialog('open');
        return false;
      });
      
      jQuery('#commitment_help').click(function() {
        jQuery('#commitment_dialog').dialog('open');
        return false;
      });
      
      jQuery('#goal_help').click(function() {
        jQuery('#goal_dialog').dialog('open');
        return false;
      });
      
      jQuery('#energy_monitor_help').click(function() {
        jQuery('#energy_dialog').dialog('open');
        return false;
      });
      
      jQuery('#power_monitor_help').click(function() {
        jQuery('#power_dialog').dialog('open');
        return false;
      });
      
      jQuery('#goal_voting_help').click(function() {
        jQuery('#voting_dialog').dialog('open');
        return false;
      });
      
    })
  </script>
  
  <div id="activity_dialog" title="Activities">
    {% gblock "activity_help" for "gblocks.Text" with "activities/gblocks/help.html" %}
  </div>

  <div id="commitment_dialog" title="Commitments">
    {% gblock "commitment_help" for "gblocks.Text" with "activities/gblocks/help.html" %}
  </div>

  <div id="goal_dialog" title="Goals">
    {% gblock "goal_help" for "gblocks.Text" with "activities/gblocks/help.html" %}
  </div>
  
  <div id="energy_dialog" title="Energy Monitor">
    {% gblock "energy_monitor_help" for "gblocks.Text" with "activities/gblocks/help.html" %}
  </div>
  
  <div id="power_dialog" title="Power Monitor">
    {% gblock "power_monitor_help" for "gblocks.Text" with "activities/gblocks/help.html" %}
  </div>
  <div id="voting_dialog" title="Energy Goal Voting">
    {% gblock "goal_voting_help" for "gblocks.Text" with "activities/gblocks/help.html" %}
  </div>
{% endif %}
