{% extends "makahiki_profiles/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Edit Profile{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% trans "Edit Profile" %}</h1>
    {% if fb_profile %}
      Connected to <a href="{{fb_profile.link}}">{{fb_profile.name}}</a>
    {% else %}
      {% if fb_enabled %}
        <fb:login-button id="fb_login"></fb:login-button>
      {% endif %}
    {% endif %}
    
    <div id="avatar_change">
      <a href="{% url avatar_change %}" id="avatar_replace">Change Avatar</a>
    </div>
    
    {% include "makahiki_profiles/profile_form.html" %}
    
{% endblock %}

{% block extra_body %}
  {% if fb_enabled %}
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({appId: '{{FACEBOOK_APP_ID}}', status: true, cookie: true, xfbml: true});

    $("#fb_login").click(function() {
      FB.login(function(response) {
        if (response.session) {
          if (response.perms) {
            alert("Your account is now connected to the Kukui Cup.");
            location.reload(true);
          } else {
            alert("Please enable the permissions.");
          }
        } else {
          alert("Could not connect your Facebook profile.  Please log in to Facebook.");
        }
      }, {perms:'publish_stream'});

    });

  </script>
  {% endif %}

{% endblock %}