{% extends "makahiki_profiles/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}

{% block extra_head %}
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type="text/javascript" src="ajile/com.iskitz.ajile.js?mvcoff,mvcshareoff,refresh"></script>
  <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.GDataLoader.js"></script>
  <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.kukuicup.Configuration.js"></script>
  <script type="text/javascript">
    function confirm_removal(form, item_type) {
      var confirmed = confirm("Are you sure you wish to remove this " + item_type + "?");
      if (confirmed) {
        form.submit();
        return true;
      }
      
      else {
        return false;
      }
    }
  </script>
{% endblock %}

{% block head_title %}
  {% if is_me %}
    My profile
  {% else %}
    {% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block active_subnav %}{% if is_me %}profile{% endif %}{%endblock%}

{% block body %}
  <div id="profile_left" class="profile_content">
      <div id="profile_info" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
        <div class="ui-accordion-header ui-corner-top list_header">
          {% if other_user.get_profile.name %}
            {{other_user.get_profile.name}}
          {% else %}
            {{other_user.username}}
          {% endif %}
        </div>
        <div class="profile_detail ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
          <ul>
            <li>
              <div id="profile_avatar">
                  <div><img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo" /></div>
              </div>
            </li>
            {% if other_user.get_profile.floor %}
              <li><b>{% trans "Dorm" %}</b>: <span class="fn">{{ other_user.get_profile.floor.dorm.name }}</span></li>
              <li><b>{% trans "Floor" %}</b>: <span class="fn">{{ other_user.get_profile.floor.number }}</span></li>
            {% endif %}
            {% if other_user.get_profile.about %}<li><b>{% trans "About" %}</b>: {{ other_user.get_profile.about }}</li>{% endif %}
            <li><b>{% trans "Points" %}</b>: {{ other_user.get_profile.points }}</li>
            
            {% if is_me %}
                <li><a href="{% url profile_edit %}" rel="facebox">Edit profile</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
  </div>
  <div id="profile_center" class="profile_content">
    {% include "makahiki_profiles/standings.html" %}
      
    {% include "makahiki_profiles/activity_panel.html" %}
  </div>
  
  <div id="profile_right" class="profile_content">
    {% include "makahiki_profiles/monitor_panel.html" %}
  </div>
{% endblock %}


{% block extra_body %}
  {% include "makahiki_profiles/dialogs.html" %}
{% endblock %}