{% extends "makahiki_profiles/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Edit Profile{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% trans "Edit Profile" %}</h1>
    {% if fb_profile %}
      Connected to <a href="{{fb_profile.profile_link}}">{{fb_profile.name}}</a>
    {% else %}
      {% if fb_enabled %}
        <fb:login-button id="fb_login" perms="publish_stream,offline_access" onlogin="location.reload()"></fb:login-button>
      {% endif %}
    {% endif %}
    
    <div id="avatar_change">
      <a href="{% url avatar_change %}" id="avatar_replace">Change Avatar</a>
    </div>
    
    {% include "makahiki_profiles/profile_form.html" %}
    
{% endblock %}

{% block extra_body %}
  {% if fb_enabled %}
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({appId: '{{FACEBOOK_APP_ID}}', status: true, cookie: true, xfbml: true});
  </script>
  {% endif %}

{% endblock %}