{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  Home Page
{% endblock %}

{% block extra_head %}
  {% import_page_css "home" STATIC_URL CSS_THEME %}
{% endblock %}
<!-- a;lsdkjf;alksjf  -->
{% block body %}
<!-- Top Row-->
<div {% get_id_and_classes "home-energy" %}>
  <a href="/energy">
    <img src="{{ STATIC_URL}}images/icons/energy.png" height="85" width="85" Align="Right"/>
  </a>
  <h6 style="text-align: right">Go Low</h6>
  <p style="text-align: right">
    Observe and Conserve Energy<br/>
    Set and track conservation goals<br/>
    Compare to other
  </p>
</div>

<div {% get_id_and_classes "home-activities" %}>
<a href="/activities">
<img src="{{ STATIC_URL}}images/icons/activities.png" height="85" width="85" Align="Left"/>
</a>
<h6>Get Nutz</h6>
<p>
Do activities and make committments<br/>
Earn Kukuicup points<br/>
See where you stand
</p>
</div>

<!-- Middle Row-->
<div {% get_id_and_classes "home-news" %}>
<CENTER>
<h6>News</h6>
<a href="/news">
<img src="{{ STATIC_URL}}images/icons/news.png" height="65" width="65" />
</a>
<p style="text-align: center">
What are people doing?<br/>
Your public comments<br/>
Top activities and events
</p>
</CENTER>
</div>

<div {% get_id_and_classes "home-prizes" %}>
<CENTER>
<h6>Prizes</h6>
<a href="/prizes">
<img src="{{ STATIC_URL}}images/icons/prizes.png" height="65" width="65" />
</a>
<p style="text-align: center">
See the prizes<br/>
Allocate your points<br/>
Monitor your chances
</p>
</CENTER>
</div>

<div {% get_id_and_classes "home-learn" %}>
<CENTER>
<h6>Learn</h6>
<a href="/help">
<img src="{{ STATIC_URL}}images/icons/help.png" height="65" width="65" />
</a>
<p style="text-align: center">
Get acquainted with the Kukuicup<br/>
Watch an introductory video<br/>
Learn the rules
</p>
</CENTER>
</div>

<div {% get_id_and_classes "home-profile" %}>
<CENTER>
<h6>Profile</h6>
<a href="/profile">
<img src="{{ STATIC_URL}}images/icons/profile.png" height="65" width="65" />
</a>
<p style="text-align: center">
Manage your Settings<br/>
Connect to facebook<br/>
Change your picture
</p>
</CENTER>
</div>
{% endblock %}