{% extends "logged_in_base.html" %}

{% load class_tags %}

{% block page_title %}
  Home Page
{% endblock %}

{% block extra_head %}
  {% import_page_css "home" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}
<div class="content">
  <!-- Top Row-->
  <div {% get_id_and_classes "home-energy" %}>
    <a href="/energy">
      <img {% get_id_and_classes "home-energy-icon" %} src="{{STATIC_URL}}css/default/images/spacer.png" width="65" align="Left" height="65"/>
    </a>
    <div class="tile">
      <h6 {% get_id_and_classes "home-energy-title" %}>Go Low</h6>
      <p {% get_id_and_classes "home-energy-content" %}>
        Observe and Conserve Energy<br/>
        Set and track conservation goals<br/>
        Compare to other
      </p>
    </div>
  </div>

  <div {% get_id_and_classes "home-activities" %}>
  <a href="/activities">
  <img {% get_id_and_classes "home-activities-icon" %} src="{{STATIC_URL}}css/default/images/spacer.png" width="65" align="Left" height="65"/>
  </a>
  <div class='tile'>
    <h6 {% get_id_and_classes "home-activities-title" %}>Get Nutz</h6>
    <p {% get_id_and_classes "home-activities-content" %}>
    Do activities and make committments<br/>
    Earn Kukuicup points<br/>
    See where you stand
    </p>
  </div>
  </div>

  <!-- Middle Row-->
  <div {% get_id_and_classes "home-news" %}>
  <a href="/news">
  <img {% get_id_and_classes "home-news-icon" %} src="{{STATIC_URL}}css/default/images/spacer.png" width="65" align="Left" height="65" />
  </a>
  <div class="tile">
    <h6 {% get_id_and_classes "home-news-title" %}>News</h6>
    <p {% get_id_and_classes "home-news-content" %}>
    What are people doing?<br/>
    Your public comments<br/>
    Top activities and events
    </p>
    </div>
  </div>

  <div {% get_id_and_classes "home-prizes" %}>
  <a href="/prizes">
  <img  {% get_id_and_classes "home-prizes-icon" %} src="{{STATIC_URL}}css/default/images/spacer.png" width="65" align="Left" height="65" />
  </a>
  <div class="tile">
    <h6 {% get_id_and_classes "home-prizes-title" %}>Prizes</h6>
    <p  {% get_id_and_classes "home-prizes-content" %}>
    See the prizes<br/>
    Allocate your points<br/>
    Monitor your chances
    </p>
  </div>
  </div>

  <div {% get_id_and_classes "home-help" %}>
  <a href="/help">
  <img {% get_id_and_classes "home-help-icon" %} src="{{STATIC_URL}}css/default/images/spacer.png" width="65" align="Left" height="65" />
  </a>
  <div class="tile">
    <h6 {% get_id_and_classes "home-help-title" %}>Help</h6>
    <p {% get_id_and_classes "home-help-content" %}>
    Get acquainted with the Kukuicup<br/>
    Watch an introductory video<br/>
    Learn the rules
    </p>
  </div>
  </div>

  <div {% get_id_and_classes "home-profile" %}>
  <a href="/profile">
  <img {% get_id_and_classes "home-profile-icon" %} src="{{STATIC_URL}}css/default/images/spacer.png" width="65" align="Left" height="65" />
  </a>
  <div class="tile">
    <h6 % get_id_and_classes "home-profile-title" %}>Profile</h6>
    <p % get_id_and_classes "home-profile-content" %}>
    Manage your Settings<br/>
    Connect to facebook<br/>
    Change your picture
    </p>
  </div>
  <div style="clear:both"></div>
</div>
{% endblock %}

{% block extra_body %}
{% if not user.get_profile.setup_complete %}
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  
  <div {% get_id_and_classes "setup-dialog" %} title="Introduction: Step 1 of 7">
    {% include "home/first-login/welcome.html" %}
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#setup-dialog").dialog({
        modal: true,
        width: 700,
        closeOnEscape: false,
        position: ["center", 75]
      });
    });
  </script>
{% endif %}
{% endblock %}