{% extends "site_base.html" %}

{% load class_tags %}

{% block page_title %}
  Restricted
{% endblock %}

{% block extra_head %}
  {% import_page_css "landing" STATIC_URL CSS_THEME %}
{% endblock %}

{% block body %}

<div {% get_id_and_classes "landing-page" %}>
  <div {% get_id_and_classes "landing-logo" %}>
    <a href="{% url landing %}"><img src="{{STATIC_URL}}css/default/images/old-logo.png"/></a>
  </div>
  <div {% get_id_and_classes "landing-title" %}>
    <h2>The Kukui Cup: Lights out, game on!</h2>
  </div>
</div>

<div {% get_id_and_classes "landing-about" %}>
  {% if before %}
  <h3>You have logged in successfully, but the competition has not yet started. The competition starts in <span id='restricted-countdown'></span>. Come back then!</h3>
  {% else %}
  <h3>The 2011 Kukui Cup is now over.  Winners will be announced on Wednesday, November 9th at 5:00 PM in the Hale Aloha Courtyard. Please check your email for further details.</h3>
  {% endif %}

  <script type="text/javascript">
    var startDate = new Date("{{start.ctime}}");
    var today = new Date();
    // Calculate the number of days in the difference.
    var hourDiff = (startDate - today) / (1000 * 60 * 60);
    console.log('today: ' + today + ' start: ' + startDate);
    if (hourDiff > 24) {
      $("#restricted-countdown").countdown({
        until: startDate,
        tickInterval: 60,
        layout: '{dn} {dl}, {hn} {hl}, and {mn} {ml}'
      });
    }
    else {
      $("#restricted-countdown").countdown({
        until: startDate,
        layout: '{hn} {hl}, {mn} {ml}, and {sn} {sl}'
      });
    }
  </script>
</div>

{% endblock %}
