{% extends "site_base.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL}}css/{{CSS_THEME}}/pages/home.css">
{% endblock %}

{% block body %}
<!-- Top Row-->
<div class="span-12">
<img src="{{ STATIC_URL}}images/icons/energy.png" height="85" width="85" Align="Right"/>
<h6 style="text-align: right">Go Low</h6>
<p style="text-align: right">
Observe and Conserve Energy<br/>
Set and track conservation goals<br/>
Compare to other
</p>
</div>
<div class="span-12 last">
<img src="{{ STATIC_URL}}images/icons/activities.png" height="85" width="85" Align="Left"/>
<h6>Get Nutz</h6>
<p>
Do activities and make committments<br/>
Earn Kukuicup points<br/>
See where you stand
</p>
</div>

<!-- Middle Row-->
<div class="span-12">
<img src="{{ STATIC_URL}}images/icons/news.png" height="65" width="65" />
</div>
<div class="span-12 last">
<img src="{{ STATIC_URL}}images/icons/prizes.png" height="65" width="65" />
</div>

<!-- Bottom Row-->
<div class="span-10">
<div class="span-8">&nbsp</div><!-- Blank Space -->
<div class="span-2 last">
<h6 style="text-align: center">Learn</h6>
<img src="{{ STATIC_URL}}images/icons/help.png" height="65" width="65" Align="Right"/>
<p style="text-align: center">
Get acquainted with the Kukuicup<br/>
Watch an introductory video<br/>
Learn the rules
</p>
</div>
</div>

<!-- Create Space between icons-->
<div class="span-2">&nbsp</div>

<div class="span-10 last">
<h6>Profile<h6>
<img src="{{ STATIC_URL}}images/icons/profile.png" height="65" width="65" />
</div>
{% endblock %}