{% extends "makahiki_profiles/base.html" %}

{% load generic_flatblocks %}
{% load avatar_tags %}

{% block tab_id %}"#profile_tab"{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
  <h2 style="margin:0px; padding: 5px">{{floor}}</h2>
  
  <div id="floor_left">
    <div id="member_list" class="floor_content ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="ui-accordion-header ui-corner-top activity_header">
        Members:
      </div>
      <div class="ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
        {% for profile in profiles %}
          <div class="member_block" style="display:inline; float:left; margin:0 5px 10px 0; width:45px">
            <a href="{% url profile_detail profile.user.username %}">
              <img src="{% avatar_url profile.user 40 %}" alt="Photo of {{ profile.user }}" title="{{ profile.user }}'s profile" class="photo" align="center"/>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="floor_center">
    <div id="wall_title" class="floor_content ui-corner-all ui-accordion ui-widget ui-accordion-icons">
      <div class="ui-state-default ui-accordion-header ui-corner-top activity_header">
        Wall:
      </div>

      <div id="wall_content" class="ui-accordion-content ui-widget-content ui-corner-bottom ui-accordion-content-active">
        <p>Insert posts here</p>
      </div>
    </div>
  </div>
  <div id="floor_right">
    {% include 'floors/monitor_panel.html' %}
  </div>
{% endblock %}

{% block extra_body %}

{% endblock %}