/* Based on http://bit.ly/bSY6zs*/
html {
    height: 100%;
    font-size: 100.01%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color: #94EBF2;
}

a:link {
    color: #555;
    font-weight: bold;
}

a:visited {
    color: #333;
    font-weight: bold;
}

a:hover, a:active {
    color: #c00;
}

hr.clear {
    border: none;
    margin: 0;
    padding: 0;
    height: 0;
    visibility: none;
    clear: both;
}

div#header {
  width: 1000px;
  margin: 0 auto;
}

div#website_title {
  width: 70%;
  float: left;
  padding-top: 5px;
}

div#website_title h1 {
    color: #1EB08B;
    /*text-shadow: 1px 1px 1px #444;*/
    padding: 0 0 0.2em 0;
    margin: 0;
    font-size: 19px;
    letter-spacing: -1px;
}

div#website_title h1 a {
    text-decoration: none;
    color: #1EB08B;
}

div#login {
  width: 30%;
  float:left;
  padding-top:10px;
  text-align: right;
}

div#login h5 {
  margin: 0;
}

#color-wrapper {
    background-color: #888;
}

#outline {
    width: 1000px;
    margin: 0 auto;
    clear: left;
}

#content-outline {
    background-color: white;
    padding-bottom: 10px;
}

/* ---HIDE CONTENT1--- */
#content1 { visibility: hidden; }

#content {
    background-color: white;
    font-size: 12px;
    line-height: 1.5em;
    color: #555;
}

#content h1 {
    color: #333;
    margin: 0 0 0.5em 0;
    text-shadow: 0 1px 0 #ccc;
}

#content h1 {
    font-size: 17px;
}

#content h2 {
    font-size: 1.7em;
    font-weight: normal;
    color: #1EB08B;
    margin: 1em 0 0.5em 0;
}

#content h3 {
    font-size: 15px;
    font-weight: normal;
    color: #1EB08B;
    margin: 1em 0 0.5em 0;
}

#content p.image img {
    border: 1px solid #999;
}

#content p.image.left {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

#content p.image.right {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
}

#footer {
    margin: 0 auto;
    padding: 1px 0 80px 0;
    width:  1000px;
    font-size: 0.7em;
}

/* Override for gblock in footer.*/
#footer .makahiki_content_body {
  border:none;
  background: none;
}

#footer p {
    margin: 1em 0 1em 0;
}


form.add-attachment {
    padding: 0.2em 1em;
    background-color: #eee;
    -webkit-box-shadow: 0 2px 3px #aaa;
}

/* MESSAGES */

ul#messages {
    margin: 0 5px 10px 5px;
    padding: 10px 10px 0px 10px;
    list-style: none;
}
ul#messages li {
/*    padding: 5px 10px;
    background: #EFD;
    border: 1px solid #BC9;*/
    padding:5px;
}
ul#messages li a {
    float: right;
    color: #693;
}

/* Content item styles */
#content .makahiki_content {
  /*border: 1px solid #999;*/
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0px 10px;
}

#content .makahiki_content_title {
  background-color: #1EB08B;
  color: white;
  margin: 0px;
  padding: 5px;
  font-size: 1.0em;
}

#content .makahiki_content_body {
  height: auto;
  margin: 0px 0px 15px 0px;
  padding: 0px 10px;
  background: none;
  background-color: #F5F3E5;
}

/* Content Header */
#content #content_header {
  width: auto;
	margin: 0px;
	padding: 10px;
}

#content_header .makahiki_content_body {
  text-align: center;
}

#content_header .makahiki_content_title {
  text-align: center;
}

/* Three column layout */
#content #three_col_left {
  width: 360px;
  float: left;
  padding: 0;
  padding-left: 10px;
  height: 100%;
  margin-right: 10px;
}

#content #three_col_center {
  width: 350px;
  float: left; 
  height: 100%;
}

#content #three_col_right {
  width: 260px;
	margin: 0px;
	float: left;
	padding: 0px 10px;
	height: 100%;
}

/*Two column layout*/

#content #two_col_left {
  width: 485px;
  float: left;
  padding: 10px 10px;
  height: 100%;
}

#content #two_col_right {
  width: 485px;
  float: left;
  padding: 10px 5px;
  height: 100%;
}

/* Headlines */

#content #headlines {
  height:40px;
  text-align:center;
}

#headlines .headline_content {
  text-align:center;
  width: 100%;
}

/* Energy content tab. */
.energy_content {
  padding: 10px 10px;
  height: auto;
}

/* News items */
#content .news_item {
  padding:0px 5px;
}

#content .news_item h4 {
  margin-bottom:5px;
}

.article_date {
  font-style:italic;
  margin: 0;
  padding: 0;
}

#content .article_container p {
  margin-left:10px;
}

.activity_options form {
  margin: 5px 0;
  width: 100%;
} 

.option-link {
  padding: 2px 4px;;
  position:relative;
  text-decoration:none;
}

.option-link span.ui-icon {
  left:0.1em;
  margin:-8px 5px 0 0;
  position:absolute;
  top:50%;
}

.option-link span.button-text {
  margin-left: 20px;
  padding-right: 5px;
}
