{% extends "mobile/base.html" %}

{% block body %}
{% load markup %}
<div data-role="page">
  <header data-role="header" data-theme="b"> 
     <a href="{% url mobile_quests 'available' %}" rel="external" data-role="button" data-icon="home">Back</a>
    <h1>{{quest.name}}</h1>
<a href="{% url mobile_quest_popup %}" data-rel="dialog" data-icon="gear" data-direction="reverse" class="ui-btn-right jqm-home">Redeem Code</a>
  </header>


  <div data-role="content"> 
   {{quest.description|markdown}}
   {% if referer == "accepted" %}
   <form action="{% url quests_cancel quest.quest_slug %}" rel="external" method="POST" style="display: inline">
        <button type="submit" onClick="history.go(0)" style="margin-right: 20px">Cancel this quest</button>
      </form> 
   {% endif %}
   {% if referer == "available" %}
      <form action="{% url quests_accept quest.quest_slug %}" rel="external" method="POST" style="display: inline">
        <button type="submit" onClick="history.go(1)" style="margin-right: 20px">I accept this quest</button>
      </form> 
   {% endif %}
  </div>
  
  <footer>
  </footer>
</div>

{% endblock %}
