<!DOCTYPE html> 
<html>
<head> 
  <title>Kukui Cup</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
 

  <meta name="viewport" http-equiv="cache-control"  content="width=device-width, minimum-scale=1, maximum-scale=1, no-cache">
</head> 
<body onLoad="if (location.href.indexOf('reload')==-1) location.replace(location.href+'?reload')">  
  <!--div data-role="page"-->
   {% load class_tags %}
   {% load generic_flatblocks %}
   {% import_page_css "view_energy" STATIC_URL %}

<!-- django block body -->

<div data-role="page">
  {% include "mobile/mlist.html" %} 
  <header data-role="header" data-theme="b">
    <h1>Quests</h1>
    <a href="{% url mobile_index %}" rel="external" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-right">Home</a>
<div data-role="navbar" data-add-back-btn="True">
      <ul>
	<li>
          <a href="{% url mobile_quests 'available' %}" rel="external"
		{% if view == "available" %}
			class="ui-btn-active"
		{% endif %}>
            Available
          </a>
        </li>
			  
       <!--Change script to account for events the user is attending-->
       <!--idk how to determine atm-->
	<li>
          <a href="{% url mobile_quests 'accepted' %}"	rel="external"	
		{% if view == "accepted" %}
			class="ui-btn-active"
		{% endif %}>
            Accepted
          </a>
        </li>

	<li>
          <a href="{% url mobile_quests 'completed' %}" rel="external"
		{% if view == "completed" %}
			class="ui-btn-active"
		{% endif %}>
            Completed
          </a>
        </li>
      </ul>
    </div>
  </header>


  <div data-role="content">
    
    <ul data-role="listview" data-inset="true" class="ui-listview-inset ui-corner-all ui-shadow" role="listbox">
    
      {% if view == "available" %}
        <li data-role="list-divider">Available</li>
        {% for activity in QUESTS.available_quests %} 
          <li> 
          <a href="{% url mobile_quest_detail  'available' activity.quest_slug %}"  rel="external">{{activity}}</a> 
          </li> 
        {% endfor %}
      {% endif %}
      
      {% if view == "completed" %}
      <li data-role="list-divider">Completed</li>
      {% for activity in questlist %} 
        <li> 
        <a href="{% url mobile_quest_detail 'completed' activity.quest_slug %}"  rel="external">{{activity}}</a> 
        </li> 
      {% endfor %}
      {% endif %}
      
      {% if view == "accepted" %}
      <li data-role="list-divider">Accepted</li>
        {% for activity in QUESTS.user_quests %} 
          <li> 
          <a href="{% url mobile_quest_detail 'accepted' activity.quest_slug %}"  rel="external">{{activity}}</a> 
          </li> 
        {% endfor %}
      {% endif %}
       
    </ul> 
    

       



  </div>
  
  <footer>
  </footer>
</div>
<!-- django endblock body -->
</body>
</html>
