<!DOCTYPE html>
<html>

  <head>
 	<title>Events</title>
 	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
 	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
 	<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
  </head>

  <body>  
        <header>
          <h1>Congratulations!</h1>
     </header>
	<div data-role="page" data-theme="b"> 
      <div data-role="header" data-theme="b"> 
      	<h1>Congratulations!</h1>  
      </div>
    
    
    <div data-role="content">
    <div class="ui-bar ui-bar-e">
    Congratulations! you completed the 'Watch Intro Video' quest."
    </div><a href="../quests/available"
    <div class="ui-bar ui-bar-d">
	Your response to 'Watch Intro Video was not approved.  You can still get points 	by clicking here to try again!
        
   </div></a>
   	<div data-inline="true"  align="center"> 
    		<a href="../quests/available" data-inline="true" data-role="button">Close</a>   
   </div>  
</div> 
   
  </body> 
</html>
