{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}
{% load markup %}
{% load frontendadmin_tags %}

{% block head_title %}{% trans "The Kukui Cup | Connect to Facebook" %}{% endblock %}

{% block body %}
<div id="facebook-connect" class="makahiki_content" style="padding-top: 10px">
  <div class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="makahiki_content_title ui-accordion-header ui-corner-top">
      Connect to Facebook
    </div>
    <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-all ui-accordion-content-active">
      Are you on Facebook?  Link your Kukui Cup account to your Facebook account!  Why?
      <ul>
        <li>Your user information (username, about, and picture) will be imported from Facebook.</li>
        <li>Share your activities in the Kukui Cup with your friends so that they can see what you're up to!</li>
      </ul>
      
      We will <em>not</em>:
      <ul>
        <li>Post a ton of messages on your behalf.  We promise to make no more than 2 wall posts a day.</li>
        <li>Use your Facebook information in our research nor will we share it with others.</li>
      </ul>
      
      This is completely optional and you can change this at any tme. Click the Facebook login icon to link your account 
      or click on skip to continue.
      <fb:login-button id="fb_login" perms="publish_stream,offline_access" length="long" onlogin="window.location='{% url setup_profile %}'">
      </fb:login-button>
      
      <div class="setup-navigation">
        <a class="option-link ui-state-highlight ui-corner-all" href="{% url setup_terms %}" style="float:left">
          <span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>
          <span class="button-text">
            Back
          </span>
        </a>
        
        <a class="option-link ui-state-highlight ui-corner-all" href="{% url setup_profile %}" style="float:right">
          <span class="ui-icon ui-icon-arrowreturnthick-1-e"></span>
          <span class="button-text">
            Skip
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
  FB.init({appId: '{{FACEBOOK_APP_ID}}', status: true, cookie: true, xfbml: true});
</script>
{% endblock %}