{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}
{% load markup %}
{% load frontendadmin_tags %}

{% block head_title %}{% trans "The Kukui Cup | Setup Profile" %}{% endblock %}

{% block body %}
<div id="facebook-connect" class="makahiki_content" style="padding-top: 10px">
  <div class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="makahiki_content_title ui-accordion-header ui-corner-top">
      Set Up Your Profile
    </div>
    <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-all ui-accordion-content-active">
      Profile setup
    </div>
  </div>
</div>
{% endblock %}
