{% extends "site_base.html" %}

{% load i18n %}
{% load generic_flatblocks %}

{% block head_title %}{% trans "The Kukui Cup" %}{% endblock %}

{% block tab_id %}"#standings_tab"{% endblock %}

{% block extra_head %}
  <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.GDataLoader.js"></script>
  <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.kukuicup.Configuration.js"></script>
  <script type="text/javascript" src="http://wattdepot-gdata.googlecode.com/svn/trunk/javascript/org.wattdepot.gdata.makahiki.Standings.js"></script>
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <style type="text/css"> 
    {% spaceless %}
    {% for dorm in dorms %}
      #{{dorm.slug}} #{{dorm.slug}}_subnav {
        background-color: #459E00;
      }
    {% endfor %}
    {% endspaceless %}
  </style>
{% endblock %}

{% block subnav %}
  <ul id="{{current_page}}">
    <li id="floor_subnav" class="ui-corner-all"><a href="{% url standings %}">{{FLOOR_LABEL}} vs. {{FLOOR_LABEL}}</a></li>
    {% for dorm in dorms %}
      <li id="{{dorm.slug}}_subnav" class="ui-corner-all"><a href="/standings/{{dorm.slug}}/">{{dorm.name}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block body %}

<div id="content_header">
  {% if CURRENT_PHASE %}
  <div class="makahiki_content" style="margin:0">
    <div id="countdown-timer" class="makahiki_content_body ui-accordion-content ui-widget-content ui-corner-all ui-accordion-content-active"
      style="margin:0">
      {% include "makahiki_base/timer.html" %}
    </div>
  </div>
  {% endif %}
</div>

<div id="three_col_left" style="padding-top: 10px; width: 320px">
  <div id="standings_energy" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="makahiki_content_title ui-accordion-header ui-corner-top">
      {{title}}: Energy Consumed
    </div>
    <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
      Under construction
    </div>
  </div>
</div>

<div id="three_col_center" style="padding-top: 10px; width: 320px">
  <div id="standings_floor" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="makahiki_content_title ui-accordion-header ui-corner-top">
      {{title}}: {{FLOOR_LABEL}} Points
    </div>
    <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
      {% with floor_points as standings_array %}
      {% with "floor" as prefix %}
        {% include "standings/standings_block.html" %}
      {% endwith %}
      {% endwith %}
    </div>
  </div>
</div>

<div id="three_col_right" style="padding-top: 10px; width: 320px">
  <div id="standings_individual" class="ui-corner-all ui-accordion ui-widget ui-accordion-icons">
    <div class="makahiki_content_title ui-accordion-header ui-corner-top">
      {{title}}: Individual Points
    </div>
    <div class="makahiki_content_body ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
      {% with individual_points as standings_array %}
      {% with "individual" as prefix %}
        {% include "standings/standings_block.html" %}
      {% endwith %}
      {% endwith %}
    </div>
  </div>
</div>

{% endblock %}
